openapi: 3.0.0
info:
  title: 10-tariffs - Комиссии
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://common-api.wildberries.ru
tags:
  - name: Комиссии
    description: Комиссии endpoints
paths:
  /api/v1/tariffs/commission:
    servers:
      - url: https://common-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: commonapi
      security:
        - HeaderApiKey: []
      summary: Комиссия по категориям товаров
      tags:
        - Комиссии
      description: |
        Метод возвращает данные о [комиссии](https://seller.wildberries.ru/dynamic-product-categories/commission) WB по [родительским категориям товаров](/openapi/work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1parent~1all/get) согласно модели продаж.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 2 запроса |
        </div>
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            example: ru
          description: |
            Язык полей ответа `parentName` и `subjectName`:
              - `ru` — русский
              - `en` — английский
              - `zh` — китайский
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: ./_schemas.yaml#/Commission
                  - $ref: ./_schemas.yaml#/CommissionChina
                  - $ref: ./_schemas.yaml#/CommissionTurkey
                  - $ref: ./_schemas.yaml#/CommissionUzbekistan
                  - $ref: ./_schemas.yaml#/CommissionUAE
              examples:
                Commission:
                  $ref: '#/components/examples/Commission'
                CommissionChina:
                  $ref: '#/components/examples/CommissionChina'
                CommissionTurkey:
                  $ref: '#/components/examples/CommissionTurkey'
                CommissionUzbekistan:
                  $ref: '#/components/examples/CommissionUzbekistan'
                CommissionUAE:
                  $ref: '#/components/examples/CommissionUAE'
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: ./_schemas.yaml#/BadRequest
              example:
                detail: 'parameter "locale" in query has an error: value is not one of the allowed values ["ru","en","zh"]'
                origin: api-statistics
                requestId: 102d2641a931c41bed60649d6c99d80a
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
components:
  responses:
    '401':
      description: Не авторизован
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: unauthorized
            detail: 'token problem; token is malformed: could not base64 decode signature: illegal base64 data at input byte 84'
            code: 07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: '2024-09-30T06:52:38Z'
    '429':
      description: Слишком много запросов
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: 07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: '2024-09-30T06:52:38Z'
  examples:
    Commission:
      summary: Commission
      description: Комиссия
      value:
        report:
          - kgvpBooking: 14.5
            kgvpMarketplace: 15.5
            kgvpPickup: 14.5
            kgvpSupplier: 12.5
            kgvpSupplierExpress: 3
            paidStorageKgvp: 15.5
            parentID: 657
            parentName: Бытовая техника
            subjectID: 6461
            subjectName: Оборудование зуботехническое
    CommissionChina:
      summary: CommissionChina
      description: Комиссия Китай
      value:
        report:
          - kgvpChina: 15.5
            parentID: 657
            parentName: 国内设备
            subjectID: 6461
            subjectName: 牙齿矫正设备
    CommissionTurkey:
      summary: CommissionTurkey
      description: Комиссия Турция
      value:
        report:
          - kgvpTurkey: 15.5
            parentID: 657
            parentName: Home appliance
            subjectID: 6461
            subjectName: Dental equipment
    CommissionUzbekistan:
      summary: CommissionUzbekistan
      description: Комиссия Узбекистан
      value:
        report:
          - kgvpMarketplaceUz: 15.5
            kgvpPaidStorageUz: 15.5
            kgvpSupplierUz: 15.5
            parentID: 657
            parentName: Бытовая техника
            subjectID: 6461
            subjectName: Оборудование зуботехническое
    CommissionUAE:
      summary: CommissionUAE
      description: Комиссия ОАЭ
      value:
        report:
          - kgvpUAE: 15.5
            parentID: 657
            parentName: Home appliance
            subjectID: 6461
            subjectName: Dental equipment
