openapi: 3.0.1
info:
  title: Общение с покупателями
  version: communication
  description: |
    <div class="description_important">
        Узнать больше об общении с покупателями можно в <a href="https://seller.wildberries.ru/instructions/category/f7f6c465-dd12-422d-80a0-a6d9562115d5?goBackOption=prevRoute&categoryId=30817062-14cc-4a82-bc78-3600c2b0685b">справочном центре</a>
    </div>

    С помощью методов общения с покупателями вы можете работать с:
      1. [Вопросами](/openapi/user-communication#tag/Voprosy) и [отзывами](/openapi/user-communication#tag/Otzyvy) покупателей
      2. [Шаблонами ответов](/openapi/user-communication#tag/Shablony-otvetov) на вопросы и отзывы
      3. [Чатами с покупателями](/openapi/user-communication#tag/Chat-s-pokupatelyami)
      4. [Заявками покупателей на возврат](/openapi/user-communication#tag/Vozvraty-pokupatelyami)
  x-file-name: communications
security:
  - HeaderApiKey: []
tags:
  - name: Вопросы
    description: ''
  - name: Отзывы
    description: ''
  - name: Шаблоны ответов
    description: ''
  - name: Чат с покупателями
    description: ''
  - name: Возвраты покупателями
    description: ''
paths:
  /api/v1/new-feedbacks-questions:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      security:
        - HeaderApiKey: []
      summary: Непросмотренные отзывы и вопросы
      description: |
        Метод проверяет наличие непросмотренных [вопросов](/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions/get) и [отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) от покупателей. Если у продавца есть непросмотренные вопросы или отзывы, возвращает `true`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Вопросы
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      hasNewQuestions:
                        type: boolean
                        description: |
                          Есть ли непросмотренные вопросы:
                             - `true` — да
                             - `false` — нет
                        example: true
                      hasNewFeedbacks:
                        type: boolean
                        description: |
                          Есть ли непросмотренные отзывы:
                           - `true` — да
                           - `false` — нет
                        example: false
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/questions/count-unanswered:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      security:
        - HeaderApiKey: []
      summary: Неотвеченные вопросы
      description: |
        Метод возвращает общее количество неотвеченных [вопросов](/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions/get) и количество неотвеченных вопросов за сегодня.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Вопросы
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      countUnanswered:
                        type: integer
                        description: Количество неотвеченных вопросов
                        example: 24
                      countUnansweredToday:
                        type: integer
                        description: Количество неотвеченных вопросов за сегодня
                        example: 0
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/questions/count:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      security:
        - HeaderApiKey: []
      summary: Количество вопросов
      description: |
        Метод возвращает количество отвеченных или неотвеченных [вопросов](/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions/get) за заданный период.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Вопросы
      parameters:
        - name: dateFrom
          in: query
          description: Дата начала периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: dateTo
          in: query
          description: Дата конца периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: isAnswered
          in: query
          description: |
            Есть ли ответ на вопрос:
              - `true` — да, по умолчанию
              - `false` — нет
          schema:
            type: boolean
            example: false
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: integer
                    description: Количество вопросов
                    example: 77
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                IsAnsweredErr400:
                  $ref: '#/components/examples/IsAnsweredErr400'
                DateFromErr400:
                  $ref: '#/components/examples/DateFromErr400'
                DateToErr400:
                  $ref: '#/components/examples/DateToErr400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/questions:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      security:
        - HeaderApiKey: []
      summary: Список вопросов
      description: |
        Метод возвращает список вопросов по заданным фильтрам. Вы можете:
          - получить данные отвеченных и неотвеченных вопросов
          - сортировать вопросы по дате
          - настроить пагинацию и количество вопросов в ответе

        <div class="description_important">
          Можно получить максимум 10 000 вопросов в одном ответе
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Вопросы
      parameters:
        - name: isAnswered
          in: query
          description: |
            Есть ли ответ на вопрос:
              - `true` — да, по умолчанию
              - `false` — нет
          schema:
            type: boolean
          required: true
        - name: nmId
          in: query
          description: Артикул WB
          schema:
            type: integer
        - name: take
          in: query
          description: |
            Количество запрашиваемых вопросов (максимально допустимое значение для параметра - 10 000,
            при этом сумма значений параметров `take` и `skip` не должна превышать 10 000)
          schema:
            type: integer
          required: true
        - name: skip
          in: query
          description: |
            Количество вопросов для пропуска (максимально допустимое значение для параметра - 10 000,
            при этом сумма значений параметров `take` и `skip` не должна превышать 10 000)
          schema:
            type: integer
          required: true
        - name: order
          in: query
          description: Сортировка вопросов по дате (`dateAsc`/`dateDesc`)
          schema:
            type: string
        - name: dateFrom
          allowEmptyValue: true
          in: query
          description: Дата начала периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: dateTo
          in: query
          description: Дата конца периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      countUnanswered:
                        type: integer
                        description: Количество неотвеченных вопросов
                      countArchive:
                        type: integer
                        description: Количество отвеченных вопросов
                      questions:
                        description: Вопросы
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: id вопроса
                            text:
                              type: string
                              description: Текст вопроса
                            createdDate:
                              type: string
                              format: date-time
                              description: Дата и время создания вопроса
                            state:
                              type: string
                              description: |
                                Статус вопроса:
                                  - `none` - вопрос отклонён продавцом (такой вопрос не отображается на портале покупателей)
                                  - `wbRu` - ответ предоставлен, вопрос отображается на сайте покупателей
                                  - `suppliersPortalSynch` - новый вопрос
                            answer:
                              description: Структура ответа
                              nullable: true
                              type: object
                              properties:
                                text:
                                  type: string
                                  description: Текст ответа
                                editable:
                                  type: boolean
                                  description: Можно ли отредактировать ответ (`false` - нельзя, `true` - можно)
                                createDate:
                                  type: string
                                  format: date-time
                                  description: Дата и время создания ответа
                            productDetails:
                              type: object
                              description: Информация о товаре
                              properties:
                                nmId:
                                  type: integer
                                  description: Артикул WB
                                imtId:
                                  type: integer
                                  description: ID карточки товара
                                productName:
                                  type: string
                                  description: Название товара
                                supplierArticle:
                                  type: string
                                  description: Артикул продавца
                                supplierName:
                                  type: string
                                  description: Имя продавца
                                brandName:
                                  type: string
                                  description: Название бренда
                                size:
                                  type: string
                                  deprecated: true
                                  description: Размер товара
                            wasViewed:
                              type: boolean
                              description: Просмотрен ли вопрос
                            isWarned:
                              type: boolean
                              description: |
                                Признак подозрительного вопроса.<br>
                                Если `true`, то вопрос опубликован, но на портале продавцов вы увидите баннер **Сообщение подозрительное**
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  countUnanswered: 24
                  countArchive: 508
                  questions:
                    - id: 2ncBtX4B9I0UHoornoqG
                      text: Question text
                      createdDate: '2022-02-01T11:18:08.769513469Z'
                      state: suppliersPortalSynch
                      answer: null
                      productDetails:
                        imtId: 11157265
                        nmId: 14917842
                        productName: Coffee
                        supplierArticle: '123401'
                        supplierName: ' ГП Реклама и услуги'
                        brandName: Nescafe
                      wasViewed: false
                      isWarned: false
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/FeedbackErr400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
    patch:
      security:
        - HeaderApiKey: []
      summary: Работа с вопросами
      description: |
        В зависимости от тела запроса, метод позволяет:
          - отметить [вопрос](/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions/get) как просмотренный
          - отклонить вопрос
          - ответить на вопрос или отредактировать ответ

        <div class="description_important">
          Отредактировать ответ на вопрос можно 1 раз в течение 60 дней после отправки ответа
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Вопросы
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required:
                    - id
                    - wasViewed
                  properties:
                    id:
                      description: Id вопроса
                      type: string
                      example: n5um6IUBQOOSTxXoo0gV
                    wasViewed:
                      description: Просмотрен ли вопрос
                      type: boolean
                      example: true
                - type: object
                  required:
                    - id
                    - answer
                    - state
                  properties:
                    id:
                      type: string
                      description: Id вопроса
                      example: n5um6IUBQOOSTxXoo0gV
                    answer:
                      type: object
                      required:
                        - text
                      properties:
                        text:
                          type: string
                          description: Текст ответа
                          example: текст ответа
                    state:
                      type: string
                      description: |
                        Статус вопроса:
                          - `none` - вопрос отклонён продавцом (такой вопрос не отображается на портале покупателей)
                          - `wbRu` - ответ предоставлен, вопрос отображается на сайте покупателей.
            examples:
              ViewQuestion:
                description: Просмотреть вопрос
                value:
                  id: n5um6IUBQOOSTxXoo0gV
                  wasViewed: true
              RejectQuestion:
                description: Отклонить вопрос
                value:
                  id: n5um6IUBQOOSTxXoo0gV
                  answer:
                    text: текст ответа
                  state: none
              AnswerQuestionOrEditAnswer:
                description: Ответить на вопрос или отредактировать ответ
                value:
                  id: n5um6IUBQOOSTxXoo0gV
                  answer:
                    text: текст ответа
                  state: wbRu
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data: null
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/FeedbackErr400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr404:
                  $ref: '#/components/examples/FeedbackErr404'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/question:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      security:
        - HeaderApiKey: []
      summary: Получить вопрос по ID
      description: |
        Метод возвращает данные [вопроса](/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions/get) по его ID. Далее вы можете [работать с этим вопросом](/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions/patch).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Вопросы
      parameters:
        - name: id
          in: query
          required: true
          description: ID вопроса
          schema:
            type: string
            example: ljAVapEBL38RyMdRln61
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID вопроса
                      text:
                        type: string
                        description: Текст вопроса
                      createdDate:
                        type: string
                        format: date-time
                        description: Дата и время создания вопроса
                      state:
                        type: string
                        description: |
                          Статус вопроса:
                            - `none` - вопрос отклонён продавцом (такой вопрос не отображается на портале покупателей)
                            - `wbRu` - ответ предоставлен, вопрос отображается на сайте покупателей
                            - `suppliersPortalSynch` - новый вопрос
                      answer:
                        description: Ответ
                        type: object
                        nullable: true
                        properties:
                          text:
                            type: string
                            description: Текст ответа
                          editable:
                            type: boolean
                            description: Можно ли отредактировать ответ (`false` - нельзя, `true` - можно)
                          createDate:
                            type: string
                            format: date-time
                            description: Дата и время создания ответа
                      productDetails:
                        type: object
                        description: Product information
                        properties:
                          nmId:
                            type: integer
                            description: Артикул WB
                          imtId:
                            type: integer
                            description: ID карточки товара
                          productName:
                            type: string
                            description: Название товара
                          supplierArticle:
                            type: string
                            description: Артикул продавца
                          supplierName:
                            type: string
                            description: Имя продавца
                          brandName:
                            type: string
                            description: Название бренда
                          size:
                            type: string
                            description: Размер товара
                            deprecated: true
                      wasViewed:
                        type: boolean
                        description: Просмотрен ли вопрос
                      isWarned:
                        type: boolean
                        description: |
                          Признак подозрительного вопроса.<br>
                          Если `true`, то вопрос опубликован, но на портале продавцов вы увидите баннер **Сообщение подозрительное**
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
              example:
                data:
                  id: TfWOp5QBfEYrrd0AMJau
                  text: Хороший карандаш? Когда еще поставите?
                  createdDate: '2025-01-27T11:38:21.202143857Z'
                  state: wbRu
                  answer:
                    text: На следующей неделе
                    editable: true
                    createDate: '2025-07-28T08:24:37.187113704Z'
                  productDetails:
                    imtId: 202306781
                    nmId: 224747484
                    productName: Карандаш с ластиком
                    supplierArticle: 12113156uw
                    supplierName: ''
                    brandName: Maped
                    size: ''
                  wasViewed: true
                  isWarned: false
                error: false
                errorText: ''
                additionalErrors: null
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '422':
          description: Ошибка обработки параметров запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                responseGetQestionByIdErrEx:
                  $ref: '#/components/examples/ResponseGetQestionByIdErrEx'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/count-unanswered:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      security:
        - HeaderApiKey: []
      summary: Необработанные отзывы
      description: |
        Метод возвращает:
          - количество необработанных [отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) за сегодня и за всё время
          - среднюю оценку всех отзывов

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Отзывы
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      countUnanswered:
                        type: integer
                        description: Количество необработанных отзывов
                        example: 1
                      countUnansweredToday:
                        type: integer
                        description: Количество необработанных отзывов за сегодня
                        example: 0
                      valuation:
                        type: string
                        description: Средняя оценка всех отзывов
                        example: '4.7'
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/count:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      security:
        - HeaderApiKey: []
      summary: Количество отзывов
      description: |
        Метод возвращает количество обработанных или необработанных [отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) за заданный период.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Отзывы
      parameters:
        - name: dateFrom
          in: query
          description: Дата начала периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: dateTo
          in: query
          description: Дата конца периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: isAnswered
          in: query
          description: |
            Обработан ли отзыв:
              - `true` — да, по умолчанию
              - `false` — нет
          schema:
            type: boolean
            example: false
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: integer
                    description: Количество отзывов
                    example: 724583
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                IsAnsweredErr400:
                  $ref: '#/components/examples/IsAnsweredErr400'
                DateFromErr400:
                  $ref: '#/components/examples/DateFromErr400'
                DateToErr400:
                  $ref: '#/components/examples/DateToErr400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      security:
        - HeaderApiKey: []
      summary: Список отзывов
      description: |
        Метод возвращает список отзывов по заданным фильтрам. Вы можете:
          - получить данные обработанных и необработанных отзывов
          - сортировать отзывы по дате
          - настроить пагинацию и количество отзывов в ответе

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Отзывы
      parameters:
        - name: isAnswered
          in: query
          required: true
          description: |
            Обработан ли отзыв:
              - `true` — да, по умолчанию
              - `false` — нет
          schema:
            type: boolean
            example: false
        - name: nmId
          in: query
          description: Артикул WB
          schema:
            type: integer
            example: 5870243
        - name: take
          in: query
          required: true
          description: Количество отзывов (max. 5 000)
          schema:
            type: integer
            example: 1
        - name: skip
          in: query
          required: true
          description: Количество отзывов для пропуска (max. 199990)
          schema:
            type: integer
            example: 0
        - name: order
          in: query
          description: Сортировка отзывов по дате (dateAsc/dateDesc)
          schema:
            type: string
            enum:
              - dateAsc
              - dateDesc
        - name: dateFrom
          in: query
          description: Дата начала периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: dateTo
          in: query
          description: Дата конца периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      countUnanswered:
                        type: integer
                        description: Количество необработанных отзывов
                      countArchive:
                        type: integer
                        description: Количество обработанных отзывов
                      feedbacks:
                        $ref: '#/components/schemas/responseFeedback'
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  countUnanswered: 52
                  countArchive: 1000
                  feedbacks:
                    - id: YX52RZEBhH9mrcYdEJuD
                      text: Спасибо, всё подошло
                      pros: Удобный
                      cons: Нет
                      productValuation: 5
                      createdDate: '2024-09-26T10:20:48+03:00'
                      answer:
                        text: Пожалуйста. Ждём вас снова!
                        state: wbRu
                        editable: false
                      state: wbRu
                      productDetails:
                        imtId: 123456789
                        nmId: 987654321
                        productName: ВАЗ
                        supplierArticle: DP02/черный
                        supplierName: ГП Реклама и услуги
                        brandName: Бест Трикотаж
                        size: '0'
                      video:
                        previewImage: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/preview.webp
                        link: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/index.m3u8
                        durationSec: 10
                      wasViewed: true
                      photoLinks:
                        - fullSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/fs.jpg
                          miniSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/ms.jpg
                        - fullSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/fs.jpg
                          miniSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/ms.jpg
                        - fullSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/fs.jpg
                          miniSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/ms.jpg
                      userName: Николай
                      matchingSize: ok
                      isAbleSupplierFeedbackValuation: false
                      supplierFeedbackValuation: 1
                      isAbleSupplierProductValuation: false
                      supplierProductValuation: 2
                      isAbleReturnProductOrders: false
                      returnProductOrdersDate: '2024-08-20T16:39:49Z'
                      bables:
                        - цена
                      lastOrderShkId: 123456789
                      lastOrderCreatedAt: '2024-08-12T10:20:48+03:00'
                      color: colorless
                      subjectId: 219
                      subjectName: Футболки-поло
                      parentFeedbackId: null
                      childFeedbackId: bIjTCZDvJni7NGnLbUlf
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/FeedbackErr400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/supplier-valuations:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      security:
        - HeaderApiKey: []
      summary: Получить списки причин жалоб на отзыв и проблем с товаром
      description: |
        Метод возвращает списки причин [жалоб на отзыв и проблем с товаром](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks~1actions/post).
        <br>
        <br>
        <div class="description_important">

        Списки причин жалоб на <a href='https://seller.wildberries.ru/feedbacks/feedbacks-tab/not-answered'>портале продавцов</a> и в API различаются. При этом подать жалобу по API по причине с портала продавца невозможно.
        <br>
        </div>

        Если жалоба подана через портал продавцов (например, `13` — Спам-реклама в тексте), в ответах методов получения [отзыва по ID](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedback/get), [списка отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) и [списка архивных отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks~1archive/get) будет отображаться причина, указанная на портале (`13` — Спам-реклама в тексте).
        Если жалоба подана по API (например, с причиной `3` — Спам), в ответах тех же методов будет отображаться причина, переданная по API, а на портале продавцов отобразится соответствующая причина из списка портала (`13` — Спам-реклама в тексте).


        Сопоставление причин жалоб в API и на портале продавцов:

        | Причины в API  | Причины на портале продавцов | Описание |
        |---|---|---|
        | `1` | `11` | Отзыв не относится к товару |
        | `2` | `12` | Отзыв оставили конкуренты |
        | `3` | `13` | • **API** — Спам <br> • **Портал продавцов** — Спам-реклама в тексте |
        | `4` | `15` | • **API** — Нецензурное содержимое в фото<br>• **Портал продавцов** — Нецензурное содержимое в фото или видео |
        | `5` | `16` | Нецензурная лексика |
        | `6` | `17` | • **API** — Фото не имеет отношения к товару <br> • **Портал продавцов** — Фото или видео не имеет отношения к товару |
        | `7` | `18` | Отзыв с политическим контекстом |
        |Нет аналога в API  | `14` | Спам-реклама на фото или видео |
        |Нет аналога в API  | `19` | Другое |
        |Нет аналога в API  | `20` | Угрозы, оскорбления |

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Отзывы
      parameters:
        - name: X-Locale
          in: header
          schema:
            type: string
            example: ru
          description: Выбор языка значений полей ответа (`ru` - русский, `en` - английский, `zh` - китайский)
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Данные
                    type: object
                    properties:
                      feedbackValuations:
                        description: Причины жалоб. Подробнее в примерах ответа
                        type: object
                        properties:
                          '1':
                            type: string
                          '2':
                            type: string
                          '3':
                            type: string
                          '4':
                            type: string
                          '5':
                            type: string
                          '6':
                            type: string
                          '7':
                            type: string
                          '11':
                            type: string
                          '12':
                            type: string
                          '13':
                            type: string
                          '14':
                            type: string
                          '15':
                            type: string
                          '16':
                            type: string
                          '17':
                            type: string
                          '18':
                            type: string
                          '19':
                            type: string
                          '20':
                            type: string
                      productValuations:
                        description: Проблемы с товаром. Подробнее в примерах ответа
                        type: object
                        properties:
                          '1':
                            type: string
                          '2':
                            type: string
                          '3':
                            type: string
                          '4':
                            type: string
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  feedbackValuations:
                    '1': Отзыв не относится к товару
                    '2': Отзыв оставили конкуренты
                    '3': Спам
                    '4': Нецензурное содержимое в фото
                    '5': Нецензурная лексика
                    '6': Фото не имеет отношения к товару
                    '7': Отзыв с политическим контекстом
                    '11': Отзыв не относится к товару
                    '12': Отзыв оставили конкуренты
                    '13': Спам-реклама в тексте
                    '14': Спам-реклама на фото или видео
                    '15': Нецензурное содержимое в фото или видео
                    '16': Нецензурная лексика
                    '17': Фото или видео не имеет отношения к товару
                    '18': Отзыв с политическим контекстом
                    '19': Другое
                    '20': Угрозы, оскорбления
                  productValuations:
                    '1': Повредили при доставке
                    '2': Товар подменили
                    '3': Случайно отправил не тот товар и хочу его вернуть
                    '4': Товар вернули после эксплуатации
                error: false
                errorText: ''
                additionalErrors: null
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/actions:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    post:
      tags:
        - Отзывы
      security:
        - HeaderApiKey: []
      summary: Пожаловаться на отзыв, сообщить о проблеме с товаром
      description: |
        Метод позволяет:
          - подать жалобу на отзыв
          - сообщить о проблеме с товаром из отзыва

        <div class="description_important">
          ID отзыва не валидируется. Если в запросе вы передали некорректный ID, вы не получите ошибку.
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: |
                    ID [отзыва](./user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get)
                  example: J2FMRjUj6hwvwCElqssz
                supplierFeedbackValuation:
                  type: integer
                  description: Причина жалобы на отзыв <br> Доступные причины указаны в таблице сопоставления причин жалоб в API и на портале продавцов, в столбце **Причины в API**. Таблицу вы можете найти в описании метода получения <a href="./user-communication#tag/Otzyvy/paths/~1api~1v1~1supplier-valuations/get">списков причин жалоб и проблем с товаром</a>
                  example: 1
                supplierProductValuation:
                  type: integer
                  description: Описание проблемы товара <br> Можно получить из поля `productValuations`, метод получения <a href="./user-communication#tag/Otzyvy/paths/~1api~1v1~1supplier-valuations/get">списков причин жалоб и проблем с товаром</a>
                  example: 1
      responses:
        '204':
          description: Успешно
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardizedFQError'
              examples:
                contentTypeHeaderNotSpecified:
                  $ref: '#/components/examples/contentTypeHeaderNotSpecified'
                incorrectContentTypeHeader:
                  $ref: '#/components/examples/incorrectContentTypeHeader'
                incorrectContentType:
                  $ref: '#/components/examples/incorrectContentType'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/answer:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    post:
      tags:
        - Отзывы
      security:
        - HeaderApiKey: []
      summary: Ответить на отзыв
      description: |
        Метод позволяет ответить на [отзыв](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) покупателя.

        <div class="description_important">
          ID отзыва не валидируется. Если в запросе вы передали некорректный ID, вы не получите ошибку.
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - text
              properties:
                id:
                  type: string
                  description: ID отзыва
                  example: J2FMRjUj6hwvwCElqssz
                text:
                  type: string
                  description: Текст ответа
                  example: Спасибо за Ваш отзыв!
                  minimum: 2
                  maximum: 5000
      responses:
        '204':
          description: Успешно
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardizedFQError'
              examples:
                contentTypeHeaderNotSpecified:
                  $ref: '#/components/examples/contentTypeHeaderNotSpecified'
                incorrectContentTypeHeader:
                  $ref: '#/components/examples/incorrectContentTypeHeader'
                incorrectContentType:
                  $ref: '#/components/examples/incorrectContentType'
                invalidJsonSyntax:
                  $ref: '#/components/examples/invalidJsonSyntax'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
    patch:
      tags:
        - Отзывы
      security:
        - HeaderApiKey: []
      summary: Отредактировать ответ на отзыв
      description: |
        Метод позволяет отредактировать уже отправленный [ответ на отзыв](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks~1answer/post) покупателя.
        <br><br>
        Отредактировать ответ можно только один раз в течение 60 дней c момента отправки.

        <div class="description_important">
          ID отзыва не валидируется. Если в запросе вы передали некорректный ID, вы не получите ошибку.
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - text
              properties:
                id:
                  type: string
                  description: ID отзыва
                  example: J2FMRjUj6hwvwCElqssz
                text:
                  type: string
                  description: Текст ответа
                  example: Спасибо за Ваш отзыв, он очень важен для нас!
                  minimum: 2
                  maximum: 5000
      responses:
        '204':
          description: Успешно
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/order/return:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    post:
      security:
        - HeaderApiKey: []
      summary: Возврат товара по ID отзыва
      description: |
        Метод запрашивает возврат товара, по которому оставлен [отзыв](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get).
        <br><br>
        Возврат доступен для отзывов с полем `"isAbleReturnProductOrders": true`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Отзывы
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                feedbackId:
                  type: string
                  description: ID отзыва
            example:
              feedbackId: absdfgerrrfff1234
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/ResponseDoNotGetFeedback400'
                RequestBodyErr400:
                  $ref: '#/components/examples/RequestBodyErr400'
                RequestIDErr400:
                  $ref: '#/components/examples/RequestIDErr400'
        '401':
          $ref: '#/components/responses/401'
        '422':
          description: Ошибка обработки параметров запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                responseInaccessibleBackGoodError422:
                  $ref: '#/components/examples/responseInaccessibleBackGoodError422'
                responseUnsuccessfullyBackGoodError422:
                  $ref: '#/components/examples/responseUnsuccessfullyBackGoodError422'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedback:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      security:
        - HeaderApiKey: []
      summary: Получить отзыв по ID
      description: |
        Метод возвращает данные [отзыва](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) по его ID.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Отзывы
      parameters:
        - name: id
          in: query
          required: true
          description: ID отзыва
          schema:
            type: string
            example: G7Y9Y1kBAtKOitoBT_lV
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID отзыва
                      userName:
                        type: string
                        description: Имя автора отзыва
                        nullable: false
                      pros:
                        type: string
                        description: Достоинства товара
                        nullable: false
                      cons:
                        type: string
                        description: Недостатки товара
                        nullable: false
                      matchingSize:
                        type: string
                        description: |
                          Соответствие заявленного размера реальному.
                          <br>Возможные значения:
                          - ` ` - для безразмерных товаров
                          - `ок` - соответствует размеру
                          - `smaller` - маломерит
                          - `bigger` - большемерит
                      text:
                        type: string
                        description: Текст отзыва
                      productValuation:
                        type: integer
                        description: Оценка товара
                      createdDate:
                        type: string
                        format: date-time
                        description: Дата и время создания отзыва
                      answer:
                        nullable: true
                        type: object
                        description: Структура ответа
                        properties:
                          text:
                            type: string
                            description: Текст ответа
                          state:
                            type: string
                            description: |
                              Статус:
                                - `none` — новый
                                - `wbRu`— отображается на сайте
                                - `reviewRequired` — ответ проходит проверку
                                - `rejected` — ответ отклонён
                          editable:
                            type: boolean
                            description: |
                              Можно ли отредактировать ответ:
                                - `false` — нет
                                - `true` — да
                      state:
                        type: string
                        description: |
                          Статус отзыва:
                            - `none` - не обработан (новый)
                            - `wbRu` - обработан
                      productDetails:
                        description: Product information
                        type: object
                        properties:
                          nmId:
                            type: integer
                            description: Артикул WB
                          imtId:
                            type: integer
                            description: ID карточки товара
                          productName:
                            type: string
                            description: Название товара
                          supplierArticle:
                            type: string
                            nullable: true
                            description: Артикул продавца
                          supplierName:
                            type: string
                            nullable: true
                            description: Имя продавца
                          brandName:
                            type: string
                            nullable: true
                            description: Бренд товара
                          size:
                            type: string
                            description: Размер товара (`techSize` в КТ)
                      photoLinks:
                        nullable: true
                        description: Массив структур фотографий
                        type: array
                        items:
                          type: object
                          properties:
                            fullSize:
                              type: string
                              description: Адрес фотографии полного размера
                            miniSize:
                              type: string
                              description: Адрес фотографии маленького размера
                      video:
                        nullable: true
                        description: Структура видео
                        type: object
                        properties:
                          previewImage:
                            type: string
                            description: Ссылка на обложку видео
                          link:
                            type: string
                            description: Ссылка на файл плейлиста видео (доступно по протоколу hls)
                          durationSec:
                            type: integer
                            description: Общая продолжительность видео
                      wasViewed:
                        type: boolean
                        description: Просмотрен ли отзыв
                      isAbleSupplierFeedbackValuation:
                        description: |
                          Доступна ли продавцу возможность оставить жалобу на отзыв:
                            - `true`— да
                            - `false` — нет
                        type: boolean
                      supplierFeedbackValuation:
                        description: |
                          Ключ причины жалобы на отзыв
                          <br>
                          Значения см. в примерах ответа метода получения <a href="./user-communication#tag/Otzyvy/paths/~1api~1v1~1supplier-valuations/get">списков причин жалоб и проблем с товаром</a>, поле `feedbackValuations`
                        type: integer
                      isAbleSupplierProductValuation:
                        description: Доступна ли продавцу возможность сообщить о проблеме с товаром  (`true` - доступна, `false` - не доступна)
                        type: boolean
                      supplierProductValuation:
                        description: |
                          Ключ проблемы с товаром
                          <br>
                          Значения см. в примерах ответах метода получения <a href="./user-communication#tag/Otzyvy/paths/~1api~1v1~1supplier-valuations/get">списков причин жалоб и проблем с товаром</a>, поле `supplierProductValuation`
                        type: integer
                      isAbleReturnProductOrders:
                        description: |
                          Опция возврата товара:
                            - `true` — доступна
                            - `false` — недоступна
                        type: boolean
                      returnProductOrdersDate:
                        nullable: true
                        description: Дата и время, когда на запрос возврата был получен ответ со статус-кодом 200.
                        type: string
                      bables:
                        nullable: true
                        description: Список тегов покупателя
                        type: array
                        items:
                          type: string
                      lastOrderShkId:
                        type: integer
                        description: Штрихкод единицы товара
                      lastOrderCreatedAt:
                        type: string
                        description: Дата покупки
                      color:
                        type: string
                        description: Цвет товара
                      subjectId:
                        type: integer
                        description: ID предмета
                      subjectName:
                        type: string
                        description: Название предмета
                      parentFeedbackId:
                        type: string
                        description: ID начального отзыва (`null`, если этот отзыв начальный)
                        nullable: true
                      childFeedbackId:
                        type: string
                        nullable: true
                        description: ID дополненного отзыва (`null`, если этот отзыв дополненный)
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  id: YX52RZEBhH9mrcYdEJuD
                  text: Спасибо, всё подошло
                  pros: Удобный
                  cons: Нет
                  productValuation: 5
                  createdDate: '2024-09-26T10:20:48+03:00'
                  answer:
                    text: Пожалуйста. Ждём вас снова!
                    state: wbRu
                    editable: false
                  state: wbRu
                  productDetails:
                    imtId: 123456789
                    nmId: 987654321
                    productName: ВАЗ
                    supplierArticle: DP02/черный
                    supplierName: ГП Реклама и услуги
                    brandName: Бест Трикотаж
                    size: '0'
                  video:
                    previewImage: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/preview.webp
                    link: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/index.m3u8
                    durationSec: 10
                  wasViewed: true
                  photoLinks:
                    - fullSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/fs.jpg
                      miniSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/ms.jpg
                    - fullSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/fs.jpg
                      miniSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/ms.jpg
                    - fullSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/fs.jpg
                      miniSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/ms.jpg
                  userName: Николай
                  matchingSize: ok
                  isAbleSupplierFeedbackValuation: false
                  supplierFeedbackValuation: 1
                  isAbleSupplierProductValuation: false
                  supplierProductValuation: 2
                  isAbleReturnProductOrders: false
                  returnProductOrdersDate: '2024-08-20T16:39:49Z'
                  bables:
                    - цена
                  lastOrderShkId: 123456789
                  lastOrderCreatedAt: '2024-08-12T10:20:48+03:00'
                  color: colorless
                  subjectId: 219
                  subjectName: Футболки-поло
                  parentFeedbackId: null
                  childFeedbackId: bIjTCZDvJni7NGnLbUlf
                error: false
                errorText: ''
                additionalErrors: null
        '401':
          $ref: '#/components/responses/401'
        '422':
          description: Ошибка обработки параметров запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                ResponseGetFeedbackByIdErrEx:
                  $ref: '#/components/examples/ResponseGetFeedbackByIdErrEx'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/archive:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      security:
        - HeaderApiKey: []
      summary: Список архивных отзывов
      description: |
        Метод возвращает список архивных [отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get).
        <br><br>
        Отзыв становится архивным, если:
          - на отзыв получен ответ
          - на отзыв не получен ответ в течение 30 дней
          - в отзыве нет текста и фото

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Отзывы
      parameters:
        - name: nmId
          in: query
          description: Артикул WB
          schema:
            type: integer
            example: 14917842
        - name: take
          in: query
          required: true
          description: Количество отзывов (max. 5 000)
          schema:
            type: integer
            example: 1
        - name: skip
          in: query
          required: true
          description: Количество отзывов для пропуска
          schema:
            type: integer
            example: 0
        - name: order
          in: query
          description: Сортировка отзывов по дате (dateAsc/dateDesc)
          schema:
            type: string
            enum:
              - dateAsc
              - dateDesc
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      feedbacks:
                        $ref: '#/components/schemas/responseFeedback'
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  feedbacks:
                    - id: YX52RZEBhH9mrcYdEJuD
                      text: Спасибо, всё подошло
                      pros: Удобный
                      cons: Нет
                      productValuation: 5
                      createdDate: '2024-09-26T10:20:48+03:00'
                      answer:
                        text: Пожалуйста. Ждём вас снова!
                        state: wbRu
                        editable: false
                      state: wbRu
                      productDetails:
                        imtId: 123456789
                        nmId: 987654321
                        productName: ВАЗ
                        supplierArticle: DP02/черный
                        supplierName: ГП Реклама и услуги
                        brandName: Бест Трикотаж
                        size: '0'
                      video:
                        previewImage: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/preview.webp
                        link: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/index.m3u8
                        durationSec: 10
                      wasViewed: true
                      photoLinks:
                        - fullSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/fs.jpg
                          miniSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/ms.jpg
                        - fullSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/fs.jpg
                          miniSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/ms.jpg
                        - fullSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/fs.jpg
                          miniSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/ms.jpg
                      userName: Николай
                      matchingSize: ok
                      isAbleSupplierFeedbackValuation: false
                      supplierFeedbackValuation: 1
                      isAbleSupplierProductValuation: false
                      supplierProductValuation: 2
                      isAbleReturnProductOrders: false
                      returnProductOrdersDate: '2024-08-20T16:39:49Z'
                      bables:
                        - цена
                      lastOrderShkId: 123456789
                      lastOrderCreatedAt: '2024-08-12T10:20:48+03:00'
                      color: colorless
                      subjectId: 219
                      subjectName: Футболки-поло
                      parentFeedbackId: null
                      childFeedbackId: bIjTCZDvJni7NGnLbUlf
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/FeedbackErr400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/templates:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      security:
        - HeaderApiKey: []
      summary: Получить шаблоны ответов на вопросы и отзывы
      description: |
        Метод возвращает список шаблонов ответов на [вопросы](/openapi/user-communication#tag/Voprosy) и [отзывы](/openapi/user-communication#tag/Otzyvy) покупателей.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Шаблоны ответов
      parameters:
        - name: templateType
          in: query
          schema:
            type: integer
            example: 1
          description: |
            `1` - шаблоны для отзывов<br>
            `2` - шаблоны для вопросов
          required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ResponseTemplate'
              examples:
                Response200:
                  $ref: '#/components/examples/Response200'
                IncorrectTemplateType:
                  $ref: '#/components/examples/IncorrectTemplateType'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
    post:
      security:
        - HeaderApiKey: []
      summary: Создать шаблон
      description: |
        Метод добавляет [шаблон](/openapi/user-communication#tag/Shablony-otvetov/paths/~1api~1v1~1templates/get) ответа на [вопрос](/openapi/user-communication#tag/Voprosy) или [отзыв](/openapi/user-communication#tag/Otzyvy) покупателя.<br><br>

        Можно создать максимум 20 шаблонов: 10 для отзывов и 10 для вопросов. В тексте шаблона можно использовать любые символы.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Шаблоны ответов
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - templateType
                - text
              properties:
                name:
                  type: string
                  description: Название шаблона, от 1 до 100 символов
                templateType:
                  type: integer
                  description: |
                    Тип шаблона <br>
                    `1` - шаблон для отзывов <br>
                    `2` - шаблон для вопросов
                text:
                  type: string
                  description: Текст шаблона (от 2 до 1000 символов)
              example:
                name: name
                templateType: 1
                text: text
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTemplate'
              examples:
                PostTemplateOK:
                  $ref: '#/components/examples/PostTemplateOK'
                TemplateLimitExceeded:
                  $ref: '#/components/examples/TemplateLimitExceeded'
                InvalidTemplateNameLen:
                  $ref: '#/components/examples/InvalidTemplateNameLen'
                InvalidCommentLenTemplate:
                  $ref: '#/components/examples/InvalidCommentLenTemplate'
                InvalidRequest:
                  $ref: '#/components/examples/InvalidRequest'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
    patch:
      security:
        - HeaderApiKey: []
      summary: Редактировать шаблон
      description: |
        Метод редактирует [шаблон](/openapi/user-communication#tag/Shablony-otvetov/paths/~1api~1v1~1templates/get) ответа на [вопрос](/openapi/user-communication#tag/Voprosy) или [отзыв](/openapi/user-communication#tag/Otzyvy) покупателя.<br><br>

        В тексте шаблона можно использовать любые символы.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Шаблоны ответов
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - templateID
                - text
              properties:
                name:
                  type: string
                  description: Название шаблона, от 1 до 100 символов
                templateID:
                  type: string
                  description: ID шаблона
                text:
                  type: string
                  description: Текст шаблона (от 2 до 1000 символов)
              example:
                name: newname
                templateID: 1234fhbf34ew2
                text: newtext
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchDelResp'
              examples:
                PatchDelRespOK:
                  $ref: '#/components/examples/PatchDelRespOK'
                EditTemplateError:
                  $ref: '#/components/examples/EditTemplateError'
                InvalidRequest:
                  $ref: '#/components/examples/InvalidRequest'
                InvalidTemplateNameLen:
                  $ref: '#/components/examples/InvalidTemplateNameLen'
                InvalidCommentLenTemplate:
                  $ref: '#/components/examples/InvalidCommentLenTemplate'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
    delete:
      security:
        - HeaderApiKey: []
      summary: Удалить шаблон
      description: |
        Метод редактирует [шаблон](/openapi/user-communication#tag/Shablony-otvetov/paths/~1api~1v1~1templates/get) ответа на [вопрос](/openapi/user-communication#tag/Voprosy) или [отзыв](/openapi/user-communication#tag/Otzyvy) покупателя.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Шаблоны ответов
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - templateID
              properties:
                templateID:
                  type: string
                  description: ID шаблона (max. 1)
            example:
              templateID: 1234fhbf34ew2
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PatchDelResp'
              examples:
                PatchDelRespOK:
                  $ref: '#/components/examples/PatchDelRespOK'
                InvalidRequest:
                  $ref: '#/components/examples/InvalidRequest'
                ErrorDeleteBD:
                  $ref: '#/components/examples/ErrorDeleteBD'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/seller/chats:
    servers:
      - url: https://buyer-chat-api.wildberries.ru
    get:
      security:
        - HeaderApiKey: []
      summary: Список чатов
      description: |
        Метод возвращает список всех чатов продавца. По этим данным можно получить [события чатов](/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1events/get) или [отправить сообщение покупателю](/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1message/post).

        В ответе добавлен объект `lastMessage` с информацией о последнем сообщении в чате:
        - `text` — текст сообщения
        - `addTimestamp` — время сообщения в формате Unix timestamp (миллисекунды)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 10 секунд | 10 запросов | 1 секунда | 10 запросов |
        </div>
      tags:
        - Чат с покупателями
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatsResponse'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/seller/events:
    get:
      servers:
        - url: https://buyer-chat-api.wildberries.ru
      security:
        - HeaderApiKey: []
      summary: События чатов
      description: |
        Метод возвращает список событий всех [чатов с покупателями](/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1chats/get).

        Чтобы получить все события:
          1. Сделайте первый запрос без параметра `next`.
          2. Повторяйте запрос со значением параметра `next` из ответа на предыдущий запрос, пока `totalEvents` не станет равным `0`. Это будет означать, что вы получили все события.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 10 секунд | 10 запросов | 1 секунда | 10 запросов |
        </div>
      tags:
        - Чат с покупателями
      parameters:
        - name: next
          in: query
          description: |
            Пагинатор. С какого момента получить следующий пакет данных.<br>Формат Unix timestamp **с миллисекундами**
          schema:
            type: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
              example:
                result:
                  next: 1698045576000
                  newestEventTime: '2023-10-23T07:19:36Z'
                  oldestEventTime: '2023-10-23T05:02:20Z'
                  totalEvents: 4
                  events:
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: 55adee45-11f0-33b6-a847-6ccc7c78b2ec
                      eventType: message
                      isNewChat: true
                      message:
                        attachments:
                          goodCard:
                            date: '2023-10-18T11:46:01.528526Z'
                            needRefund: false
                            nmID: 12345678
                            price: 500
                            priceCurrency: RUB
                            rid: 2fb52cd9e25e52538a5f05994e688ae5
                            size: '0'
                            statusID: 11
                          files:
                            - contentType: application/pdf
                              date: '2023-10-23T08:02:19.594Z'
                              downloadID: ecaeb056-a4ee-45b4-ae45-666811755d38
                              name: Чек.pdf
                              url: https://chat-basket-01.wbbasket.ru/vol0/part3265/fb25c9e9-cae8-52db-b68e-736c1896a3f5/pdf/0380e781-281e-41b5-8ae1-ce281f15a4a7.pdf
                              size: 1046143
                          images:
                            - date: '2023-10-23T08:02:20.717Z'
                              downloadID: fd6be4e3-5447-41d7-a1e6-b2d3e06c3b05
                              url: https://chat-basket-01.wbbasket.ru/vol0/part2345/fb89c9e9-cae8-52db-b68e-736c1466a3f5/jpg/0823ff24-821e-40e9-8cdf-0a2b5fd86a32.jpg
                        text: Здравствуйте! У меня вопрос по товару "Альбом, бренд Эконом, артикул 13480414, товар получен 18.10.2023"
                      source: rusite
                      addTimestamp: 1698037340000
                      addTime: '2023-10-23T05:02:20Z'
                      replySign: 1:1e265a58-a120-b178-008c-60af2460207c:66f136e919a8207e136757754f253189bfb9ae1ad9da9170c9d5c478626663908888c370216525bef51c0ca8d77952e05c9c17f9b63ab00374c5555b42efc07d
                      sender: client
                      clientID: '186132'
                      clientName: Алёна
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: cef95d3c-0345-4dc9-b6df-4c8c57a176a9
                      eventType: message
                      message:
                        text: Здравствуйте! Пришёл не тот цвет. Можно вернуть и заказать другой товар?
                      source: rusite
                      addTimestamp: 1698037387000
                      addTime: '2023-10-23T05:03:07Z'
                      sender: client
                      clientID: '186132'
                      clientName: Алёна
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: fd22e5bf-64fd-43f7-b3a0-ad29uu027f97
                      eventType: message
                      message:
                        text: Здравствуйте. Да, сейчас оформим возврат.
                      source: seller-public-api
                      addTimestamp: 1698038124000
                      addTime: '2023-10-23T05:15:24Z'
                      sender: seller
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: cef95d3c-0345-4dc9-b6df-4c8c75a176a7
                      eventType: message
                      addTimestamp: 1698045576000
                      addTime: '2023-10-23T07:19:36Z'
                      sender: seller
                errors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP статус-код
                  title:
                    type: string
                    description: Заголовок ошибки
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  error:
                    type: string
                    description: Текст ошибки
              examples:
                IncorrectNextParameter:
                  description: Тип значения или его величина некорректны
                  value:
                    status: 400
                    title: Bad Request
                    origin: proxy-chats
                    detail: Invalid number
                    requestId: 62f59a4ce21064f20b1bbc28c85f38d8
                    error: Invalid number
                IncorrectNextParameter1:
                  description: Недопустимое значение 0
                  value:
                    status: 400
                    title: Bad Request
                    origin: proxy-chats
                    detail: Invalid value for "next"
                    requestId: 62f59a4ce21064f20b1bbc28c85f38d8
                    error: Invalid value for "next"
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/seller/message:
    post:
      servers:
        - url: https://buyer-chat-api.wildberries.ru
      security:
        - HeaderApiKey: []
      summary: Отправить сообщение
      description: |
        Метод отправляет сообщения в [чат с покупателем](/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1chats/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 10 секунд | 10 запросов | 1 секунда | 10 запросов |
        </div>
      tags:
        - Чат с покупателями
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - replySign
              type: object
              properties:
                replySign:
                  maxLength: 255
                  type: string
                  description: |
                    Подпись чата. Можно получить из [информации по чату](./user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1chats/get) или [данных события](./user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1events/get), если в событии есть поле `"isNewChat": true`.
                message:
                  maxLength: 1000
                  type: string
                  description: Текст сообщения. Максимум 1000 символов.
                file:
                  type: array
                  description: |
                    Файлы, формат JPEG, PDF или PNG, максимальный размер — 5 Мб каждый. Максимальный суммарный размер файлов — 30 Мб.
                  items:
                    type: string
                    format: binary
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                result:
                  addTime: 1712848270018
                  chatID: 1:641b623c-5c0e-295b-db03-3d5b4d484c32
                errors: []
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP статус-код
                  title:
                    type: string
                    description: Заголовок ошибки
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
[...]
