openapi: 3.0.1
info:
  title: 08-promotion - Кампании
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://advert-api.wildberries.ru
tags:
  - name: Кампании
    description: Кампании endpoints
paths:
  /adv/v1/promotion/count:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Списки кампаний
      description: >
        Метод возвращает списки всех [рекламных
        кампаний](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) продавца с их ID. Кампании
        сгруппированы по типу и статусу, у каждой указана дата последнего изменения.


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 сек | 5 запросов | 200 мс | 5 запросов |

        </div>
      tags:
        - Кампании
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  adverts:
                    type: array
                    nullable: true
                    description: Данные по кампаниям
                    items:
                      type: object
                      properties:
                        type:
                          description: |
                            Тип кампании:
                              - `8` — кампания с единой ставкой (**устаревший тип**)
                              - `9` — кампания с единой или ручной ставкой. Тип ставки вы можете получить с помощью метода [Информация о кампаниях](./promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get), поле `bid_type`
                          type: integer
                        status:
                          description: Статус кампании
                          type: integer
                        count:
                          description: Количество кампаний
                          type: integer
                        advert_list:
                          description: Список кампаний
                          type: array
                          items:
                            type: object
                            properties:
                              advertId:
                                description: ID кампании
                                type: integer
                              changeTime:
                                description: Дата и время последнего изменения кампании
                                type: string
                                format: date-time
                  all:
                    description: Общее количество кампаний всех статусов и типов
                    type: integer
              example:
                adverts:
                  - type: 9
                    status: 8
                    count: 3
                    advert_list:
                      - advertId: 6485174
                        changeTime: "2023-05-10T12:12:52.676254+03:00"
                      - advertId: 6500443
                        changeTime: "2023-05-10T17:08:46.370656+03:00"
                      - advertId: 7936341
                        changeTime: "2023-07-12T15:51:08.367478+03:00"
                all: 3
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"
  /adv/v1/promotion/adverts:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      deprecated: true
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Информация о кампаниях
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=388)
      tags:
        - Кампании
      parameters:
        - name: status
          in: query
          description: |
            Статус кампании:
            - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
            - `4` — готова к запуску
            - `7` — завершена
            - `8` — отменена
            - `9` — активна
            - `11` — на паузе
          schema:
            type: integer
            enum:
              - -1
              - 4
              - 7
              - 8
              - 9
              - 11
        - name: type
          in: query
          description: |
            Тип кампании:
            - `8` — единая ставка
          schema:
            type: integer
            enum:
              - 8
        - name: order
          in: query
          description: |
            Порядок:
            - `create` — по времени создания кампании
            - `change` — по времени последнего изменения кампании
            - `id` — по ID кампании
          schema:
            type: string
            enum:
              - create
              - change
              - id
        - name: direction
          in: query
          description: |
            Направление:
            - `desc` — от большего к меньшему
            - `asc` — от меньшего к большему
          schema:
            type: string
            enum:
              - desc
              - asc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                description: >-
                  Список ID кампаний. Максимум 50. <br> <br> Получить ID кампаний можно методом [Списки
                  кампаний](./promotion#tag/Kampanii/paths/~1adv~1v1~1promotion~1count/get)
            example:
              - 1234567
              - 63453471
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ResponseInfoAdvertType8"
              examples:
                ResponseInfoAdvertType8:
                  $ref: "#/components/examples/ResponseInfoAdvertType8"
                ResponseInfoAdvertsAll:
                  $ref: "#/components/examples/ResponseInfoAdvertsAll"
        "204":
          description: Кампании не найдены
        "400":
          description: Неправильный запрос
          content:
            text/plain:
              schema:
                type: string
              examples:
                IncorrectTypeAdv:
                  $ref: "#/components/examples/IncorrectTypeAdv"
                IncorrectSupplierIdAdv:
                  $ref: "#/components/examples/IncorrectSupplierIdAdv"
                IncorrectUsingMethods:
                  $ref: "#/components/examples/IncorrectUsingMethods"
        "401":
          $ref: "#/components/responses/401"
        "422":
          description: Ошибка обработки параметров запроса
          content:
            text/plain:
              schema:
                type: string
              examples:
                ErrorProcessRequestParam:
                  $ref: "#/components/examples/ErrorProcessRequestParam"
        "429":
          $ref: "#/components/responses/429"
  /adv/v0/auction/adverts:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      deprecated: true
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Информация о кампаниях с ручной ставкой
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=388)
      tags:
        - Кампании
      parameters:
        - name: ids
          in: query
          description: ID кампаний, максимум 50 значений
          schema:
            type: string
            example: 12345,23456,34567,45678,56789
        - name: statuses
          in: query
          description: |
            Статусы кампаний:
            - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
            - `4` — готова к запуску
            - `7` — завершена
            - `8` — отменена
            - `9` — активна
            - `11` — на паузе
          schema:
            enum:
              - "-1"
              - "4"
              - "7"
              - "8"
              - "9"
              - "11"
            type: string
            example: "-1,4,8"
        - name: payment_type
          in: query
          description: |
            Тип оплаты:
            - `cpm` — за показы
            - `cpc` — за клик
          schema:
            type: string
            enum:
              - cpm
              - cpc
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAuctionAdverts"
              example:
                adverts:
                  - id: 18298989
                  - nm_settings:
                      - bids:
                          recommendations: 0
                          search: 150
                        subject:
                          id: 69
                          name: платья
                        nm_id: 139312996
                  - settings:
                      name: Кампания 34
                      payment_type: cpc
                      placements:
                        recommendations: false
                        search: true
                  - status: 7
                  - timestamps:
                      created: "2024-06-28T15:49:02.031402+03:00"
                      deleted: "2024-07-03T13:53:42.260198+03:00"
                      started: "2024-07-01T23:32:09.083098+03:00"
                      updated: "2025-07-30T10:23:55.719721+03:00"
                  - bid_type: manual
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response400"
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"
  /api/advert/v2/adverts:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Информация о кампаниях
      description: |
        Метод возвращает информацию о рекламных кампаниях с единой или ручной ставкой по их статусам, типам оплаты и ID.

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 5 запросов | 200 мс | 5 запросов |
        </div>
      tags:
        - Кампании
      parameters:
        - name: ids
          in: query
          description: ID кампаний, максимум 50
          schema:
            type: string
            example: 12345,23456,34567,45678,56789
        - name: statuses
          in: query
          description: |
            Статусы кампаний:
            - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
            - `4` — готова к запуску
            - `7` — завершена
            - `8` — отменена
            - `9` — активна
            - `11` — на паузе
          schema:
            enum:
              - "-1"
              - "4"
              - "7"
              - "8"
              - "9"
              - "11"
            type: string
            example: "-1,4,8"
        - name: payment_type
          in: query
          description: |
            Тип оплаты:
            - `cpm` — за показы
            - `cpc` — за клик
          schema:
            type: string
            enum:
              - cpm
              - cpc
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAdverts"
              example:
                adverts:
                  - bid_type: manual
                    id: 567456457
                    nm_settings:
                      - bids_kopecks:
                          recommendations: 0
                          search: 0
                        nm_id: 123456789
                        subject:
                          id: 52
                          name: кошельки
                      - bids_kopecks:
                          recommendations: 11200
                          search: 11200
                        nm_id: 987654321
                        subject:
                          id: 54
                          name: ювелирные кольца
                    settings:
                      name: Кампания от 01.02.2024
                      payment_type: cpm
                      placements:
                        recommendations: false
                        search: true
                    status: 7
                    timestamps:
                      created: "2024-02-01T09:57:38.500606+03:00"
                      deleted: "2024-02-05T14:29:32.633968+03:00"
                      started: "2024-02-05T12:38:10.212086+03:00"
                      updated: "2024-02-05T14:29:32.633968+03:00"
                  - bid_type: manual
                    id: 28150154
                    nm_settings:
                      - bids_kopecks:
                          recommendations: 0
                          search: 1100
                        nm_id: 5764746785
                        subject:
                          id: 69
                          name: платья
                    settings:
                      name: "Кампания от 28.08.2025 "
                      payment_type: cpc
                      placements:
                        recommendations: false
                        search: true
                    status: 11
                    timestamps:
                      created: "2025-08-28T09:50:57.611559+03:00"
                      deleted: "2100-01-01T00:00:00+03:00"
                      started: null
                      updated: "2025-09-10T10:14:58.475499+03:00"
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response400"
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"
