openapi: 3.0.1
info:
  title: 08-promotion - Кампании
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://advert-api.wildberries.ru
tags:
  - name: Кампании
    description: Кампании endpoints
paths:
  /adv/v1/promotion/count:
    get:
      security:
        - HeaderApiKey: []
      summary: Списки кампаний
      description: |
        Метод возвращает списки всех [рекламных кампаний](/openapi/promotion#tag/Kampanii/paths/~1adv~1v1~1promotion~1adverts/post) продавца с их ID. Кампании сгруппированы по типу и статусу, у каждой указана дата последнего изменения.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 5 запросов | 200 миллисекунд | 5 запросов |
        </div>
      tags:
        - Кампании
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  adverts:
                    type: array
                    nullable: true
                    description: Данные по кампаниям
                    items:
                      type: object
                      properties:
                        type:
                          description: |
                            Тип кампании:
                              - `4` — в каталоге (**устаревший тип**)
                              - `5` — в карточке товара (**устаревший тип**)
                              - `6` — в поиске (**устаревший тип**)
                              - `7` — в рекомендациях на главной странице (**устаревший тип**)
                              - `8` — кампания с единой ставкой (**устаревший тип**)
                              - `9` — кампания с единой или ручной ставкой. Тип ставки вы можете получить с помощью метода [Информация о кампаниях с ручной ставкой](./promotion#tag/Kampanii/paths/~1adv~1v0~1auction~1adverts/get), поле `bid_type`
                          type: integer
                        status:
                          description: Статус кампании
                          type: integer
                        count:
                          description: Количество кампаний
                          type: integer
                        advert_list:
                          description: Список кампаний
                          type: array
                          items:
                            type: object
                            properties:
                              advertId:
                                description: ID кампании
                                type: integer
                              changeTime:
                                description: Дата и время последнего изменения кампании
                                type: string
                                format: date-time
                  all:
                    description: Общее количество кампаний всех статусов и типов
                    type: integer
              example:
                adverts:
                  - type: 9
                    status: 8
                    count: 3
                    advert_list:
                      - advertId: 6485174
                        changeTime: '2023-05-10T12:12:52.676254+03:00'
                      - advertId: 6500443
                        changeTime: '2023-05-10T17:08:46.370656+03:00'
                      - advertId: 7936341
                        changeTime: '2023-07-12T15:51:08.367478+03:00'
                all: 3
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/promotion/adverts:
    post:
      security:
        - HeaderApiKey: []
      summary: Информация о кампаниях
      description: |
        Метод возвращает информацию о рекламных кампаниях с устаревшими типами (4-8) по их статусам, типам и ID.
        <br><br>
        Для получения информации о кампаниях с типом 9 используйте [отдельный метод](/openapi/promotion#tag/Kampanii/paths/~1adv~1v0~1auction~1adverts/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 5 запросов | 200 миллисекунд | 5 запросов |
        </div>
      tags:
        - Кампании
      parameters:
        - name: status
          in: query
          description: |
            Статус кампании:
            - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
            - `4` — готова к запуску
            - `7` — завершена
            - `8` — отменена
            - `9` — активна
            - `11` — на паузе
          schema:
            type: integer
            enum:
              - -1
              - 4
              - 7
              - 8
              - 9
              - 11
        - name: type
          in: query
          description: |
            Тип кампании:
            - `4` — в каталоге (**устаревший тип**)
            - `5` — в карточке товара (**устаревший тип**)
            - `6` — в поиске (**устаревший тип**)
            - `7` — в рекомендациях на главной странице (**устаревший тип**)
            - `8` — единая ставка
          schema:
            type: integer
            enum:
              - 4
              - 5
              - 6
              - 7
              - 8
        - name: order
          in: query
          description: |
            Порядок:
            - `create` — по времени создания кампании
            - `change` — по времени последнего изменения кампании
            - `id` — по ID кампании
          schema:
            type: string
            enum:
              - create
              - change
              - id
        - name: direction
          in: query
          description: |
            Направление:
            - `desc` — от большего к меньшему
            - `asc` — от меньшего к большему
          schema:
            type: string
            enum:
              - desc
              - asc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                description: Список ID кампаний. Максимум 50. <br> <br> Получить ID кампаний можно методом [Списки кампаний](./promotion#tag/Kampanii/paths/~1adv~1v1~1promotion~1count/get)
            example:
              - 1234567
              - 63453471
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: '#/components/schemas/ResponseInfoAdvertType8'
                    - $ref: '#/components/schemas/ResponseInfoAdvert'
                    - $ref: '#/components/schemas/ResponseInfoAdvertType9'
              examples:
                ResponseInfoAdvertType8:
                  $ref: '#/components/examples/ResponseInfoAdvertType8'
                ResponseInfoAdvert:
                  $ref: '#/components/examples/ResponseInfoAdvert'
                ResponseInfoAdvertsAll:
                  $ref: '#/components/examples/ResponseInfoAdvertsAll'
        '204':
          description: Кампании не найдены
        '400':
          description: Неправильный запрос
          content:
            text/plain:
              schema:
                type: string
              examples:
                IncorrectTypeAdv:
                  $ref: '#/components/examples/IncorrectTypeAdv'
                IncorrectSupplierIdAdv:
                  $ref: '#/components/examples/IncorrectSupplierIdAdv'
                IncorrectUsingMethods:
                  $ref: '#/components/examples/IncorrectUsingMethods'
        '401':
          $ref: '#/components/responses/401'
        '422':
          description: Ошибка обработки параметров запроса
          content:
            text/plain:
              schema:
                type: string
              examples:
                ErrorProcessRequestParam:
                  $ref: '#/components/examples/ErrorProcessRequestParam'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/auction/adverts:
    get:
      security:
        - HeaderApiKey: []
      summary: Информация о кампаниях с ручной ставкой
      description: |
        Метод возвращает информацию о рекламных кампаниях с ручной ставкой по их статусам, типам оплаты и ID.

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 5 запросов | 200 миллисекунд | 5 запросов |
        </div>
      tags:
        - Кампании
      parameters:
        - name: ids
          in: query
          description: ID кампаний, максимум 50 значений
          schema:
            type: string
            example: 12345,23456,34567,45678,56789
        - name: statuses
          in: query
          description: |
            Статусы кампаний:
            - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
            - `4` — готова к запуску
            - `7` — завершена
            - `8` — отменена
            - `9` — активна
            - `11` — на паузе
          schema:
            enum:
              - '-1'
              - '4'
              - '7'
              - '8'
              - '9'
              - '11'
            type: string
            example: '-1,4,8'
        - name: payment_type
          in: query
          description: |
            Тип оплаты:
            - `cpm` — за показы
            - `cpc` — за клик
          schema:
            type: string
            enum:
              - cpm
              - cpc
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuctionAdverts'
              example:
                adverts:
                  id: 18298989
                  nm_settings:
                    - bids:
                        recommendations: 0
                        search: 150
                      subject:
                        id: 69
                        name: платья
                      nm_id: 139312996
                  settings:
                    name: Кампания 34
                    payment_type: cpc
                    placements:
                      recommendations: false
                      search: true
                  status: 7
                  timestamps:
                    created: '2024-06-28T15:49:02.031402+03:00'
                    deleted: '2024-07-03T13:53:42.260198+03:00'
                    started: '2024-07-01T23:32:09.083098+03:00'
                    updated: '2025-07-30T10:23:55.719721+03:00'
                  bid_type: manual
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    ResponseInfoAdvertType8:
      type: object
      properties:
        endTime:
          description: Дата завершения кампании
          type: string
          format: date-time
        createTime:
          description: Дата создания кампании
          type: string
          format: date-time
        changeTime:
          description: Дата последнего изменения кампании
          type: string
          format: date-time
        startTime:
          description: Дата последнего запуска кампании
          type: string
          format: date-time
        autoParams:
          type: object
          properties:
            subject:
              description: Продвигаемый предмет
              type: object
              properties:
                id:
                  description: ID предмета
                  type: integer
                name:
                  description: Название предмета
                  type: string
            sets:
              description: Внутренняя (системная) сущность (пол + предмет)
              type: array
              items:
                type: object
                properties:
                  id:
                    description: ID set
                    type: integer
                  name:
                    description: Название set
                    type: string
            menus:
              type: array
              items:
                type: object
                description: Меню, где размещается кампания
                properties:
                  id:
                    description: ID меню
                    type: integer
                  name:
                    description: Название меню
                    type: string
            active:
              description: Места размещения
              type: object
              properties:
                carousel:
                  description: |
                    Карточка товара
                      - `false` — отключено
                      - `true` — включено
                  type: boolean
                recom:
                  description: |
                    Рекомендации на главной
                      - `false` — отключено
                      - `true` — включено
                  type: boolean
                booster:
                  description: |
                    Ручная ставка
                      - `false` — отключено
                      - `true` — включено
                  type: boolean
            nmCPM:
              type: array
              description: |
                Ставки карточек товаров
              items:
                type: object
                properties:
                  nm:
                    description: Артикул WB
                    type: integer
                  cpm:
                    description: Ставка
                    type: integer
            nms:
              description: Артикулы WB
              type: array
              items:
                type: integer
            cpm:
              description: |
                Ставка, указанная при создании кампании.<br> Поле актуально только для кампаний, созданных через API.
              type: integer
        name:
          description: Название кампании
          type: string
        dailyBudget:
          description: Не используется
          type: integer
        advertId:
          description: ID кампании
          type: integer
        status:
          description: |
            Статус кампании:
            - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
            - `4` — готова к запуску
            - `7` — завершена
            - `8` — отменена
            - `9` — активна
            - `11` — на паузе
          type: integer
        type:
          description: |
            Тип кампании:
              - `8` — единая ставка
          type: integer
        paymentType:
          type: string
          description: |
            Модель оплаты:
            - `cpm` — за показы
    ResponseInfoAdvert:
      type: object
      properties:
        endTime:
          description: Дата завершения кампании
          type: string
        createTime:
          description: Время создания кампании
          type: string
          example: '2022-03-09T10:50:21.831623+03:00'
        changeTime:
          description: Время последнего изменения кампании
          type: string
          example: '2022-12-22T18:24:19.808701+03:00'
        startTime:
          description: Дата последнего запуска кампании
          type: string
        name:
          description: Название кампании
          type: string
        params:
          description: Параметры кампании
          type: array
          items:
            type: object
            properties:
              subjectName:
                description: Название предметной группы. Для кампаний в поиске и рекомендациях (**устаревшие типы кампаний**)
                type: string
              active:
                description: |
                  Флаг активности предметной группы:
                    - `true` — активна
                    - `false` — неактивна
                type: boolean
              intervals:
                description: Временные интервалы показа кампании
                type: array
                items:
                  type: object
                  properties:
                    begin:
                      description: Время начала показов
                      type: integer
                    end:
                      description: Время окончания показов
                      type: integer
              price:
                description: Текущая ставка
                type: integer
              menuId:
                description: ID меню, где размещается кампания. Для кампаний в каталоге (**устаревший тип кампании**)
                type: integer
              subjectId:
                description: ID предметной группы, для которой создана кампания. Для кампаний в поиске и рекомендациях (**устаревшие типы кампаний**
                type: integer
              setId:
                description: ID сочетания предмета и пола. Для кампаний в карточке товара (**устаревший тип кампании**)
                type: integer
              setName:
                description: Сочетание предмета и пола. Для кампаний в карточке товара (**устаревший тип кампании**)
                type: string
              menuName:
                description: Название меню, где размещается кампания. Для кампаний в каталоге (**устаревший тип кампании**)
                type: string
              nms:
                description: Массив карточек товаров кампании
                type: array
                items:
                  type: object
                  properties:
                    nm:
                      type: integer
                      description: Артикул WB
                    active:
                      type: boolean
                      description: |
                        Состояние карточки товара:
                          - `true` — активна
                          - `false` — неактивна
        dailyBudget:
          description: Дневной бюджет. Если не установлен, то `0`
          type: integer
        advertId:
          description: ID кампании
          type: integer
          example: 1234
        status:
          description: |
            Статус кампании:
            - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
            - `4` — готова к запуску
            - `7` — завершена
            - `8` — отменена
            - `9` — активна
            - `11` — на паузе
          type: integer
          example: 9
        type:
          description: |
            Тип кампании:
              - `4` — кампания в каталоге (**устаревший тип**)
              - `5` — кампания в карточке товара (**устаревший тип**)
              - `6` — кампания в поиске (**устаревший тип**)
              - `7` — кампания в рекомендациях на главной странице (**устаревший тип**)
          type: integer
          example: 4
        paymentType:
          type: string
          description: |
            Модель оплаты:
            - `cpm` — за показы
        searchPluseState:
          type: boolean
          description: |
            Активность фиксированных фраз:
              - `false` — не активны
              - `true` — активны
    ResponseInfoAdvertType9:
      deprecated: true
      type: object
      properties:
        endTime:
          description: Дата завершения кампании
          type: string
          format: date-time
        createTime:
          description: Дата создания кампании
          type: string
          format: date-time
        changeTime:
          description: Дата последнего изменения кампании
          type: string
          format: date-time
        startTime:
          description: Дата последнего запуска кампании
          type: string
          format: date-time
        searchPluseState:
          type: boolean
          description: |
            Активность фиксированных фраз:
              - `false` — не активны
              - `true` — активны
        name:
          description: Название кампании
          type: string
        unitedParams:
          type: array
          items:
            type: object
            properties:
              subject:
                type: object
                description: Продвигаемый предмет
                properties:
                  id:
                    description: ID предмета
                    type: integer
                  name:
                    description: Название предмета
                    type: string
              menus:
                type: array
                items:
                  type: object
                  description: Меню, где размещается кампания
                  properties:
                    id:
                      description: ID меню
                      type: integer
                    name:
                      description: Название меню
                      type: string
              nms:
                description: Артикулы WB
                type: array
                items:
                  type: integer
              searchCPM:
                description: Ставка в поиске
                type: integer
              catalogCPM:
                description: Ставка в Каталоге
                type: integer
        dailyBudget:
          description: Не используется
          type: integer
        advertId:
          description: ID кампании
          type: integer
        status:
          description: |
            Статус кампании:
            - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
            - `4` — готова к запуску
            - `7` — завершена
            - `8` — отменена
            - `9` — активна
            - `11` — на паузе
          type: integer
        type:
          description: |
            Тип кампании:
              - `9` — Ручная ставка
          type: integer
        paymentType:
          type: string
          description: |
            Модель оплаты:
            - `cpm` — за показы
        auction_multibids:
          type: array
          description: Ставки артикулов WB
          items:
            type: object
            properties:
              nm:
                description: Артикул WB
                type: integer
              bid:
                description: Ставка
                type: integer
    GetAuctionAdverts:
      type: object
      required:
        - adverts
      properties:
        adverts:
          description: Кампании
          type: object
          required:
            - id
            - timestamps
            - settings
            - nm_settings
            - status
            - bid_type
          properties:
            id:
              type: integer
              format: int64
              description: ID кампании
            nm_settings:
              description: Настройки товаров
              type: array
              items:
                $ref: '#/components/schemas/AuctionAdvertNMsSettings'
            settings:
              $ref: '#/components/schemas/AuctionAdvertSettings'
            status:
              description: |
                Статус кампании:
                - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
                - `4` — готова к запуску
                - `7` — завершена
                - `8` — отменена
                - `9` — активна
                - `11` — на паузе
              enum:
                - -1
                - 4
                - 7
                - 8
                - 9
                - 11
              type: integer
            timestamps:
              $ref: '#/components/schemas/Timestamps'
            bid_type:
              type: string
              description: |
                Тип ставки:
                  - `unified` — единая ставка
                  - `manual` — ручная ставка
    AuctionAdvertNMsSettings:
      type: object
      required:
        - subject
        - bids
        - nm_id
      properties:
        bids:
          $ref: '#/components/schemas/AuctionAdvertBids'
        subject:
          $ref: '#/components/schemas/AuctionAdvertSubject'
        nm_id:
          type: integer
          format: int64
          description: Артикул WB
    AuctionAdvertBids:
      description: Ставки
      required:
        - recommendations
        - search
      properties:
        search:
          type: integer
          format: int64
          description: Ставка в поиске
        recommendations:
          type: integer
          format: int64
          description: Ставка в рекомендациях
    AuctionAdvertSubject:
      description: Предмет
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          description: ID предмета
          format: int64
        name:
          type: string
          description: Название предмета
    AuctionAdvertSettings:
      description: Настройки кампании
      type: object
      required:
        - payment_type
        - name
        - placements
      properties:
        payment_type:
          type: string
          enum:
            - cpm
            - cpc
          description: |
            Тип оплаты:
            - `cpm` — за показы
            - `cpc` — за клик
        name:
          type: string
          description: Имя кампании
        placements:
          description: Места размещения
          type: object
          required:
            - search
            - recommendations
          properties:
            search:
              type: boolean
              description: |
                Размещение в поиске:
                  - `false` — да
                  - `true` — нет
            recommendations:
              description: |
                Размещение в рекомендациях:
                  - `false` — отключено
                  - `true` — включено
              type: boolean
    Timestamps:
      description: Временные отметки
      type: object
      required:
        - created
        - updated
        - started
        - deleted
      properties:
        created:
          description: Время создания кампании
          type: string
          format: date-time
        updated:
          description: Время последнего изменения кампании
          type: string
          format: date-time
        started:
          description: Время последнего запуска кампании
          type: string
          format: date-time
        deleted:
          type: string
          description: Время удаления кампании. Если кампания не удалена, время указывается в будущем
          format: date-time
    response400:
      type: object
      properties:
        detail:
          type: string
          description: Детали ошибки
        origin:
          type: string
          description: ID внутреннего сервиса WB
          example: camp-api-public-cache
        request_id:
          type: string
          description: Уникальный ID запроса
          example: 6023d2950af564838f9b44a279d2140c
        status:
          type: integer
          description: HTTP статус-код
          example: 400
        title:
          type: string
          description: Заголовок ошибки
          example: invalid payload
      required:
        - detail
        - title
        - request_id
        - origin
        - status
