openapi: 3.0.1
info:
  title: 08-promotion - Параметры кампаний
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://advert-api.wildberries.ru
tags:
  - name: Параметры кампаний
    description: Параметры кампаний endpoints
paths:
  /adv/v1/search/set-plus:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      deprecated: true
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Управление активностью фиксированных фраз
      description: |
        Данный метод устарел. Он будет удалён [15 января](https://dev.wildberries.ru/release-notes?id=385)
      tags:
        - Параметры кампаний
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1234567
          required: true
        - name: fixed
          in: query
          description: Новое состояние (`false` — сделать неактивными, `true` — сделать активными)
          schema:
            type: boolean
      responses:
        "200":
          description: Успешно
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: string
                example: Неправильный запрос
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"
    post:
      deprecated: true
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Установка/удаление фиксированных фраз
      description: |
        Данный метод устарел. Он будет удалён [15 января](https://dev.wildberries.ru/release-notes?id=385)
      tags:
        - Параметры кампаний
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1234567
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pluse:
                  description: Список фиксированных фраз (max. 100)
                  type: array
                  items:
                    type: string
            example:
              pluse:
                - Фраза 1
                - Фраза 2
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - Фраза 1
                - Фраза 2
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                NotFound:
                  value:
                    error: "Not Found: Campaign not found"
                InvalidParams:
                  value:
                    error: "Invalid Params: not available for unified campaigns"
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"
  /adv/v1/search/set-excluded:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      deprecated: true
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Установка/удаление минус-фраз в поиске
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=388)
      tags:
        - Параметры кампаний
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1234567
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                excluded:
                  description: Список минус-фраз, до 1000 фраз
                  type: array
                  items:
                    type: string
            example:
              excluded:
                - что-то синее
                - картошечка
      responses:
        "200":
          description: Успешно
        "400":
          description: Неправильный запрос
          content:
            text/plain:
              schema:
                type: string
                example: Неправильный запрос
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"
  /adv/v1/auto/set-excluded:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      deprecated: true
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Установка/удаление минус-фраз для кампании с единой ставкой
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=429)
      tags:
        - Параметры кампаний
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1234567
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                excluded:
                  description: Список минус-фраз, до 1000 фраз
                  type: array
                  items:
                    type: string
            examples:
              SettingMinusPhrase:
                $ref: "#/components/examples/SettingMinusPhrase"
              RemovingMinusPhrase:
                $ref: "#/components/examples/RemovingMinusPhrase"
      responses:
        "200":
          description: Успешно
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400Response"
              examples:
                InvalidCampaignId:
                  $ref: "#/components/examples/InvalidCampaignId"
                InvalidPayloadBody:
                  $ref: "#/components/examples/InvalidPayloadBody"
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"
  /adv/v1/auto/getnmtoadd:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      deprecated: true
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Список карточек товаров для кампании с единой ставкой
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=429)
      tags:
        - Параметры кампаний
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1
          required: true
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
              example:
                - 1111111111
                - 2222222222
                - 3333333333
                - 4444444444
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseAdvError1"
              examples:
                invalidAdvert:
                  $ref: "#/components/examples/invalidAdvert"
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"
  /adv/v1/auto/updatenm:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      deprecated: true
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Изменение списка карточек товаров в кампании с единой ставкой
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=429)
      tags:
        - Параметры кампаний
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                add:
                  description: Карточки товаров, которые необходимо добавить
                  type: array
                  items:
                    type: integer
                delete:
                  description: Карточки товаров, которые необходимо удалить
                  type: array
                  items:
                    type: integer
            example:
              add:
                - 11111111
                - 44444444
              delete:
                - 55555555
      responses:
        "200":
          description: Успешно
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseAdvError1"
              examples:
                CampaignNotFoundAdv:
                  $ref: "#/components/examples/CampaignNotFoundAdv"
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"
  /adv/v0/auction/nms:
    servers:
      - url: https://advert-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: advert
      x-campaign-types: [9]
      x-notes: |
        This endpoint is for unified campaigns (type 9). Replaces deprecated type 8 endpoints.
        Type 8 → Type 9 migration: Use this endpoint instead of /adv/v1/auto/updatenm (deprecated, removed Feb 2).
        Related deprecated endpoints:
        - POST /adv/v1/auto/updatenm - Update products in type 8 campaigns (deprecated, removed Feb 2)
        - GET /adv/v1/auto/getnmtoadd - Get products list for type 8 campaigns (deprecated, removed Feb 2)
      security:
        - HeaderApiKey: []
      summary: Изменение списка карточек товаров в кампаниях
      description: |
        Метод добавляет и удаляет карточки товаров в кампаниях.
        <br><br>
        Для кампаний в статусах `4`, `9` и `11`:
        - `4` — Готова к запуску (Ready to start)
        - `9` — Активна (Active)
        - `11` — Приостановлена (Paused)
        <br><br>
        Для добавляемых товаров устанавливается текущая минимальная ставка.
        <br><br>
        **Ограничения:**
        - Максимум 20 кампаний в одном запросе
        - Максимум 50 товаров для одной кампании
        - Нельзя добавлять и удалять один и тот же товар в одном запросе

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 1 запрос |
        </div>
      tags:
        - Параметры кампаний
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - nms
              properties:
                nms:
                  description: Карточки товаров в кампаниях. Максимум 20 кампаний в запросе.
                  type: array
                  maxItems: 20
                  items:
                    type: object
                    required:
                      - advert_id
                      - nms
                    properties:
                      advert_id:
                        description: ID кампании
                        type: integer
                        format: int64
                      nms:
                        description: Карточки товаров. Максимум 50 товаров для одной кампании.
                        type: object
                        properties:
                          add:
                            description: Карточки товаров, которые необходимо добавить. Для добавленных товаров устанавливается текущая минимальная ставка.
                            type: array
                            items:
                              type: integer
                          delete:
                            description: Карточки товаров, которые необходимо удалить
                            type: array
                            items:
                              type: integer
            example:
              nms:
                - advert_id: 12345
                  nms:
                    add:
                      - 11111111
                      - 44444444
                    delete:
                      - 55555555
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                required:
                  - nms
                properties:
                  nms:
                    description: Результат отработки запроса
                    type: array
                    items:
                      type: object
                      required:
                        - advert_id
                        - nms
                      properties:
                        advert_id:
                          description: ID кампании
                          type: integer
                          format: int64
                        nms:
                          description: Карточки товаров
                          type: object
                          required:
                            - added
                            - deleted
                          properties:
                            added:
                              description: Добавленные карточки товаров
                              type: array
                              items:
                                type: integer
                            deleted:
                              description: Удалённые карточки товаров
                              type: array
                              items:
                                type: integer
              example:
                nms:
                  - advert_id: 12345
                    nms:
                      added:
                        - 11111111
                        - 44444444
                      deleted:
                        - 55555555
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response400"
              example:
                detail: nomenclature 13335157 cannot be both added and deleted for advert 27247695
                origin: camp-api-public-cache
                request_id: 6023d2950af564838f9b44a279d2140c
                status: 400
                title: invalid payload
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"
