openapi: 3.0.1
info:
  title: 08-promotion - Статистика (Part 2/3) (Endpoint 2/2)
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://advert-api.wildberries.ru
tags:
  - name: Статистика
    description: Статистика endpoints
paths:
  /adv/v1/stat/words:
    get:
      security:
        - HeaderApiKey: []
      summary: Статистика кампании c ручной ставкой по ключевым фразам
      description: |
        Метод формирует статистику кампании c ручной ставкой по ключевым фразам из поисковой строки: количество просмотров товара и затраты по одной ключевой фразе.
        <br><br>
        Информация обновляется каждые 30 минут.

        <div class="description_important">
          Тип рекламных кампаний <strong>Поиск</strong> устарел.
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 4 запроса | 250 миллисекунд | 4 запроса |
        </div>
      tags:
        - Статистика
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1
          required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  words:
                    description: Блок информации по ключевым фразам
                    type: object
                    properties:
                      phrase:
                        description: Фразовое соответствие (минус фразы)
                        type: array
                        items:
                          type: string
                      strong:
                        description: Точное соответствие (минус фразы)
                        type: array
                        items:
                          type: string
                      excluded:
                        description: Минус фразы из поиска
                        type: array
                        items:
                          type: string
                      pluse:
                        description: Фиксированные фразы
                        type: array
                        items:
                          type: string
                      keywords:
                        description: Блок со статистикой по ключевым фразам
                        type: array
                        items:
                          type: object
                          properties:
                            keyword:
                              description: Ключевая фраза
                              type: string
                            count:
                              description: Количество просмотров по ключевой фразе
                              type: integer
                      fixed:
                        description: |
                          Фиксированные ключевые фразы (`true` — включены, `false` — выключены)
                        type: boolean
                  stat:
                    description: |
                      Массив информации по статистике.<br>
                      **Первый элемент массива** с `keyword: "Всего по кампании"` содержит суммарную информацию обо всех ключевых фразах.<br>
                      **Каждый следующий элемент массива** содержит информацию об отдельных ключевых фразах.<br>
                      Отображается 60 ключевых фраз с наибольшим количеством просмотров.
                    type: array
                    items:
                      type: object
                      properties:
                        advertId:
                          description: ID кампании в системе WB
                          type: integer
                        keyword:
                          description: Ключевая фраза
                          type: string
                        advertName:
                          description: Поле перманентно отключено
                          type: string
                        campaignName:
                          description: Название кампании
                          type: string
                        begin:
                          description: Дата запуска кампании
                          type: string
                          format: date-time
                        end:
                          description: Дата завершения кампании
                          type: string
                          format: date-time
                        views:
                          description: Количество просмотров
                          type: integer
                        clicks:
                          description: Количество кликов
                          type: integer
                        frq:
                          description: Частота — отношение количества просмотров к количеству уникальных пользователей
                          type: integer
                        ctr:
                          description: |
                            Кликабельность — отношение числа кликов к количеству показов, %
                          type: number
                        cpc:
                          description: Стоимость клика, ₽
                          type: number
                        duration:
                          description: Длительность кампании, в секундах
                          type: integer
                        sum:
                          description: Затраты, ₽
                          type: number
              example:
                words:
                  phrase: []
                  strong: []
                  excluded: []
                  pluse:
                    - детское постельное белье для мальчика 1.5
                  keywords:
                    - keyword: постельное белье 1.5
                      count: 772
                  fixed: true
                stat:
                  - advertId: 7703570
                    keyword: Всего по кампании
                    advertName: ''
                    campaignName: Бельё
                    begin: '2023-07-03T15:15:38.287441+03:00'
                    end: '2023-07-03T15:15:38.287441+03:00'
                    views: 1846
                    clicks: 73
                    frq: 1
                    ctr: 3.95
                    cpc: 7.88
                    duration: 769159
                    sum: 575.6
                  - advertId: 7703570
                    keyword: постельное белье 1.5 детское
                    advertName: ''
                    campaignName: Бельё
                    begin: '2023-07-03T15:15:38.287441+03:00'
                    end: '2023-07-03T15:15:38.287441+03:00'
                    views: 1846
                    clicks: 73
                    frq: 1
                    ctr: 3.95
                    cpc: 7.88
                    duration: 769159
                    sum: 575.6
        '400':
          description: Неправильный запрос
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    RequestWithDate:
      type: object
      required:
        - id
        - dates
      properties:
        id:
          description: ID кампании
          type: integer
        dates:
          description: Даты, за которые нужно получить информацию
          type: array
          items:
            type: string
            format: date
    RequestWithInterval:
      type: object
      required:
        - id
        - interval
      properties:
        id:
          description: ID кампании
          type: integer
        interval:
          description: Временной диапазон, за который необходимо выдать данные
          type: object
          properties:
            begin:
              description: Начало запрашиваемого периода
              type: string
              format: date
            end:
              description: Конец запрашиваемого периода
              type: string
              format: date
    RequestWithCampaignID:
      type: object
      additionalProperties: false
      required:
        - id
      properties:
        id:
          description: ID кампании
          type: integer
    ResponseWithDate:
      description: Ответ при запросе с dates
      type: array
      nullable: true
      items:
        type: object
        additionalProperties: false
        properties:
          dates:
            description: Даты, за которые нужно получить информацию
            type: array
            items:
              type: string
              format: date
          views:
            type: integer
            description: |
              Количество просмотров. <br>
              За все дни, по всем артикулам WB и платформам
          clicks:
            type: integer
            description: |
              Количество кликов.<br>
              За все дни, по всем артикулам WB и платформам
          ctr:
            type: number
            description: |
              Показатель кликабельности.<br>
              Отношение числа кликов к количеству показов. Выражается в процентах<br>
              За все дни, по всем артикулам WB и платформам<br>
          cpc:
            type: number
            description: |
              Средняя стоимость клика, ₽.<br>
              За все дни, по всем артикулам WB и платформам
          sum:
            type: number
            description: |
              Затраты, ₽.<br>
              За все дни, по всем артикулам WB и платформам
          atbs:
            type: integer
            description: |
              Количество добавлений товаров в корзину.<br>
              За все дни, по всем артикулам WB и платформам
          orders:
            type: integer
            description: |
              Количество заказов.<br>
              За все дни, по всем артикулам WB и платформам
          cr:
            type: number
            description: |
              CR(conversion rate) — это отношение количества заказов к общему количеству посещений кампании.<br>
              За все дни, по всем артикулам WB и платформам
          shks:
            type: integer
            description: |
              Количество заказанных товаров, шт.<br>
              За все дни, по всем артикулам WB и платформам
          sum_price:
            type: number
            description: |
              Заказов на сумму, ₽.<br>
              За все дни, по всем артикулам WB и платформам
          days:
            $ref: '#/components/schemas/Days'
          boosterStats:
            $ref: '#/components/schemas/BoosterStats'
          advertId:
            description: ID кампании
            type: integer
    Days:
      description: Статистка по дням
      type: array
      items:
        type: object
        properties:
          date:
            description: Дата, за которую представлены данные
            type: string
            format: date-time
          views:
            type: integer
            description: Количество просмотров
          clicks:
            type: integer
            description: Количество кликов
          ctr:
            type: number
            description: |
              Показатель кликабельности, отношение числа кликов к количеству показов, %
          cpc:
            type: number
            description: Средняя стоимость клика, ₽
          sum:
            type: number
            description: Затраты, ₽
          atbs:
            type: integer
            description: Количество добавлений товаров в корзину
          orders:
            type: integer
            description: Количество заказов
          cr:
            type: number
            description: |
              CR(conversion rate) — отношение количества заказов к общему количеству посещений кампании
          shks:
            type: integer
            description: Количество заказанных товаров, шт.
          sum_price:
            type: number
            description: Заказов на сумму, ₽
          apps:
            description: Блок информации о платформе
            type: array
            items:
              type: object
              properties:
                views:
                  type: integer
                  description: Количество просмотров
                clicks:
                  type: integer
                  description: Количество кликов
                ctr:
                  type: number
                  description: |
                    Показатель кликабельности, отношение числа кликов к количеству показов, %
                cpc:
                  type: number
                  description: Средняя стоимость клика, ₽
                sum:
                  type: number
                  description: Затраты, ₽
                atbs:
                  type: integer
                  description: Количество добавлений товаров в корзину
                orders:
                  type: integer
                  description: Количество заказов
                cr:
                  type: number
                  description: |
                    CR(conversion rate) — это отношение количества заказов к общему количеству посещений кампании
                shks:
                  type: integer
                  description: Количество заказанных товаров, шт.
                sum_price:
                  type: number
                  description: Заказов на сумму, ₽
                nm:
                  description: Блок статистики по артикулам WB
                  type: array
                  items:
                    type: object
                    properties:
                      views:
                        type: integer
                        description: Количество просмотров
                      clicks:
                        type: integer
                        description: Количество кликов
                      ctr:
                        type: number
                        description: |
                          Показатель кликабельности, отношение числа кликов к количеству показов, %
                      cpc:
                        type: number
                        description: Средняя стоимость клика, ₽
                      sum:
                        type: number
                        description: Затраты, ₽
                      atbs:
                        type: integer
                        description: Количество добавлений товаров в корзину
                      orders:
                        type: integer
                        description: Количество заказов
                      cr:
                        type: number
                        description: |
                          CR(conversion rate) — отношение количества заказов к общему количеству посещений кампании
                      shks:
                        type: integer
                        description: Количество заказанных товаров, шт.
                      sum_price:
                        type: number
                        description: Заказов на сумму, ₽
                      name:
                        description: Название товара
                        type: string
                      nmId:
                        description: ID артикула WB
                        type: integer
                appType:
                  type: integer
                  description: Тип платформы (`1` — сайт, `32` — Android, `64` — IOS)
    BoosterStats:
      description: Статистика по средней позиции товара на страницах поисковой выдачи и каталога (для кампаний с единой ставкой)
      type: array
      items:
        type: object
        properties:
          date:
            description: Дата, за которую предоставлены данные
            type: string
            format: date-time
          nm:
            description: Артикул WB
            type: integer
          avg_position:
            description: Средняя позиция товара на страницах поисковой выдачи и каталога
            type: integer
    ResponseWithInterval:
      description: Ответ при запросе с interval
      type: array
      items:
        type: object
        properties:
          interval:
            description: Период
            type: object
            additionalProperties: false
            properties:
              begin:
                description: Начало периода
                type: string
                format: date
              end:
                description: Конец периода
                type: string
                format: date
          views:
            type: integer
            description: |
              Количество просмотров. <br>
              За все дни запрошенного диапазона, по всем артикулам WB и платформам
          clicks:
            type: integer
            description: |
              Количество кликов.<br>
              За все дни запрошенного диапазона, по всем артикулам WB и платформам
          ctr:
            type: number
            description: |
              Показатель кликабельности.<br>
              Отношение числа кликов к количеству показов. Выражается в процентах.<br>
              За все дни запрошенного диапазона, по всем артикулам WB и платформам
          cpc:
            type: number
            description: |
              Средняя стоимость клика, ₽.<br>
              За все дни запрошенного диапазона, по всем артикулам WB и платформам
          sum:
            type: number
            description: |
              Затраты, ₽.<br>
              За все дни запрошенного диапазона, по всем артикулам WB и платформам
          atbs:
            type: integer
            description: |
              Количество добавлений товаров в корзину.<br>
              За все дни запрошенного диапазона, по всем артикулам WB и платформам
          orders:
            type: integer
            description: |
              Количество заказов.<br>
              За все дни запрошенного диапазона, по всем артикулам WB и платформам
          cr:
            type: number
            description: |
              CR(conversion rate) — это отношение количества заказов к общему количеству посещений кампании.<br>
              За все дни запрошенного диапазона, по всем артикулам WB и платформам
          shks:
            type: integer
            description: |
              Количество заказанных товаров, шт.<br>
              За все дни запрошенного диапазона, по всем артикулам WB и платформам
          sum_price:
            type: number
            description: |
              Заказов на сумму, ₽<br>
              За все дни запрошенного диапазона, по всем артикулам WB и платформам
          days:
            $ref: '#/components/schemas/Days'
          boosterStats:
            $ref: '#/components/schemas/BoosterStats'
          advertId:
            description: ID кампании
            type: integer
    responseAdvError1:
      type: object
      properties:
        error:
          type: string
    ResponseFullStats:
      type: array
      description: Статистика по кампаниям за период, указанный в запросе. По всем артикулам WB и платформам
      items:
        $ref: '#/components/schemas/FullStatsItem'
    FullStatsItem:
      type: object
      required:
        - advertId
        - atbs
        - canceled
        - clicks
        - cpc
        - cr
        - ctr
        - days
        - orders
        - shks
        - sum
        - sum_price
        - views
      description: Статистика по одной кампании за период, указанный в запросе. По всем артикулам WB и платформам
      properties:
        advertId:
          type: integer
          description: ID кампании
        atbs:
          type: integer
          description: Количество добавлений товаров в корзину
        boosterStats:
          type: array
          description: Статистика по бустеру
          $ref: '#/components/schemas/BoosterStatsV3'
        canceled:
          type: integer
          description: Отмены, шт.
        clicks:
          type: integer
          description: Количество кликов
        cpc:
          type: number
          format: double
          description: Средняя стоимость клика, ₽
        cr:
          type: number
          format: double
          description: CR (conversion rate) — отношение количества заказов к общему количеству кликов
        ctr:
          type: number
          format: double
          description: CTR (click-through rate) — отношение числа кликов к количеству показов в процентах
        days:
          type: array
          description: Статистика с разбивкой по дням
          $ref: '#/components/schemas/DaysV3'
        orders:
          type: integer
          description: Количество заказов
        shks:
          type: integer
          description: Количество заказанных товаров, шт.
        sum:
          type: number
          format: double
          description: Затраты, ₽
        sum_price:
          type: number
          format: double
          description: Сумма заказов, ₽
        views:
          type: integer
          description: Количество просмотров
    BoosterStatsV3:
      description: Статистика по средней позиции товара (для кампаний с единой ставкой)
      items:
        type: object
        required:
          - avg_position
          - date
          - nm
        properties:
          avg_position:
            description: Средняя позиция товара
            type: integer
          date:
            description: Дата, за которую предоставлены данные
            type: string
            format: date
          nm:
            description: Артикул WB
            type: integer
    DaysV3:
      description: Статистка по дням
      items:
        type: object
        required:
          - apps
          - atbs
          - canceled
          - clicks
          - cpc
          - cr
          - ctr
          - date
          - orders
          - shks
          - sum
          - sum_price
          - views
        properties:
          apps:
            description: Блок информации о платформе
            type: array
            items:
              type: object
              required:
                - appType
                - atbs
                - canceled
                - clicks
                - cpc
                - cr
                - ctr
                - nms
                - orders
                - shks
                - sum
                - sum_price
                - views
              properties:
                appType:
                  type: integer
                  enum:
                    - 1
                    - 32
                    - 64
                  description: |
                    Тип платформы:
                      - `1` — сайт
                      - `32` — Android
                      - `64` — IOS
                atbs:
                  type: integer
                  description: Количество добавлений товаров в корзину
                canceled:
                  type: integer
                  description: Отмены, шт.
                clicks:
                  type: integer
                  description: Количество кликов
                cpc:
                  type: number
                  description: Средняя стоимость клика, ₽
                cr:
                  type: number
                  description: CR (conversion rate) — отношение количества заказов к общему количеству кликов
                ctr:
                  type: number
                  description: CTR (click-through rate) — отношение числа кликов к количеству показов в процентах
                nms:
                  description: Блок статистики по артикулам WB
                  type: array
                  items:
                    type: object
                    required:
                      - atbs
                      - canceled
                      - clicks
                      - cpc
                      - cr
                      - ctr
                      - name
                      - nmId
                      - orders
                      - shks
                      - sum
                      - sum_price
                      - views
                    properties:
                      atbs:
                        type: integer
                        description: Количество добавлений товаров в корзину
                      canceled:
                        type: integer
                        description: Отмены, шт.
                      clicks:
                        type: integer
                        description: Количество кликов
                      cpc:
                        type: number
                        description: Средняя стоимость клика, ₽
                      cr:
                        type: number
                        description: CR (conversion rate) — отношение количества заказов к общему количеству кликов
                      ctr:
                        type: number
                        description: CTR (click-through rate) — отношение числа кликов к количеству показов в процентах
                      name:
                        description: Название товара
                        type: string
                      nmId:
                        description: Артикул WB
                        type: integer
                      orders:
                        type: integer
                        description: Количество заказов
                      shks:
                        type: integer
                        description: Количество заказанных товаров, шт.
                      sum:
                        type: number
                        description: Затраты, ₽
                      sum_price:
                        type: number
                        description: Заказов на сумму, ₽
                      views:
                        type: integer
                        description: Количество просмотров
                orders:
                  type: integer
                  description: Количество заказов
                shks:
                  type: integer
                  description: Количество заказанных товаров, шт.
                sum:
                  type: number
                  description: Затраты, ₽
                sum_price:
                  type: number
                  description: Заказов на сумму, ₽
                views:
                  type: integer
                  description: Количество просмотров
          atbs:
            type: integer
            description: Количество добавлений товаров в корзину
          canceled:
            type: integer
            description: Отмены, шт.
          date:
            description: Дата, за которую представлены данные
            type: string
            format: date-time
          clicks:
            type: integer
            description: Количество кликов
          cpc:
            type: number
            description: Средняя стоимость клика, ₽
          cr:
            type: number
            description: CR (conversion rate) — отношение количества заказов к общему количеству посещений кампании
          ctr:
            type: number
            description: CTR (click-through rate) — отношение числа кликов к количеству показов в процентах
          orders:
            type: integer
            description: Количество заказов
          shks:
            type: integer
            description: Количество заказанных товаров, шт.
          sum:
            type: number
            description: Затраты, ₽
          sum_price:
            type: number
            description: Заказов на сумму, ₽
          views:
            type: integer
            description: Количество просмотров
    FullStatsError:
      type: object
      description: Ошибка
      properties:
        detail:
          type: string
          description: Детали ошибки
        origin:
          type: string
          description: ID внутреннего сервиса WB
        request_id:
          type: string
          description: ID запроса
        status:
          type: integer
          description: HTTP статус-код
        title:
          type: string
          description: Заголовок ошибки
      required:
        - detail
        - title
        - request_id
        - origin
        - status
    V0KeywordsStatisticsResponse:
      type: object
      required:
        - keywords
      properties:
        keywords:
          type: array
          items:
            $ref: '#/components/schemas/V0KeywordsStatistics'
    V0KeywordsStatistics:
      type: object
      required:
        - date
        - stats
      properties:
        date:
          type: string
          format: date
          description: Дата
        stats:
          type: array
          items:
            $ref: '#/components/schemas/V0KeywordsStatistic'
    V0KeywordsStatistic:
      type: object
      required:
        - keyword
        - views
        - clicks
        - ctr
        - sum
      properties:
        clicks:
          type: integer
          description: Количество кликов
        ctr:
          type: number
          description: CTR (Click-Through Rate) — показатель кликабельности
        keyword:
          type: string
          description: Ключевая фраза
        sum:
          type: number
          description: Сумма затрат по ключевой фразе
        views:
          type: integer
          description: Количество показов
    ErrorResponse:
      type: object
      required:
        - type
        - message
      properties:
        type:
          type: string
        message:
          type: string
    StatInterval:
      additionalProperties: false
      type: object
      required:
        - interval
      properties:
        interval:
          description: Период
          type: object
          properties:
            begin:
              description: Начало периода
              type: string
              format: date
            end:
              description: Конец периода
              type: string
              format: date
        stats:
          description: Блок статистики
          type: array
          items:
            $ref: '#/components/schemas/StatsBlok1'
    StatsBlok1:
      type: object
      properties:
        item_id:
          description: ID баннера
          type: integer
        item_name:
          description: Бренд
          type: string
        category_name:
          description: Название категории
          type: string
        advert_type:
          description: |
            Тип медиакампании:
              - `1` — размещение по дням
              - `2` — размещение по просмотрам
          type: integer
        place:
          description: Место на странице
          type: integer
        views:
          description: Количество просмотров
          type: integer
        clicks:
          description: Количество кликов
          type: integer
        cr:
          description: |
            CR(conversion rate) — это отношение количества заказов к общему количеству посещений медиакампании
          type: number
        ctr:
          description: |
            CTR (click-through rate) — показатель кликабельности, отношение числа кликов к количеству показов в рамках медиакампании
          type: number
        date_from:
          description: Время начала размещения
          type: string
          format: date-time
        date_to:
          description: Время завершения размещения
          type: string
          format: date-time
        subject_name:
          description: Родительская категория предмета
          type: string
        atbs:
          description: Количество добавлений товаров в корзину
          type: integer
        orders:
          description: Количество заказов
          type: integer
        price:
          description: Стоимость размещения
          type: number
        cpc:
          description: (cost per click) — цена клика по продвигаемому товару
          type: number
        status:
          description: Статус медиакампании
          type: integer
        daily_stats:
          $ref: '#/components/schemas/DailyStats1'
        expenses:
          description: Стоимость размещения баннера
          type: number
        cr1:
          description: Отношение количества добавлений в корзину к количеству кликов
          type: number
        cr2:
          description: Отношение количества заказов к количеству добавлений в корзину
          type: integer
    DailyStats1:
      type: array
      items:
        type: object
        properties:
          date:
            description: Дата
            type: string
            format: date-time
          app_type_stats:
            description: Статистика по платформам
            type: array
            items:
              type: object
              properties:
                app_type:
                  description: |
                    Тип платформы:
                    - `1` — сайт
                    - `32` — Android
                    - `64` — IOS
                  type: integer
                stats:
                  $ref: '#/components/schemas/Stats1'
    StatDate:
      additionalProperties: false
      type: object
      required:
        - dates
      properties:
        dates:
          description: Даты, за которые нужно получить информацию
          type: array
          items:
            type: string
            format: date
        stats:
          description: Блок статистики
          type: array
          items:
            $ref: '#/components/schemas/StatsBlok2'
    StatsBlok2:
      type: object
      properties:
        item_id:
          description: ID баннера
          type: integer
        item_name:
          description: Бренд
          type: string
        category_name:
          description: Название категории
          type: string
        advert_type:
          description: |
            Тип медиакампании:
              - `1` — размещение по дням
              - `2` — размещение по просмотрам
          type: integer
        place:
          description: Место на странице
          type: integer
        views:
          description: Количество просмотров
          type: integer
        clicks:
          description: Количество кликов
          type: integer
        cr:
          description: |
            CR(conversion rate) — это отношение количества заказов к общему количеству посещений медиакампании
          type: number
        ctr:
          description: |
            CTR (click-through rate) — показатель кликабельности, отношение числа кликов к количеству показов в рамках медиакампании
          type: number
        date_from:
          description: Время начала размещения
          type: string
          format: date-time
        date_to:
          description: Время завершения размещения
          type: string
          format: date-time
        subject_name:
          description: Родительская категория предмета
          type: string
        atbs:
          description: Количество добавлений товаров в корзину
          type: integer
        orders:
          description: Количество заказов
          type: integer
        price:
          description: Стоимость размещения
          type: number
        cpc:
          description: (cost per click) — цена клика по продвигаемому товару
          type: number
        status:
          description: Статус медиакампании
          type: integer
        daily_stats:
          $ref: '#/components/schemas/DailyStats2'
        expenses:
          description: Стоимость размещения баннера
          type: number
        cr1:
          description: Отношение количества добавлений в корзину к количеству кликов
          type: number
        cr2:
          description: Отношение количества заказов к количеству добавлений в корзину
          type: integer
    DailyStats2:
      type: array
      items:
        type: object
        properties:
          date:
            description: Дата
            type: string
            format: date-time
          app_type_stats:
            description: Статистика по платформам
            type: array
            items:
              type: object
              properties:
                app_type:
                  description: |
                    Тип платформы:
                    - `1` — сайт
                    - `32` — Android
                    - `64` — IOS
                  type: integer
                stats:
                  $ref: '#/components/schemas/Stats2'
    Stat:
      additionalProperties: false
      type: object
      properties:
        stats:
          description: Блок статистики
          type: array
          items:
            $ref: '#/components/schemas/StatsBlok1'
