openapi: 3.0.1
info:
  title: 08-promotion - Управление кампаниями
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://advert-api.wildberries.ru
tags:
  - name: Управление кампаниями
    description: Управление кампаниями endpoints
paths:
  /adv/v0/delete:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Удаление кампании
      description: >
        Метод удаляет [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусе `4` —
        готова к запуску.<br><br>


        После удаления кампания некоторое время будет находиться в статусе `-1` — кампания в процессе удаления. Полное
        удаление кампании занимает от 3 до 10 минут.


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 сек | 5 запросов | 200 мс | 5 запросов |

        </div>
      tags:
        - Управление кампаниями
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: Успешно
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseAdvError1"
              examples:
                ResponseInvalidCampaignID:
                  $ref: "#/components/examples/ResponseInvalidCampaignID"
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"
  /adv/v0/rename:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Переименование кампании
      description: >
        Метод меняет название [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get). Это
        можно сделать в любой момент существования кампании.


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 сек | 5 запросов | 200 мс | 5 запросов |

        </div>
      tags:
        - Управление кампаниями
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - advertId
                - name
              properties:
                advertId:
                  type: integer
                  description: ID кампании, в которой меняется название
                name:
                  type: string
                  description: Новое название (максимум 100 символов)
            example:
              advertId: 2233344
              name: newname
      responses:
        "200":
          description: Успешно
        "400":
          description: Неправильный запрос
          content:
            text/plain:
              schema:
                type: string
              examples:
                InvalidRcIdAdv:
                  $ref: "#/components/examples/InvalidRcIdAdv"
                IncorrectName:
                  $ref: "#/components/examples/IncorrectName"
                IncorrectSupplierIdAdv:
                  $ref: "#/components/examples/IncorrectSupplierIdAdv"
        "401":
          $ref: "#/components/responses/401"
        "422":
          description: Ошибка обработки параметров запроса
          content:
            text/plain:
              schema:
                type: string
              examples:
                RequestBodyProcessErrorAdv:
                  $ref: "#/components/examples/RequestBodyProcessErrorAdv"
                CompanyNameChangeErr:
                  $ref: "#/components/examples/CompanyNameChangeErr"
        "429":
          $ref: "#/components/responses/429"
  /adv/v0/start:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Запуск кампании
      description: >
        Метод запускает [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусах `4`
        — готово к запуску — или `11` — пауза.

        Чтобы запустить кампанию, проверьте ее бюджет. Если бюджета недостаточно, [пополните
        его](/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget~1deposit/post).


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 сек | 5 запросов | 200 мс | 5 запросов |

        </div>
      tags:
        - Управление кампаниями
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1234
          required: true
      responses:
        "200":
          description: Успешно
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400Response"
              examples:
                IncorrectId:
                  $ref: "#/components/examples/IncorrectId"
                AdvertNotFound:
                  $ref: "#/components/examples/AdvertNotFound"
                LowBudget:
                  $ref: "#/components/examples/LowBudget"
        "401":
          $ref: "#/components/responses/401"
        "422":
          description: Статус не изменен
          content:
            text/plain:
              schema:
                type: string
              examples:
                StatusNoChangeAdv:
                  $ref: "#/components/examples/StatusNoChangeAdv"
        "429":
          $ref: "#/components/responses/429"
  /adv/v0/pause:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Пауза кампании
      description: >
        Метод ставит [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусе `9` —
        активна — на паузу.


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 сек | 5 запросов | 200 мс | 5 запросов |

        </div>
      tags:
        - Управление кампаниями
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1234
          required: true
      responses:
        "200":
          description: Успешно
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400Response"
              examples:
                IncorrectId:
                  $ref: "#/components/examples/IncorrectId"
                AdvertNotFound:
                  $ref: "#/components/examples/AdvertNotFound"
        "401":
          $ref: "#/components/responses/401"
        "422":
          description: Статус не изменен
          content:
            text/plain:
              schema:
                type: string
              examples:
                StatusNoChangeAdv:
                  $ref: "#/components/examples/StatusNoChangeAdv"
        "429":
          $ref: "#/components/responses/429"
  /adv/v0/stop:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Завершение кампании
      description: |
        Метод завершает [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусах:
          - `4` — готово к запуску
          - `9` — активна
          - `11` — пауза

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 5 запросов | 200 мс | 5 запросов |
        </div>
      tags:
        - Управление кампаниями
      parameters:
        - name: id
          in: query
          description: ID кампании
          schema:
            type: integer
            example: 1234
          required: true
      responses:
        "200":
          description: Успешно
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/400Response"
              examples:
                IncorrectId:
                  $ref: "#/components/examples/IncorrectId"
                AdvertNotFound:
                  $ref: "#/components/examples/AdvertNotFound"
        "401":
          $ref: "#/components/responses/401"
        "422":
          description: Статус не изменен
          content:
            text/plain:
              schema:
                type: string
              examples:
                StatusNoChangeAdv:
                  $ref: "#/components/examples/StatusNoChangeAdv"
        "429":
          $ref: "#/components/responses/429"
  /adv/v0/bids:
    servers:
      - url: https://advert-api.wildberries.ru
    patch:
      deprecated: true
      x-readonly-method: false
      x-category: advert
      summary: Изменение ставок
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=388)
      tags:
        - Управление кампаниями
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - bids
              properties:
                bids:
                  type: array
                  maxItems: 20
                  items:
                    $ref: "#/components/schemas/V0AdvertMultibid"
      responses:
        "204":
          description: Успешно
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    description: "Детали ошибки "
                  origin:
                    type: string
                    description: "ID внутреннего сервиса WB "
                  request_id:
                    type: string
                    description: Уникальный ID запроса
                  status:
                    type: integer
                    description: HTTP статус-код
                  title:
                    type: string
                    description: Заголовок ошибки
                  errors:
                    type: array
                    description: Детализация ошибки
                    items:
                      type: object
                      properties:
                        detail:
                          type: string
                          description: Детали ошибки
                        field:
                          type: string
                          description: Поле с ошибкой
                  type:
                    type: string
                    description: Тип ошибки
              examples:
                CampaignIsNotUnique:
                  $ref: "#/components/examples/CampaignIsNotUnique"
                CanNotDeserializeResponseBody:
                  $ref: "#/components/examples/CanNotDeserializeResponseBody"
                CampaignNotFound:
                  $ref: "#/components/examples/CampaignNotFoundBids"
                NmNotFound:
                  $ref: "#/components/examples/NmNotFound"
                WrongCampaignID:
                  $ref: "#/components/examples/WrongCampaignID"
                WrongCampaignStatus:
                  $ref: "#/components/examples/WrongCampaignStatus"
                WrongBidValue:
                  $ref: "#/components/examples/WrongBidValue"
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"
  /adv/v0/auction/placements:
    servers:
      - url: https://advert-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Изменение мест размещения в кампаниях с ручной ставкой
      description: |
        Метод меняет места размещения в кампаниях с ручной ставкой и моделью оплаты за показы — `cpm`.
        <br><br>
        Для кампаний в статусах `4`, `9` и `11`.

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 1 запрос |
        </div>
      tags:
        - Управление кампаниями
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - placements
              properties:
                placements:
                  description: Места размещения в кампаниях
                  type: array
                  maxItems: 50
                  items:
                    type: object
                    required:
                      - advert_id
                      - placements
                    properties:
                      advert_id:
                        description: ID кампании
                        type: integer
                        format: int64
                      placements:
                        description: Места размещения
                        type: object
                        required:
                          - search
                          - recommendations
                        properties:
                          search:
                            type: boolean
                            description: |
                              Размещение в поиске:
                                - `false` — отключено
                                - `true` — включено
                          recommendations:
                            description: |
                              Размещение в рекомендациях:
                                - `false` — отключено
                                - `true` — включено
                            type: boolean
            example:
              placements:
                - advert_id: 12345
                  placements:
                    search: true
                    recommendations: true
      responses:
        "204":
          description: Успешно
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response400"
              examples:
                BadRequest:
                  value:
                    detail: can not deserialize response body
                    origin: camp-api-public-cache
                    request_id: 9a929a81ea9dc1601fcc4be81f32c1cb
                    status: 400
                    title: invalid payload
                BadAdvertPaymentType:
                  value:
                    detail: advert 12345 has payment type cpc, placements cannot be changed
                    origin: camp-api-public-cache
                    request_id: e53addfabe9274d5b8f77272ca085ac4
                    status: 400
                    title: invalid payload
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"
  /adv/v0/auction/bids:
    servers:
      - url: https://advert-api.wildberries.ru
    patch:
      deprecated: true
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Изменение ставок в кампаниях
      description: |
        Данный метод устарел. Он будет удалён [2 февраля](https://dev.wildberries.ru/release-notes?id=388)
      tags:
        - Управление кампаниями
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - bids
              properties:
                bids:
                  description: Ставки в кампаниях
                  type: array
                  maxItems: 50
                  items:
                    type: object
                    required:
                      - advert_id
                      - nm_bids
                    properties:
                      advert_id:
                        description: ID кампании
                        type: integer
                        format: int64
                      nm_bids:
                        description: Ставки
                        type: array
                        maxItems: 50
                        items:
                          type: object
                          required:
                            - nm_id
                            - bid
                            - placement
                          properties:
                            nm_id:
                              type: integer
                              format: int64
                              description: Артикул WB
                            bid:
                              type: integer
                              format: int64
                              description: Ставка
                            placement:
                              type: string
                              enum:
                                - search
                                - recommendations
                                - combined
                              description: |
                                Место размещения:
                                  - `search` — в поиске (для кампаний с ручной ставкой)
                                  - `recommendations`— в рекомендациях (для кампаний с ручной ставкой)
                                  - `combined` — в поиске и рекомендациях (для кампаний с единой ставкой)
            example:
              bids:
                - advert_id: 12345
                  nm_bids:
                    - nm_id: 13335157
                      bid: 250
                      placement: recommendations
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                required:
                  - bids
                properties:
                  bids:
                    description: Ставки кампании
                    type: array
                    items:
                      type: object
                      required:
                        - advert_id
                        - nm_bids
                      properties:
                        advert_id:
                          description: ID кампании
                          type: integer
                          format: int64
                        nm_bids:
                          description: Ставки
                          type: array
                          items:
                            type: object
                            required:
                              - nm_id
                              - bid
                              - placement
                            properties:
                              nm_id:
                                type: integer
                                format: int64
                                description: Артикул WB
                              bid:
                                type: integer
                                format: int64
                                description: Ставка
                              placement:
                                type: string
                                description: |
                                  Место размещения:
                                    - `search` — в поиске
                                    - `recommendations`— в рекомендациях
              example:
                bids:
                  - advert_id: 12345
                    nm_bids:
                      - nm_id: 13335157
                        bid: 250
                        placement: recommendations
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response400"
              example:
                detail: "wrong bid value: 3; min: 150"
                origin: camp-api-public-cache
                request_id: 9a929a81ea9dc1601fcc4be81f32c1cb
                status: 400
                title: invalid payload
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"
  /api/advert/v1/bids:
    servers:
      - url: https://advert-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Изменение ставок в кампаниях
      description: |
        Метод меняет ставки карточек товаров по артикулам WB в кампаниях с единой или ручной ставкой.
        <br><br>
        Для кампаний в статусах `4`, `9` и `11`.
        <br><br>
        В запросе укажите место размещения в параметре `placement`:
          - `combined` — в поиске и рекомендациях для кампаний с единой ставкой
          - `search `или `recommendations` — в поиске или рекомендациях для кампаний с ручной ставкой

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 5 запросов | 200 мс | 5 запросов |
        </div>
      tags:
        - Управление кампаниями
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - bids
              properties:
                bids:
                  description: Ставки в кампаниях
                  type: array
                  maxItems: 50
                  items:
                    type: object
                    required:
                      - advert_id
                      - nm_bids
                    properties:
                      advert_id:
                        description: ID кампании
                        type: integer
                        format: int64
                      nm_bids:
                        description: Ставки, копейки
                        type: array
                        maxItems: 50
                        items:
                          type: object
                          required:
                            - nm_id
                            - bid_kopecks
                            - placement
                          properties:
                            nm_id:
                              type: integer
                              format: int64
                              description: Артикул WB
                            bid_kopecks:
                              type: integer
                              format: int64
                              description: Ставка, копейки
                            placement:
                              type: string
                              enum:
                                - search
                                - recommendations
                                - combined
                              description: |
                                Место размещения:
                                  - `search` — в поиске (для кампаний с ручной ставкой)
                                  - `recommendations`— в рекомендациях (для кампаний с ручной ставкой)
                                  - `combined` — в поиске и рекомендациях (для кампаний с единой ставкой)
            example:
              bids:
                - advert_id: 12345
                  nm_bids:
                    - nm_id: 13335157
                      bid_kopecks: 250
                      placement: recommendations
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                required:
                  - bids
                properties:
                  bids:
                    description: Результат отработки запроса
                    type: array
                    items:
                      type: object
                      required:
                        - advert_id
                        - nm_bids
                      properties:
                        advert_id:
                          description: ID кампании
                          type: integer
                          format: int64
                        nm_bids:
                          description: Ставки
                          type: array
                          items:
                            type: object
                            required:
                              - nm_id
                              - bid_kopecks
                              - placement
                            properties:
                              nm_id:
                                type: integer
                                format: int64
                                description: Артикул WB
                              bid_kopecks:
                                type: integer
                                format: int64
                                description: Ставка, копейки (например, 250 = 2.50 руб)
                              placement:
                                type: string
                                enum:
                                  - search
                                  - recommendations
                                description: |
                                  Место размещения:
                                    - `search` — в поиске
                                    - `recommendations`— в рекомендациях
              example:
                bids:
                  - advert_id: 12345
                    nm_bids:
                      - nm_id: 13335157
                        bid_kopecks: 250
                        placement: recommendations
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response400"
              example:
                detail: "wrong bid value: 3; min: 150"
                origin: camp-api-public-cache
                request_id: 9a929a81ea9dc1601fcc4be81f32c1cb
                status: 400
                title: invalid payload
        "401":
          $ref: "#/components/responses/401"
        "429":
          $ref: "#/components/responses/429"

# ==============================================================================
# IMPORTANT MIGRATION NOTES FOR SDK DEVELOPERS
# ==============================================================================
#
# CAMPAIGN STATUSES FOR BID OPERATIONS:
#   - 4: Готово к запуску (Ready to launch)
#   - 9: Активна (Active)
#   - 11: Пауза (Paused)
#
# PLACEMENT TYPES:
#   - "combined" - for campaigns with unified bidding (единая ставка)
#   - "search" / "recommendations" - for campaigns with manual bidding (ручная ставка)
#
# BID VALUES:
#   - v1 endpoint uses `bid_kopecks` (kopecks, NOT rubles!)
#   - Example: 250 kopecks = 2.50 rubles, 15000 kopecks = 150.00 rubles
#   - v0 endpoints (DEPRECATED) used `bid` field with unclear units
#
# REQUEST LIMITS:
#   - Max 50 campaigns per request
#   - Max 50 articles per campaign
#   - Total max: 2,500 article bids per request (50 x 50)
#
# RATE LIMITS:
#   - 5 requests per second
#   - 200ms interval between requests
#   - Burst limit: 5 requests
#
# DEPRECATED ENDPOINTS (will be removed February 2, 2025):
#   - PATCH /adv/v0/bids - old format with `nm` and `bid` fields
#   - PATCH /adv/v0/auction/bids - uses `bid` instead of `bid_kopecks`
#
# MIGRATION FROM v0 TO v1:
#   - Field `nm` → `nm_id`
#   - Field `bid` → `bid_kopecks`
#   - Field `placement` is now REQUIRED in v1
#   - Response changed from 204 No Content to 200 with body
#
# Use PATCH /api/advert/v1/bids for all new implementations
# ==============================================================================
