openapi: 3.0.1
info:
  title: 09-communications - Чат с покупателями
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://feedbacks-api.wildberries.ru
tags:
  - name: Чат с покупателями
    description: Чат с покупателями endpoints
paths:
  /api/v1/seller/chats:
    servers:
      - url: https://buyer-chat-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: buyerchat
      security:
        - HeaderApiKey: []
      summary: Список чатов
      description: |
        Метод возвращает список всех чатов продавца. По этим данным можно получить [события чатов](/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1events/get) или [отправить сообщение покупателю](/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1message/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 10 сек | 10 запросов | 1 сек | 10 запросов |
        </div>
      tags:
        - Чат с покупателями
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: ./_schemas.yaml#/ChatsResponse
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/seller/events:
    get:
      x-readonly-method: true
      x-category: buyerchat
      servers:
        - url: https://buyer-chat-api.wildberries.ru
      security:
        - HeaderApiKey: []
      summary: События чатов
      description: |
        Метод возвращает список событий всех [чатов с покупателями](/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1chats/get).

        Чтобы получить все события:
          1. Сделайте первый запрос без параметра `next`.
          2. Повторяйте запрос со значением параметра `next` из ответа на предыдущий запрос, пока `totalEvents` не станет равным `0`. Это будет означать, что вы получили все события.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 10 сек | 10 запросов | 1 сек | 10 запросов |
        </div>
      tags:
        - Чат с покупателями
      parameters:
        - name: next
          in: query
          description: |
            Пагинатор. С какого момента получить следующий пакет данных.<br>Формат Unix timestamp **с миллисекундами**
          schema:
            type: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: ./_schemas.yaml#/EventsResponse
              example:
                result:
                  next: 1698045576000
                  newestEventTime: '2023-10-23T07:19:36Z'
                  oldestEventTime: '2023-10-23T05:02:20Z'
                  totalEvents: 4
                  events:
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: 55adee45-11f0-33b6-a847-6ccc7c78b2ec
                      eventType: message
                      isNewChat: true
                      message:
                        attachments:
                          goodCard:
                            date: '2023-10-18T11:46:01.528526Z'
                            nmID: 12345678
                            price: 500
                            priceCurrency: RUB
                            rid: 2fb52cd9e25e52538a5f05994e688ae5
                            size: '0'
                            statusID: 11
                          files:
                            - contentType: application/pdf
                              date: '2023-10-23T08:02:19.594Z'
                              downloadID: ecaeb056-a4ee-45b4-ae45-666811755d38
                              name: Чек.pdf
                              url: https://chat-basket-01.wbbasket.ru/vol0/part3265/fb25c9e9-cae8-52db-b68e-736c1896a3f5/pdf/0380e781-281e-41b5-8ae1-ce281f15a4a7.pdf
                              size: 1046143
                          images:
                            - date: '2023-10-23T08:02:20.717Z'
                              downloadID: fd6be4e3-5447-41d7-a1e6-b2d3e06c3b05
                              url: https://chat-basket-01.wbbasket.ru/vol0/part2345/fb89c9e9-cae8-52db-b68e-736c1466a3f5/jpg/0823ff24-821e-40e9-8cdf-0a2b5fd86a32.jpg
                        text: Здравствуйте! У меня вопрос по товару "Альбом, бренд Эконом, артикул 13480414, товар получен 18.10.2023"
                      source: rusite
                      addTimestamp: 1698037340000
                      addTime: '2023-10-23T05:02:20Z'
                      replySign: 1:1e265a58-a120-b178-008c-60af2460207c:66f136e919a8207e136757754f253189bfb9ae1ad9da9170c9d5c478626663908888c370216525bef51c0ca8d77952e05c9c17f9b63ab00374c5555b42efc07d
                      sender: client
                      clientID: '186132'
                      clientName: Алёна
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: cef95d3c-0345-4dc9-b6df-4c8c57a176a9
                      eventType: message
                      message:
                        text: Здравствуйте! Пришёл не тот цвет. Можно вернуть и заказать другой товар?
                      source: rusite
                      addTimestamp: 1698037387000
                      addTime: '2023-10-23T05:03:07Z'
                      sender: client
                      clientID: '186132'
                      clientName: Алёна
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: fd22e5bf-64fd-43f7-b3a0-ad29uu027f97
                      eventType: message
                      message:
                        text: Здравствуйте. Да, сейчас оформим возврат.
                      source: seller-public-api
                      addTimestamp: 1698038124000
                      addTime: '2023-10-23T05:15:24Z'
                      sender: seller
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: cef95d3c-0345-4dc9-b6df-4c8c75a176a7
                      eventType: message
                      addTimestamp: 1698045576000
                      addTime: '2023-10-23T07:19:36Z'
                      sender: seller
                errors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP статус-код
                  title:
                    type: string
                    description: Заголовок ошибки
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  error:
                    type: string
                    description: Текст ошибки
              examples:
                IncorrectNextParameter:
                  description: Тип значения или его величина некорректны
                  value:
                    status: 400
                    title: Bad Request
                    origin: proxy-chats
                    detail: Invalid number
                    requestId: 62f59a4ce21064f20b1bbc28c85f38d8
                    error: Invalid number
                IncorrectNextParameter1:
                  description: Недопустимое значение 0
                  value:
                    status: 400
                    title: Bad Request
                    origin: proxy-chats
                    detail: Invalid value for "next"
                    requestId: 62f59a4ce21064f20b1bbc28c85f38d8
                    error: Invalid value for "next"
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/seller/message:
    post:
      x-readonly-method: false
      x-category: buyerchat
      servers:
        - url: https://buyer-chat-api.wildberries.ru
      security:
        - HeaderApiKey: []
      summary: Отправить сообщение
      description: |
        Метод отправляет сообщения в [чат с покупателем](/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1chats/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 10 сек | 10 запросов | 1 сек | 10 запросов |
        </div>
      tags:
        - Чат с покупателями
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - replySign
              type: object
              properties:
                replySign:
                  maxLength: 255
                  type: string
                  description: |
                    Подпись чата. Можно получить из [информации по чату](./user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1chats/get) или [данных события](./user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1events/get), если в событии есть поле `"isNewChat": true`.
                message:
                  maxLength: 1000
                  type: string
                  description: Текст сообщения. Максимум 1000 символов.
                file:
                  type: array
                  description: |
                    Файлы, формат JPEG, PDF или PNG, максимальный размер — 5 Мб каждый. Максимальный суммарный размер файлов — 30 Мб.
                  items:
                    type: string
                    format: binary
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: ./_schemas.yaml#/MessageResponse
              example:
                result:
                  addTime: 1712848270018
                  chatID: 1:641b623c-5c0e-295b-db03-3d5b4d484c32
                errors: []
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP статус-код
                  title:
                    type: string
                    description: Заголовок ошибки
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  error:
                    type: string
                    description: Текст ошибки
              examples:
                InvalidSignature:
                  description: Подпись некорректна
                  value:
                    status: 400
                    title: Bad Request
                    origin: proxy-chats
                    detail: Invalid signature
                    requestId: 1b21cad4833a0c9244dc294a000f6149
                    error: Invalid signature
                InvalidFileSize:
                  description: Размер файла превышает допустимый
                  value:
                    status: 400
                    title: Bad Request
                    origin: proxy-chats
                    detail: 'A24FA09844E: attachment too big. Max size: 5MiB'
                    requestId: 1b21cad4833a0c9244dc294a000f6149
                    error: 'A24FA09844E: attachment too big. Max size: 5MiB'
                UnsupportedFilesType:
                  description: Тип файла не поддерживается
                  value:
                    status: 400
                    title: Bad Request
                    origin: proxy-chats
                    detail: '4A9F2544E29: "video_2023-07-25_10-54-09.mp4" has unsupported mime type'
                    requestId: 1b21cad4833a0c9244dc294a000f6149
                    error: '4A9F2544E29: "video_2023-07-25_10-54-09.mp4" has unsupported mime type'
                InvalidMessage:
                  description: Значение параметра message некорректно
                  value:
                    status: 400
                    title: Bad Request
                    origin: proxy-chats
                    detail: Invalid value for "message"
                    requestId: 1b21cad4833a0c9244dc294a000f6149
                    error: Invalid value for "message"
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/seller/download/{id}:
    get:
      x-readonly-method: true
      x-category: buyerchat
      servers:
        - url: https://buyer-chat-api.wildberries.ru
      security:
        - HeaderApiKey: []
      tags:
        - Чат с покупателями
      summary: Получить файл из сообщения
      description: |
        Метод возвращает файл или изображение из сообщения по его ID.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 10 сек | 10 запросов | 1 сек | 10 запросов |
        </div>
      parameters:
        - name: id
          in: path
          description: ID файла, см. значение поля `downloadID` в методе [События чатов](./user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1events/get)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешно
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '202':
          description: Файл на модерации
          content:
            application/json:
              schema:
                type: object
                properties:
                  moderationState:
                    type: string
                    description: Статус модерации
                    example: pending
                  retrySeconds:
                    type: integer
                    description: Секунд до следующей попытки запроса файла
                    example: 30
                required:
                  - moderationState
                  - retrySeconds
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP статус-код
                  title:
                    type: string
                    description: Заголовок ошибки
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  error:
                    type: string
                    description: Текст ошибки
              examples:
                IncorrectNextParameter:
                  description: Недействительный ID файла
                  value:
                    status: 400
                    title: invalid fileID
                    origin: proxy-chats
                    detail: invalid fileID
                    requestId: 62f59a4ce21064f20b1bbc28c85f38d8
                    error: invalid fileID
        '451':
          description: Файл не прошёл модерацию
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP статус-код
                    example: 451
                  title:
                    type: string
                    description: Заголовок ошибки
                    example: Unavailable for Legal Reasons
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
                    example: proxy-chats
                  detail:
                    type: string
                    description: Детали ошибки
                    example: moderation error
                  requestId:
                    type: string
                    description: ID запроса
                    example: 62f59a4ce21064f20b1bbc28c85f38d8
components:
  responses:
    '401':
      description: Не авторизован
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: unauthorized
            detail: 'token problem; token is malformed: could not base64 decode signature: illegal base64 data at input byte 84'
            code: 07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: '2024-09-30T06:52:38Z'
    '429':
      description: Слишком много запросов
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: 07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: '2024-09-30T06:52:38Z'
