openapi: 3.0.1
info:
  title: 09-communications - Отзывы (Part 5/5)
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://feedbacks-api.wildberries.ru
tags:
  - name: Отзывы
    description: Отзывы endpoints
paths:
  /api/v1/feedback:
    get:
      security:
        - HeaderApiKey: []
      summary: Получить отзыв по ID
      description: |
        Метод возвращает данные [отзыва](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) по его ID.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Отзывы
      parameters:
        - name: id
          in: query
          required: true
          description: ID отзыва
          schema:
            type: string
            example: G7Y9Y1kBAtKOitoBT_lV
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID отзыва
                      userName:
                        type: string
                        description: Имя автора отзыва
                        nullable: false
                      pros:
                        type: string
                        description: Достоинства товара
                        nullable: false
                      cons:
                        type: string
                        description: Недостатки товара
                        nullable: false
                      matchingSize:
                        type: string
                        description: |
                          Соответствие заявленного размера реальному.
                          <br>Возможные значения:
                          - ` ` - для безразмерных товаров
                          - `ок` - соответствует размеру
                          - `smaller` - маломерит
                          - `bigger` - большемерит
                      text:
                        type: string
                        description: Текст отзыва
                      productValuation:
                        type: integer
                        description: Оценка товара
                      createdDate:
                        type: string
                        format: date-time
                        description: Дата и время создания отзыва
                      answer:
                        nullable: true
                        type: object
                        description: Структура ответа
                        properties:
                          text:
                            type: string
                            description: Текст ответа
                          state:
                            type: string
                            description: |
                              Статус:
                                - `none` — новый
                                - `wbRu`— отображается на сайте
                                - `reviewRequired` — ответ проходит проверку
                                - `rejected` — ответ отклонён
                          editable:
                            type: boolean
                            description: |
                              Можно ли отредактировать ответ:
                                - `false` — нет
                                - `true` — да
                      state:
                        type: string
                        description: |
                          Статус отзыва:
                            - `none` - не обработан (новый)
                            - `wbRu` - обработан
                      productDetails:
                        description: Product information
                        type: object
                        properties:
                          nmId:
                            type: integer
                            description: Артикул WB
                          imtId:
                            type: integer
                            description: ID карточки товара
                          productName:
                            type: string
                            description: Название товара
                          supplierArticle:
                            type: string
                            nullable: true
                            description: Артикул продавца
                          supplierName:
                            type: string
                            nullable: true
                            description: Имя продавца
                          brandName:
                            type: string
                            nullable: true
                            description: Бренд товара
                          size:
                            type: string
                            description: Размер товара (`techSize` в КТ)
                      photoLinks:
                        nullable: true
                        description: Массив структур фотографий
                        type: array
                        items:
                          type: object
                          properties:
                            fullSize:
                              type: string
                              description: Адрес фотографии полного размера
                            miniSize:
                              type: string
                              description: Адрес фотографии маленького размера
                      video:
                        nullable: true
                        description: Структура видео
                        type: object
                        properties:
                          previewImage:
                            type: string
                            description: Ссылка на обложку видео
                          link:
                            type: string
                            description: Ссылка на файл плейлиста видео (доступно по протоколу hls)
                          durationSec:
                            type: integer
                            description: Общая продолжительность видео
                      wasViewed:
                        type: boolean
                        description: Просмотрен ли отзыв
                      isAbleSupplierFeedbackValuation:
                        description: |
                          Доступна ли продавцу возможность оставить жалобу на отзыв:
                            - `true`— да
                            - `false` — нет
                        type: boolean
                      supplierFeedbackValuation:
                        description: |
                          Ключ причины жалобы на отзыв
                          <br>
                          Значения см. в примерах ответа метода получения <a href="./user-communication#tag/Otzyvy/paths/~1api~1v1~1supplier-valuations/get">списков причин жалоб и проблем с товаром</a>, поле `feedbackValuations`
                        type: integer
                      isAbleSupplierProductValuation:
                        description: Доступна ли продавцу возможность сообщить о проблеме с товаром  (`true` - доступна, `false` - не доступна)
                        type: boolean
                      supplierProductValuation:
                        description: |
                          Ключ проблемы с товаром
                          <br>
                          Значения см. в примерах ответах метода получения <a href="./user-communication#tag/Otzyvy/paths/~1api~1v1~1supplier-valuations/get">списков причин жалоб и проблем с товаром</a>, поле `supplierProductValuation`
                        type: integer
                      isAbleReturnProductOrders:
                        description: |
                          Опция возврата товара:
                            - `true` — доступна
                            - `false` — недоступна
                        type: boolean
                      returnProductOrdersDate:
                        nullable: true
                        description: Дата и время, когда на запрос возврата был получен ответ со статус-кодом 200.
                        type: string
                      bables:
                        nullable: true
                        description: Список тегов покупателя
                        type: array
                        items:
                          type: string
                      lastOrderShkId:
                        type: integer
                        description: Штрихкод единицы товара
                      lastOrderCreatedAt:
                        type: string
                        description: Дата покупки
                      color:
                        type: string
                        description: Цвет товара
                      subjectId:
                        type: integer
                        description: ID предмета
                      subjectName:
                        type: string
                        description: Название предмета
                      parentFeedbackId:
                        type: string
                        description: ID начального отзыва (`null`, если этот отзыв начальный)
                        nullable: true
                      childFeedbackId:
                        type: string
                        nullable: true
                        description: ID дополненного отзыва (`null`, если этот отзыв дополненный)
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  id: YX52RZEBhH9mrcYdEJuD
                  text: Спасибо, всё подошло
                  pros: Удобный
                  cons: Нет
                  productValuation: 5
                  createdDate: '2024-09-26T10:20:48+03:00'
                  answer:
                    text: Пожалуйста. Ждём вас снова!
                    state: wbRu
                    editable: false
                  state: wbRu
                  productDetails:
                    imtId: 123456789
                    nmId: 987654321
                    productName: ВАЗ
                    supplierArticle: DP02/черный
                    supplierName: ГП Реклама и услуги
                    brandName: Бест Трикотаж
                    size: '0'
                  video:
                    previewImage: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/preview.webp
                    link: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/index.m3u8
                    durationSec: 10
                  wasViewed: true
                  photoLinks:
                    - fullSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/fs.jpg
                      miniSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/ms.jpg
                    - fullSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/fs.jpg
                      miniSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/ms.jpg
                    - fullSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/fs.jpg
                      miniSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/ms.jpg
                  userName: Николай
                  matchingSize: ok
                  isAbleSupplierFeedbackValuation: false
                  supplierFeedbackValuation: 1
                  isAbleSupplierProductValuation: false
                  supplierProductValuation: 2
                  isAbleReturnProductOrders: false
                  returnProductOrdersDate: '2024-08-20T16:39:49Z'
                  bables:
                    - цена
                  lastOrderShkId: 123456789
                  lastOrderCreatedAt: '2024-08-12T10:20:48+03:00'
                  color: colorless
                  subjectId: 219
                  subjectName: Футболки-поло
                  parentFeedbackId: null
                  childFeedbackId: bIjTCZDvJni7NGnLbUlf
                error: false
                errorText: ''
                additionalErrors: null
        '401':
          $ref: '#/components/responses/401'
        '422':
          description: Ошибка обработки параметров запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                ResponseGetFeedbackByIdErrEx:
                  $ref: '#/components/examples/ResponseGetFeedbackByIdErrEx'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/archive:
    get:
      security:
        - HeaderApiKey: []
      summary: Список архивных отзывов
      description: |
        Метод возвращает список архивных [отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get).
        <br><br>
        Отзыв становится архивным, если:
          - на отзыв получен ответ
          - на отзыв не получен ответ в течение 30 дней
          - в отзыве нет текста и фото

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Отзывы
      parameters:
        - name: nmId
          in: query
          description: Артикул WB
          schema:
            type: integer
            example: 14917842
        - name: take
          in: query
          required: true
          description: Количество отзывов (max. 5 000)
          schema:
            type: integer
            example: 1
        - name: skip
          in: query
          required: true
          description: Количество отзывов для пропуска
          schema:
            type: integer
            example: 0
        - name: order
          in: query
          description: Сортировка отзывов по дате (dateAsc/dateDesc)
          schema:
            type: string
            enum:
              - dateAsc
              - dateDesc
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      feedbacks:
                        $ref: '#/components/schemas/responseFeedback'
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  feedbacks:
                    - id: YX52RZEBhH9mrcYdEJuD
                      text: Спасибо, всё подошло
                      pros: Удобный
                      cons: Нет
                      productValuation: 5
                      createdDate: '2024-09-26T10:20:48+03:00'
                      answer:
                        text: Пожалуйста. Ждём вас снова!
                        state: wbRu
                        editable: false
                      state: wbRu
                      productDetails:
                        imtId: 123456789
                        nmId: 987654321
                        productName: ВАЗ
                        supplierArticle: DP02/черный
                        supplierName: ГП Реклама и услуги
                        brandName: Бест Трикотаж
                        size: '0'
                      video:
                        previewImage: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/preview.webp
                        link: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/index.m3u8
                        durationSec: 10
                      wasViewed: true
                      photoLinks:
                        - fullSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/fs.jpg
                          miniSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/ms.jpg
                        - fullSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/fs.jpg
                          miniSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/ms.jpg
                        - fullSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/fs.jpg
                          miniSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/ms.jpg
                      userName: Николай
                      matchingSize: ok
                      isAbleSupplierFeedbackValuation: false
                      supplierFeedbackValuation: 1
                      isAbleSupplierProductValuation: false
                      supplierProductValuation: 2
                      isAbleReturnProductOrders: false
                      returnProductOrdersDate: '2024-08-20T16:39:49Z'
                      bables:
                        - цена
                      lastOrderShkId: 123456789
                      lastOrderCreatedAt: '2024-08-12T10:20:48+03:00'
                      color: colorless
                      subjectId: 219
                      subjectName: Футболки-поло
                      parentFeedbackId: null
                      childFeedbackId: bIjTCZDvJni7NGnLbUlf
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/FeedbackErr400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    responsefeedbackErr:
      type: object
      properties:
        data:
          type: object
          nullable: true
        error:
          description: Есть ли ошибка
          type: boolean
        errorText:
          description: Описание ошибки
          type: string
        additionalErrors:
          description: Дополнительные ошибки
          nullable: true
          type: array
          items:
            type: string
        requestId:
          description: ''
          type: string
    responseFeedback:
      description: Массив отзывов
      type: array
      items:
        type: object
        properties:
          id:
            type: string
            description: ID отзыва
          text:
            type: string
            description: Текст отзыва
            nullable: false
          pros:
            type: string
            description: Достоинства товара
            nullable: false
          cons:
            type: string
            description: Недостатки товара
            nullable: false
          productValuation:
            type: integer
            description: Оценка товара
          createdDate:
            type: string
            format: date-time
            description: Дата и время создания отзыва
          answer:
            nullable: true
            type: object
            description: Структура ответа
            properties:
              text:
                type: string
                description: Текст ответа
              state:
                type: string
                description: |
                  Статус:
                    - `none` — новый
                    - `wbRu` — отображается на сайте
                    - `reviewRequired` — ответ проходит проверку
                    - `rejected` — ответ отклонён
              editable:
                type: boolean
                description: |
                  Можно ли отредактировать ответ:
                    - `false` — нет
                    - `true` — да
          state:
            type: string
            description: |
              Статус отзыва:
                - `none` - не обработан (новый)
                - `wbRu` - обработан
          productDetails:
            description: Информация о товаре
            type: object
            properties:
              nmId:
                type: integer
                description: Артикул WB
              imtId:
                type: integer
                description: ID карточки товара
              productName:
                type: string
                description: Название товара
              supplierArticle:
                type: string
                nullable: true
                description: Артикул продавца
              supplierName:
                type: string
                nullable: true
                description: Имя продавца
              brandName:
                type: string
                nullable: true
                description: Бренд товара
              size:
                type: string
                description: Размер товара (`techSize` в КТ)
          photoLinks:
            nullable: true
            description: Массив структур фотографий
            type: array
            items:
              type: object
              properties:
                fullSize:
                  type: string
                  description: Адрес фотографии полного размера
                miniSize:
                  type: string
                  description: Адрес фотографии маленького размера
          video:
            nullable: true
            description: Структура видео
            type: object
            properties:
              previewImage:
                type: string
                description: Ссылка на обложку видео
              link:
                type: string
                description: Ссылка на файл плейлиста видео (доступно по протоколу HLS)
              durationSec:
                type: integer
                description: Общая продолжительность видео
          wasViewed:
            type: boolean
            description: Просмотрен ли отзыв
          userName:
            type: string
            description: Имя автора отзыва
          matchingSize:
            type: string
            description: |
              Соответствие заявленного размера реальному.
              <br>Возможные значения:
              - ` ` - для безразмерных товаров
              - `ок` - соответствует размеру
              - `smaller` - маломерит
              - `bigger` - большемерит
          isAbleSupplierFeedbackValuation:
            description: Доступна ли продавцу возможность оставить жалобу на отзыв (`true` - доступна, `false` - не доступна)
            type: boolean
          supplierFeedbackValuation:
            description: |
              Ключ причины жалобы на отзыв
              <br>
              (Значения см. в примерах ответа метода получения <a href="./user-communication#tag/Otzyvy/paths/~1api~1v1~1supplier-valuations/get"> списков причин жалоб и проблем с товаром</a>, поле `feedbackValuations` )
            type: integer
          isAbleSupplierProductValuation:
            description: |
              Доступна ли продавцу возможность сообщить о проблеме с товаром:
                - `true` — да
                - `false` — нет
            type: boolean
          supplierProductValuation:
            description: |
              Ключ проблемы с товаром
              <br>
              (Значения см. в примерах ответа метода получения [списков причин жалоб и проблем с товаром](./user-communication#tag/Otzyvy/paths/~1api~1v1~1supplier-valuations/get), поле `supplierProductValuation`)
            type: integer
          isAbleReturnProductOrders:
            description: |
              Опция возврата товара:
               - `true` — доступна
               - `false` — недоступна
            type: boolean
          returnProductOrdersDate:
            nullable: true
            description: Дата и время, когда на запрос возврата был получен ответ со статус-кодом 200.
            type: string
          bables:
            nullable: true
            description: Список тегов покупателя
            type: array
            items:
              type: string
          lastOrderShkId:
            type: integer
            description: Штрихкод единицы товара
          lastOrderCreatedAt:
            type: string
            description: Дата покупки
          color:
            type: string
            description: Цвет товара
          subjectId:
            type: integer
            description: ID предмета
          subjectName:
            type: string
            description: Название предмета
          parentFeedbackId:
            type: string
            description: ID начального отзыва (`null`, если этот отзыв начальный)
            nullable: true
          childFeedbackId:
            type: string
            nullable: true
            description: ID дополненного отзыва (`null`, если этот отзыв дополненный)
    standardizedFQError:
      type: object
      properties:
        title:
          type: string
          description: Заголовок ошибки
        requestId:
          type: string
          description: Уникальный ID запроса
        origin:
          type: string
          description: ID внутреннего сервиса WB
        detail:
          type: string
          description: Детали ошибки
