openapi: 3.0.1
info:
  title: 09-communications - Отзывы (Part 2/5)
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://feedbacks-api.wildberries.ru
tags:
  - name: Отзывы
    description: Отзывы endpoints
paths:
  /api/v1/feedbacks:
    get:
      security:
        - HeaderApiKey: []
      summary: Список отзывов
      description: |
        Метод возвращает список отзывов по заданным фильтрам. Вы можете:
          - получить данные обработанных и необработанных отзывов
          - сортировать отзывы по дате
          - настроить пагинацию и количество отзывов в ответе

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Отзывы
      parameters:
        - name: isAnswered
          in: query
          required: true
          description: |
            Обработан ли отзыв:
              - `true` — да, по умолчанию
              - `false` — нет
          schema:
            type: boolean
            example: false
        - name: nmId
          in: query
          description: Артикул WB
          schema:
            type: integer
            example: 5870243
        - name: take
          in: query
          required: true
          description: Количество отзывов (max. 5 000)
          schema:
            type: integer
            example: 1
        - name: skip
          in: query
          required: true
          description: Количество отзывов для пропуска (max. 199990)
          schema:
            type: integer
            example: 0
        - name: order
          in: query
          description: Сортировка отзывов по дате (dateAsc/dateDesc)
          schema:
            type: string
            enum:
              - dateAsc
              - dateDesc
        - name: dateFrom
          in: query
          description: Дата начала периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: dateTo
          in: query
          description: Дата конца периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      countUnanswered:
                        type: integer
                        description: Количество необработанных отзывов
                      countArchive:
                        type: integer
                        description: Количество обработанных отзывов
                      feedbacks:
                        $ref: '#/components/schemas/responseFeedback'
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  countUnanswered: 52
                  countArchive: 1000
                  feedbacks:
                    - id: YX52RZEBhH9mrcYdEJuD
                      text: Спасибо, всё подошло
                      pros: Удобный
                      cons: Нет
                      productValuation: 5
                      createdDate: '2024-09-26T10:20:48+03:00'
                      answer:
                        text: Пожалуйста. Ждём вас снова!
                        state: wbRu
                        editable: false
                      state: wbRu
                      productDetails:
                        imtId: 123456789
                        nmId: 987654321
                        productName: ВАЗ
                        supplierArticle: DP02/черный
                        supplierName: ГП Реклама и услуги
                        brandName: Бест Трикотаж
                        size: '0'
                      video:
                        previewImage: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/preview.webp
                        link: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/index.m3u8
                        durationSec: 10
                      wasViewed: true
                      photoLinks:
                        - fullSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/fs.jpg
                          miniSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/ms.jpg
                        - fullSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/fs.jpg
                          miniSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/ms.jpg
                        - fullSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/fs.jpg
                          miniSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/ms.jpg
                      userName: Николай
                      matchingSize: ok
                      isAbleSupplierFeedbackValuation: false
                      supplierFeedbackValuation: 1
                      isAbleSupplierProductValuation: false
                      supplierProductValuation: 2
                      isAbleReturnProductOrders: false
                      returnProductOrdersDate: '2024-08-20T16:39:49Z'
                      bables:
                        - цена
                      lastOrderShkId: 123456789
                      lastOrderCreatedAt: '2024-08-12T10:20:48+03:00'
                      color: colorless
                      subjectId: 219
                      subjectName: Футболки-поло
                      parentFeedbackId: null
                      childFeedbackId: bIjTCZDvJni7NGnLbUlf
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/FeedbackErr400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/supplier-valuations:
    get:
      security:
        - HeaderApiKey: []
      summary: Получить списки причин жалоб на отзыв и проблем с товаром
      description: |
        Метод возвращает списки причин [жалоб на отзыв и проблем с товаром](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks~1actions/post).
        <br>
        <br>
        <div class="description_important">

        Списки причин жалоб на <a href='https://seller.wildberries.ru/feedbacks/feedbacks-tab/not-answered'>портале продавцов</a> и в API различаются. При этом подать жалобу по API по причине с портала продавца невозможно.
        <br>
        </div>

        Если жалоба подана через портал продавцов (например, `13` — Спам-реклама в тексте), в ответах методов получения [отзыва по ID](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedback/get), [списка отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) и [списка архивных отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks~1archive/get) будет отображаться причина, указанная на портале (`13` — Спам-реклама в тексте).
        Если жалоба подана по API (например, с причиной `3` — Спам), в ответах тех же методов будет отображаться причина, переданная по API, а на портале продавцов отобразится соответствующая причина из списка портала (`13` — Спам-реклама в тексте).


        Сопоставление причин жалоб в API и на портале продавцов:

        | Причины в API  | Причины на портале продавцов | Описание |
        |---|---|---|
        | `1` | `11` | Отзыв не относится к товару |
        | `2` | `12` | Отзыв оставили конкуренты |
        | `3` | `13` | • **API** — Спам <br> • **Портал продавцов** — Спам-реклама в тексте |
        | `4` | `15` | • **API** — Нецензурное содержимое в фото<br>• **Портал продавцов** — Нецензурное содержимое в фото или видео |
        | `5` | `16` | Нецензурная лексика |
        | `6` | `17` | • **API** — Фото не имеет отношения к товару <br> • **Портал продавцов** — Фото или видео не имеет отношения к товару |
        | `7` | `18` | Отзыв с политическим контекстом |
        |Нет аналога в API  | `14` | Спам-реклама на фото или видео |
        |Нет аналога в API  | `19` | Другое |
        |Нет аналога в API  | `20` | Угрозы, оскорбления |

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Отзывы
      parameters:
        - name: X-Locale
          in: header
          schema:
            type: string
            example: ru
          description: Выбор языка значений полей ответа (`ru` - русский, `en` - английский, `zh` - китайский)
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Данные
                    type: object
                    properties:
                      feedbackValuations:
                        description: Причины жалоб. Подробнее в примерах ответа
                        type: object
                        properties:
                          '1':
                            type: string
                          '2':
                            type: string
                          '3':
                            type: string
                          '4':
                            type: string
                          '5':
                            type: string
                          '6':
                            type: string
                          '7':
                            type: string
                          '11':
                            type: string
                          '12':
                            type: string
                          '13':
                            type: string
                          '14':
                            type: string
                          '15':
                            type: string
                          '16':
                            type: string
                          '17':
                            type: string
                          '18':
                            type: string
                          '19':
                            type: string
                          '20':
                            type: string
                      productValuations:
                        description: Проблемы с товаром. Подробнее в примерах ответа
                        type: object
                        properties:
                          '1':
                            type: string
                          '2':
                            type: string
                          '3':
                            type: string
                          '4':
                            type: string
                  error:
                    type: boolean
                    description: Есть ли ошибка
                  errorText:
                    type: string
                    description: Описание ошибки
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  feedbackValuations:
                    '1': Отзыв не относится к товару
                    '2': Отзыв оставили конкуренты
                    '3': Спам
                    '4': Нецензурное содержимое в фото
                    '5': Нецензурная лексика
                    '6': Фото не имеет отношения к товару
                    '7': Отзыв с политическим контекстом
                    '11': Отзыв не относится к товару
                    '12': Отзыв оставили конкуренты
                    '13': Спам-реклама в тексте
                    '14': Спам-реклама на фото или видео
                    '15': Нецензурное содержимое в фото или видео
                    '16': Нецензурная лексика
                    '17': Фото или видео не имеет отношения к товару
                    '18': Отзыв с политическим контекстом
                    '19': Другое
                    '20': Угрозы, оскорбления
                  productValuations:
                    '1': Повредили при доставке
                    '2': Товар подменили
                    '3': Случайно отправил не тот товар и хочу его вернуть
                    '4': Товар вернули после эксплуатации
                error: false
                errorText: ''
                additionalErrors: null
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    responsefeedbackErr:
      type: object
      properties:
        data:
          type: object
          nullable: true
        error:
          description: Есть ли ошибка
          type: boolean
        errorText:
          description: Описание ошибки
          type: string
        additionalErrors:
          description: Дополнительные ошибки
          nullable: true
          type: array
          items:
            type: string
        requestId:
          description: ''
          type: string
    responseFeedback:
      description: Массив отзывов
      type: array
      items:
        type: object
        properties:
          id:
            type: string
            description: ID отзыва
          text:
            type: string
            description: Текст отзыва
            nullable: false
          pros:
            type: string
            description: Достоинства товара
            nullable: false
          cons:
            type: string
            description: Недостатки товара
            nullable: false
          productValuation:
            type: integer
            description: Оценка товара
          createdDate:
            type: string
            format: date-time
            description: Дата и время создания отзыва
          answer:
            nullable: true
            type: object
            description: Структура ответа
            properties:
              text:
                type: string
                description: Текст ответа
              state:
                type: string
                description: |
                  Статус:
                    - `none` — новый
                    - `wbRu` — отображается на сайте
                    - `reviewRequired` — ответ проходит проверку
                    - `rejected` — ответ отклонён
              editable:
                type: boolean
                description: |
                  Можно ли отредактировать ответ:
                    - `false` — нет
                    - `true` — да
          state:
            type: string
            description: |
              Статус отзыва:
                - `none` - не обработан (новый)
                - `wbRu` - обработан
          productDetails:
            description: Информация о товаре
            type: object
            properties:
              nmId:
                type: integer
                description: Артикул WB
              imtId:
                type: integer
                description: ID карточки товара
              productName:
                type: string
                description: Название товара
              supplierArticle:
                type: string
                nullable: true
                description: Артикул продавца
              supplierName:
                type: string
                nullable: true
                description: Имя продавца
              brandName:
                type: string
                nullable: true
                description: Бренд товара
              size:
                type: string
                description: Размер товара (`techSize` в КТ)
          photoLinks:
            nullable: true
            description: Массив структур фотографий
            type: array
            items:
              type: object
              properties:
                fullSize:
                  type: string
                  description: Адрес фотографии полного размера
                miniSize:
                  type: string
                  description: Адрес фотографии маленького размера
          video:
            nullable: true
            description: Структура видео
            type: object
            properties:
              previewImage:
                type: string
                description: Ссылка на обложку видео
              link:
                type: string
                description: Ссылка на файл плейлиста видео (доступно по протоколу HLS)
              durationSec:
                type: integer
                description: Общая продолжительность видео
          wasViewed:
            type: boolean
            description: Просмотрен ли отзыв
          userName:
            type: string
            description: Имя автора отзыва
          matchingSize:
            type: string
            description: |
              Соответствие заявленного размера реальному.
              <br>Возможные значения:
              - ` ` - для безразмерных товаров
              - `ок` - соответствует размеру
              - `smaller` - маломерит
              - `bigger` - большемерит
          isAbleSupplierFeedbackValuation:
            description: Доступна ли продавцу возможность оставить жалобу на отзыв (`true` - доступна, `false` - не доступна)
            type: boolean
          supplierFeedbackValuation:
            description: |
              Ключ причины жалобы на отзыв
              <br>
              (Значения см. в примерах ответа метода получения <a href="./user-communication#tag/Otzyvy/paths/~1api~1v1~1supplier-valuations/get"> списков причин жалоб и проблем с товаром</a>, поле `feedbackValuations` )
            type: integer
          isAbleSupplierProductValuation:
            description: |
              Доступна ли продавцу возможность сообщить о проблеме с товаром:
                - `true` — да
                - `false` — нет
            type: boolean
          supplierProductValuation:
            description: |
              Ключ проблемы с товаром
              <br>
              (Значения см. в примерах ответа метода получения [списков причин жалоб и проблем с товаром](./user-communication#tag/Otzyvy/paths/~1api~1v1~1supplier-valuations/get), поле `supplierProductValuation`)
            type: integer
          isAbleReturnProductOrders:
            description: |
              Опция возврата товара:
               - `true` — доступна
               - `false` — недоступна
            type: boolean
          returnProductOrdersDate:
            nullable: true
            description: Дата и время, когда на запрос возврата был получен ответ со статус-кодом 200.
            type: string
          bables:
            nullable: true
            description: Список тегов покупателя
            type: array
            items:
              type: string
          lastOrderShkId:
            type: integer
            description: Штрихкод единицы товара
          lastOrderCreatedAt:
            type: string
            description: Дата покупки
          color:
            type: string
            description: Цвет товара
          subjectId:
            type: integer
            description: ID предмета
          subjectName:
            type: string
            description: Название предмета
          parentFeedbackId:
            type: string
            description: ID начального отзыва (`null`, если этот отзыв начальный)
            nullable: true
          childFeedbackId:
            type: string
            nullable: true
            description: ID дополненного отзыва (`null`, если этот отзыв дополненный)
    standardizedFQError:
      type: object
      properties:
        title:
          type: string
          description: Заголовок ошибки
        requestId:
          type: string
          description: Уникальный ID запроса
        origin:
          type: string
          description: ID внутреннего сервиса WB
        detail:
          type: string
          description: Детали ошибки
