openapi: 3.0.1
info:
  title: 09-communications - Отзывы (Part 1/5)
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://feedbacks-api.wildberries.ru
tags:
  - name: Отзывы
    description: Отзывы endpoints
paths:
  /api/v1/feedbacks/count-unanswered:
    get:
      security:
        - HeaderApiKey: []
      summary: Необработанные отзывы
      description: |
        Метод возвращает:
          - количество необработанных [отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) за сегодня и за всё время
          - среднюю оценку всех отзывов

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Отзывы
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      countUnanswered:
                        type: integer
                        description: Количество необработанных отзывов
                        example: 1
                      countUnansweredToday:
                        type: integer
                        description: Количество необработанных отзывов за сегодня
                        example: 0
                      valuation:
                        type: string
                        description: Средняя оценка всех отзывов
                        example: '4.7'
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/count:
    get:
      security:
        - HeaderApiKey: []
      summary: Количество отзывов
      description: |
        Метод возвращает количество обработанных или необработанных [отзывов](/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get) за заданный период.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Вопросы и отзывы</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 секунда | 3 запроса | 333 миллисекунды | 6 запросов |

        </div>
      tags:
        - Отзывы
      parameters:
        - name: dateFrom
          in: query
          description: Дата начала периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: dateTo
          in: query
          description: Дата конца периода в формате Unix timestamp
          schema:
            type: integer
            example: 1688465092
        - name: isAnswered
          in: query
          description: |
            Обработан ли отзыв:
              - `true` — да, по умолчанию
              - `false` — нет
          schema:
            type: boolean
            example: false
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: integer
                    description: Количество отзывов
                    example: 724583
                  error:
                    type: boolean
                    description: Есть ли ошибка
                    example: false
                  errorText:
                    type: string
                    description: Описание ошибки
                    example: ''
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                IsAnsweredErr400:
                  $ref: '#/components/examples/IsAnsweredErr400'
                DateFromErr400:
                  $ref: '#/components/examples/DateFromErr400'
                DateToErr400:
                  $ref: '#/components/examples/DateToErr400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    responsefeedbackErr:
      type: object
      properties:
        data:
          type: object
          nullable: true
        error:
          description: Есть ли ошибка
          type: boolean
        errorText:
          description: Описание ошибки
          type: string
        additionalErrors:
          description: Дополнительные ошибки
          nullable: true
          type: array
          items:
            type: string
        requestId:
          description: ''
          type: string
    responseFeedback:
      description: Массив отзывов
      type: array
      items:
        type: object
        properties:
          id:
            type: string
            description: ID отзыва
          text:
            type: string
            description: Текст отзыва
            nullable: false
          pros:
            type: string
            description: Достоинства товара
            nullable: false
          cons:
            type: string
            description: Недостатки товара
            nullable: false
          productValuation:
            type: integer
            description: Оценка товара
          createdDate:
            type: string
            format: date-time
            description: Дата и время создания отзыва
          answer:
            nullable: true
            type: object
            description: Структура ответа
            properties:
              text:
                type: string
                description: Текст ответа
              state:
                type: string
                description: |
                  Статус:
                    - `none` — новый
                    - `wbRu` — отображается на сайте
                    - `reviewRequired` — ответ проходит проверку
                    - `rejected` — ответ отклонён
              editable:
                type: boolean
                description: |
                  Можно ли отредактировать ответ:
                    - `false` — нет
                    - `true` — да
          state:
            type: string
            description: |
              Статус отзыва:
                - `none` - не обработан (новый)
                - `wbRu` - обработан
          productDetails:
            description: Информация о товаре
            type: object
            properties:
              nmId:
                type: integer
                description: Артикул WB
              imtId:
                type: integer
                description: ID карточки товара
              productName:
                type: string
                description: Название товара
              supplierArticle:
                type: string
                nullable: true
                description: Артикул продавца
              supplierName:
                type: string
                nullable: true
                description: Имя продавца
              brandName:
                type: string
                nullable: true
                description: Бренд товара
              size:
                type: string
                description: Размер товара (`techSize` в КТ)
          photoLinks:
            nullable: true
            description: Массив структур фотографий
            type: array
            items:
              type: object
              properties:
                fullSize:
                  type: string
                  description: Адрес фотографии полного размера
                miniSize:
                  type: string
                  description: Адрес фотографии маленького размера
          video:
            nullable: true
            description: Структура видео
            type: object
            properties:
              previewImage:
                type: string
                description: Ссылка на обложку видео
              link:
                type: string
                description: Ссылка на файл плейлиста видео (доступно по протоколу HLS)
              durationSec:
                type: integer
                description: Общая продолжительность видео
          wasViewed:
            type: boolean
            description: Просмотрен ли отзыв
          userName:
            type: string
            description: Имя автора отзыва
          matchingSize:
            type: string
            description: |
              Соответствие заявленного размера реальному.
              <br>Возможные значения:
              - ` ` - для безразмерных товаров
              - `ок` - соответствует размеру
              - `smaller` - маломерит
              - `bigger` - большемерит
          isAbleSupplierFeedbackValuation:
            description: Доступна ли продавцу возможность оставить жалобу на отзыв (`true` - доступна, `false` - не доступна)
            type: boolean
          supplierFeedbackValuation:
            description: |
              Ключ причины жалобы на отзыв
              <br>
              (Значения см. в примерах ответа метода получения <a href="./user-communication#tag/Otzyvy/paths/~1api~1v1~1supplier-valuations/get"> списков причин жалоб и проблем с товаром</a>, поле `feedbackValuations` )
            type: integer
          isAbleSupplierProductValuation:
            description: |
              Доступна ли продавцу возможность сообщить о проблеме с товаром:
                - `true` — да
                - `false` — нет
            type: boolean
          supplierProductValuation:
            description: |
              Ключ проблемы с товаром
              <br>
              (Значения см. в примерах ответа метода получения [списков причин жалоб и проблем с товаром](./user-communication#tag/Otzyvy/paths/~1api~1v1~1supplier-valuations/get), поле `supplierProductValuation`)
            type: integer
          isAbleReturnProductOrders:
            description: |
              Опция возврата товара:
               - `true` — доступна
               - `false` — недоступна
            type: boolean
          returnProductOrdersDate:
            nullable: true
            description: Дата и время, когда на запрос возврата был получен ответ со статус-кодом 200.
            type: string
          bables:
            nullable: true
            description: Список тегов покупателя
            type: array
            items:
              type: string
          lastOrderShkId:
            type: integer
            description: Штрихкод единицы товара
          lastOrderCreatedAt:
            type: string
            description: Дата покупки
          color:
            type: string
            description: Цвет товара
          subjectId:
            type: integer
            description: ID предмета
          subjectName:
            type: string
            description: Название предмета
          parentFeedbackId:
            type: string
            description: ID начального отзыва (`null`, если этот отзыв начальный)
            nullable: true
          childFeedbackId:
            type: string
            nullable: true
            description: ID дополненного отзыва (`null`, если этот отзыв дополненный)
    standardizedFQError:
      type: object
      properties:
        title:
          type: string
          description: Заголовок ошибки
        requestId:
          type: string
          description: Уникальный ID запроса
        origin:
          type: string
          description: ID внутреннего сервиса WB
        detail:
          type: string
          description: Детали ошибки
