openapi: 3.0.1
info:
  title: 11-analytics - Аналитика продавца CSV (Part 2/2) (Endpoint 2/2)
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://seller-analytics-api.wildberries.ru
tags:
  - name: Аналитика продавца CSV
    description: Аналитика продавца CSV endpoints
paths:
  /api/v2/nm-report/downloads/file/{downloadId}:
    get:
      tags:
        - Аналитика продавца CSV
      security:
        - HeaderApiKey: []
      summary: Получить отчёт
      description: |
        Метод возвращает отчёт с расширенной аналитикой продавца по ID [задания на генерацию](/openapi/analytics#tag/Analitika-prodavca-CSV/paths/~1api~1v2~1nm-report~1downloads/post).
        <br><br>
        Можно получить отчёт, который сгенерирован за последние 48 часов.<br>Отчёт будет загружен внутри архива ZIP в формате CSV.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 3 запроса | 20 секунд | 3 запроса |
        </div>
      parameters:
        - in: path
          name: downloadId
          description: ID отчёта
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Успешно
          content:
            application/zip:
              schema:
                type: string
                format: binary
                description: "Описание полей в файле CSV:\n<br>\n<br>\n**Воронка продаж**\n\n| Имя | Тип | Формат | Описание |\n|-----------------| --- | --- | --- |\n| nmID (только для `DETAIL_HISTORY_REPORT`) | integer | int32 | Артикул WB |\n| dt | string | date | Дата |\n| openCardCount | integer | int32 | Переходы в карточку товара |\n| addToCartCount | integer | int32 | Положили в корзину, шт. |\n| ordersCount | integer | int32 | Заказали товаров, шт. |\n| ordersSumRub | integer | int32 | Заказали на сумму, ₽ |\n| buyoutsCount | integer | int32 | Выкупили товаров, шт. |\n| buyoutsSumRub | integer | int32 | Выкупили на сумму, ₽ |\n| cancelCount | integer | int32 | Отменили товаров, шт. |\n| cancelSumRub | integer | int32 | Отменили на сумму, ₽ |\n| addToCartConversion | number | int32 | Конверсия в корзину, % (Какой процент посетителей, открывших карточку товара, добавили товар в корзину) |\n| cartToOrderConversion | integer | int32 | Конверсия в заказ, % (Какой процент посетителей, добавивших товар в корзину, сделали заказ) |\n| buyoutPercent | integer | int32 | Процент выкупа, % (Какой процент посетителей, заказавших товар, его выкупили. Без учёта товаров, которые еще доставляются покупателю) |\n\n\n**Отчёт по параметрам поиска. По предметам, брендам и ярлыкам**\n\n| Имя | Поле | Формат | Описание |\n|-----------------| --- | --- | --- |\n| SubjectName |\tstring | string | Название предмета |\n| SubjectID | integer | int32 | ID предмета |\n| BrandName | string | string  | Бренд |\n| TagID | integer | int64 | ID ярлыка |\n| AveragePosition | integer | uint64 | Средняя позиция в поиске в текущий период |\n| OpenCard | integer | uint64 | Количество переходов в карточку товара из поиска в текущий период |\n| AddToCart | integer | uint64 | Количество добавлений товара в корзину из поиска в текущий период |\n| OpenToCart | integer | uint64 |\tКонверсия в корзину из поиска в текущий период |\n| Orders | integer | uint64 | Заказали товар из поиска в текущий период |\n| CartToOrder | integer | uint64 | Конверсия в заказ из поиска в текущий период |\n| Visibility | integer | uint64 | Видимость товара в поиске в текущий период. Процент вероятности, что пользователь увидит карточку товара. Зависит от средней позиции |\n| AveragePositionPast | integer | uint64 | Средняя позиция в поиске в предыдущий период (заполняется, если указан прошлый период) |\n| OpenCardPast | integer | uint64 | Количество переходов в карточку товара из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| AddToCartPast | integer | uint64 | Количество добавлений товара в корзину из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| OpenToCartPast | integer | uint64 | Конверсия в корзину из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| OrdersPast | integer | uint64 | Заказали товар из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| CartToOrderPast | integer | uint64 | Конверсия в заказ из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| VisibilityPast | integer | uint64 | Видимость товара в поиске в предыдущий период. Процент вероятности, что пользователь увидит карточку товара. Зависит от средней позиции (заполняется, если указан прошлый период), % |\n\n\n**Отчёт по параметрам поиска. По артикулам WB**\n\n| Имя | Поле | Формат | Описание |\n|-----------------| --- | --- | --- |\n| NmID | integer | int64 | Артикул WB |\n| VendorCode | string | string | Артикул продавца |\n| Name | string\t| string | Название товара |\n| SubjectName | string\t| string | Название предмета |\n| BrandName | string | string  | Бренд |\n| IsAdvertised | boolean | bool\t| Рекламируется ли товар |\n| IsRated | boolean | bool | Есть ли возможность оценить качество карточки товара |\n| Rating | float | float64 | Рейтинг карточки товара |\n| FeedbackRating | float | float64 | Рейтинг по отзывам |\n| MinPrice | integer | uint64 | Минимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба |\n| MaxPrice | integer | uint64 | Максимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба) |\n| AveragePosition | integer | uint64 | Средняя позиция товара в поиске в текущий период |\n| OpenCard | integer | uint64 | Количество переходов в карточку товара из поиска в текущий период |\n| AddToCart | integer | uint64 | Количество добавлений товара в корзину из поиска в текущий период |\n| OpenToCart | integer | uint64 | Конверсия в корзину из поиска в текущий период |\n| Orders | integer | uint64 | Заказали товар из поиска в текущий период |\n| CartToOrder | integer | uint64 | Конверсия в заказ из поиска в текущий период |\n| Visibility | integer | uint64 | Видимость товара в поиске в текущий период. Процент вероятности, что пользователь увидит карточку товара. Зависит от средней позиции |\n| AveragePositionPast | integer | uint64 | Средняя позиция товара в поиске в предыдущий период (заполняется, если указан прошлый период) |\n| OpenCardPast | integer | uint64 | Количество переходов в карточку товара из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| AddToCartPast | integer | uint64 | Количество добавлений товара в корзину из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| OpenToCartPast | integer | uint64 | Конверсия в корзину из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| OrdersPast | integer | uint64 | Заказали товар из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| CartToOrderPast | integer | uint64 | Конверсия в заказ из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| VisibilityPast | integer | uint64 | Видимость товара в поиске в предыдущий период. Процент вероятности, что пользователь увидит карточку товара. Зависит от средней позиции (заполняется, если указан прошлый период), % |\n| IsSubstitutedSKU | boolean | bool | Искали ли товар по подменному артикулу. Будет в ответе при наличии в запросе `includeSubstitutedSKUs` и/или `includeSearchTexts` |\n\n\n**Отчёт по текстам поисковых запросов**\n\n| Имя | Поле | Формат | Описание |\n|-----------------| --- | --- | --- |\n| Text | string\t| string | Текст поискового запроса |\n| NmID | integer | int64 | Артикул WB |\n| SubjectName | string\t| string | Название предмета |\n| BrandName | string | string  | Бренд |\n| VendorCode | string | string | Артикул продавца |\n| Name | string\t| string | Название товара |\n| Rating | float | float64 | Рейтинг карточки товара. Если рейтинг отсутствует, то значение будет `no rating` |\n| FeedbackRating | float | float64 | Рейтинг по отзывам |\n| MinPrice | integer | uint64 | Минимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба) |\n| MaxPrice | integer | uint64 | Максимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба) |\n| Frequency | integer | uint64 | Количество обращений с поисковым запросом в текущий период |\n| MedianPosition | float | float64 | Медианная позиция товара в поиске в текущий период. Учитываются только те позиции, из которых пользователи добавляли товар в корзину или переходили в его карточку. Серединное значение позиции в поисковой выдаче, которое исключает сильные отклонения данных от среднего значения |\n| AveragePosition | integer | uint64 | Средняя позиция товара в поиске в текущий период. Учитываются только те позиции, из которых пользователи добавляли товар в корзину или переходили в его карточку |\n| OpenCard | integer | uint64 | Количество открытий карточки товара из поисковой выдачи в текущий период |\n| OpenCardPercentile | float | float64 | Процент, на который показатель количества открытий карточки товара выше, чем у карточек конкурентов по поисковому запросу |\n| AddToCart | integer | uint64 | Количество добавлений товара в корзину из поисковой выдачи в текущий период |\n| AddToCartPercentile | float | float64 | Процент, на который показатель добавлений в корзину выше, чем у карточек конкурентов по поисковому запросу |\n| OpenToCart | integer | uint64 | Конверсия в корзину из поиска в текущий период, % |\n| OpenToCartPercentile\t| float\t| float64\t| Процент, на который показатель конверсии в корзину выше, чем у карточек конкурентов по поисковому запросу |\n| Orders | integer | uint64 | Заказали товар из поиска в текущий период |\n| OrdersPercentile | float | float64 | Процент, на который показатель заказов выше, чем у карточек конкурентов по поисковому запросу |\n| CartToOrder | integer | uint64 | Конверсия в заказ из поиска в текущий период, % |\n| CartToOrderPercentile | float | float64 | Процент, на который показатель конверсии в заказ выше, чем у карточек конкурентов по поисковому запросу |\n| Visibility | integer | uint64 | Видимость товара в поиске в текущий период. Процент вероятности, что пользователь увидит карточку товара. Зависит от средней позиции |\n| FrequencyPast | integer | uint64 | Количество обращений с поисковым запросом за предыдущий период (заполняется, если указан прошлый период) |\n| MedianPositionPast | float | float64 | Медианная позиция товара в поиске за предыдущий период (заполняется, если указан прошлый период) |\n| AveragePositionPast | integer | uint64 | Средняя позиция товара в поиске в предыдущий период (заполняется, если указан прошлый период) |\n| OpenCardPast | integer | uint64 | Количество открытий карточки товара из поисковой выдачи в предыдущий период (заполняется, если указан прошлый период) |\n| AddToCartPast | integer | uint64 | Количество добавлений товара в корзину в предыдущий период (заполняется, если указан прошлый период) |\n| OpenToCartPast | integer | uint64 | Конверсия в корзину из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| OrdersPast | integer | uint64 | Заказали товар из поиска в предыдущий период (заполняется, если указан прошлый период) |\n| CartToOrderPast | integer | uint64 | Конверсия в заказ из поиска в предыдущий период (заполняется, если указан прошлый период), % |\n| VisibilityPast | integer | uint64 | Видимость товара в поиске в предыдущий период. Процент вероятности, что пользователь увидит карточку товара. Зависит от средней позиции (заполняется, если указан прошлый период), % |\n\n\n**Отчёт по истории остатков**\n\n| Имя | Поле | Формат | Описание |\n|-----------------| --- | --- | --- |\n| VendorCode | string | string | Артикул продавца |\n| Name | string\t| string | Название товара |\n| NmID | integer | int64 | Артикул WB |\n| SubjectName | string\t| string | Название предмета |\n| BrandName | string | string  | Бренд |\n| SizeName | string\t| string | Название размера |\n| RegionName | string\t| string | Регион отгрузки |\n| OfficeName | string\t| string | Название склада |\n| Availability | string\t| enum | Доступность товара |\n| OrdersCount | integer\t| uint64 | Заказы, шт. |\n| OrdersSum | integer\t| uint64 | Заказы, сумма |\n| BuyoutCount | integer\t| uint64 | Выкупы, шт. |\n| BuyoutSum | integer\t| uint64 | Выкупы, сумма |\n| BuyoutPercent | integer\t| uint32 | Процент выкупа |\n| AvgOrders | number\t| float64 | Среднее количество заказов в день |\n| StockCount | integer\t| uint64 | Остатки на текущий день, шт. |\n| StockSum | integer\t| uint64 | Стоимость остатков на текущий день |\n| SaleRate | integer\t| int32 | Оборачиваемость текущих остатков в часах |\n| AvgStockTurnover | integer\t| int32 | Оборачиваемость средних остатков в часах |\n| ToClientCount | integer\t| uint64 | В пути к клиенту, шт. |\n| FromClientCount | integer\t| uint64 | В пути от клиента, шт. |\n| Price | integer\t| uint64 | Текущая цена продавца со скидкой продавца (без учёта скидки WB Клуба) |\n| OfficeMissingTime | integer\t| int32 | Время отсутствия товара на складе в часах |\n| LostOrdersCount | number\t| float64 | Упущенные заказы, шт. |\n| LostOrdersSum | number\t| float64 | Упущенные заказы, сумма |\n| LostBuyoutsCount | number\t| float64 | Упущенные выкупы, шт. |\n| LostBuyoutsSum | number\t| float64 | Упущенные выкупы, сумма |\n| AvgOrdersByMonth_MM.YYYY | number\t| float64 | Среднее количество заказов по месяцам. Столбцы формируются динамически в зависимости от переданного текущего периода. Каждому месяцу текущего периода соответствует один столбец. В случае, если товар не существовал на момент конкретного месяца, то значение будет пропущено |\n"
              examples:
                SalesFunnelProductRes:
                  $ref: '#/components/examples/SalesFunnelProductRes'
                SalesFunnelGroupRes:
                  $ref: '#/components/examples/SalesFunnelGroupRes'
                SearchReportGroupRes:
                  $ref: '#/components/examples/SearchReportGroupRes'
                SearchReportProductRes:
                  $ref: '#/components/examples/SearchReportProductRes'
                SearchReportTextRes:
                  $ref: '#/components/examples/SearchReportTextRes'
                StocksReportRes:
                  $ref: '#/components/examples/StocksReportRes'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
                required:
                  - title
                  - detail
                  - requestId
                  - origin
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: check correctness of download id
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  detail:
                    type: string
                    description: Детали ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    SalesFunnelProductReq:
      type: object
      required:
        - id
        - reportType
        - params
      properties:
        id:
          description: ID отчёта в UUID-формате. Генерируется продавцом самостоятельно
          type: string
          format: uuid
        reportType:
          description: Тип отчёта — `DETAIL_HISTORY_REPORT`
          type: string
        userReportName:
          type: string
          description: Название отчёта. Если не указано, сформируется автоматически
        params:
          description: Параметры отчёта
          type: object
          required:
            - startDate
            - endDate
          properties:
            nmIDs:
              type: array
              minItems: 0
              maxItems: 1000
              description: |
                Артикулы WB, по которым составить отчёт. Оставьте пустым, чтобы получить отчёт обо всех товарах
              items:
                type: integer
                format: int64
            subjectIds:
              example:
                - 64
                - 334
              type: array
              description: Список ID предметов для фильтрации
              items:
                type: integer
                format: int32
            brandNames:
              example:
                - nike
                - adidas
              type: array
              description: Список брендов для фильтрации
              items:
                type: string
            tagIds:
              example:
                - 32
                - 53
              description: Список ID ярлыков для фильтрации
              type: array
              items:
                type: integer
                format: int64
            startDate:
              type: string
              description: Начало периода
              format: date
            endDate:
              type: string
              description: Конец периода
              format: date
            timezone:
              type: string
              description: |
                Временная зона, по умолчанию Europe/Moscow
            aggregationLevel:
              type: string
              description: |
                Как сгруппировать данные (по умолчанию по дням):

                  * `day` — по дням
                  * `week` — по неделям
                  * `month` — по месяцам
              enum:
                - day
                - week
                - month
            skipDeletedNm:
              description: Скрыть удалённые карточки товаров
              type: boolean
    SalesFunnelGroupReq:
      type: object
      required:
        - id
        - reportType
        - params
      properties:
        id:
          description: ID отчёта в UUID-формате. Генерируется продавцом самостоятельно
          type: string
          format: uuid
        reportType:
          description: Тип отчёта — `GROUPED_HISTORY_REPORT`
          type: string
        userReportName:
          type: string
          description: Название отчёта. Если не указано, сформируется автоматически
        params:
          description: Параметры отчёта
          type: object
          required:
            - startDate
            - endDate
          properties:
            subjectIds:
              example:
                - 64
                - 334
              type: array
              description: Список ID предметов для фильтрации
              items:
                type: integer
                format: int32
            brandNames:
              example:
                - nike
                - adidas
              type: array
              description: Список брендов для фильтрации
              items:
                type: string
            tagIds:
              example:
                - 32
                - 53
              description: Список ID ярлыков для фильтрации
              type: array
              items:
                type: integer
                format: int64
            startDate:
              type: string
              description: Начало периода
              format: date
            endDate:
              type: string
              description: Конец периода
              format: date
            timezone:
              type: string
              description: |
                Временная зона, по умолчанию Europe/Moscow
            aggregationLevel:
              type: string
              description: |
                Как сгруппировать данные (по умолчанию по дням):

                  * `day` — по дням
                  * `week` — по неделям
                  * `month` — по месяцам
            skipDeletedNm:
              description: Скрыть удалённые `nmID`
              type: boolean
    SearchReportGroupReq:
      type: object
      required:
        - id
        - reportType
        - params
      properties:
        id:
          description: ID отчёта в UUID-формате. Генерируется продавцом самостоятельно
          type: string
          format: uuid
        reportType:
          description: Тип отчёта — `SEARCH_QUERIES_PREMIUM_REPORT_GROUP`
          type: string
        userReportName:
          type: string
          description: Название отчёта. Если не указано, сформируется автоматически
        params:
          description: Параметры отчёта
          type: object
          required:
            - currentPeriod
            - subjectIds
            - orderBy
            - positionCluster
          properties:
            currentPeriod:
              $ref: '#/components/schemas/Period'
            pastPeriod:
              $ref: '#/components/schemas/pastPeriod'
            nmIds:
              type: array
              minItems: 0
              maxItems: 1000
              description: |
                Артикулы WB, по которым составить отчёт. Оставьте пустым, чтобы получить отчёт обо всех товарах
              items:
                type: integer
                format: int64
            subjectIds:
              example:
                - 64
                - 334
              type: array
              description: Список ID предметов для фильтрации. Оставьте пустым, чтобы получить отчёт по всем предметам
              items:
                type: integer
                format: int32
            brandNames:
              example:
                - nike
                - adidas
              type: array
              description: Список брендов для фильтрации
              items:
                type: string
            tagIds:
              example:
                - 32
                - 53
              description: Список ID ярлыков для фильтрации
              type: array
              items:
                type: integer
                format: int64
            orderBy:
              $ref: '#/components/schemas/OrderByGrTe'
            positionCluster:
              $ref: '#/components/schemas/PositionCluster'
            includeSubstitutedSKUs:
              type: boolean
              default: true
              example: true
              description: Показать данные по прямым запросам с [подменным артикулом](https://seller.wildberries.ru/help-center/article/A-524)
            includeSearchTexts:
              type: boolean
              default: true
              example: false
              description: Показать данные по поисковым запросам без учёта подменного артикула
    Period:
      type: object
      description: Текущий период
      required:
        - start
        - end
      properties:
        start:
          type: string
          description: Дата начала периода. Не позднее `end`. Не ранее 365 суток от сегодня
          format: date
          example: '2024-02-10'
        end:
          type: string
          description: Дата окончания периода. Не ранее 365 суток от сегодня
          format: date
          example: '2024-02-10'
    pastPeriod:
      type: object
      description: Прошлый период для сравнения. Количество дней — меньше или равно `currentPeriod`
      required:
        - start
        - end
      properties:
        start:
          type: string
          description: Дата начала периода. Не позднее `end`. Не ранее 365 суток от сегодня
          format: date
          example: '2024-02-08'
        end:
          type: string
          description: Дата окончания периода. Не позднее даты перед датой начала `currentPeriod`. Не ранее 365 суток от сегодня
          format: date
          example: '2024-02-08'
    OrderByGrTe:
      type: object
      description: Параметры сортировки
      properties:
        field:
          description: |
            Поле для сортировки:
              - `avgPosition` — по средней позиции
              - `addToCart` — по добавлениям в корзину
              - `openCard` — по открытию карточки (переход на страницу товара)
              - `orders` — по количеству заказов
              - `cartToOrder` — по конверсии в заказ из поиска
              - `openToCart` — по конверсии в корзину из поиска
              - `visibility` — по видимости товара
          example: avgPosition
          type: string
          enum:
            - avgPosition
            - openCard
            - addToCart
            - openToCart
            - orders
            - cartToOrder
            - visibility
        mode:
          type: string
          example: asc
          description: |
            Порядок сортировки:
              - `asc` — по возрастанию
              - `desc` — по убыванию
          enum:
            - asc
            - desc
      required:
        - field
        - mode
    PositionCluster:
      example: all
      description: |
        Товары с какой средней позицией в поиске показывать в отчёте:
          - `all` — все
          - `firstHundred` — от 1 до 100
          - `secondHundred` — от 101 до 200
          - `below` — от 201 и ниже
      type: string
      enum:
        - all
        - firstHundred
        - secondHundred
        - below
    SearchReportProductReq:
      type: object
      required:
        - id
        - reportType
        - params
      properties:
        id:
          description: ID отчёта в UUID-формате. Генерируется продавцом самостоятельно
          type: string
          format: uuid
        reportType:
          description: Тип отчёта — `SEARCH_QUERIES_PREMIUM_REPORT_PRODUCT`
          type: string
        userReportName:
          type: string
          description: Название отчёта. Если не указано, сформируется автоматически
        params:
          description: Параметры отчёта
          type: object
          required:
            - currentPeriod
            - orderBy
            - positionCluster
          properties:
            currentPeriod:
              $ref: '#/components/schemas/Period'
            pastPeriod:
              $ref: '#/components/schemas/pastPeriod'
            subjectId:
              example: 132
              description: ID предмета. Используйте значение `0`, чтобы получить отчёт по всем предметам
              type: integer
              format: int32
            brandName:
              example: Abikas
              description: Бренд
              type: string
            tagId:
              example: 3
              description: ID ярлыка. Чтобы получить отчёт по всем ярлыкам, укажите значение 0
              type: integer
              format: int64
            nmIds:
              type: array
              minItems: 0
              maxItems: 1000
              description: |
                Артикулы WB, по которым составить отчёт. Оставьте пустым, чтобы получить отчёт обо всех товарах
              items:
                type: integer
                format: int64
            positionCluster:
              $ref: '#/components/schemas/PositionCluster'
            orderBy:
              $ref: '#/components/schemas/OrderBy'
            includeSubstitutedSKUs:
              type: boolean
              default: true
              example: true
              description: Показать данные по прямым запросам с [подменным артикулом](https://seller.wildberries.ru/help-center/article/A-524)
            includeSearchTexts:
              type: boolean
              default: true
              example: false
              description: Показать данные по поисковым запросам без учёта подменного артикула
    OrderBy:
      type: object
      description: Параметры сортировки
      properties:
        field:
          description: |
            Поле для сортировки:
              - `avgPosition` — по средней позиции
              - `addToCart` — по добавлениям в корзину
              - `openCard` — по открытию карточки (переход на страницу товара)
              - `orders` — по количеству заказов
              - `cartToOrder` — по конверсии в заказ из поиска
              - `openToCart` — по конверсии в корзину из поиска
              - `visibility` — по видимости товара
              - `minPrice` — по минимальной цене
              - `maxPrice` — по максимальной цене
          example: avgPosition
          type: string
          enum:
            - avgPosition
            - openCard
            - addToCart
            - openToCart
            - orders
            - cartToOrder
            - visibility
            - minPrice
            - maxPrice
        mode:
          type: string
          example: asc
          description: |
            Порядок сортировки:
              - `asc` — по возрастанию
              - `desc` — по убыванию
          enum:
            - asc
            - desc
      required:
        - field
        - mode
    SearchReportTextReq:
      type: object
      required:
        - id
        - reportType
        - params
      properties:
        id:
          description: ID отчёта в UUID-формате. Генерируется продавцом самостоятельно
          type: string
          format: uuid
        reportType:
          description: Тип отчёта — `SEARCH_QUERIES_PREMIUM_REPORT_TEXT`
          type: string
        userReportName:
          type: string
          description: Название отчёта. Если не указано, сформируется автоматически
        params:
          description: Параметры отчёта
          type: object
          required:
            - currentPeriod
            - limit
            - topOrderBy
            - orderBy
          properties:
            currentPeriod:
              $ref: '#/components/schemas/Period'
            pastPeriod:
              $ref: '#/components/schemas/pastPeriod'
            nmIds:
              type: array
              minItems: 0
              maxItems: 1000
              description: |
                Артикулы WB, по которым составить отчёт. Оставьте пустым, чтобы получить отчёт по всем товарам
            subjectIds:
              example:
                - 64
                - 334
              type: array
              description: Список ID предметов для фильтрации
              items:
                type: integer
                format: int32
            brandNames:
              example:
                - nike
                - adidas
              type: array
              description: Список брендов для фильтрации
              items:
                type: string
            tagIds:
              example:
                - 32
                - 53
              description: Список ID ярлыков для фильтрации
              type: array
              items:
                type: integer
                format: int64
            topOrderBy:
              example: openToCart
              description: |
                Фильтрация по поисковым запросам, по которым больше всего:
                  - `openCard` — перешли в карточку
                  - `addToCart` — добавили в корзину
                  - `openToCart` — конверсия в корзину
                  - `orders` — заказали товаров
                  - `cartToOrder` — конверсия в заказ
              type: string
              enum:
                - openCard
                - addToCart
                - openToCart
                - orders
                - cartToOrder
            orderBy:
              $ref: '#/components/schemas/OrderByGrTe'
            includeSubstitutedSKUs:
              type: boolean
              default: true
              example: true
              description: Показать данные по прямым запросам с [подменным артикулом](https://seller.wildberries.ru/help-center/article/A-524)
            includeSearchTexts:
              type: boolean
              default: true
              example: false
              description: Показать данные по поисковым запросам без учёта подменного артикула
            limit:
              $ref: '#/components/schemas/TextLimit'
    TextLimit:
      oneOf:
        - $ref: '#/components/schemas/StandardTariff'
        - $ref: '#/components/schemas/AdvancedTariff'
    StandardTariff:
      type: integer
      format: uint64
      example: 20
      minimum: 1
      maximum: 30
      description: Количество поисковых запросов по товару для [стандартного](https://seller.wildberries.ru/monetization/tariffs) тарифа
    AdvancedTariff:
      type: integer
      format: uint64
      example: 50
      minimum: 1
      maximum: 100
      description: Количество поисковых запросов по товару для [продвинутого](https://seller.wildberries.ru/monetization/tariffs) тарифа
    StocksReportReq:
      type: object
      required:
        - id
        - reportType
        - params
      properties:
        id:
          description: ID отчёта в UUID-формате. Генерируется продавцом самостоятельно
          type: string
          format: uuid
        reportType:
          description: Тип отчёта — `STOCK_HISTORY_REPORT_CSV`
          type: string
        userReportName:
          type: string
          description: Название отчёта. Если не указано, сформируется автоматически
        params:
          description: Параметры отчёта
          allOf:
            - $ref: '#/components/schemas/CommonReportFilters'
    CommonReportFilters:
      description: Общие фильтры по отчёту
      type: object
      properties:
        nmIDs:
          type: array
          description: Список артикулов WB для фильтрации
          example:
            - 111222333
            - 444555666
          items:
            type: integer
            format: int64
        subjectIDs:
          type: array
          description: Список ID предметов для фильтрации
          example:
            - 123
            - 456
          items:
            type: integer
            format: int32
        brandNames:
          type: array
          description: Список брендов для фильтрации
          example:
            - Эрк
            - Дент
          items:
            type: string
        tagIDs:
          type: array
          description: Список ID ярлыков для фильтрации
          example:
            - 3
            - 4
            - 5
          items:
            type: integer
            format: int64
        currentPeriod:
          $ref: '#/components/schemas/PeriodSt'
        stockType:
          $ref: '#/components/schemas/StockType'
        skipDeletedNm:
          type: boolean
          description: Скрыть удалённые товары
          example: true
        availabilityFilters:
          $ref: '#/components/schemas/availabilityFilters'
        orderBy:
          $ref: '#/components/schemas/TableOrderBy'
      required:
        - availabilityFilters
        - currentPeriod
        - stockType
        - skipDeletedNm
        - orderBy
    PeriodSt:
      type: object
      description: Период
      required:
        - start
        - end
      properties:
        start:
          type: string
          description: Дата начала периода. Не позднее `end`. Не ранее 3 месяцев от текущей даты
          format: date
          example: '2024-02-10'
        end:
          type: string
          description: Дата окончания периода. Не ранее 3 месяцев от текущей даты
          format: date
          example: '2024-02-10'
    StockType:
      type: string
      description: |
        Тип складов хранения товаров:
          - `""` — все
          - `wb` — Склады WB
          - `mp` — Склады Маркетплейс (FBS)
      example: mp
      enum:
        - ''
        - wb
        - mp
    availabilityFilters:
      type: array
      description: |
        Доступность товара:
          - `deficient` — Дефицит
          - `actual` — Актуальный
          - `balanced` — Баланс
          - `nonActual` — Неактуальный
          - `nonLiquid` — Неликвид
          - `invalidData` — Не рассчитано
      example:
        - deficient
        - balanced
      items:
        type: string
        enum:
          - deficient
          - actual
          - balanced
          - nonActual
          - nonLiquid
          - invalidData
    TableOrderBy:
      type: object
      description: Вид сортировки данных
      properties:
        field:
          $ref: '#/components/schemas/TableGroupField'
        mode:
          $ref: '#/components/schemas/OrderByMode'
      required:
        - field
        - mode
    TableGroupField:
      type: string
      description: |
        Cортировка по полю:
          - `ordersCount` — Заказы, шт.
          - `ordersSum` — Заказы, сумма
          - `avgOrders` — Среднее количество заказов в день
          - `buyoutCount` — Выкупы, шт.
          - `buyoutSum` — Выкупы, сумма
          - `buyoutPercent` — Процент выкупа
          - `stockCount` — Остатки на текущий день, шт.
          - `stockSum` — Стоимость остатков на текущий день
          - `saleRate` — Оборачиваемость текущих остатков
          - `avgStockTurnover` — Оборачиваемость средних остатков
          - `toClientCount` — В пути к клиенту, шт.
          - `fromClientCount` — В пути от клиента, шт.
          - `minPrice` — Минимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба)
          - `maxPrice` — Максимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба)
          - `officeMissingTime` — Время отсутствия товара на складе
          - `lostOrdersCount` — Упущенные заказы, шт.
          - `lostOrdersSum` — Упущенные заказы, сумма
          - `lostBuyoutsCount` — Упущенные выкупы, шт.
          - `lostBuyoutsSum` — Упущенные выкупы, сумма
      enum:
        - ordersCount
        - ordersSum
        - avgOrders
        - buyoutCount
        - buyoutSum
        - buyoutPercent
        - stockCount
        - stockSum
        - saleRate
        - avgStockTurnover
        - toClientCount
        - fromClientCount
        - minPrice
        - maxPrice
        - officeMissingTime
        - lostOrdersCount
        - lostOrdersSum
        - lostBuyoutsCount
        - lostBuyoutsSum
      example: avgOrders
    OrderByMode:
      type: string
      description: |
        Порядок сортировки:
        - asc — по возрастанию
        - desc — по убыванию
      enum:
        - asc
        - desc
      example: asc
    NmReportCreateReportResponse:
      type: object
      properties:
        data:
          type: string
          description: Уведомление, что началась генерация отчёта
          example: Created
      required:
        - data
    response429Download:
      description: Слишком много запросов
      type: object
      properties:
        title:
          type: string
          description: Заголовок ошибки
        detail:
          type: string
          description: Детали ошибки
        code:
          type: string
          description: Внутренний код ошибки
        requestId:
          type: string
          description: Уникальный ID запроса
        origin:
          type: string
          description: ID внутреннего сервиса WB
        status:
          type: number
          description: HTTP статус-код
        statusText:
          type: string
          description: Расшифровка HTTP статус-кода
        timestamp:
          type: string
          format: RFC3339
          description: Дата и время запроса
      example:
        title: too many requests
        detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
        code: 07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]
        requestId: 9d3c02cc698f8b041c661a7c28bed293
        origin: s2s-api-auth-stat
        status: 429
        statusText: Too Many Requests
        timestamp: '2024-09-30T06:52:38Z'
    response429DownloadDaily:
      type: object
      properties:
        title:
          type: string
          description: Заголовок ошибки
        detail:
          type: string
          description: Детали ошибки
        requestId:
          type: string
          description: Уникальный ID запроса
        origin:
          type: string
          description: ID внутреннего сервиса WB
      required:
        - title
        - detail
        - requestId
        - origin
      example:
        title: Too many requests
        detail: The daily response limit has been exceeded. The maximum number is 20.
        requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d393
        origin: analytics-open-api
    NmReportGetReportsResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            type: object
            required:
              - id
              - status
              - name
              - size
              - startDate
              - endDate
              - createdAt
            properties:
              id:
                description: ID отчёта
                type: string
                format: uuid
                example: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
              createdAt:
                type: string
                description: Дата и время завершения генерации
                format: date-time
                example: '2024-06-26 20:05:32'
              status:
                type: string
                description: |
                  Статус отчёта:

                  * `WAITING` — в очереди на обработку
                  * `PROCESSING` — генерируется
                  * `SUCCESS —` готов
                  * `RETRY` — ожидает повторной обработки
                  * `FAILED` — не получилось сгенерировать, сгенерируйте повторно
                example: SUCCESS
              name:
                description: Название отчёта
                type: string
                example: Card report
              size:
                description: Размер отчёта, Б
                type: integer
                example: 123
              startDate:
                description: Начало периода
                type: string
                format: date
                example: '2024-06-21'
              endDate:
                description: Конец периода
                type: string
                format: date
                example: '2024-06-23'
    NmReportRetryReportRequest:
      properties:
        downloadId:
          type: string
          description: ID отчёта
          format: uuid
          example: 06eea887-9d9f-491f-b16a-bb1766fcb8d2
    NmReportRetryReportResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: string
          description: Уведомление, что началась повторная генерация отчёта
          example: Retry
