openapi: 3.0.1
info:
  title: 11-analytics - История остатков (Part 2/2) (Endpoint 1/2)
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://seller-analytics-api.wildberries.ru
tags:
  - name: История остатков
    description: История остатков endpoints
paths:
  /api/v2/stocks-report/products/sizes:
    post:
      tags:
        - История остатков
      summary: Данные по размерам
      description: |
        Метод формирует набор данных об остатках по размерам товара.
        <br><br>
        Возможны случаи:
        1. Товар имеет размеры и `"includeOffice":true`, тогда в ответе будут данные об остатках по каждому из размеров с вложенной детализацией по складам.
        2. Товар имеет размеры и `"includeOffice":false`, тогда в ответе будут данные об остатках по каждому из размеров без вложенной детализации по складам.
        3. Товар не имеет размера и `"includeOffice":true`, тогда в ответе будет детализация по складам. Без данных об остатках по каждому из размеров.
        4. Товар не имеет размера и `"includeOffice":false`, тогда тело ответа будет пустым.<br></br>
        Товар не имеет размера, если у него единственный размер с `"techSize":"0"`. В ответах метода получения данных по [товарам](/openapi/analytics#tag/Istoriya-ostatkov/paths/~1api~1v2~1stocks-report~1products~1products/post) у таких товаров `"hasSizes":false`.<br></br>
        Данные по складам Маркетплейс (FBS) приходят в агрегированном виде — по всем сразу, без детализации по конкретным складам — эти записи будут с `"regionName":"Маркетплейс"` и `"officeName":""`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 3 запроса | 20 секунд | 3 запроса |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableSizeRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TableSizeResponse'
                required:
                  - data
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    TableGroupRequestSt:
      allOf:
        - $ref: '#/components/schemas/CommonReportFilters'
        - type: object
          properties:
            limit:
              example: 150
              description: Количество групп в ответе
              type: integer
              format: uint32
              maximum: 1000
              default: 100
            offset:
              example: 100
              description: После какого элемента выдавать данные
              type: integer
              format: uint32
          required:
            - offset
    CommonReportFilters:
      description: Общие фильтры по отчёту
      type: object
      properties:
        nmIDs:
          type: array
          description: Список артикулов WB для фильтрации
          example:
            - 111222333
            - 444555666
          items:
            type: integer
            format: int64
        subjectIDs:
          type: array
          description: Список ID предметов для фильтрации
          example:
            - 123
            - 456
          items:
            type: integer
            format: int32
        brandNames:
          type: array
          description: Список брендов для фильтрации
          example:
            - Эрк
            - Дент
          items:
            type: string
        tagIDs:
          type: array
          description: Список ID ярлыков для фильтрации
          example:
            - 3
            - 4
            - 5
          items:
            type: integer
            format: int64
        currentPeriod:
          $ref: '#/components/schemas/PeriodSt'
        stockType:
          $ref: '#/components/schemas/StockType'
        skipDeletedNm:
          type: boolean
          description: Скрыть удалённые товары
          example: true
        availabilityFilters:
          $ref: '#/components/schemas/availabilityFilters'
        orderBy:
          $ref: '#/components/schemas/TableOrderBy'
      required:
        - availabilityFilters
        - currentPeriod
        - stockType
        - skipDeletedNm
        - orderBy
    PeriodSt:
      type: object
      description: Период
      required:
        - start
        - end
      properties:
        start:
          type: string
          description: Дата начала периода. Не позднее `end`. Не ранее 3 месяцев от текущей даты
          format: date
          example: '2024-02-10'
        end:
          type: string
          description: Дата окончания периода. Не ранее 3 месяцев от текущей даты
          format: date
          example: '2024-02-10'
    StockType:
      type: string
      description: |
        Тип складов хранения товаров:
          - `""` — все
          - `wb` — Склады WB
          - `mp` — Склады Маркетплейс (FBS)
      example: mp
      enum:
        - ''
        - wb
        - mp
    availabilityFilters:
      type: array
      description: |
        Доступность товара:
          - `deficient` — Дефицит
          - `actual` — Актуальный
          - `balanced` — Баланс
          - `nonActual` — Неактуальный
          - `nonLiquid` — Неликвид
          - `invalidData` — Не рассчитано
      example:
        - deficient
        - balanced
      items:
        type: string
        enum:
          - deficient
          - actual
          - balanced
          - nonActual
          - nonLiquid
          - invalidData
    TableOrderBy:
      type: object
      description: Вид сортировки данных
      properties:
        field:
          $ref: '#/components/schemas/TableGroupField'
        mode:
          $ref: '#/components/schemas/OrderByMode'
      required:
        - field
        - mode
    TableGroupField:
      type: string
      description: |
        Cортировка по полю:
          - `ordersCount` — Заказы, шт.
          - `ordersSum` — Заказы, сумма
          - `avgOrders` — Среднее количество заказов в день
          - `buyoutCount` — Выкупы, шт.
          - `buyoutSum` — Выкупы, сумма
          - `buyoutPercent` — Процент выкупа
          - `stockCount` — Остатки на текущий день, шт.
          - `stockSum` — Стоимость остатков на текущий день
          - `saleRate` — Оборачиваемость текущих остатков
          - `avgStockTurnover` — Оборачиваемость средних остатков
          - `toClientCount` — В пути к клиенту, шт.
          - `fromClientCount` — В пути от клиента, шт.
          - `minPrice` — Минимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба)
          - `maxPrice` — Максимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба)
          - `officeMissingTime` — Время отсутствия товара на складе
          - `lostOrdersCount` — Упущенные заказы, шт.
          - `lostOrdersSum` — Упущенные заказы, сумма
          - `lostBuyoutsCount` — Упущенные выкупы, шт.
          - `lostBuyoutsSum` — Упущенные выкупы, сумма
      enum:
        - ordersCount
        - ordersSum
        - avgOrders
        - buyoutCount
        - buyoutSum
        - buyoutPercent
        - stockCount
        - stockSum
        - saleRate
        - avgStockTurnover
        - toClientCount
        - fromClientCount
        - minPrice
        - maxPrice
        - officeMissingTime
        - lostOrdersCount
        - lostOrdersSum
        - lostBuyoutsCount
        - lostBuyoutsSum
      example: avgOrders
    OrderByMode:
      type: string
      description: |
        Порядок сортировки:
        - asc — по возрастанию
        - desc — по убыванию
      enum:
        - asc
        - desc
      example: asc
    TableGroupResponseSt:
      type: object
      properties:
        groups:
          $ref: '#/components/schemas/TableGroups'
      required:
        - groups
    TableGroups:
      type: array
      description: Множество данных по группам
      items:
        $ref: '#/components/schemas/TableGroupItemSt'
    TableGroupItemSt:
      type: object
      description: Данные по группе
      properties:
        subjectID:
          type: integer
          format: int32
          description: ID предмета
          example: 123456789
        subjectName:
          type: string
          description: Название предмета
          example: Кружка
        brandName:
          type: string
          description: Бренд
          example: Крутая посуда
        tagID:
          type: integer
          format: int64
          description: ID ярлыка
          example: 12345
        tagName:
          type: string
          description: Название ярлыка
          example: Человек-Паук
        metrics:
          description: Метрики группы
          allOf:
            - $ref: '#/components/schemas/TableCommonMetrics'
        items:
          type: array
          description: Товары группы
          items:
            $ref: '#/components/schemas/TableProductItemSt'
      required:
        - subjectID
        - subjectName
        - brandName
        - tagID
        - tagName
        - metrics
        - items
    TableCommonMetrics:
      type: object
      description: Метрики
      properties:
        ordersCount:
          type: integer
          format: uint64
          description: Заказы, шт.
          example: 100
        ordersSum:
          type: integer
          format: uint64
          description: Заказы, сумма
          example: 100000
        avgOrders:
          type: number
          format: float64
          description: Среднее количество заказов в день
          example: 200
        avgOrdersByMonth:
          type: array
          description: Среднее количество заказов по месяцам
          items:
            $ref: '#/components/schemas/FloatGraphByPeriodItem'
        buyoutCount:
          type: integer
          format: uint64
          description: Выкупы, шт.
          example: 150
        buyoutSum:
          type: integer
          format: uint64
          description: Выкупы, сумма
          example: 150000
        buyoutPercent:
          type: integer
          format: uint32
          description: Процент выкупа
          example: 5
        stockCount:
          type: integer
          format: uint64
          description: Остатки на текущий день, шт.
          example: 50
        stockSum:
          type: integer
          format: uint64
          description: Стоимость остатков на текущий день
          example: 50000
        saleRate:
          description: |
            Оборачиваемость текущих остатков. Особые случаи:
              1. `"hours":-1` — бесконечная длительность
              2. `"hours":-2` — нулевая длительность
              3. `"hours":-3` — нерассчитанная длительность
          type: object
          properties:
            days:
              type: integer
              format: int32
              example: 5
              description: Количество дней
            hours:
              type: integer
              format: int32
              example: 15
              description: Количество часов
          required:
            - days
            - hours
        avgStockTurnover:
          description: |
            Оборачиваемость средних остатков. Особые случаи:
              1. `"hours":-1` — бесконечная длительность
              2. `"hours":-2` — нулевая длительность
              3. `"hours":-3` — нерассчитанная длительность
          type: object
          properties:
            days:
              type: integer
              format: int32
              example: 5
              description: Количество дней
            hours:
              type: integer
              format: int32
              example: 15
              description: Количество часов
          required:
            - days
            - hours
        toClientCount:
          type: integer
          format: uint64
          description: В пути к клиенту, шт.
          example: 20
        fromClientCount:
          type: integer
          format: uint64
          description: В пути от клиента, шт.
          example: 30
        officeMissingTime:
          description: |
            Время отсутствия товара на складе. Особые случаи:
              1. `"hours":-1` — бесконечная длительность
              2. `"hours":-2` — нулевая длительность
              3. `"hours":-3` — нерассчитанная длительность
              4. `"hours":-4` — отсутствие в течение всего периода
          type: object
          properties:
            days:
              type: integer
              format: int32
              example: 5
              description: Количество дней
            hours:
              type: integer
              format: int32
              example: 15
              description: Количество часов
          required:
            - days
            - hours
        lostOrdersCount:
          type: number
          format: float64
          description: |
            Упущенные заказы, шт. Особые случаи:
              1. Значение меньше `0` и не равно `-2` — значение не рассчитано
              2. Значение `-2` — нулевое значение
          example: 1550.52
        lostOrdersSum:
          type: number
          format: float64
          description: |
            Упущенные заказы, сумма. Особые случаи:
              1. Значение меньше `0` и не равно `-2` — значение не рассчитано
              2. Значение `-2` — нулевое значение
          example: 155000.25
        lostBuyoutsCount:
          type: number
          format: float64
          description: |
            Упущенные выкупы, шт. Особые случаи:
              1. Значение меньше `0` и не равно `-2` — значение не рассчитано
              2. Значение `-2` — нулевое значение
          example: 123.55
        lostBuyoutsSum:
          type: number
          format: float64
          description: |
            Упущенные выкупы, сумма. Особые случаи:
              1. Значение меньше `0` и не равно `-2` — значение не рассчитано
              2. Значение `-2` — нулевое значение
          example: 225555.15
      required:
        - ordersCount
        - ordersSum
        - buyoutCount
        - buyoutSum
        - buyoutPercent
        - avgOrders
        - avgOrdersByMonth
        - stockCount
        - stockSum
        - saleRate
        - avgStockTurnover
        - toClientCount
        - fromClientCount
        - officeMissingTime
        - lostOrdersCount
        - lostOrdersSum
        - lostBuyoutsCount
        - lostBuyoutsSum
    TableProductItemSt:
      type: object
      description: Данные по товару
      properties:
        nmID:
          type: integer
          description: Артикул WB
          example: 123456789
          format: int64
        isDeleted:
          type: boolean
          description: Является ли товар удалённым
          example: false
        subjectName:
          type: string
          description: Название предмета
          example: Принтеры
        name:
          type: string
          description: Название товара
          example: Печатник 3000
        vendorCode:
          type: string
          description: Артикул продавца
          example: pechatnik3000
        brandName:
          type: string
          description: Бренд
          example: Компик
        mainPhoto:
          type: string
          description: Ссылка на главное фото
          example: https://basket-12.wbbasket.ru/vol1788/part178840/178840836/images/c246x328/1.webp
        hasSizes:
          type: boolean
          description: Является ли товар размерным. Неразмерный товар имеет единственный размер, с `"techSize":"0"`
          example: true
        metrics:
          description: Метрики товара
          allOf:
            - $ref: '#/components/schemas/TableCommonMetrics'
            - type: object
              properties:
                currentPrice:
                  type: object
                  description: Текущая цена
                  properties:
                    minPrice:
                      type: integer
                      format: uint64
                      description: Минимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба)
                      example: 50
                    maxPrice:
                      type: integer
                      format: uint64
                      description: Максимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба)
                      example: 100
                  required:
                    - minPrice
                    - maxPrice
                availability:
                  type: string
                  description: |
                    Доступность товара:
                      - `deficient` — Дефицит
                      - `actual` — Актуальный
                      - `balanced` — Баланс
                      - `nonActual` — Неактуальный
                      - `nonLiquid` — Неликвид
                      - `invalidData` — Не рассчитано
                  example: deficient
                  enum:
                    - deficient
                    - actual
                    - balanced
                    - nonActual
                    - nonLiquid
                    - invalidData
              required:
                - currentPrice
                - availability
      required:
        - nmID
        - isDeleted
        - subjectName
        - name
        - vendorCode
        - brandName
        - mainPhoto
        - hasSizes
        - metrics
    ErrorObject400:
      type: object
      properties:
        title:
          type: string
          description: Заголовок ошибки
          example: Invalid request body
        detail:
          type: string
          description: Детали ошибки
          example: 'code=400, message=invalid: positionCluster (field required), limit (field required), offset (field required), internal=invalid: positionCluster (field required), limit (field required), offset (field required'
        requestId:
          type: string
          description: Уникальный ID запроса
          example: fb25c9e9-cae8-52db-b68e-736c1466a3f5
        origin:
          type: string
          description: ID внутреннего сервиса WB
          example: analytic-open-api
      required:
        - title
        - detail
        - requestId
        - origin
    ErrorObject403:
      type: object
      properties:
        title:
          type: string
          description: Заголовок ошибки
          example: Authorization error
        detail:
          type: string
          description: Детали ошибки
          example: Authorization error
        requestId:
          type: string
          description: Уникальный ID запроса
          example: fb25c9e9-cae8-52db-b68e-736c1466a3f5
        origin:
          type: string
          description: ID внутреннего сервиса WB
          example: analytic-open-api
      required:
        - title
        - detail
        - requestId
        - origin
    TableProductRequest:
      description: Параметры запроса об остатках по товарам
      allOf:
        - $ref: '#/components/schemas/CommonProductFilters'
        - type: object
          properties:
            limit:
              example: 150
              description: Количество товаров в ответе
              type: integer
              format: uint32
              maximum: 1000
              default: 100
            offset:
              example: 100
              description: После какого элемента выдавать данные
              type: integer
              format: uint32
          required:
            - offset
    CommonProductFilters:
      type: object
      description: Общие фильтры по товару
      properties:
        nmIDs:
          type: array
          description: Список артикулов WB для фильтрации
          example:
            - 111222333
            - 444555666
          items:
            type: integer
            format: int64
        subjectID:
          type: integer
          description: ID предмета
          example: 123456
          format: int32
        brandName:
          type: string
          description: Бренд
          example: Спортик
        tagID:
          type: integer
          description: ID ярлыка
          example: 25345
          format: int64
        currentPeriod:
          $ref: '#/components/schemas/PeriodSt'
        stockType:
          $ref: '#/components/schemas/StockType'
        skipDeletedNm:
          type: boolean
          description: Скрыть удалённые товары
          example: true
        orderBy:
          $ref: '#/components/schemas/TableOrderBy'
        availabilityFilters:
          $ref: '#/components/schemas/availabilityFilters'
      required:
        - currentPeriod
        - stockType
        - skipDeletedNm
        - orderBy
        - availabilityFilters
    TableProductResponse:
      type: object
      properties:
        items:
          type: array
          description: Множество данных по товарам
          items:
            $ref: '#/components/schemas/TableProductItemSt'
      required:
        - items
    TableSizeRequest:
      description: Параметры запроса об остатках по размерам товара
      $ref: '#/components/schemas/CommonSizeFilters'
    CommonSizeFilters:
      type: object
      description: Общие фильтры по размеру
      properties:
        nmID:
          type: integer
          format: int64
          description: Артикул WB
          example: 123456789
        currentPeriod:
          $ref: '#/components/schemas/PeriodSt'
        stockType:
          $ref: '#/components/schemas/StockType'
        orderBy:
          $ref: '#/components/schemas/TableOrderBy'
        includeOffice:
          type: boolean
          description: Включить детализацию по складам
          example: true
      required:
        - nmID
        - currentPeriod
        - stockType
        - orderBy
        - includeOffice
    TableSizeResponse:
      type: object
      properties:
        offices:
          type: array
          description: Множество данных по складам
          items:
            $ref: '#/components/schemas/TableOfficeItem'
        sizes:
          type: array
          description: Множество данных по размерам товара
          items:
            type: object
            properties:
              name:
                type: string
                description: Название размера
                example: '50'
              chrtID:
                type: integer
                format: int64
                description: ID размера
                example: 123321
              offices:
                type: array
                description: Склады
                items:
                  $ref: '#/components/schemas/TableOfficeItem'
              metrics:
                description: Метрики размера
                allOf:
                  - $ref: '#/components/schemas/TableCommonMetrics'
                  - type: object
                    properties:
                      currentPrice:
                        type: object
                        description: Текущая цена
                        properties:
                          minPrice:
                            type: integer
                            format: uint64
                            description: Минимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба)
                            example: 50
                          maxPrice:
                            type: integer
                            format: uint64
                            description: Максимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба)
                            example: 100
                        required:
                          - minPrice
                          - maxPrice
                    required:
                      - currentPrice
            required:
              - name
              - chrtID
              - metrics
    TableOfficeItem:
      type: object
      description: Данные по складу
      properties:
        regionName:
          type: string
          description: Регион отгрузки
          example: Центральный
        officeID:
          type: integer
          format: int64
          description: ID склада
          example: 123456
        officeName:
          type: string
          description: Название склада
          example: Коледино
        metrics:
          description: Метрики склада
          allOf:
            - $ref: '#/components/schemas/TableCommonMetrics'
      required:
        - regionName
        - officeID
        - officeName
        - metrics
    TableShippingOfficeRequest:
      description: Параметры запроса об остатках по складам
      $ref: '#/components/schemas/CommonShippingOfficeFilters'
    CommonShippingOfficeFilters:
      type: object
      description: Общие фильтры по регионам отгрузки
      properties:
        nmIDs:
          type: array
          description: Список артикулов WB для фильтрации
          example:
            - 111222333
            - 444555666
          items:
            type: integer
            format: int64
        subjectIDs:
          type: array
          description: Список ID предметов для фильтрации
          example:
            - 123
            - 456
          items:
            type: integer
            format: int32
        brandNames:
          type: array
          description: Список брендов для фильтрации
          example:
            - Эшк
            - ЗлатА
            - ОТК
            - арк
          items:
            type: string
        tagIDs:
          type: array
          description: Список ID ярлыков для фильтрации
          example:
            - 123
            - 456
            - 789
          items:
            type: integer
            format: int64
        currentPeriod:
          $ref: '#/components/schemas/PeriodSt'
        stockType:
          $ref: '#/components/schemas/StockType'
        skipDeletedNm:
          type: boolean
          description: Скрыть удалённые товары
          example: false
      required:
        - currentPeriod
        - stockType
        - skipDeletedNm
    TableShippingOfficeResponse:
      type: object
      properties:
        regions:
          type: array
          description: Множество данных по регионам отгрузки
          items:
            $ref: '#/components/schemas/TableShippingOfficeItem'
    TableShippingOfficeItem:
      type: object
      description: Данные по региону отгрузки
      properties:
        regionName:
          type: string
          description: Регион отгрузки
          example: Центральный
        metrics:
          description: Метрики по региону
          allOf:
            - $ref: '#/components/schemas/TableShippingOfficeMetrics'
        offices:
          type: array
          description: Данные по складам
          items:
            type: object
            properties:
              officeID:
                type: integer
                format: int64
                description: ID склада
                example: 123456
              officeName:
                type: string
                description: Название склада
                example: Коледино
              metrics:
                description: Метрики по складу
                allOf:
                  - $ref: '#/components/schemas/TableShippingOfficeMetrics'
            required:
              - officeID
              - officeName
              - metrics
      required:
        - regionName
        - metrics
        - offices
    TableShippingOfficeMetrics:
      type: object
      description: Общие метрики по регионам/складам отгрузки
      properties:
        stockCount:
          type: integer
          format: uint64
          description: Остатки на текущий день, шт.
          example: 20
        stockSum:
          type: integer
          format: uint64
          description: Остатки на текущий день, сумма
          example: 20000
        saleRate:
          description: |
            Оборачиваемость текущих остатков. Особые случаи:
              1. `"hours":-1` — бесконечная длительность
              2. `"hours":-2` — нулевая длительность
              3. `"hours":-3` — нерассчитанная длительность
          type: object
          properties:
            days:
              type: integer
              format: int32
              example: 5
              description: Количество дней
            hours:
              type: integer
              format: int32
              example: 15
              description: Количество часов
          required:
            - days
            - hours
        toClientCount:
          type: integer
          format: uint64
          description: В пути к клиенту, шт.
          example: 30
        fromClientCount:
          type: integer
          format: uint64
          description: В пути от клиента, шт.
          example: 40
      required:
        - stockCount
        - stockSum
        - saleRate
        - toClientCount
        - fromClientCount
