openapi: 3.0.1
info:
  title: 11-analytics - Поисковые запросы (Part 2/3) (Endpoint 1/2)
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://seller-analytics-api.wildberries.ru
tags:
  - name: Поисковые запросы
    description: Поисковые запросы endpoints
paths:
  /api/v2/search-report/table/details:
    post:
      tags:
        - Поисковые запросы
      summary: Пагинация по товарам в группе
      description: |
        Метод формирует дополнительные данные к [основному отчёту](/openapi/analytics#tag/Poiskovye-zaprosy/paths/~1api~1v2~1search-report~1report/post) с пагинацией по товарам в группе. Пагинация возможна вне зависимости от наличия фильтров.<br><br>

        Фильтры для пагинации по товарам в группе или без фильтров:
         - кортеж `subjectId`,`brandName`,`tagId` — фильтр для группы
         - `nmIds` — фильтр по карточке товара

        Дополнительный параметр выбора списка товаров:
         - `positionCluster` — средняя позиция в поиске

        Параметры `includeSubstitutedSKUs` и `includeSearchTexts` не могут одновременно иметь значение `false`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 3 запроса | 20 секунд | 3 запроса |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableDetailsRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponseProperties'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/TableDetailsResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    MainRequest:
      type: object
      description: |
        Параметры запроса для формирования главной страницы:
          - `currentPeriod` — текущий период
          - `pastPeriod` — предыдущий период для сравнения
      properties:
        currentPeriod:
          $ref: '#/components/schemas/Period'
        pastPeriod:
          $ref: '#/components/schemas/pastPeriod'
        nmIds:
          type: array
          example:
            - 162579635
            - 166699779
          description: Список артикулов WB для фильтрации
          items:
            type: integer
            format: int32
        subjectIds:
          type: array
          example:
            - 32
            - 64
          description: Список ID предметов для фильтрации
          items:
            type: integer
            format: int32
        brandNames:
          example:
            - Adidas
            - Nike
          type: array
          description: Список брендов для фильтрации
          items:
            type: string
        tagIds:
          example:
            - 3
            - 5
            - 6
          description: Список ID ярлыков для фильтрации
          type: array
          items:
            type: integer
            format: int64
        positionCluster:
          $ref: '#/components/schemas/PositionCluster'
        orderBy:
          $ref: '#/components/schemas/OrderBy'
        includeSubstitutedSKUs:
          type: boolean
          default: true
          example: true
          description: Показать данные по прямым запросам с [подменным артикулом](https://seller.wildberries.ru/help-center/article/A-524)
        includeSearchTexts:
          type: boolean
          default: true
          example: false
          description: Показать данные по поисковым запросам без учёта подменного артикула
        limit:
          example: 130
          type: integer
          description: Количество групп товаров в ответе
          format: uint32
          maximum: 1000
        offset:
          example: 50
          type: integer
          description: После какого элемента выдавать данные
          format: uint32
      required:
        - currentPeriod
        - orderBy
        - positionCluster
        - limit
        - offset
    Period:
      type: object
      description: Текущий период
      required:
        - start
        - end
      properties:
        start:
          type: string
          description: Дата начала периода. Не позднее `end`. Не ранее 365 суток от сегодня
          format: date
          example: '2024-02-10'
        end:
          type: string
          description: Дата окончания периода. Не ранее 365 суток от сегодня
          format: date
          example: '2024-02-10'
    pastPeriod:
      type: object
      description: Прошлый период для сравнения. Количество дней — меньше или равно `currentPeriod`
      required:
        - start
        - end
      properties:
        start:
          type: string
          description: Дата начала периода. Не позднее `end`. Не ранее 365 суток от сегодня
          format: date
          example: '2024-02-08'
        end:
          type: string
          description: Дата окончания периода. Не позднее даты перед датой начала `currentPeriod`. Не ранее 365 суток от сегодня
          format: date
          example: '2024-02-08'
    PositionCluster:
      example: all
      description: |
        Товары с какой средней позицией в поиске показывать в отчёте:
          - `all` — все
          - `firstHundred` — от 1 до 100
          - `secondHundred` — от 101 до 200
          - `below` — от 201 и ниже
      type: string
      enum:
        - all
        - firstHundred
        - secondHundred
        - below
    OrderBy:
      type: object
      description: Параметры сортировки
      properties:
        field:
          description: |
            Поле для сортировки:
              - `avgPosition` — по средней позиции
              - `addToCart` — по добавлениям в корзину
              - `openCard` — по открытию карточки (переход на страницу товара)
              - `orders` — по количеству заказов
              - `cartToOrder` — по конверсии в заказ из поиска
              - `openToCart` — по конверсии в корзину из поиска
              - `visibility` — по видимости товара
              - `minPrice` — по минимальной цене
              - `maxPrice` — по максимальной цене
          example: avgPosition
          type: string
          enum:
            - avgPosition
            - openCard
            - addToCart
            - openToCart
            - orders
            - cartToOrder
            - visibility
            - minPrice
            - maxPrice
        mode:
          type: string
          example: asc
          description: |
            Порядок сортировки:
              - `asc` — по возрастанию
              - `desc` — по убыванию
          enum:
            - asc
            - desc
      required:
        - field
        - mode
    CommonResponseProperties:
      type: object
      description: Результат запроса
      properties:
        data:
          type: object
    MainResponse:
      type: object
      properties:
        commonInfo:
          $ref: '#/components/schemas/CommonInfo'
        positionInfo:
          $ref: '#/components/schemas/PositionInfo'
        visibilityInfo:
          $ref: '#/components/schemas/VisibilityInfo'
        groups:
          description: |
            Список элементов таблицы
          type: array
          items:
            $ref: '#/components/schemas/TableGroupItem'
      required:
        - commonInfo
        - positionInfo
        - visibilityInfo
    CommonInfo:
      type: object
      properties:
        supplierRating:
          description: Рейтинг продавца
          type: object
          properties:
            current:
              type: number
              format: float64
              example: 5.3
              description: Текущий рейтинг продавца
            dynamics:
              type: number
              format: float64
              example: 5.4
              description: Динамика по сравнению с предыдущим периодом, %
          required:
            - current
        advertisedProducts:
          description: Количество товаров в рекламе
          type: object
          properties:
            current:
              example: 5
              description: Текущее количество товаров в рекламе
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
        totalProducts:
          example: 150
          description: Общее количество товаров
          type: integer
          format: uint64
      required:
        - supplierRating
        - advertisedProducts
        - totalProducts
    PositionInfo:
      type: object
      description: Информация о позиции товара
      properties:
        average:
          description: Средняя позиция товара в результатах поиска
          type: object
          properties:
            current:
              example: 5
              description: Текущая средняя позиция товара
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
        median:
          description: Медианная позиция товара в результатах поиска
          type: object
          properties:
            current:
              example: 5
              description: Текущая медианная позиция товара
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
        chartItems:
          type: array
          description: Данные для чарта по средней и медианной позиции товара в результатах поиска
          items:
            $ref: '#/components/schemas/SearchReportPositionChartItem'
        clusters:
          $ref: '#/components/schemas/SearchReportPositionClusters'
      required:
        - average
        - median
        - chartItems
        - clusters
    SearchReportPositionChartItem:
      type: object
      properties:
        dt:
          example: '2024-10-19'
          type: string
          description: Дата
        average:
          example: 1
          type: integer
          description: Средняя позиция товара в результатах поиска
          format: uint64
        median:
          example: 1
          type: integer
          description: Медианная позиция товара в результатах поиска
          format: uint64
      required:
        - dt
        - average
        - median
    SearchReportPositionClusters:
      type: object
      description: |
        Количество товаров со средней позицией в поиске:
          - `firstHundred` — от 1 до 100
          - `secondHundred` — от 101 до 200
          - `below` — от 201 и ниже
      properties:
        firstHundred:
          description: от 1 до 100
          type: object
          properties:
            current:
              example: 5
              description: Текущее количество товаров
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
        secondHundred:
          description: от 101 до 200
          type: object
          properties:
            current:
              example: 5
              description: Текущее количество товаров
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
        below:
          description: от 201 и ниже
          type: object
          properties:
            current:
              example: 5
              description: Текущее количество товаров
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
      required:
        - firstHundred
        - secondHundred
        - below
    VisibilityInfo:
      type: object
      description: Видимость карточек и переходы в карточки. По дням, неделям, месяцам
      properties:
        visibility:
          description: Видимость — процент вероятности, что пользователь увидит карточку товара. Зависит от средней позиции
          type: object
          properties:
            current:
              example: 5
              description: Видимость в текущий период
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
        openCard:
          description: Количество переходов в карточку товара из поиска
          type: object
          properties:
            current:
              example: 5
              description: Текущее количество переходов
              type: integer
            dynamics:
              example: 50
              description: Динамика по сравнению с предыдущим периодом, %
              type: integer
          required:
            - current
        byDay:
          type: array
          description: Данные для отрисовки графика в личном кабинете по видимости и переходам в карточки по дням
          items:
            type: object
            properties:
              dt:
                $ref: '#/components/schemas/Date'
              visibility:
                example: 100
                description: Видимость карточки в результатах поиска, %
                type: integer
                format: uint64
              open:
                example: 124
                description: Количество переходов в карточку
                type: integer
                format: uint64
            required:
              - dt
              - visibility
              - open
        byWeek:
          type: array
          description: Данные для отрисовки графика в личном кабинете по видимости и переходам в карточки по неделям
          items:
            type: object
            properties:
              dt:
                $ref: '#/components/schemas/Date'
              visibility:
                example: 100
                description: Видимость карточки в результатах поиска, %
                type: integer
                format: uint64
              open:
                example: 124
                description: Количество переходов в карточку
                type: integer
                format: uint64
            required:
              - dt
              - visibility
              - open
        byMonth:
          type: array
          description: Данные для отрисовки графика в личном кабинете по видимости и переходам в карточки по месяцам
          items:
            type: object
            properties:
              dt:
                $ref: '#/components/schemas/Date'
              visibility:
                example: 100
                description: Видимость карточки в результатах поиска, %
                type: integer
                format: uint64
              open:
                example: 124
                description: Количество переходов в карточку
                type: integer
                format: uint64
            required:
              - dt
              - visibility
              - open
      required:
        - visibility
        - openCard
    Date:
      type: string
      description: Дата
      format: date
      example: '2024-02-10'
    TableGroupItem:
      type: object
      description: |
        К группе товаров относятся все карточки, подходящие хотя бы по одному из параметров:
          - `subjectName` — название предмета
          - `brandName` — бренд
          - `tagName` — название ярлыка
      properties:
        subjectName:
          example: Phones
          description: Название предмета
          type: string
        subjectId:
          example: 50
          description: ID предмета
          type: integer
          format: uint64
        brandName:
          example: Apple
          description: Бренд
          type: string
        tagName:
          example: phones
          description: Название ярлыка
          type: string
        tagId:
          example: 65
          description: ID ярлыка
          type: integer
          format: int64
        metrics:
          type: object
          description: Метрики товара в таблице
          properties:
            avgPosition:
              description: Средняя позиция товара в результатах поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая средняя позиция
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            openCard:
              description: Количество переходов в карточку товара из поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество переходов
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            addToCart:
              description: Сколько раз товар из поиска добавили в корзину
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            openToCart:
              description: Конверсия в корзину из поиска — доля добавлений товара в корзину по отношению ко всем переходам в карточку товара из поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая конверсия
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            orders:
              description: Сколько раз товары из поиска заказали
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            cartToOrder:
              description: Конверсия в заказ из поиска — доля заказов товара по отношению ко всем добавлениям товара из поиска в корзину
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая конверсия
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            visibility:
              description: Процент видимости товара в результатах поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущий процент видимости
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
          required:
            - avgPosition
            - openCard
            - addToCart
            - openToCart
            - orders
            - cartToOrder
            - visibility
        items:
          type: array
          description: Массив товаров группы
          items:
            $ref: '#/components/schemas/TableProductItem'
      required:
        - metrics
        - items
    TableProductItem:
      type: object
      allOf:
        - type: object
          properties:
            nmId:
              example: 268913787
              description: Артикул WB
              type: integer
              format: int64
            name:
              example: iPhone 13 256 ГБ Серебристый
              description: Название товара
              type: string
            vendorCode:
              example: wb3ha2668w
              description: Артикул продавца
              type: string
            subjectName:
              example: Смартфоны
              description: Название предмета
              type: string
            brandName:
              example: Apple
              description: Бренд
              type: string
            mainPhoto:
              example: https://basket-12.wbbasket.ru/vol1788/part178840/178840836/images/c246x328/1.webp
              description: URL главного фото карточки товара
              type: string
            isAdvertised:
              example: false
              description: Находится ли товар в продвижении в Поисковой выдаче
              type: boolean
            isSubstitutedSKU:
              type: boolean
              example: true
              description: |
                Искали ли товар по подменному артикулу.<br>
                Поле будет в ответе при наличии в запросе `includeSubstitutedSKUs` и/или `includeSearchTexts`
            isCardRated:
              example: true
              description: Есть ли рейтинг у карточки товара
              type: boolean
            rating:
              example: 6
              description: Рейтинг карточки товара
              type: number
              format: float64
            feedbackRating:
              example: 1
              description: Рейтинг по отзывам
              type: number
              format: float64
            price:
              description: Цена
              type: object
              properties:
                minPrice:
                  example: 150
                  description: Минимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба)
                  type: integer
                  format: uint64
                maxPrice:
                  example: 300
                  description: Максимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба)
                  type: integer
                  format: uint64
              required:
                - minPrice
                - maxPrice
            avgPosition:
              description: Средняя позиция товара в результатах поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая средняя позиция
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            openCard:
              description: Количество переходов в карточку товара из поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество переходов
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            addToCart:
              description: Сколько раз товар из поиска добавили в корзину
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            openToCart:
              description: Конверсия в корзину из поиска — доля добавлений товара в корзину по отношению ко всем переходам в карточку товара из поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая конверсия
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            orders:
              description: Сколько раз товары из поиска заказали
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            cartToOrder:
              description: Конверсия в заказ из поиска — доля заказов товара по отношению ко всем добавлениям товара из поиска в корзину
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая конверсия
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            visibility:
              description: Процент видимости товара в результатах поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущий процент видимости
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
      required:
        - nmId
        - vendorCode
        - isAdvertised
        - isCardRated
        - rating
        - feedbackRating
        - price
        - avgPosition
        - openCard
        - addToCart
        - openToCart
        - orders
        - cartToOrder
        - visibility
    ErrorObject400:
      type: object
      properties:
        title:
          type: string
          description: Заголовок ошибки
          example: Invalid request body
        detail:
          type: string
          description: Детали ошибки
          example: 'code=400, message=invalid: positionCluster (field required), limit (field required), offset (field required), internal=invalid: positionCluster (field required), limit (field required), offset (field required'
        requestId:
          type: string
          description: Уникальный ID запроса
          example: fb25c9e9-cae8-52db-b68e-736c1466a3f5
        origin:
          type: string
          description: ID внутреннего сервиса WB
          example: analytic-open-api
      required:
        - title
        - detail
        - requestId
        - origin
    ErrorObject403:
      type: object
      properties:
        title:
          type: string
          description: Заголовок ошибки
          example: Authorization error
        detail:
          type: string
          description: Детали ошибки
          example: Authorization error
        requestId:
          type: string
          description: Уникальный ID запроса
          example: fb25c9e9-cae8-52db-b68e-736c1466a3f5
        origin:
          type: string
          description: ID внутреннего сервиса WB
          example: analytic-open-api
      required:
        - title
        - detail
        - requestId
        - origin
    TableGroupRequest:
      type: object
      description: |
        Параметры запроса для пагинации по группам:
          - `currentPeriod` — текущий период
          - `pastPeriod` — предыдущий период для сравнения
      properties:
        currentPeriod:
          $ref: '#/components/schemas/Period'
        pastPeriod:
          $ref: '#/components/schemas/pastPeriod'
        nmIds:
          example:
            - 162579635
            - 166699779
          type: array
          description: Список артикулов WB для фильтрации
          items:
            type: integer
            format: int32
        subjectIds:
          example:
            - 64
            - 334
          type: array
          description: Список ID предметов для фильтрации
          items:
            type: integer
            format: int32
        brandNames:
          example:
            - nille
            - aikas
          type: array
          description: Список брендов для фильтрации
          items:
            type: string
        tagIds:
          example:
            - 32
            - 53
          description: Список ID ярлыков для фильтрации
          type: array
          items:
            type: integer
            format: int64
        orderBy:
          $ref: '#/components/schemas/OrderByGrTe'
        positionCluster:
          $ref: '#/components/schemas/PositionCluster'
        includeSubstitutedSKUs:
          type: boolean
          default: true
          example: true
          description: Показать данные по прямым запросам с [подменным артикулом](https://seller.wildberries.ru/help-center/article/A-524)
        includeSearchTexts:
          type: boolean
          default: true
          example: false
          description: Показать данные по поисковым запросам без учёта подменного артикула
        limit:
          example: 130
          type: integer
          description: Количество групп товаров в ответе
          format: uint32
          maximum: 1000
        offset:
          example: 50
          type: integer
          description: После какого элемента выдавать данные
          format: uint32
      required:
        - currentPeriod
        - orderBy
        - positionCluster
        - limit
        - offset
    OrderByGrTe:
      type: object
      description: Параметры сортировки
      properties:
        field:
          description: |
            Поле для сортировки:
              - `avgPosition` — по средней позиции
              - `addToCart` — по добавлениям в корзину
              - `openCard` — по открытию карточки (переход на страницу товара)
              - `orders` — по количеству заказов
              - `cartToOrder` — по конверсии в заказ из поиска
              - `openToCart` — по конверсии в корзину из поиска
              - `visibility` — по видимости товара
          example: avgPosition
          type: string
          enum:
            - avgPosition
            - openCard
            - addToCart
            - openToCart
            - orders
            - cartToOrder
            - visibility
        mode:
          type: string
          example: asc
          description: |
            Порядок сортировки:
              - `asc` — по возрастанию
              - `desc` — по убыванию
          enum:
            - asc
            - desc
      required:
        - field
        - mode
    TableGroupResponse:
      type: object
      properties:
        groups:
          description: |
            Список групп товаров для таблицы
          type: array
          items:
            $ref: '#/components/schemas/TableGroupItem'
      required:
        - groups
    TableDetailsRequest:
      description: |
        Параметры запроса для пагинации по товарам в группе:
          - `currentPeriod` — текущий период
          - `pastPeriod` — предыдущий период для сравнения
      type: object
      properties:
        currentPeriod:
          $ref: '#/components/schemas/Period'
        pastPeriod:
          $ref: '#/components/schemas/pastPeriod'
        subjectId:
          example: 123
          description: ID предмета
          type: integer
          format: int32
        brandName:
          example: Apple
          description: Название товара
          type: string
        tagId:
          example: 45
          description: ID ярлыка
          type: integer
          format: int64
        nmIds:
          example:
            - 162579635
            - 166699779
          type: array
          maxItems: 50
          description: Список артикулов WB
          items:
            type: integer
            format: uint64
        orderBy:
          $ref: '#/components/schemas/OrderBy'
        positionCluster:
          description: |
            Товары с какой средней позицией в поиске показывать в отчёте:
              - `all` — все
              - `firstHundred` — от 1 до 100
              - `secondHundred` — от 101 до 200
              - `below` — от 201 и ниже
          type: string
          enum:
            - all
            - firstHundred
            - secondHundred
            - below
        includeSubstitutedSKUs:
          type: boolean
          default: true
          example: true
          description: Показать данные по прямым запросам с [подменным артикулом](https://seller.wildberries.ru/help-center/article/A-524)
        includeSearchTexts:
          type: boolean
          default: true
          example: false
          description: Показать данные по поисковым запросам без учёта подменного артикула
        limit:
          example: 150
          description: Количество товаров в ответе
          type: integer
          format: uint32
          maximum: 1000
        offset:
          example: 100
          description: После какого элемента выдавать данные
          type: integer
          format: uint32
      required:
        - currentPeriod
        - orderBy
        - positionCluster
        - limit
        - offset
    TableDetailsResponse:
      type: object
      properties:
        products:
          description: |
            Список товаров в группе по фильтру
          type: array
          items:
            $ref: '#/components/schemas/TableProductItem'
      required:
        - products
    ProductSearchTextsRequest:
      description: |
        Параметры для запроса по рейтингу поисковых запросов:
          - `currentPeriod` — текущий период
          - `pastPeriod` — предыдущий период для сравнения
      type: object
      properties:
        currentPeriod:
          $ref: '#/components/schemas/Period'
        pastPeriod:
          $ref: '#/components/schemas/pastPeriod'
        nmIds:
          example:
            - 162579635
            - 166699779
          type: array
          description: Список артикулов WB
          maxItems: 50
          items:
            type: integer
            format: uint64
        topOrderBy:
          example: openToCart
          description: |
            Фильтрация по поисковым запросам, по которым больше всего:
              - `openCard` — перешли в карточку
              - `addToCart` — добавили в корзину
              - `openToCart` — конверсия в корзину
              - `orders` — заказали товаров
              - `cartToOrder` — конверсия в заказ
          type: string
          enum:
            - openCard
            - addToCart
            - openToCart
            - orders
            - cartToOrder
        includeSubstitutedSKUs:
          type: boolean
          default: true
          example: true
          description: Показать данные по прямым запросам с [подменным артикулом](https://seller.wildberries.ru/help-center/article/A-524)
        includeSearchTexts:
          type: boolean
          default: true
          example: false
          description: Показать данные по поисковым запросам без учёта подменного артикула
        orderBy:
          $ref: '#/components/schemas/OrderByGrTe'
        limit:
          $ref: '#/components/schemas/TextLimit'
      required:
        - currentPeriod
        - nmIds
        - limit
        - topOrderBy
        - orderBy
    TextLimit:
      oneOf:
        - $ref: '#/components/schemas/StandardTariff'
        - $ref: '#/components/schemas/AdvancedTariff'
    StandardTariff:
      type: integer
      format: uint64
      example: 20
      minimum: 1
      maximum: 30
      description: Количество поисковых запросов по товару для [стандартного](https://seller.wildberries.ru/monetization/tariffs) тарифа
    AdvancedTariff:
      type: integer
      format: uint64
      example: 50
      minimum: 1
      maximum: 100
      description: Количество поисковых запросов по товару для [продвинутого](https://seller.wildberries.ru/monetization/tariffs) тарифа
    ProductSearchTextsResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/TableSearchTextItem'
      required:
        - items
    TableSearchTextItem:
      type: object
      allOf:
        - type: object
          properties:
            text:
              description: Текст поискового запроса
              example: костюм
              type: string
            nmId:
              example: 211131895
              description: Артикул WB
              type: integer
              format: uint64
            subjectName:
              example: Phones
              description: Название предмета
              type: string
            brandName:
              example: Apple
              description: Бренд
              type: string
            vendorCode:
              example: wb3ha2668w
              description: Артикул продавца
              type: string
            name:
              example: iPhone 13 256 ГБ Серебристый
              description: Название товара
              type: string
            isCardRated:
              example: true
              description: Есть ли рейтинг у карточки товара
              type: boolean
            rating:
              example: 6
              description: Рейтинг карточки товара
              type: number
              format: float64
            feedbackRating:
              example: 1
              description: Рейтинг по отзывам
              type: number
              format: float64
            price:
              description: Цена
              type: object
              properties:
                minPrice:
                  example: 150
                  description: Минимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба)
                  type: integer
                  format: uint64
                maxPrice:
                  example: 300
                  description: Максимальная цена продавца со скидкой продавца (без учёта скидки WB Клуба)
                  type: integer
                  format: uint64
              required:
                - minPrice
                - maxPrice
            frequency:
              description: Количество обращений с поисковым запросом
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            weekFrequency:
              description: Количество обращений с поисковым запросом за неделю
              example: 140
              type: integer
              format: uint64
            medianPosition:
              description: Медианная позиция. Учитываются только те позиции, из которых пользователи добавляли товар в корзину или переходили в его карточку. Серединное значение позиции в поисковой выдаче, которое исключает сильные отклонения данных от среднего значения
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая медианная позиция
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            avgPosition:
              description: Средняя позиция товара в результатах поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая средняя позиция
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
            openCard:
              description: Количество переходов в карточку товара из поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество переходов
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
                percentile:
                  example: 50
                  description: Процент, на который показатель количества открытий карточки товара выше, чем у карточек конкурентов по поисковому запросу
                  type: integer
                  format: uint64
              required:
                - current
                - percentile
            addToCart:
              description: Сколько раз товар из поиска добавили в корзину
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
                percentile:
                  example: 50
                  description: Процент, на который показатель добавлений в корзину выше, чем у карточек конкурентов по поисковому запросу
                  type: integer
                  format: uint64
              required:
                - current
                - percentile
            openToCart:
              description: Конверсия в корзину из поиска — доля добавлений товара в корзину по отношению ко всем переходам в карточку товара из поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая конверсия
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
                percentile:
                  example: 50
                  description: Процент, на который показатель конверсии в корзину выше, чем у карточек конкурентов по поисковому запросу
                  type: integer
                  format: uint64
              required:
                - current
                - percentile
            orders:
              description: Сколько раз товары из поиска заказали
              type: object
              properties:
                current:
                  example: 5
                  description: Текущее количество
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
                percentile:
                  example: 50
                  description: Процент, на который показатель заказов выше, чем у карточек конкурентов по поисковому запросу
                  type: integer
                  format: uint64
              required:
                - current
                - percentile
            cartToOrder:
              description: Конверсия в заказ из поиска — доля заказов товара по отношению ко всем добавлениям товара из поиска в корзину
              type: object
              properties:
                current:
                  example: 5
                  description: Текущая конверсия
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
                percentile:
                  example: 50
                  description: Процент, на который показатель конверсии в заказ выше, чем у карточек конкурентов по поисковому запросу
                  type: integer
                  format: uint64
              required:
                - current
                - percentile
            visibility:
              description: Процент видимости товара в результатах поиска
              type: object
              properties:
                current:
                  example: 5
                  description: Текущий процент
                  type: integer
                dynamics:
                  example: 50
                  description: Динамика по сравнению с предыдущим периодом, %
                  type: integer
              required:
                - current
          required:
            - text
            - nmId
            - subjectName
            - brandName
            - vendorCode
            - name
            - isCardRated
            - rating
            - feedbackRating
            - price
            - frequency
            - weekFrequency
            - medianPosition
            - avgPosition
            - openCard
            - addToCart
            - openToCart
            - orders
            - cartToOrder
            - visibility
    ProductOrdersRequest:
      type: object
      properties:
        period:
          $ref: '#/components/schemas/PeriodOrdersRequest'
        nmId:
          example: 211131895
          description: Артикул WB
          type: integer
          format: uint64
        searchTexts:
          example:
            - костюм
            - пиджак
          description: Поисковые запросы. Для тарифа [Продвинутый](https://seller.wildberries.ru/monetization/tariffs) максимум — 100
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 30
      required:
        - period
        - nmId
        - searchTexts
    PeriodOrdersRequest:
      type: object
      description: Текущий период. Максимум 7 суток
      required:
        - start
        - end
      properties:
        start:
          type: string
          description: Дата начала периода. Не позднее `end`. Не ранее 365 суток от сегодня
          format: date
          example: '2024-02-10'
        end:
          type: string
          description: Дата окончания периода. Не ранее 365 суток от сегодня
          format: date
          example: '2024-02-10'
    ProductOrdersResponse:
      type: object
      properties:
        total:
          description: Итог по товарам
          type: array
          items:
            $ref: '#/components/schemas/ProductOrdersMetrics'
        items:
          description: Элементы таблицы
          type: array
          items:
            $ref: '#/components/schemas/ProductOrdersTextItem'
      required:
        - total
        - items
    ProductOrdersMetrics:
      type: object
      properties:
        dt:
          type: string
          description: Дата сбора статистики
          format: date
          example: '2024-02-10'
        avgPosition:
          example: 10
          description: Средняя позиция товара в результатах поиска
          type: integer
          format: uint64
        orders:
          example: 20
          description: Сколько раз товары из поиска заказали
          type: integer
          format: uint64
      required:
        - dt
        - avgPosition
        - orders
    ProductOrdersTextItem:
      type: object
      properties:
        text:
          description: Текст поискового запроса
          type: string
        frequency:
          description: Количество обращений с поисковым запросом
          type: integer
          format: uint64
        dateItems:
          description: Статистика по датам
          type: array
          items:
            $ref: '#/components/schemas/ProductOrdersMetrics'
      required:
        - text
        - frequency
        - dateItems
