openapi: 3.0.1
info:
  title: Воронка продаж
  version: analytics
servers:
- url: https://seller-analytics-api.wildberries.ru
security:
- HeaderApiKey: []
tags:
- name: Воронка продаж
  description: ''
paths:
  /api/analytics/v3/sales-funnel/products:
    servers:
    - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
      - Воронка продаж
      summary: Статистика карточек товаров за период
      operationId: postSalesFunnelProducts
      description: |
        Метод формирует отчёт о товарах, сравнивая ключевые показатели — например, добавления в корзину, заказы и переходы в карточку товара — за текущий период с аналогичным прошлым.<br><br>

        Параметры `brandNames`,`subjectIds`, `tagIds`, `nmIds` могут быть пустыми `[]`, тогда в ответе возвращаются все карточки продавца.<br><br>

        Если вы указали несколько параметров, в ответе будут карточки, в которых есть одновременно все эти параметры. Если карточки не подходят по параметрам запроса, вернётся пустой ответ `[]`.<br><br>

        Можно получить отчёт максимум за последние 365 дней.<br><br>

        В данных предыдущего периода:
          * Данные в `pastPeriod` указаны за такой же период, что и в `selectedPeriod`
          * Если дата начала  `pastPeriod` раньше, чем год назад от текущей даты, она будет приведена к виду: `pastPeriod.start = текущая дата — 365 дней`

        Можно использовать пагинацию.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 3 запроса | 20 сек | 3 запроса |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: _schemas.yaml#/components/schemas/ProductsRequest
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    allOf:
                    - type: object
                      description: Статистика
                    - $ref: _schemas.yaml#/components/schemas/ProductsResponse
        '400':
          $ref: _schemas.yaml#/components/responses/BadRequestErrorResponse
        '401':
          $ref: _schemas.yaml#/components/responses/401
        '403':
          $ref: _schemas.yaml#/components/responses/AuthorizationErrorResponse
        '429':
          $ref: _schemas.yaml#/components/responses/429
  /api/analytics/v3/sales-funnel/products/history:
    servers:
    - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
      - Воронка продаж
      summary: Статистика карточек товаров по дням
      operationId: postSalesFunnelProductsHistory
      description: |
        Метод возвращает статистику карточек товаров по дням или неделям. Доступны данные по добавлениям в корзину, заказам, переходам в карточку товара и так далее.

        Можно получить данные максимум за последнюю неделю.

        <div class="description_important">
          Чтобы получать отчёты за период до года, используйте методы <a href="/openapi/analytics#tag/Analitika-prodavca-CSV">Аналитика продавца CSV</a>. Эти методы доступны только с подпиской на <a href='https://seller.wildberries.ru/monetization/jam'>расширенную аналитику Джем</a>
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 3 запроса | 20 сек | 3 запроса |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: _schemas.yaml#/components/schemas/ProductHistoryRequest
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/ProductHistoryResponse
        '400':
          $ref: _schemas.yaml#/components/responses/BadRequestErrorResponse
        '401':
          $ref: _schemas.yaml#/components/responses/401
        '403':
          $ref: _schemas.yaml#/components/responses/AuthorizationErrorResponse
        '429':
          $ref: _schemas.yaml#/components/responses/429
  /api/analytics/v3/sales-funnel/grouped/history:
    servers:
    - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
      - Воронка продаж
      summary: Статистика групп карточек товаров по дням
      operationId: postSalesFunnelGroupedHistory
      description: |
        Метод возвращает статистику карточек товаров по дням или неделям. Карточки товаров сгруппированы по предметам, брендам и ярлыкам. Доступны данные по добавлениям в корзину, заказам, переходам в карточку товара и так далее.<br><br>

        Параметры `brandNames`, `subjectIds`, `tagIds` могут быть пустыми `[]`, тогда группировка происходит по всем карточкам продавца.<br><br>

        Произведение количества предметов, брендов, ярлыков в запросе может быть не больше 16. Например, 4 бренда и 4 предмета или 2 предмета, 2 ярлыка и 4 бренда.<br><br>

        Можно получить данные максимум за последнюю неделю.

        <div class="description_important">
          Чтобы получать отчёты за период до года, используйте методы <a href="/openapi/analytics#tag/Analitika-prodavca-CSV">Аналитика продавца CSV</a>. Эти методы доступны только с подпиской на <a href='https://seller.wildberries.ru/monetization/jam'>расширенную аналитику Джем</a>
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 3 запроса | 20 сек | 3 запроса |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: _schemas.yaml#/components/schemas/GroupedHistoryRequest
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                required:
                - data
                properties:
                  data:
                    $ref: _schemas.yaml#/components/schemas/GroupedHistoryResponse
        '400':
          $ref: _schemas.yaml#/components/responses/BadRequestErrorResponse
        '401':
          $ref: _schemas.yaml#/components/responses/401
        '403':
          $ref: _schemas.yaml#/components/responses/AuthorizationErrorResponse
        '429':
          $ref: _schemas.yaml#/components/responses/429
components:
  securitySchemes:
    HeaderApiKey:
      type: apiKey
      name: Authorization
      in: header
