openapi: 3.0.1
info:
  title: 02-products - Карточки товаров (Part 2/4)
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://content-api.wildberries.ru
tags:
  - name: Карточки товаров
    description: Карточки товаров endpoints
paths:
  /content/v2/cards/error/list:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Список несозданных карточек товаров с ошибками
      description: |
        Метод возвращает список карточек товаров ([черновиков](https://seller.wildberries.ru/new-goods/error-cards)), при создании или редактировании которых произошли ошибки, с описанием этих ошибок.
        <br><br>
        Данные в ответе возвращаются пакетами `batch`. Один пакет содержит:
          - все ошибки по одному массиву `variants` одного запроса при [создании](/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post) карточек товаров
          - все ошибки одного запроса при [создании с присоединением](/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post) или [редактировании](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post) карточек товаров
        <br><br>
        Чтобы получить более 100 пакетов, используйте пагинацию:
          1. Сделайте первый запрос: <br>
              <pre style="background-color: rgb(38 50 56 / 5%); color: #e53935">
                {
                  "cursor": {
                    "limit": 100
                  },
                  "order": {
                    "ascending": true
                  }
                }</pre>
          2. Скопируйте `"updatedAt":"***","batchUUID":"***" `из `cursor` ответа и вставьте в `cursor` запроса.
          3. Повторите запрос.
          4. Повторяйте пункты 2 и 3, пока не получите в ответе `"next":false`. Это будет означать, что вы получили все пакеты.

        <div class="description_important">
          Чтобы удалить карточку товара из списка, сделайте ещё один запрос на создание, создание с присоединением или редактирование карточки товара с исправленными ошибками
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 10 запросов | 6 сек | 5 запросов |
        </div>
      tags:
        - Карточки товаров
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            example: en
          description: |
            Язык названий предметов:
              - `ru` — русский
              - `en` — английский
              - `zh` — китайский
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/requestPublicViewerPublicErrorsTableListV2"
            example:
              cursor:
                limit: 31
                updatedAt: "2025-08-05T17:54:40+08:00"
                batchUUID: bca3744c-1c8b-4588-b345-62af3b2899ae
              order:
                ascending: true
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responsePublicViewerPublicErrorsTableListV2"
              example:
                data:
                  items:
                    - batchUUID: b15fecaf-57fd-4b63-ab6f-18d630b8793e
                      subjects:
                        wb15j2kjk9:
                          id: 8827
                          name: Автомобили с пробегом
                        wb3g6advyh:
                          id: 8827
                          name: Автомобили с пробегом
                        wb3g7xx8g9:
                          id: 8827
                          name: Автомобили с пробегом
                        wb4uphjn61:
                          id: 8827
                          name: Автомобили с пробегом
                        wb64nayozt:
                          id: 8827
                          name: Автомобили с пробегом
                      brands: {}
                      vendorCodes:
                        - wb64nayozt
                        - wb15j2kjk9
                        - wb3g7xx8g9
                        - wb3g6advyh
                        - wb4uphjn61
                      errors:
                        wb15j2kjk9:
                          - "Поле Наименование не должно содержать запрещенные символы: 😈 😊 🤨"
                        wb3g6advyh:
                          - "Поле Наименование не должно содержать запрещенные символы: 😊 🤨 😈"
                        wb3g7xx8g9:
                          - "Поле Наименование не должно содержать запрещенные символы: 🤯"
                        wb4uphjn61:
                          - "Поле Наименование не должно содержать запрещенные символы: 😊 🤨 😈"
                        wb64nayozt:
                          - "Поле Наименование не должно содержать запрещенные символы: 😈 😊 🤨"
                    - batchUUID: 30aa42ec-fb49-45ec-86d5-ddf9911e7e3f
                      subjects:
                        test_pasha1:
                          id: 184
                          name: Рубашки
                      brands: {}
                      vendorCodes:
                        - test_pasha1
                      errors:
                        test_pasha1:
                          - Запрещено использовать E-Mail в поле Наименование
                          - Запрещено использовать E-Mail в поле Описание
                  cursor:
                    next: true
                    updatedAt: "2025-08-25T10:05:21Z"
                    batchUUID: 1cd79751-de1f-46c8-a444-a941d35dde56
                error: false
                errorText: ""
                additionalErrors: null
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseBodyContentError400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseBodyContentError403"
        "429":
          $ref: "#/components/responses/429"
  /content/v2/cards/update:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      tags:
        - Карточки товаров
      summary: Редактирование карточек товаров
      description: |
        Метод обновляет данные карточек товаров. Также используйте его, чтобы добавлять новые размеры.

        <div class="description_important">
          Карточка товара перезаписывается при обновлении. Поэтому в запросе нужно передать в том числе те параметры карточки, которые вы не собираетесь обновлять. Их значения можно получить в <a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1list/post">списке карточек товаров</a> и <a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1trash/post">списке карточек товаров в корзине</a>.
        </div>

        С помощью этого метода нельзя обновлять или удалять:
          - баркоды размеров товара. Можно только добавить дополнительные баркоды
          - параметры `photos`, `video` и `tags`
          - цены товаров. Цену можно задать, только если вы добавляете новые размеры

        При добавлении нового размера укажите его цену через параметр `price`. Если в запросе не указан `price`, цена размера будет `0` — в этом случае изменить её можно будет с помощью методов:
          - [Установить цены и скидки](/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1upload~1task/post), если у [товара](/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1list~1goods~1filter/get) `"editablePriceSize":false`
          - [Установить цены для размеров](/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1upload~1task~1size/post), если у [товара](/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1list~1goods~1filter/get) `"editablePriceSize":true`

        Габариты товаров можно указать только в `сантиметрах`, вес товара с упаковкой — в `килограммах`.
        <br><br>
        Одним запросом можно отредактировать максимум 3000 карточек товаров (`nmID`). Максимальный размер запроса 10 Мб.<br>
        Если ответ `Успешно` (`200`), но какие-то карточки не обновились, проверьте [список несозданных карточек товаров](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post).<br>
        Синхронизация данных с сервисами может занимать до 30 минут. В течение этого времени невозможно добавить остатки на склады и настроить цены. <br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 10 запросов | 6 сек | 5 запросов |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - nmID
                  - vendorCode
                  - sizes
                minimum: 1
                maximum: 3000
                properties:
                  nmID:
                    type: integer
                    description: Артикул WB
                  vendorCode:
                    type: string
                    description: Артикул продавца
                  brand:
                    type: string
                    description: Бренд
                  title:
                    type: string
                    description: Наименование товара
                    maxLength: 60
                  description:
                    type: string
                    description: |
                      Описание товара<br>
                      Максимальное количество символов зависит от категории товара<br>
                      Стандарт — 2000, минимум — 1000, максимум — 5000<br>
                      Подробно о правилах описания в **Правилах заполнения карточки товара** в [Справочном центре](https://seller.wildberries.ru/help-center/article/A-113) на портале продавцов
                  dimensions:
                    description: |
                      Габариты и вес товара `c упаковкой`.<br>
                      Укажите в `сантиметрах` и `килограммах` для любого товара.<br>
                      Синхронизация новых данных с сервисом может занимать до 30 минут
                    type: object
                    properties:
                      length:
                        type: integer
                        description: Длина, см
                      width:
                        type: integer
                        description: Ширина, см
                      height:
                        type: integer
                        description: Высота, см
                      weightBrutto:
                        type: number
                        description: Вес, кг<br>Количество знаков после запятой <=3
                  characteristics:
                    type: array
                    description: |
                      Характеристики товара.
                      <br>
                      Можно получить методом [Характеристики предмета](./work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get)
                    items:
                      type: object
                      required:
                        - id
                        - value
                      properties:
                        id:
                          type: integer
                          description: ID характеристики
                        value:
                          description: |
                            Значения характеристики.
                            <br>
                            Тип данных — массив строк или число — зависит от типа характеристики, см. описание поля `charcType` в методе [Характеристики предмета](./work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get).
                            <br>
                            Допустимое количество значений отображено в поле `maxCount` того же метода
                  sizes:
                    type: array
                    description: |
                      Массив размеров<br>
                      Для безразмерного товара всё равно нужно передавать данный массив без параметров (wbSize и techSize), но с баркодом
                    items:
                      type: object
                      properties:
                        chrtID:
                          type: integer
                          description: |
                            ID размера для данного артикула WB<br>
                            Обязателен к заполнению для существующих размеров<br>
                            Для добавляемых размеров не указывается
                        techSize:
                          type: string
                          description: Размер товара (например, XL, S, 45)
                        wbSize:
                          type: string
                          description: Российский размер товара
                        price:
                          type: integer
                          description: |
                            Цена товара, ₽<br>
                            Указывается при добавлении размера
                        skus:
                          type: array
                          items:
                            type: string
                          description: Баркоды
              example:
                - nmID: 11111111
                  vendorCode: wbiz72wmro
                  brand: ""
                  title: Свитер женский оверсайз с горлом
                  description: "12345"
                  dimensions:
                    length: 35
                    width: 40
                    height: 15
                    weightBrutto: 3
                  characteristics:
                    - id: 14177450
                      value:
                        - хлопок 50% акрил 50%
                    - id: 50
                      value:
                        - свободный крой
                  sizes:
                    - chrtID: 12345678
                      techSize: ONE SIZE
                      wbSize: 78-90
                      skus:
                        - "123487653460134"
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseCardCreate"
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseBodyContentError400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseBodyContentError403"
        "413":
          description: Превышен лимит объёма данных в запросе
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  detail:
                    type: string
                    description: Детали ошибки
                  code:
                    type: string
                    description: Внутренний код ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
                  status:
                    type: number
                    description: HTTP статус-код
                  statusText:
                    type: string
                    description: Расшифровка HTTP статус-кода
              example:
                title: request body too long
                detail: https://openapi.wildberries.ru/content/api/ru/
                code: 71d3de1b-001e-488f-bbf5-55c31254fbeb
                requestId: MN8usr6RfrzWHZfucSvNgb
                origin: s2s-api-auth-content
                status: 413
                statusText: Request Entity Too Large
        "429":
          $ref: "#/components/responses/429"
