openapi: 3.0.1
info:
  title: 02-products - Карточки товаров (Part 3/4)
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://content-api.wildberries.ru
tags:
  - name: Карточки товаров
    description: Карточки товаров endpoints
paths:
  /content/v2/cards/moveNm:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      tags:
        - Карточки товаров
      summary: Объединение и разъединение карточек товаров
      description: |
        Метод [объединяет и разъединяет](https://dev.wildberries.ru/news/101#obuedinenie-i-razuedinenie-kartochek-tovarov) карточки товаров. Карточки товаров являются объединёнными, если у них одинаковый `imtID`.
        <br><br>
        Для объединения карточек товаров сделайте запрос **с указанием** `imtID`. Можно объединять не более 30 карточек товаров.<br>
        Для разъединения карточек товаров сделайте запрос **без указания** `imtID`. Для разъединенных карточек будут сгенерированы новые `imtID`.
        <br><br>
        Если вы разъедините одновременно несколько карточек товаров, эти карточки объединятся в одну и получат новый `imtID`.<br>
        Чтобы присвоить каждой карточке товара уникальный `imtID`, необходимо передавать по одной карточке товара за запрос.<br>
        <br>
        Максимальный размер запроса 10 Мб.

        <div class="description_important">
          Объединить можно карточки товаров только в рамках одного предмета
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
        </ul>
        </div>
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/requestMoveNmsImtConn"
                - $ref: "#/components/schemas/requestMoveNmsImtDisconn"
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseCardCreate"
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/responseCardCreate"
                  - $ref: "#/components/schemas/responseIncorrectDate"
              examples:
                responseExceededLimit:
                  $ref: "#/components/examples/responseExceededLimit"
                responseCombining:
                  $ref: "#/components/examples/responseCombining"
                responseIncorrectRequestFormat:
                  $ref: "#/components/examples/responseIncorrectRequestFormat"
                responseNonExistentNmId:
                  $ref: "#/components/examples/responseNonExistentNmId"
                responseNonExistentImt:
                  $ref: "#/components/examples/responseNonExistentImt"
                responseCardCreate1:
                  $ref: "#/components/examples/responseCardCreate1"
                responseDuplicateRequests:
                  $ref: "#/components/examples/responseDuplicateRequests"
                responseAllCardsInSameGroup:
                  $ref: "#/components/examples/responseAllCardsInSameGroup"
                responseIncorrectBeginDate:
                  $ref: "#/components/examples/responseIncorrectBeginDate"
                responseIncorrectEndDate:
                  $ref: "#/components/examples/responseIncorrectEndDate"
        "401":
          $ref: "#/components/responses/401"
        "403":
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseCardCreate"
        "413":
          description: Превышен лимит объёма данных в запросе
          content:
            application/json:
              schema:
                type: string
              examples:
                BodySizeExceedsTheGivenLimit:
                  $ref: "#/components/examples/BodySizeExceedsTheGivenLimit"
        "429":
          $ref: "#/components/responses/429"
  /content/v2/cards/delete/trash:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Перенос карточек товаров в корзину
      description: |
        Метод переносит [карточки товаров в корзину](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1trash/post). При этом карточки товаров не удаляются, их можно [восстановить](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post).

        <div class="description_important">
          После переноса в корзину карточке товара присваивается новый <code>imtID</code> — ID для <a href="https://dev.wildberries.ru/news/101#obuedinenie-i-razuedinenie-kartochek-tovarov">объединённых</a> карточек товаров
        </div>

        Карточки товаров удаляются автоматически, если лежат в корзине больше 30 дней, и на них нет остатков. Очистка корзины происходит каждую ночь по московскому времени.<br>
        Карточки товаров можно удалить в любое время в [личном кабинете](https://seller.wildberries.ru/new-goods/basket-cards).
        <br><br>
        Карточка будет продаваться, пока по ней есть остатки на складе, даже если её переместили в корзину. Чтобы полностью снять карточку с продажи, обнулите остатки.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
        </ul>
        </div>
      tags:
        - Карточки товаров
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nmIDs:
                  description: Артикулы WB
                  minimum: 1
                  maximum: 1000
                  type: array
                  items:
                    type: integer
            example:
              nmIDs:
                - 123456789
                - 987654321
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                  error:
                    description: Флаг ошибки
                    type: boolean
                  errorText:
                    description: Описание ошибки
                    type: string
                  additionalErrors:
                    nullable: true
                    description: Дополнительные ошибки
                    type: object
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseBodyContentError400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseBodyContentError403"
        "429":
          $ref: "#/components/responses/429"
  /content/v2/cards/recover:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Восстановление карточек товаров из корзины
      description: |
        Метод восстанавливает [карточки товаров из корзины](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1trash/post).

        <div class="description_important">
          Карточка товара сохраняет тот же <code>imtID</code> — ID для <a href="https://dev.wildberries.ru/news/101#obuedinenie-i-razuedinenie-kartochek-tovarov">объединённых</a> карточек товаров — что был присвоен ей при <a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">перемещении в корзину</a>
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
        </ul>
        </div>
      tags:
        - Карточки товаров
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nmIDs:
                  description: Артикулы WB
                  type: array
                  minimum: 1
                  maximum: 1000
                  items:
                    type: integer
            example:
              nmIDs:
                - 123456789
                - 987654321
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                  error:
                    description: Флаг ошибки
                    type: boolean
                  errorText:
                    description: Описание ошибки
                    type: string
                  additionalErrors:
                    nullable: true
                    description: Дополнительные ошибки
                    type: object
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseBodyContentError400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseBodyContentError403"
        "429":
          $ref: "#/components/responses/429"
