openapi: 3.0.1
info:
  title: 02-products - Карточки товаров (Part 3/4)
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://content-api.wildberries.ru
tags:
  - name: Карточки товаров
    description: Карточки товаров endpoints
paths:
  /content/v2/cards/delete/trash:
    post:
      security:
        - HeaderApiKey: []
      summary: Перенос карточек товаров в корзину
      description: |
        Метод переносит [карточки товаров в корзину](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1trash/post). При этом карточки товаров не удаляются, их можно [восстановить](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1recover/post).

        <div class="description_important">
          После переноса в корзину карточке товара присваивается новый <code>imtID</code>.
        </div>

        Карточки товаров удаляются автоматически, если лежат в корзине больше 30 дней. Очистка корзины происходит каждую ночь по московскому времени.<br>
        Карточки товаров можно удалить в любое время в [личном кабинете](https://seller.wildberries.ru/new-goods/basket-cards).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 100 запросов | 600 миллисекунд | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
        </ul>
        </div>
      tags:
        - Карточки товаров
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nmIDs:
                  description: Артикул WB (max. 1000)
                  type: array
                  items:
                    type: integer
            example:
              nmIDs:
                - 123456789
                - 987654321
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                  error:
                    description: Флаг ошибки
                    type: boolean
                  errorText:
                    description: Описание ошибки
                    type: string
                  additionalErrors:
                    nullable: true
                    description: Дополнительные ошибки
                    type: object
              example:
                data: null
                error: false
                errorText: ''
                additionalErrors: {}
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/cards/recover:
    post:
      security:
        - HeaderApiKey: []
      summary: Восстановление карточек товаров из корзины
      description: |
        Метод восстанавливает [карточки товаров из корзины](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1trash/post).

        <div class="description_important">
          Карточка товара сохраняет тот же <code>imtID</code>, что был присвоен ей при <a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1delete~1trash/post">перемещении в корзину</a>.
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 100 запросов | 600 миллисекунд | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
        </ul>
        </div>
      tags:
        - Карточки товаров
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nmIDs:
                  description: Артикул WB (max. 1000)
                  type: array
                  items:
                    type: integer
            example:
              nmIDs:
                - 123456789
                - 987654321
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                  error:
                    description: Флаг ошибки
                    type: boolean
                  errorText:
                    description: Описание ошибки
                    type: string
                  additionalErrors:
                    nullable: true
                    description: Дополнительные ошибки
                    type: object
              example:
                data: null
                error: false
                errorText: ''
                additionalErrors: {}
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    responseBodyContentError400:
      type: object
      properties:
        data:
          type: object
          nullable: true
          description: Данные ошибки
        error:
          description: Флаг ошибки
          type: boolean
        errorText:
          description: Текст ошибки
          type: string
        additionalErrors:
          nullable: true
          description: Дополнительные ошибки
          type: object
    responseBodyContentError403:
      type: object
      properties:
        data:
          type: object
          nullable: true
          description: Данные ошибки
        error:
          description: Флаг ошибки
          type: boolean
        errorText:
          description: Текст ошибки
          type: string
        additionalErrors:
          nullable: true
          description: Дополнительные ошибки
          type: string
      example:
        data: null
        error: true
        errorText: Доступ запрещен
        additionalErrors: Доступ запрещен
    requestPublicViewerPublicErrorsTableListV2:
      type: object
      properties:
        cursor:
          $ref: '#/components/schemas/swagger.PublicErrorsCursorInput'
        order:
          $ref: '#/components/schemas/swagger.PublicErrorsOrderV2'
    swagger.PublicErrorsCursorInput:
      type: object
      description: Пагинатор
      properties:
        limit:
          type: number
          format: int
          description: Количество пакетов в ответе
          maximum: 100
          default: 100
        updatedAt:
          type: string
          format: date-time
          description: Дата и время формирования последнего пакета в ответе на предыдущий запрос
        batchUUID:
          type: string
          format: UUID
          description: ID последнего пакета в ответе на предыдущий запрос
    swagger.PublicErrorsOrderV2:
      type: object
      description: Порядок выдачи пакетов
      properties:
        ascending:
          type: boolean
          description: |
            - `false` — сортировка по убыванию
            - `true` — сортировка по возрастанию
          default: true
    responsePublicViewerPublicErrorsTableListV2:
      type: object
      required:
        - data
        - error
        - errorText
        - additionalErrors
      properties:
        data:
          $ref: '#/components/schemas/models.ErrorTableListPublicRespV2'
        error:
          description: Флаг ошибки
          type: boolean
        errorText:
          description: Описание ошибки
          type: string
        additionalErrors:
          nullable: true
          description: Дополнительные ошибки
          type: object
    models.ErrorTableListPublicRespV2:
      type: object
      description: Данные ответа
      required:
        - items
        - cursor
      properties:
        items:
          type: array
          description: Пакеты данных
          items:
            $ref: '#/components/schemas/models.ErrorTableListPublicRespV2Item'
        cursor:
          $ref: '#/components/schemas/viewer_contract.PublicErrorsCursorOutput'
    models.ErrorTableListPublicRespV2Item:
      type: object
      required:
        - batchUUID
        - subjects
        - brands
        - vendorCodes
        - errors
      properties:
        batchUUID:
          type: string
          format: UUID
          description: ID пакета
        subjects:
          type: object
          description: Предметы. Разбивка по `vendorCodes`
          additionalProperties:
            $ref: '#/components/schemas/models.ErrorSubject'
        brands:
          type: object
          description: Бренды. Разбивка по `vendorCodes`
          additionalProperties:
            $ref: '#/components/schemas/models.ErrorBrand'
        vendorCodes:
          type: array
          description: Артикулы продавца
          items:
            type: string
        errors:
          type: object
          description: Ошибки. Разбивка по `vendorCodes`
          additionalProperties:
            type: array
            items:
              type: string
    models.ErrorSubject:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: number
          format: uint64
          description: ID предмета
        name:
          type: string
          description: Название предмета
    models.ErrorBrand:
      type: object
      properties:
        id:
          type: number
          format: uint64
          description: ID бренда
        name:
          type: string
          description: Бренд
    viewer_contract.PublicErrorsCursorOutput:
      type: object
      required:
        - next
        - updatedAt
        - batchUUID
      description: Пагинатор
      properties:
        next:
          type: boolean
          description: |
            Есть ли ещё черновики:
              - `false` — нет
              - `true` — да
        updatedAt:
          type: string
          format: date-time
          description: Дата и время формирования последнего пакета в ответе
        batchUUID:
          type: string
          format: UUID
          description: ID последнего пакета в ответе
    responseCardCreate:
      type: object
      properties:
        data:
          type: object
          nullable: true
          example: null
          description: Данные ответа
        error:
          description: Флаг ошибки
          type: boolean
        errorText:
          description: Описание ошибки
          type: string
        additionalErrors:
          description: Дополнительные ошибки
          oneOf:
            - type: object
              nullable: true
              properties:
                string:
                  type: string
              additionalProperties: false
            - type: string
              nullable: true
            - type: object
              properties:
                error:
                  type: string
              required:
                - error
    requestMoveNmsImtConn:
      type: object
      required:
        - targetIMT
        - nmIDs
      properties:
        targetIMT:
          description: Существующий у продавца `imtID`, под которым необходимо объединить карточки товаров
          type: integer
          example: 123
        nmIDs:
          description: '`nmID`, которые необходимо объединить (максимум 30)'
          type: array
          items:
            type: integer
          example:
            - 837459235
            - 828572090
    requestMoveNmsImtDisconn:
      type: object
      required:
        - nmIDs
      properties:
        nmIDs:
          description: '`nmID`, которые необходимо разъединить (max 30)'
          type: array
          items:
            type: integer
          example:
            - 837459235
            - 828572090
      additionalProperties: false
    responseIncorrectDate:
      type: object
      properties:
        error:
          type: string
      additionalProperties: false
