openapi: 3.0.1
info:
  title: 02-products - Карточки товаров (Part 1/4)
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://content-api.wildberries.ru
tags:
  - name: Карточки товаров
    description: Карточки товаров endpoints
paths:
  /content/v2/get/cards/list:
    post:
      security:
        - HeaderApiKey: []
      tags:
        - Карточки товаров
      summary: Список карточек товаров
      description: |
        <div class="description_auth">
          Метод доступен по <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-token">токену</a> с категорией <strong>Контент</strong> или <strong>Продвижение</strong>
        </div>

        Метод возвращает список созданных карточек товаров.

        <div class="description_important">
          В ответе метода не будет карточек, находящихся в корзине. Получить такие карточки можно через <a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1trash/post">отдельный метод</a>.
        </div>

        Чтобы получить **больше 100** карточек товаров, используйте пагинацию:
          1. Сделайте первый запрос: <br>
              <pre style="background-color: rgb(38 50 56 / 5%); color: #e53935">
                {
                  "settings": {
                    "cursor": {
                      "limit": 100
                    },
                    "filter": {
                      "withPhoto": -1
                    }
                  }
                }</pre>
          2. Пройдите в конец полученного списка карточек товаров.
          3. Скопируйте из `cursor` две строки:
              - `"updatedAt": "***"`
              - `"nmID": ***`
          4. Вставьте скопированные строки в параметр запроса `cursor`.
          5. Повторите запрос.
          6. Повторяйте пункты 2-5, пока поле `total` в ответе не станет меньше чем параметр `limit` в запросе. Это будет означать, что вы получили все карточки.


        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 100 запросов | 600 миллисекунд | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
        </ul>
        </div>
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            example: ru
          description: "Язык полей ответа `name`, `value` и `object`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: object
                  description: Настройки
                  properties:
                    sort:
                      description: Параметр сортировки
                      type: object
                      properties:
                        ascending:
                          type: boolean
                          default: false
                          description: Сортировать по полю `updatedAt` (`false` - по убыванию, `true` - по возрастанию)
                    filter:
                      description: Параметры фильтрации
                      type: object
                      properties:
                        withPhoto:
                          type: integer
                          description: "Фильтр по\_фото:\n\n  * `0`\_— только карточки без фото\n  * `1`\_— только карточки с\_фото\n  * `-1`\_— все карточки товара\n"
                          default: 0
                        textSearch:
                          type: string
                          description: Поиск по артикулу продавца, артикулу WB, баркоду
                        tagIDs:
                          type: array
                          description: Поиск по ID ярлыков
                          items:
                            type: integer
                        allowedCategoriesOnly:
                          description: "Фильтр по категории. `true` - только разрешённые, `false` - все. Не\_используется в\_песочнице"
                          type: boolean
                        objectIDs:
                          type: array
                          description: Поиск по id предметов
                          items:
                            type: integer
                        brands:
                          type: array
                          description: Поиск по брендам
                          items:
                            type: string
                        imtID:
                          description: Поиск по ID объединённой карточки товара
                          type: integer
                    cursor:
                      description: |
                        Курсор
                      type: object
                      properties:
                        limit:
                          type: integer
                          description: Сколько карточек товаров выдать в ответе
                        updatedAt:
                          type: string
                          description: Дата и время изменения
                        nmID:
                          type: integer
                          description: Артикул WB, с которого надо запрашивать следующий список карточек товаров
            example:
              settings:
                sort:
                  ascending: false
                filter:
                  textSearch: '4603743187500888'
                  allowedCategoriesOnly: true
                  tagIDs:
                    - 345
                    - 415
                  objectIDs:
                    - 235
                    - 67
                  brands:
                    - уллу
                    - EkkE
                  imtID: 328632
                  withPhoto: -1
                cursor:
                  updatedAt: '2023-12-06T11:17:00.96577Z'
                  nmID: 370870300
                  limit: 11
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards:
                    type: array
                    description: Список карточек товаров
                    items:
                      type: object
                      properties:
                        nmID:
                          type: integer
                          description: Артикул WB
                        imtID:
                          type: integer
                          description: ID объединённой карточки товара.<br>Един для всех артикулов WB одной объединённой карточки товара.<br>Есть у карточки товара, даже если она не объединена ни с одной другой карточкой
                        nmUUID:
                          type: string
                          format: UUID
                          description: Внутренний технический ID карточки товара
                        subjectID:
                          type: integer
                          description: ID предмета
                        subjectName:
                          type: string
                          description: Название предмета
                        vendorCode:
                          type: string
                          description: Артикул продавца
                        brand:
                          type: string
                          description: Бренд
                        title:
                          type: string
                          description: Наименование товара
                        description:
                          type: string
                          description: Описание товара
                        needKiz:
                          description: |
                            Требуется ли [код маркировки](https://честныйзнак.рф/) для этого товара
                            <br>
                            * `false` — не требуется
                            <br>
                            * `true` — требуется
                          type: boolean
                        photos:
                          type: array
                          description: Массив фото
                          items:
                            type: object
                            properties:
                              big:
                                description: URL фото `900x1200`
                                type: string
                              c246x328:
                                description: URL фото `248x328`
                                type: string
                              c516x688:
                                description: URL фото `516x688`
                                type: string
                              square:
                                description: URL фото `600x600`
                                type: string
                              tm:
                                description: URL фото `75x100`
                                type: string
                        video:
                          type: string
                          description: URL видео
                        wholesale:
                          type: object
                          description: Оптовая продажа
                          properties:
                            enabled:
                              type: boolean
                              description: Предназначена ли карточка товара для оптовой продажи
                            quantum:
                              type: number
                              format: uint64
                              description: Количество единиц товара в упаковке
                        dimensions:
                          description: Габариты и вес товара c упаковкой, см и кг
                          type: object
                          properties:
                            length:
                              type: integer
                              description: Длина, см
                            width:
                              type: integer
                              description: Ширина, см
                            height:
                              type: integer
                              description: Высота, см
                            weightBrutto:
                              type: number
                              description: Вес, кг<br>Количество знаков после запятой <=3
                            isValid:
                              type: boolean
                              description: |
                                Потенциальная некорректность габаритов товара:

                                - `true` — не выявлена. `"isValid":true` не гарантирует, что размеры указаны корректно. В отдельных случаях (например, при создании новой категории товаров) `"isValid":true` будет возвращаться при любых значениях, кроме нулевых.

                                - `false` — указанные габариты значительно отличаются от средних по категории (предмету). Рекомендуется перепроверить, правильно ли указаны размеры товара в упаковке в `сантиметрах`. Функциональность карточки товара, в том числе начисление логистики и хранения, при этом ограничена не будет. Логистика и хранение продолжают начисляться — по текущим габаритам. Также `"isValid":false` возвращается при отсутствии значений или нулевом значении любой стороны.
                        characteristics:
                          type: array
                          description: Характеристики
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: ID характеристики
                              name:
                                type: string
                                description: Название характеристики
                              value:
                                description: Значение характеристики. Тип значения зависит от типа характеристики
                        sizes:
                          type: array
                          description: Размеры товара
                          items:
                            type: object
                            properties:
                              chrtID:
                                type: integer
                                description: Числовой ID размера для данного артикула WB
                              techSize:
                                type: string
                                description: Размер товара (А, XXL, 57 и др.)
                              wbSize:
                                type: string
                                description: Российский размер товара
                              skus:
                                type: array
                                description: Баркод товара
                                items:
                                  type: string
                                  example: 12345Ejf5
                        tags:
                          description: Ярлыки
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: ID ярлыка
                              name:
                                type: string
                                description: Название ярлыка
                              color:
                                type: string
                                description: |
                                  Цвет ярлыка. <br>
                                  Доступные цвета:
                                  - `D1CFD7` — серый
                                  - `FEE0E0` — красный
                                  - `ECDAFF` — фиолетовый
                                  - `E4EAFF` — синий
                                  - `DEF1DD` — зеленый
                                  - `FFECC7` — желтый
                        createdAt:
                          type: string
                          description: Дата и время создания
                        updatedAt:
                          type: string
                          description: Дата и время изменения
                  cursor:
                    type: object
                    description: Пагинатор
                    properties:
                      updatedAt:
                        type: string
                        description: Дата и время, с которых надо запрашивать следующий список карточек товаров
                      nmID:
                        type: integer
                        description: Артикул WB, с которого надо запрашивать следующий список карточек товаров
                      total:
                        type: integer
                        description: Количество возвращённых карточек товаров
              example:
                cards:
                  - nmID: 12345678
                    imtID: 123654789
                    nmUUID: 01bda0b1-5c0b-736c-b2be-d0a6543e9be
                    subjectID: 7771
                    subjectName: AKF системы
                    vendorCode: wb7f6mumjr1
                    brand: Тест
                    title: Тест-система
                    description: Тестовое описание
                    needKiz: false
                    photos:
                      - big: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/big/1.webp
                        c246x328: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c246x328/1.webp
                        c516x688: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c516x688/1.webp
                        square: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/square/1.webp
                        tm: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/tm/1.webp
                    video: https://videonme-basket-12.wbbasket.ru/vol137/part22557/225577433/hls/1440p/index.m3u8
                    wholesale:
                      enabled: true
                      quantum: 112
                    dimensions:
                      length: 55
                      width: 40
                      height: 15
                      weightBrutto: 6.24
                      isValid: false
                    characteristics:
                      - id: 14177449
                        name: Цвет
                        value:
                          - красно-сиреневый
                    sizes:
                      - chrtID: 316399238
                        techSize: '0'
                        skus:
                          - '987456321654'
                    tags:
                      - id: 592569
                        name: Популярный
                        color: D1CFD7
                    createdAt: '2023-12-06T11:17:00.96577Z'
                    updatedAt: '2023-12-06T11:17:00.96577Z'
                cursor:
                  updatedAt: '2023-12-06T11:17:00.96577Z'
                  nmID: 123654123
                  total: 1
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
            plain/text:
              example: Request body can not be decoded
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/cards/error/list:
    post:
      security:
        - HeaderApiKey: []
      summary: Список несозданных карточек товаров с ошибками
      description: |
        Метод возвращает список карточек товаров ([черновиков](https://seller.wildberries.ru/new-goods/error-cards)), при создании или редактировании которых произошли ошибки, с описанием этих ошибок.
        <br><br>
        Данные в ответе возвращаются пакетами `batch`. Один пакет содержит:
          - все ошибки по одной объединённой карточке товара `imtID` одного запроса при [создании](/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post) карточек товаров
          - все ошибки одного запроса при [создании с присоединением](/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post) или [редактировании](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post) карточек товаров
        <br><br>
        Чтобы получить более 100 пакетов, используйте пагинацию:

          1. Сделайте первый запрос: <br>
              <pre style="background-color: rgb(38 50 56 / 5%); color: #e53935">
                {
                  "cursor": {
                    "limit": 100
                  },
                  "order": {
                    "ascending": true
                  }
                }</pre>
          2. Скопируйте `"updatedAt": "***"`,`"batchUUID": "***" `из `cursor` ответа и вставьте в `cursor` запроса.
          3. Повторите запрос.
          4. Повторяйте пункты 2 и 3, пока не получите в ответе `"next": false`. Это будет означать, что вы получили все пакеты.

        <div class="description_important">
          Чтобы удалить карточку товара из списка, сделайте ещё один запрос на создание, создание с присоединением или редактирование карточки товара с исправленными ошибками
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 минута | 10 запросов | 6 секунд | 5 запросов |
        </div>
      tags:
        - Карточки товаров
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            example: en
          description: |
            Язык названий предметов:
              - `ru` — русский
              - `en` — английский
              - `zh` — китайский
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestPublicViewerPublicErrorsTableListV2'
            example:
              cursor:
                limit: 31
                updatedAt: '2025-08-05T17:54:40+08:00'
                batchUUID: bca3744c-1c8b-4588-b345-62af3b2899ae
              order:
                ascending: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsePublicViewerPublicErrorsTableListV2'
              example:
                data:
                  items:
                    - batchUUID: b15fecaf-57fd-4b63-ab6f-18d630b8793e
                      subjects:
                        wb15j2kjk9:
                          id: 8827
                          name: Автомобили с пробегом
                        wb3g6advyh:
                          id: 8827
                          name: Автомобили с пробегом
                        wb3g7xx8g9:
                          id: 8827
                          name: Автомобили с пробегом
                        wb4uphjn61:
                          id: 8827
                          name: Автомобили с пробегом
                        wb64nayozt:
                          id: 8827
                          name: Автомобили с пробегом
                      brands: {}
                      vendorCodes:
                        - wb64nayozt
                        - wb15j2kjk9
                        - wb3g7xx8g9
                        - wb3g6advyh
                        - wb4uphjn61
                      errors:
                        wb15j2kjk9:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😈 😊 🤨'
                        wb3g6advyh:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😊 🤨 😈'
                        wb3g7xx8g9:
                          - 'Поле Наименование не должно содержать запрещенные символы: 🤯'
                        wb4uphjn61:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😊 🤨 😈'
                        wb64nayozt:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😈 😊 🤨'
                    - batchUUID: 30aa42ec-fb49-45ec-86d5-ddf9911e7e3f
                      subjects:
                        test_pasha1:
                          id: 184
                          name: Рубашки
                      brands: {}
                      vendorCodes:
                        - test_pasha1
                      errors:
                        test_pasha1:
                          - Запрещено использовать E-Mail в поле Наименование
                          - Запрещено использовать E-Mail в поле Описание
                  cursor:
                    next: true
                    updatedAt: '2025-08-25T10:05:21Z'
                    batchUUID: 1cd79751-de1f-46c8-a444-a941d35dde56
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    responseBodyContentError400:
      type: object
      properties:
        data:
          type: object
          nullable: true
          description: Данные ошибки
        error:
          description: Флаг ошибки
          type: boolean
        errorText:
          description: Текст ошибки
          type: string
        additionalErrors:
          nullable: true
          description: Дополнительные ошибки
          type: object
    responseBodyContentError403:
      type: object
      properties:
        data:
          type: object
          nullable: true
          description: Данные ошибки
        error:
          description: Флаг ошибки
          type: boolean
        errorText:
          description: Текст ошибки
          type: string
        additionalErrors:
          nullable: true
          description: Дополнительные ошибки
          type: string
      example:
        data: null
        error: true
        errorText: Доступ запрещен
        additionalErrors: Доступ запрещен
    requestPublicViewerPublicErrorsTableListV2:
      type: object
      properties:
        cursor:
          $ref: '#/components/schemas/swagger.PublicErrorsCursorInput'
        order:
          $ref: '#/components/schemas/swagger.PublicErrorsOrderV2'
    swagger.PublicErrorsCursorInput:
      type: object
      description: Пагинатор
      properties:
        limit:
          type: number
          format: int
          description: Количество пакетов в ответе
          maximum: 100
          default: 100
        updatedAt:
          type: string
          format: date-time
          description: Дата и время формирования последнего пакета в ответе на предыдущий запрос
        batchUUID:
          type: string
          format: UUID
          description: ID последнего пакета в ответе на предыдущий запрос
    swagger.PublicErrorsOrderV2:
      type: object
      description: Порядок выдачи пакетов
      properties:
        ascending:
          type: boolean
          description: |
            - `false` — сортировка по убыванию
            - `true` — сортировка по возрастанию
          default: true
    responsePublicViewerPublicErrorsTableListV2:
      type: object
      required:
        - data
        - error
        - errorText
        - additionalErrors
      properties:
        data:
          $ref: '#/components/schemas/models.ErrorTableListPublicRespV2'
        error:
          description: Флаг ошибки
          type: boolean
        errorText:
          description: Описание ошибки
          type: string
        additionalErrors:
          nullable: true
          description: Дополнительные ошибки
          type: object
    models.ErrorTableListPublicRespV2:
      type: object
      description: Данные ответа
      required:
        - items
        - cursor
      properties:
        items:
          type: array
          description: Пакеты данных
          items:
            $ref: '#/components/schemas/models.ErrorTableListPublicRespV2Item'
        cursor:
          $ref: '#/components/schemas/viewer_contract.PublicErrorsCursorOutput'
    models.ErrorTableListPublicRespV2Item:
      type: object
      required:
        - batchUUID
        - subjects
        - brands
        - vendorCodes
        - errors
      properties:
        batchUUID:
          type: string
          format: UUID
          description: ID пакета
        subjects:
          type: object
          description: Предметы. Разбивка по `vendorCodes`
          additionalProperties:
            $ref: '#/components/schemas/models.ErrorSubject'
        brands:
          type: object
          description: Бренды. Разбивка по `vendorCodes`
          additionalProperties:
            $ref: '#/components/schemas/models.ErrorBrand'
        vendorCodes:
          type: array
          description: Артикулы продавца
          items:
            type: string
        errors:
          type: object
          description: Ошибки. Разбивка по `vendorCodes`
          additionalProperties:
            type: array
            items:
              type: string
    models.ErrorSubject:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: number
          format: uint64
          description: ID предмета
        name:
          type: string
          description: Название предмета
    models.ErrorBrand:
      type: object
      properties:
        id:
          type: number
          format: uint64
          description: ID бренда
        name:
          type: string
          description: Бренд
    viewer_contract.PublicErrorsCursorOutput:
      type: object
      required:
        - next
        - updatedAt
        - batchUUID
      description: Пагинатор
      properties:
        next:
          type: boolean
          description: |
            Есть ли ещё черновики:
              - `false` — нет
              - `true` — да
        updatedAt:
          type: string
          format: date-time
          description: Дата и время формирования последнего пакета в ответе
        batchUUID:
          type: string
          format: UUID
          description: ID последнего пакета в ответе
    responseCardCreate:
      type: object
      properties:
        data:
          type: object
          nullable: true
          example: null
          description: Данные ответа
        error:
          description: Флаг ошибки
          type: boolean
        errorText:
          description: Описание ошибки
          type: string
        additionalErrors:
          description: Дополнительные ошибки
          oneOf:
            - type: object
              nullable: true
              properties:
                string:
                  type: string
              additionalProperties: false
            - type: string
              nullable: true
            - type: object
              properties:
                error:
                  type: string
              required:
                - error
    requestMoveNmsImtConn:
      type: object
      required:
        - targetIMT
        - nmIDs
      properties:
        targetIMT:
          description: Существующий у продавца `imtID`, под которым необходимо объединить карточки товаров
          type: integer
          example: 123
        nmIDs:
          description: '`nmID`, которые необходимо объединить (максимум 30)'
          type: array
          items:
            type: integer
          example:
            - 837459235
            - 828572090
    requestMoveNmsImtDisconn:
      type: object
      required:
        - nmIDs
      properties:
        nmIDs:
          description: '`nmID`, которые необходимо разъединить (max 30)'
          type: array
          items:
            type: integer
          example:
            - 837459235
            - 828572090
      additionalProperties: false
    responseIncorrectDate:
      type: object
      properties:
        error:
          type: string
      additionalProperties: false
