openapi: 3.0.1
info:
  title: 02-products - Карточки товаров (Part 4/4)
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://content-api.wildberries.ru
tags:
  - name: Карточки товаров
    description: Карточки товаров endpoints
paths:
  /content/v2/get/cards/trash:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Список карточек товаров в корзине
      description: |
        <div class="description_auth">
          Метод доступен по <a href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-personalnyj-bazovyj-ili-testovyj-token">токену</a> с категорией <strong>Контент</strong> или <strong>Продвижение</strong>
        </div>

        Метод возвращает список карточек товаров в корзине.<br><br>

        Чтобы получить **больше 100** карточек товаров, используйте пагинацию.
          1. Сделайте первый запрос: <br>
              <pre style="background-color: rgb(38 50 56 / 5%); color: #e53935">
                {
                  "settings": {
                    "sort": {
                      "ascending": true
                    },
                    "cursor": {
                      "limit": 100
                    }
                  }
                }</pre>
             Чтобы получать только карточки товаров, которые были перенесены в корзину после выгрузки, используйте сортировку по возрастанию: `"sort":{"ascending":true}`.
          2. Скопируйте `"trashedAt":"***","nmID":***` из `cursor` ответа и вставьте в `cursor` запроса.
          3. Повторите запрос.
          4. Повторяйте пункты 2 и 3, пока значение `total` в ответе не станет меньше, чем значение `limit` в запросе. Это будет означать, что вы получили все карточки.

        Чтобы получать только карточки товаров, которые были перенесены в корзину после предыдущей выгрузки данных:
          1. Сохраните поля `"cursor":{"trashedAt":"***","nmID":***}` из последнего ответа предыдущей выгрузки. При выгрузке используйте сортировку по возрастанию: `"sort":{"ascending":true}`.
          2. Укажите в первом запросе сохранённые поля `"cursor":{"trashedAt":"***","nmID":"***"}`. Продолжайте использовать сортировку по возрастанию.
          3. Сохраните поля `"cursor":{"trashedAt":"***","nmID":***}` из последнего ответа текущей выгрузки.

          <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
        </ul>
        </div>
      tags:
        - Карточки товаров
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            enum:
              - ru
              - en
              - zh
          description: "Язык полей ответа `name`, `value` и `object`:\n  - `ru` — русский\n  - `en` — английский\n  - `zh` — китайский\n\nНе\_используется в\_песочнице\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: object
                  description: Настройки
                  properties:
                    sort:
                      description: Параметр сортировки
                      type: object
                      properties:
                        ascending:
                          type: boolean
                          default: false
                          description: Сортировать по `trashedAt` (`false` - по убыванию, `true` - по возрастанию)
                    cursor:
                      description: Пагинатор
                      type: object
                      properties:
                        limit:
                          type: integer
                          maximum: 100
                          default: 10
                          description: Сколько карточек товаров выдать в ответе
                        trashedAt:
                          type: string
                          description: Дата и время помещения в корзину
                        nmID:
                          type: integer
                          description: Артикул WB, с которого надо запрашивать следующий список карточек товаров
                    filter:
                      description: Параметры фильтрации
                      type: object
                      properties:
                        textSearch:
                          type: string
                          description: Поиск по артикулу продавца, артикулу WB, баркоду
            example:
              settings:
                sort:
                  ascending: false
                filter:
                  textSearch: "4603743187500888"
                cursor:
                  trashedAt: "2023-12-06T11:17:00.96577Z"
                  nmID: 370870300
                  limit: 11
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards:
                    description: Массив карточек товаров
                    type: array
                    items:
                      type: object
                      properties:
                        nmID:
                          type: integer
                          description: Артикул WB
                        vendorCode:
                          type: string
                          description: Артикул продавца
                        subjectID:
                          type: integer
                          description: ID предмета
                        subjectName:
                          type: string
                          description: Название предмета
                        photos:
                          type: array
                          description: Массив фото
                          items:
                            type: object
                            properties:
                              big:
                                description: URL фото `900x1200`
                                type: string
                              c246x328:
                                description: URL фото `248x328`
                                type: string
                              c516x688:
                                description: URL фото `516x688`
                                type: string
                              square:
                                description: URL фото `600x600`
                                type: string
                              tm:
                                description: URL фото `75x100`
                                type: string
                        video:
                          type: string
                          description: URL видео
                        wholesale:
                          type: object
                          description: Оптовая продажа
                          properties:
                            enabled:
                              type: boolean
                              description: Предназначена ли карточка товара для оптовой продажи
                            quantum:
                              type: number
                              format: uint64
                              description: Количество единиц товара в упаковке
                        sizes:
                          type: array
                          description: Массив размеров
                          items:
                            type: object
                            properties:
                              chrtID:
                                type: integer
                                description: ID размера
                              techSize:
                                type: string
                                description: Размер товара
                              wbSize:
                                type: string
                                description: Российский размер товара
                              skus:
                                type: array
                                description: Массив баркодов
                                items:
                                  type: string
                                  example: 12345Ejf5
                        dimensions:
                          type: object
                          description: Габариты и вес товара c упаковкой, см и кг
                          properties:
                            length:
                              type: integer
                              description: Длина, см
                            width:
                              type: integer
                              description: Ширина, см
                            height:
                              type: integer
                              description: Высота, см
                            weightBrutto:
                              type: number
                              description: Вес, кг<br>Количество знаков после запятой <=3
                            isValid:
                              type: boolean
                              description: |
                                Потенциальная некорректность габаритов товара:

                                - `true` — не выявлена. `"isValid":true` не гарантирует, что размеры указаны корректно. В отдельных случаях (например, при создании новой категории товаров) `"isValid":true` будет возвращаться при любых значениях, кроме нулевых.

                                - `false` — указанные габариты значительно отличаются от средних по категории (предмету). Рекомендуется перепроверить, правильно ли указаны размеры товара в упаковке в `сантиметрах`. Функциональность карточки товара, в том числе начисление логистики и хранения, при этом ограничена не будет. Логистика и хранение продолжают начисляться — по текущим габаритам. Также `"isValid":false` возвращается при отсутствии значений или нулевом значении любой стороны.
                        characteristics:
                          nullable: true
                          type: array
                          description: Характеристики
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: ID характеристики
                              name:
                                type: string
                                description: Название характеристики
                              value:
                                description: Значение характеристики. Тип значения зависит от типа характеристики
                        createdAt:
                          type: string
                          description: Date and time the card was created
                        trashedAt:
                          type: string
                          description: Дата и время помещения в корзину
                  cursor:
                    type: object
                    description: Пагинатор
                    properties:
                      trashedAt:
                        type: string
                        description: Дата и время, с которых надо запрашивать следующий список карточек товаров
                      nmID:
                        type: integer
                        description: Артикул WB, с которого надо запрашивать следующий список карточек товаров
                      total:
                        type: integer
                        description: Количество возвращённых карточек товаров
              example:
                cards:
                  - nmID: 1234567
                    vendorCode: wb5xsy5ftj
                    subjectID: 1436
                    subjectName: Ведра хозяйственные
                    photos:
                      - big: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/big/1.webp
                        c246x328: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c246x328/1.webp
                        c516x688: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c516x688/1.webp
                        square: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/square/1.webp
                        tm: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/tm/1.webp
                    video: https://videonme-basket-12.wbbasket.ru/vol137/part22557/225577433/hls/1440p/index.m3u8
                    wholesale:
                      enabled: true
                      quantum: 114
                    sizes:
                      - chrtID: 111111111
                        techSize: "0"
                        skus:
                          - xxxxxxxxxxxx
                    dimensions:
                      length: 35
                      width: 40
                      height: 15
                      weightBrutto: 2.9
                      isValid: false
                    createdAt: "2023-12-05T14:55:09.323462Z"
                    trashedAt: "2023-12-06T10:57:42.193028Z"
                cursor:
                  trashedAt: "2023-12-06T10:57:42.193028Z"
                  nmID: 194128521
                  total: 1
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseBodyContentError400"
            plain/text:
              example: Request body can not be decoded
        "401":
          $ref: "#/components/responses/401"
        "403":
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseBodyContentError403"
        "429":
          $ref: "#/components/responses/429"
