openapi: 3.0.1
info:
  title: 02-products - Остатки на складах продавца
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://marketplace-api.wildberries.ru
tags:
  - name: Остатки на складах продавца
    description: Остатки на складах продавца endpoints
paths:
  /api/v3/stocks/{warehouseId}:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Остатки на складах продавца
      summary: Обновить остатки товаров
      description: |
        Метод обновляет количество остатков товаров продавца [в списке](/openapi/work-with-products#tag/Ostatki-na-skladah-prodavca/paths/~1api~1v3~1stocks~1%7BwarehouseId%7D/post).

        <div class="description_important">
          Названия параметров запроса не валидируются. При отправке некорректных названий вы получите успешный ответ (<code>204</code>), но остатки не обновятся.
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>остатков на складах продавца</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Warehouse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - stocks
              properties:
                stocks:
                  type: array
                  minItems: 1
                  maxItems: 1000
                  description: Массив баркодов товаров и их остатков
                  items:
                    type: object
                    properties:
                      chrtId:
                        type: integer
                        description: ID размера товара
                        example: 12345678
                      sku:
                        type: string
                        description: Баркод. Параметр будет отключен [9 февраля](https://dev.wildberries.ru/release-notes?id=386)
                        deprecated: true
                        example: SKUTest123
                      amount:
                        type: integer
                        maximum: 100000
                        description: Остаток
                        example: 10
      responses:
        "204":
          description: Обновлено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "406":
          $ref: "#/components/responses/StatusNotAcceptable"
        "409":
          description: Ошибка обновления остатков
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StocksWarehouseError"
              examples:
                SubjectDBSRestriction:
                  $ref: "#/components/examples/SubjectDBSRestriction"
                SubjectFBSRestriction:
                  $ref: "#/components/examples/SubjectFBSRestriction"
                UploadDataLimit:
                  $ref: "#/components/examples/UploadDataLimit"
                CargoWarehouseRestrictionMGT:
                  $ref: "#/components/examples/CargoWarehouseRestrictionMGT"
                CargoWarehouseRestrictionSGT:
                  $ref: "#/components/examples/CargoWarehouseRestrictionSGT"
                CargoWarehouseRestrictionSGTKGTPlus:
                  $ref: "#/components/examples/CargoWarehouseRestrictionSGTKGTPlus"
                CargoWarehouseRestrictionKGTPlus:
                  $ref: "#/components/examples/CargoWarehouseRestrictionKGTPlus"
                NotFound:
                  $ref: "#/components/examples/NotFound"
                StoreIsProcessing:
                  $ref: "#/components/examples/StoreIsProcessing1"
        "429":
          $ref: "#/components/responses/429"
    delete:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Остатки на складах продавца
      summary: Удалить остатки товаров
      description: |
        Метод удаляет запись об остатках товаров продавца из [списка остатков](/openapi/work-with-products#tag/Ostatki-na-skladah-prodavca/paths/~1api~1v3~1stocks~1%7BwarehouseId%7D/post).

        <div class="description_important">
          <strong>Действие необратимо</strong>. Удаленный остаток будет необходимо загрузить повторно для возобновления продаж.
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>остатков на складах продавца</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 10 запросов | 6 сек | 2 запроса |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Warehouse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chrtIds:
                  type: array
                  nullable: false
                  minItems: 1
                  maxItems: 1000
                  description: Массив ID размеров товаров
                  items:
                    type: integer
                    nullable: false
                    example: 123456789
                skus:
                  type: array
                  nullable: false
                  minItems: 1
                  maxItems: 1000
                  description: Массив баркодов. Параметр будет отключен [9 февраля](https://dev.wildberries.ru/release-notes?id=386)
                  deprecated: true
                  items:
                    type: string
                    nullable: false
                    example: SKUTest123
              required:
                - chrtIds
      responses:
        "204":
          description: Удалено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: NotFound
                message: ""
                data:
                  skuTest1: ""
                  skuTest2: ""
        "409":
          description: Ошибка удаления остатков
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                StoreIsProcessing:
                  $ref: "#/components/examples/StoreIsProcessing"
        "429":
          $ref: "#/components/responses/429"
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Остатки на складах продавца
      summary: Получить остатки товаров
      description: |
        Метод возвращает данные об остатках товаров на [складах продавца](/openapi/work-with-products#tag/Sklady-prodavca).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>остатков на складах продавца</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Warehouse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              nullable: false
              properties:
                chrtIds:
                  type: array
                  description: Массив ID размеров товаров
                  items:
                    type: integer
                    example: 12345678
                skus:
                  type: array
                  description: Массив баркодов. Параметр будет отключен [9 февраля](https://dev.wildberries.ru/release-notes?id=386)
                  deprecated: true
                  minItems: 1
                  maxItems: 1000
                  items:
                    type: string
                    example: SKUTest123
              required:
                - chrtIds
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  stocks:
                    type: array
                    nullable: false
                    items:
                      type: object
                      properties:
                        chrtId:
                          type: integer
                          description: ID размера товара
                          example: 12345678
                        sku:
                          type: string
                          nullable: false
                          description: Баркод. Поле будет отключено [9 февраля](https://dev.wildberries.ru/release-notes?id=386)
                          deprecated: true
                          example: SKUTest123
                        amount:
                          type: integer
                          nullable: false
                          description: Остаток
                          example: 10
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/429"
