openapi: 3.0.1
info:
  title: 02-products - Создание карточек товаров
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://content-api.wildberries.ru
tags:
  - name: Создание карточек товаров
    description: Создание карточек товаров endpoints
paths:
  /content/v2/cards/limits:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Лимиты карточек товаров
      description: |
        Возвращает бесплатные и платные лимиты продавца на [создание карточек товаров](/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post).<br><br>

        Формула для получения количества карточек, которые можно создать:

        > (`freeLimits` + `paidLimits`) - количество созданных карточек

        Созданными считаются карточки, которые можно получить через методы [список карточек товаров](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1list/post) и [список карточек товаров в корзине](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1get~1cards~1trash/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
        </ul>
        </div>
      tags:
        - Создание карточек товаров
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      freeLimits:
                        description: Количество бесплатных лимитов
                        type: integer
                      paidLimits:
                        description: Количество оплаченных лимитов
                        type: integer
                  error:
                    description: Флаг ошибки
                    type: boolean
                  errorText:
                    description: Описание ошибки
                    type: string
                  additionalErrors:
                    description: Дополнительные ошибки
                    type: string
                    nullable: true
              example:
                data:
                  freeLimits: 1500
                  paidLimits: 10
                error: false
                errorText: ""
                additionalErrors: null
        "401":
          $ref: "#/components/responses/401"
        "403":
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseBodyContentError403"
        "429":
          $ref: "#/components/responses/429"
  /content/v2/barcodes:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Генерация баркодов
      description: |
        Метод генерирует массив уникальных баркодов для создания размера в [карточке товара](/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post). Можно использовать, если у вас нет собственных баркодов.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов категории <strong>Контент</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 5 запросов |

        Исключение — методы:

        <ul>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload/post">создания карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Sozdanie-kartochek-tovarov/paths/~1content~1v2~1cards~1upload~1add/post">создания карточек товаров с присоединением</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1update/post">редактирования карточек товаров</a></li>
            <li><a href="/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post">получения несозданных карточек товаров с ошибками</a></li>
        </ul>
        </div>
      tags:
        - Создание карточек товаров
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                count:
                  description: Кол-во баркодов которые надо сгенерировать, максимальное доступное количество баркодов для генерации - `5 000`
                  type: integer
                  example: 100
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Массив сгенерированных баркодов
                    type: array
                    items:
                      type: string
                      example: "5032781145187"
                  error:
                    description: Флаг ошибки
                    type: boolean
                    example: false
                  errorText:
                    description: Описание ошибки
                    type: string
                    example: ""
                  additionalErrors:
                    description: Дополнительные ошибки
                    nullable: true
                    type: string
                    example: ""
        "401":
          $ref: "#/components/responses/401"
        "403":
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseBodyContentError403"
        "429":
          $ref: "#/components/responses/429"
  /content/v2/cards/upload:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      tags:
        - Создание карточек товаров
      summary: Создание карточек товаров
      description: "Метод создаёт карточки товаров c указанием описаний и характеристик товаров.<br>\n\n<div class=\"description_important\">\n  Есть две формы запроса: для создания отдельных и объединённых карточек товаров\n</div>\n\nГабариты товаров можно указать только в `сантиметрах`, вес товара с упаковкой — в `килограммах`.\n<br><br>\nСоздание карточки товара происходит асинхронно. Синхронизация новой карточки с сервисами может занимать до 30 минут. В течение этого времени невозможно добавить остатки на склады и настроить цены. <br>\nОдним запросом можно создать максимум 100 отдельных карточек товаров или 100 групп [объединённых](https://dev.wildberries.ru/news/101#obuedinenie-i-razuedinenie-kartochek-tovarov) карточек\_товаров по\_30 карточек в\_каждой. Максимальный размер запроса 10 Мб.<br>\nЕсли ответ `Успешно` (`200`), но какие-то карточки не создались, проверьте [список несозданных карточек товаров](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post).\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Vvedenie/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 10 запросов | 6 сек | 5 запросов |\n</div>\n"
      requestBody:
        content:
          application/json:
            schema:
              description: Отдельные карточки товаров или группы объединённых карточек товаров
              type: array
              items:
                type: object
                required:
                  - subjectID
                  - variants
                minimum: 1
                maximum: 100
                properties:
                  subjectID:
                    type: integer
                    description: ID предмета
                  variants:
                    description: |
                      [Объединённые](https://dev.wildberries.ru/news/101#obuedinenie-i-razuedinenie-kartochek-tovarov) карточки товаров.<br>Чтобы создать отдельную карточку, передайте только один объект
                    type: array
                    items:
                      type: object
                      required:
                        - vendorCode
                      minimum: 1
                      maximum: 30
                      properties:
                        brand:
                          type: string
                          description: Бренд
                        title:
                          type: string
                          description: Наименование товара
                          maxLength: 60
                        description:
                          type: string
                          description: |
                            Описание товара.<br>
                            Максимальное количество символов зависит от категории товара<br>
                            Стандарт — 2000, минимум — 1000, максимум — 5000<br>
                            Подробно о правилах описания в **Правилах заполнения карточки товара** в разделе в [Справочном центре](https://seller.wildberries.ru/help-center/article/A-113) на портале продавцов
                        vendorCode:
                          type: string
                          description: Артикул продавца
                          maxLength: 72
                        wholesale:
                          type: object
                          description: Оптовая продажа
                          properties:
                            enabled:
                              type: boolean
                              description: Предназначена ли карточка товара для оптовой продажи
                            quantum:
                              type: number
                              format: uint64
                              description: Количество единиц товара в упаковке
                        dimensions:
                          description: |
                            Габариты и вес товара `c упаковкой`.<br>
                            Укажите в `сантиметрах` и `килограммах` для любого товара.<br>
                            Если данные не указаны, автоматически сгенерируются нулевые значения длины, ширины, высоты и веса.<br>
                            Синхронизация данных новой карточки с сервисом может занимать до 30 минут
                          type: object
                          properties:
                            length:
                              type: integer
                              description: Длина, см
                            width:
                              type: integer
                              description: Ширина, см
                            height:
                              type: integer
                              description: Высота, см
                            weightBrutto:
                              type: number
                              description: Вес, кг<br>Количество знаков после запятой <=3
                        sizes:
                          type: array
                          description: |
                            Массив размеров.<br>
                            Если не указать для размерного товара (обувь, одежда и др.), сгенерируется автоматически с `techSize` = "A", `wbSize` = "1" и баркодом
                          items:
                            type: object
                            properties:
                              techSize:
                                type: string
                                description: Размер товара (например, XL, 45)
                              wbSize:
                                type: string
                                description: Российский размер товара
                              price:
                                type: integer
                                description: Цена товара
                              skus:
                                type: array
                                items:
                                  type: string
                                description: |
                                  Массив баркодов для размера. <br>
                                  Если не указать, сгенерируется автоматически. <br>
                                  Позволяет связать несколько баркодов с одним размером, например, для разных партий товара
                        characteristics:
                          type: array
                          description: |
                            Характеристики товара.
                            <br>
                            Можно получить методом [Характеристики предмета](./work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get)
                          items:
                            type: object
                            required:
                              - id
                              - value
                            properties:
                              id:
                                type: integer
                                description: ID характеристики
                              value:
                                description: |
                                  Значения характеристики.
                                  <br>
                                  Тип данных — массив строк или число — зависит от типа характеристики, см. описание поля `charcType` в методе [Характеристики предмета](./work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get).
                                  <br>
                                  Допустимое количество значений отображено в поле `maxCount` того же метода
            examples:
              creatingOneCard:
                $ref: "#/components/examples/creatingOneCard"
              creatingMergedCards:
                $ref: "#/components/examples/creatingMergedCards"
              creatingGroupOfIndividualCards:
                $ref: "#/components/examples/creatingGroupOfIndividualCards"
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseCardCreate"
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseBodyContentError400"
              examples:
                InvalidRequestFormatContent:
                  $ref: "#/components/examples/InvalidRequestFormatContent"
                CardCreatedWithoutVendorCode:
                  $ref: "#/components/examples/CardCreatedWithoutVendorCode"
                CardsVendorCodeUsedInOtherCards:
                  $ref: "#/components/examples/CardsVendorCodeUsedInOtherCards"
                ThisCategoryDoesNotExist:
                  $ref: "#/components/examples/ThisCategoryDoesNotExist"
        "401":
          $ref: "#/components/responses/401"
        "413":
          description: Превышен лимит объёма данных в запросе
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  detail:
                    type: string
                    description: Детали ошибки
                  code:
                    type: string
                    description: Внутренний код ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
                  status:
                    type: number
                    description: HTTP статус-код
                  statusText:
                    type: string
                    description: Расшифровка HTTP статус-кода
              example:
                title: request body too long
                detail: https://openapi.wildberries.ru/content/api/ru/
                code: 71d3de1b-001e-488f-bbf5-55c31254fbeb
                requestId: MN8usr6RfrzWHZfucSvNgb
                origin: s2s-api-auth-content
                status: 413
                statusText: Request Entity Too Large
        "429":
          $ref: "#/components/responses/429"
  /content/v2/cards/upload/add:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      tags:
        - Создание карточек товаров
      summary: Создание карточек товаров с присоединением
      description: |
        Метод создаёт карточки товаров, присоединяя их к существующим отдельным карточкам и группам [объединённых](https://dev.wildberries.ru/news/101#obuedinenie-i-razuedinenie-kartochek-tovarov) карточек. В одной группе объединённых карточек товаров может быть не более 30 карточек, соответственно, создать с присоединением можно не более 29 карточек товаров за один запрос.

        Габариты товаров можно указать только в `сантиметрах`, вес товара с упаковкой — в `килограммах`.
        <br><br>
        Если ответ `Успешно` (`200`), но какие-то карточки не создались, проверьте [список несозданных карточек товаров](/openapi/work-with-products#tag/Kartochki-tovarov/paths/~1content~1v2~1cards~1error~1list/post).<br>
        Создание карточки товара происходит асинхронно. Синхронизация новой карточки с сервисами может занимать до 30 минут. В течение этого времени невозможно добавить остатки на склады и настроить цены.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 10 запросов | 6 сек | 5 запросов |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                imtID:
                  type: integer
                  description: |
                    `imtID` отдельной карточки товара или группы [объединённых](https://dev.wildberries.ru/news/101#obuedinenie-i-razuedinenie-kartochek-tovarov) карточек товаров, к которой присоединяются создаваемые карточки
                cardsToAdd:
                  description: Добавляемые карточки товаров
                  type: array
                  items:
                    type: object
                    required:
                      - vendorCode
                    minimum: 1
                    maximum: 29
                    properties:
                      brand:
                        type: string
                        description: Бренд
                      vendorCode:
                        type: string
                        description: Артикул продавца
                        maxLength: 72
                      wholesale:
                        type: object
                        description: Оптовая продажа
                        properties:
                          enabled:
                            type: boolean
                            description: Предназначена ли карточка товара для оптовой продажи
                          quantum:
                            type: number
                            format: uint64
                            description: Количество единиц товара в упаковке
                      title:
                        type: string
                        description: Наименование товара
                        maxLength: 60
                      description:
                        type: string
                        description: |
                          Описание товара.<br>
                          Максимальное количество символов зависит от категории товара<br>
                          Стандарт — 2000, минимум — 1000, максимум — 5000<br>
                          Подробно о правилах описания в **Правилах заполнения карточки товара** в [Справочном центре](https://seller.wildberries.ru/help-center/article/A-113) на портале продавцов
                      dimensions:
                        description: |
                          Габариты и вес товара `c упаковкой`.<br>
                          Укажите в `сантиметрах` и `килограммах` для любого товара. <br>
                          Если данные не указаны, автоматически сгенерируются нулевые значения длины, ширины, высоты и веса. <br>
                          Синхронизация данных с сервисом может занимать до 30 минут
                        type: object
                        properties:
                          length:
                            type: integer
                            description: Длина, см
                          width:
                            type: integer
                            description: Ширина, см
                          height:
                            type: integer
                            description: Высота, см
                          weightBrutto:
                            type: number
                            description: Вес, кг<br>Количество знаков после запятой <=3
                      sizes:
                        type: array
                        description: |
                          Массив размеров.<br>
                          Если не указать для размерного товара (обувь, одежда и др.), сгенерируется автоматически с `techSize` = "A", `wbSize` = "1" и баркодом
                        items:
                          type: object
                          properties:
                            techSize:
                              type: string
                              description: Размер товара (например, XL, 45)
                            wbSize:
                              type: string
                              description: Российский размер товара
                            price:
                              type: integer
                              description: Цена товара
                            skus:
                              type: array
                              items:
                                type: string
                              description: Баркод. Если не указать, сгенерируется автоматически
                      characteristics:
                        type: array
                        description: |
                          Характеристики товара.
                          <br>
                          Можно получить методом [Характеристики предмета](./work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get)
                        items:
                          type: object
                          required:
                            - id
                            - value
                          properties:
                            id:
                              type: integer
                              description: ID характеристики
                            value:
                              description: |
                                Значения характеристики.
                                <br>
                                Тип данных — массив строк или число — зависит от типа характеристики, см. описание поля `charcType` в методе [Характеристики предмета](./work-with-products#tag/Kategorii-predmety-i-harakteristiki/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get).
                                <br>
                                Допустимое количество значений отображено в поле `maxCount` того же метода
            example:
              imtID: 987654321
              cardsToAdd:
                - vendorCode: myVariant1
                  wholesale:
                    enabled: true
                    quantum: 243
                  title: Наименование товара
                  description: Описание товара
                  brand: Бренд
                  dimensions:
                    length: 9
                    width: 6
                    height: 3
                    weightBrutto: 0.893
                  characteristics:
                    - id: 12
                      value:
                        - Russian flag
                    - id: 25471
                      value: 1300
                    - id: 14177449
                      value:
                        - blue
                  sizes:
                    - skus:
                        - "12345678"
                - vendorCode: myVariant2
                  title: Наименование товара
                  description: Описание товаров
                  brand: Бренд
                  dimensions:
                    length: 8
                    width: 8
                    height: 8
                    weightBrutto: 1.04
                  characteristics:
                    - id: 12
                      value:
                        - Russian flag
                    - id: 25471
                      value: 1300
                    - id: 14177449
                      value:
                        - blue
                  sizes:
                    - skus:
                        - "222222222222"
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseCardCreate"
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/responseBodyContentError400"
              examples:
                InvalidRequestFormatContent:
                  $ref: "#/components/examples/InvalidRequestFormatContent"
                CardCreatedWithoutVendorCode:
                  $ref: "#/components/examples/CardCreatedWithoutVendorCode"
                CardsVendorCodeUsedInOtherCards:
                  $ref: "#/components/examples/CardsVendorCodeUsedInOtherCards"
                ThisCategoryDoesNotExist:
                  $ref: "#/components/examples/ThisCategoryDoesNotExist"
        "401":
          $ref: "#/components/responses/401"
        "413":
          description: Превышен лимит объёма данных в запросе
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Заголовок ошибки
                  detail:
                    type: string
                    description: Детали ошибки
                  code:
                    type: string
                    description: Внутренний код ошибки
                  requestId:
                    type: string
                    description: Уникальный ID запроса
                  origin:
                    type: string
                    description: ID внутреннего сервиса WB
                  status:
                    type: number
                    description: HTTP статус-код
                  statusText:
                    type: string
                    description: Расшифровка HTTP статус-кода
              example:
                title: request body too long
                detail: https://openapi.wildberries.ru/content/api/ru/
                code: 71d3de1b-001e-488f-bbf5-55c31254fbeb
                requestId: MN8usr6RfrzWHZfucSvNgb
                origin: s2s-api-auth-content
                status: 413
                statusText: Request Entity Too Large
        "429":
          $ref: "#/components/responses/429"
