openapi: 3.0.1
info:
  title: 03-orders-fbs - Метаданные FBS
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://marketplace-api.wildberries.ru
tags:
  - name: Метаданные FBS
    description: Метаданные FBS endpoints
paths:
  /api/marketplace/v3/orders/meta:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные FBS
      summary: Получить метаданные сборочных заданий
      description: |
        Метод возвращает метаданные [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) по списку их ID.
        <br><br>
        Перечень метаданных, доступных для сборочного задания, можно получить в [списке новых сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1new/get), поля `requiredMeta` и `optionalMeta`.
        <br><br>
        Возможные метаданные:
          - `imei` — [IMEI](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1imei/put)
          - `uin` — [УИН](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1uin/put)
          - `gtin` — [GTIN](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1gtin/put)
          - `sgtin` — [код маркировки](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1sgtin/put)
          - `expiration` — [срок годности товара](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1expiration/put)
          - `customsDeclaration` — [номер ГТД](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1%7BorderId%7D~1meta~1customs-declaration/put)

        Если в ответе не вернулись какие-либо из объектов метаданных, значит, у сборочного задания не может быть таких метаданных — и добавить их нельзя.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v3.GetMetaMultiRequest"
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v3.OrdersMetaAPI"
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v3.APIError"
              example:
                code: BadRequest
                message: Неправильный запрос
                data: {}
        "401":
          $ref: "#/components/responses/401"
        "403":
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v3.APIError"
              example:
                code: AccessDenied
                message: Доступ запрещён
                data: {}
        "404":
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v3.APIError"
              example:
                code: NotFound
                message: Не найдено
                data: {}
        "429":
          $ref: "#/components/responses/429"
  /api/v3/orders/{orderId}/meta:
    servers:
      - url: https://marketplace-api.wildberries.ru
    delete:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные FBS
      summary: Удалить метаданные сборочного задания
      description: |
        Метод удаляет значение [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1meta/post) для переданного ключа.
        <br><br>
        Возможные метаданные:
          - `imei` — [IMEI](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1imei/put)
          - `uin` — [УИН](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1uin/put)
          - `gtin` — [GTIN](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1gtin/put)
          - `sgtin` — [код маркировки](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1sgtin/put)
          - `customsDeclaration` — [номер ГТД](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1%7BorderId%7D~1meta~1customs-declaration/put)

        Можно передать только один ключ.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Order"
        - name: key
          in: query
          schema:
            type: string
          description: Название метаданных для удаления (`imei`, `uin`, `gtin`, `sgtin`, `customsDeclaration`). Передается только одно значение.
      responses:
        "204":
          description: Удалено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "409":
          description: Ошибка удаления метаданных
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/orders/{orderId}/meta/sgtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные FBS
      summary: Закрепить за сборочным заданием код маркировки товара
      description: |
        Метод позволяет закрепить за [сборочным заданием](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) код маркировки [Честный знак](https://честныйзнак.рф).
        <br><br>
        Закрепить код маркировки можно только если в [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1meta/post) есть поле `sgtin`, а сборочное задание находится в [статусе](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm`.
        <br><br>
        Получить загруженные маркировки можно в [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1meta/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1000 запросов | 60 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Order"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sgtins:
                  type: array
                  description: Массив кодов маркировки. Допускается от 16 до 135 символов для кода одной маркировки.
                  minItems: 1
                  maxItems: 100
                  items:
                    type: string
                    description: Код маркировки на упаковке. От 16 до 135 символов.
                    example: "1234567890123456"
      responses:
        "204":
          description: Отправлено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Ошибка добавления маркировки
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/orders/{orderId}/meta/uin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные FBS
      summary: Закрепить за сборочным заданием УИН
      description: |
        Метод обновляет УИН в [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1meta/post) — уникальный идентификационный номер.
        <br><br>
        У одного сборочного задания может быть только один УИН.

        Добавлять маркировку можно только для заказов, которые доставляются WB и находятся в [статусе](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1000 запросов | 60 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Order"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                uin:
                  type: string
                  minLength: 16
                  maxLength: 16
                  description: УИН
                  example: "1234567890123456"
              required:
                - uin
      responses:
        "204":
          description: Обновлено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "409":
          description: Ошибка обновления метаданных
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/orders/{orderId}/meta/imei:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные FBS
      summary: Закрепить за сборочным заданием IMEI
      description: |
        Метод обновляет IMEI в [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1meta/post).
        <br><br>
        У одного сборочного задания может быть только один IMEI. Если у устройства два IMEI — **IMEI** и **IMEI2** или **IMEI1** и **IMEI2** — укажите только **IMEI** или **IMEI1**. **IMEI2** указывать не нужно.
        <br><br>
        Добавлять маркировку можно только для заказов, которые находятся в [статусе](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1000 запросов | 60 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Order"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                imei:
                  type: string
                  minLength: 15
                  maxLength: 15
                  description: IMEI
                  example: "123456789012345"
              required:
                - imei
      responses:
        "204":
          description: Обновлено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "409":
          description: Ошибка обновления метаданных
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/orders/{orderId}/meta/gtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные FBS
      summary: Закрепить за сборочным заданием GTIN
      description: |
        Метод обновляет GTIN в [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1meta/post) — уникальный ID товара в Беларуси.
        <br><br>
        У одного сборочного задания может быть только один GTIN.

        Добавлять маркировку можно только для заказов, которые доставляются WB и находятся в [статусе](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1000 запросов | 60 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Order"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                gtin:
                  type: string
                  minLength: 13
                  maxLength: 13
                  description: GTIN
                  example: "1234567890123"
              required:
                - gtin
      responses:
        "204":
          description: Обновлено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "409":
          description: Ошибка обновления метаданных
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/orders/{orderId}/meta/expiration:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные FBS
      summary: Закрепить за сборочным заданием срок годности товара
      description: |
        Метод закрепляет за [сборочным заданием](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) срок годности товара. Товар годен до указанной даты.
        <br>
        Добавить срок годности можно только для заказов, которые доставляются WB и находятся в [статусе](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm`.
        <br>
        <br>
        Получить загруженные данные можно в [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1marketplace~1v3~1orders~1meta/post).
        Чтобы изменить срок годности, отправьте запрос с новой датой.
        Удалить срок годности из метаданных сборочного задания невозможно.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1000 запросов | 60 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Order"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                expiration:
                  type: string
                  description: Дата, до которой годен товар. Не менее 30 дней с текущей даты
                  format: date (dd.mm.yyyy)
                  example: 12.09.2030
      responses:
        "204":
          description: Отправлено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                LowExpirationDate:
                  $ref: "#/components/examples/LowExpirationDate"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Ошибка добавления срока годности
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
        "429":
          $ref: "#/components/responses/429"
  /api/marketplace/v3/orders/{orderId}/meta/customs-declaration:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Метаданные FBS
      summary: Закрепить за сборочным заданием номер ГТД
      description: |
        Метод обновляет номер грузовой таможенной декларации (ГТД) в [метаданных сборочного задания](/openapi/orders-fbs#tag/Metadannye-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta/get).
        <br>
        У одного сборочного задания может быть только один номер ГТД.

        Добавлять номер ГТД можно только для сборочных заданий, которые находятся в [статусе](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm` или `complete`

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления метаданных FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1000 запросов | 60 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Order"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customsDeclaration:
                  type: string
                  minLength: 17
                  maxLength: 29
                  description: Номер ГТД
                  example: 10704010/010624/0000302
      responses:
        "204":
          description: Обновлено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Ошибка обновления номера ГТД
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
        "429":
          $ref: "#/components/responses/429"
