openapi: 3.0.1
info:
  title: 03-orders-fbs - Поставки FBS
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://marketplace-api.wildberries.ru
tags:
  - name: Поставки FBS
    description: Поставки FBS endpoints
paths:
  /api/v3/supplies:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Поставки FBS
      summary: Создать новую поставку
      description: |
        Метод создаёт новую [поставку](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D/get).

        Ограничения:
        - Только для [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) по модели FBS.
        - При добавлении в поставку все передаваемые сборочные задания в [статусе](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `new` будут автоматически переведены в статус `confirm` — на сборке.
        - Если вы переведёте сборочное задание в статус `cancel` — отмена продавцом, прикрепленное сборочное задание автоматически удалится из поставки.
        - Поставку можно собрать только из сборочных заданий (заказов) одного габаритного типа `cargoType`. Новая поставка не обладает габаритным признаком, она приобретает габаритный признак первого заказа, добавленного в поставку.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 128
                  description: Наименование поставки
                  example: Тестовая поставка
      responses:
        "201":
          description: Создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    nullable: false
                    description: ID поставки
                    example: WB-GI-1234567
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "429":
          $ref: "#/components/responses/429"
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Поставки FBS
      summary: Получить список поставок
      description: |
        Метод возвращает список [поставок](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Next"
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  next:
                    $ref: "#/components/schemas/Next"
                  supplies:
                    type: array
                    nullable: false
                    description: Список поставок
                    items:
                      $ref: "#/components/schemas/Supply"
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "429":
          $ref: "#/components/responses/429"
  /api/marketplace/v3/supplies/{supplyId}/orders:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Поставки FBS
      summary: Добавить сборочные задания к поставке
      description: |
        Метод добавляет до 100 [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) к поставке и переводит их в [статус](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm` — на сборке.

        Может перемещать сборочные задания:
          - между активными поставками
          - из закрытой поставки в активную, если сборочные задания требуют [повторной отгрузки](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1supplies~1orders~1reshipment/get)

        <div class="description_important">
          В пустую поставку можно добавить сборочные задания любого габаритного типа. Поставка приобретает габаритный тип первого добавленного сборочного задания <a href ="./orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D/get">из поля</a> <code>cargoType</code>.
          <br>
          После этого в поставку можно добавить сборочные задания только того же габаритного типа, что и у поставки.
         </div>

        <div class="description_important">
        В поставку нельзя добавить сборочные задания, поступившие на разные склады.
        </div>
        <div class="description_important">
        В пустую поставку можно добавить сборочные задания любого типа: кроссбордер или не кроссбордер.
        После этого поставка приобретает тип первого добавленного сборочного задания из поля <code>crossBorderType</code>.
        Далее в неё можно добавить только сборочные задания такого же типа.
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Supply"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orders:
                  type: array
                  minItems: 1
                  maxItems: 100
                  description: ID сборочных заданий
                  example:
                    - 5632423
                    - 3453452
                    - 7654533
                    - 4529544
                  items:
                    type: integer
      responses:
        "204":
          description: Сборочные задания закреплены за поставкой
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Ошибка добавления сборочного задания к поставке
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                FailedToAddSupplyOrder:
                  $ref: "#/components/examples/FailedToAddSupplyOrder"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/supplies/{supplyId}:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Поставки FBS
      summary: Получить информацию о поставке
      description: |
        Метод возвращает подробную информацию о поставке.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Supply"
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Supply"
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/429"
    delete:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Поставки FBS
      summary: Удалить поставку
      description: |
        Метод удаляет [поставку](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D/get), если она активна и за ней не закреплено ни одно [сборочное задание](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Supply"
      responses:
        "204":
          description: Удалено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: За поставкой закреплены сборочные задания
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                SupplyHasOrders:
                  $ref: "#/components/examples/SupplyHasOrders"
        "429":
          $ref: "#/components/responses/429"
  /api/marketplace/v3/supplies/{supplyId}/order-ids:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Поставки FBS
      summary: Получить ID сборочных заданий поставки
      description: |
        Метод возвращает список ID сборочных заданий, закреплённых за поставкой.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - name: supplyId
          in: path
          description: ID поставки
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v3.SupplyOrderIDsAPI"
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/supplies/{supplyId}/deliver:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Поставки FBS
      summary: Передать поставку в доставку
      description: |
        Метод закрывает [поставку](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D/get) и переводит все [сборочные задания](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) в ней в [статус](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `complete` — в доставке. После закрытия поставки добавить новые сборочные задания к ней нельзя.
        <br><br>
        Если поставка не была передана в доставку, то при приёмке первого товара поставка автоматически закроется.
        <br><br>
        Передать поставку в доставку можно только если в ней:
          - есть хотя бы одно сборочное задания

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Supply"
      responses:
        "204":
          description: Передано в доставку
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Ошибка закрытия поставки
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetaValidationFailResponse"
              examples:
                SupplyHasZeroOrders:
                  $ref: "#/components/examples/SupplyHasZeroOrders"
                UinIsNotFilled:
                  $ref: "#/components/examples/UinIsNotFilled"
                MetaValidationFailed:
                  $ref: "#/components/examples/MetaValidationFailed"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/supplies/{supplyId}/barcode:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Поставки FBS
      summary: Получить QR-код поставки
      description: |
        Метод возвращает QR-код [поставки](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D/get) в форматах:
          - SVG
          - ZPLV (вертикальный)
          - ZPLH (горизонтальный)
          - PNG

        QR-код поставки можно получить только если поставка [передана в доставку](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D~1deliver/patch).
        <br><br>
        Размер — 580x400 px.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Supply"
        - name: type
          in: query
          required: true
          description: Тип стикера
          schema:
            type: string
            enum:
              - svg
              - zplv
              - zplh
              - png
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  barcode:
                    type: string
                    nullable: false
                    description: Закодированное значение стикера (ID поставки)
                    example: WB-GI-12345678
                  file:
                    type: string
                    format: byte
                    nullable: false
                    description: Полное представление стикера в заданном формате (кодировка base64)
                    example: U3dhZ2dlciByb2Nrcw==
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Ошибка запроса данных
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                SupplyNotClosed:
                  $ref: "#/components/examples/SupplyNotClosed"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/supplies/{supplyId}/trbx:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Поставки FBS
      summary: Получить список коробов поставки
      description: |
        Возвращает список коробов поставки.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Supply"
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  trbxes:
                    type: array
                    items:
                      $ref: "#/components/schemas/SupplyTrbx"
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/429"
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Поставки FBS
      summary: Добавить короба к поставке
      description: |
        Метод добавляет требуемое количество [коробов](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D~1trbx/get) в [поставку](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D/get).
        <br>
        <br>
        Короба необходимо добавлять только в поставки, отгружаемые на ПВЗ.
        <br>
        Можно добавить только в открытую поставку.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Supply"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  description: Количество коробов, которые необходимо добавить к поставке.
                  example: 4
      responses:
        "201":
          description: Создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  trbxIds:
                    type: array
                    description: Список ID коробов, которые были созданы.
                    minItems: 1
                    items:
                      type: string
                      example: WB-TRBX-1234567
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/429"
    delete:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Поставки FBS
      summary: Удалить короба из поставки
      description: |
        Метод удаляет короба из поставки.
        <br><br>
        Можно удалить только пока поставка на сборке.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Supply"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - trbxIds
              properties:
                trbxIds:
                  type: array
                  description: Список ID коробов, которые необходимо удалить.
                  items:
                    type: string
                    example: WB-TRBX-1234567
      responses:
        "204":
          description: Удалено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/supplies/{supplyId}/trbx/stickers:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Поставки FBS
      summary: Получить стикеры коробов поставки
      description: |
        Метод возвращает QR-стикеры в форматах:
          - SVG
          - ZPLV (вертикальный)
          - ZPLH (горизонтальный)
          - PNG
        <br><br>
        Размер стикеров — 580x400 px.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Supply"
        - name: type
          in: query
          required: true
          description: Тип стикера
          schema:
            type: string
            enum:
              - svg
              - zplv
              - zplh
              - png
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - trbxIds
              properties:
                trbxIds:
                  type: array
                  description: Список ID коробов, по которым необходимо вернуть стикеры.
                  items:
                    type: string
                    example: WB-TRBX-1234567
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  stickers:
                    type: array
                    minItems: 1
                    items:
                      $ref: "#/components/schemas/TrbxStickers"
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/429"
