openapi: 3.0.1
info:
  title: 03-orders-fbs - Сборочные задания FBS
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://marketplace-api.wildberries.ru
tags:
  - name: Сборочные задания FBS
    description: Сборочные задания FBS endpoints
paths:
  /api/v3/orders/new:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания FBS
      summary: Получить список новых сборочных заданий
      description: |
        Метод возвращает список всех новых [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get), которые есть у продавца на момент запроса.

        <div class="description_important">
        Наличие в сборочных заданиях метаданных, указанных в полях <code>requiredMeta</code> и <code>optionalMeta</code>, влияет только на возможность перевести поставку в доставку. Если ваш товар подлежит обязательной <a href ="https://seller.wildberries.ru/instructions/ru/ru/material/items-labeling-in-fbs">маркировке</a> средствами
        идентификации, необходимо указывать метаданные независимо от того, в каком поле они были получены (п. 4.6 <a href ="https://seller.wildberries.ru/confirm-offer-condition/product/view">Оферты</a>).
        <br>
        Рекомендуем добавлять в сборочные задания все метаданные, полученные в полях <code>requiredMeta</code> и <code>optionalMeta</code>
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        </div>
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  orders:
                    type: array
                    nullable: false
                    description: Список новых сборочных заданий
                    items:
                      $ref: "#/components/schemas/OrderNew"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/orders:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания FBS
      summary: Получить информацию о сборочных заданиях
      description: |
        Метод возвращает информацию о сборочных заданиях без их актуального [статуса](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post).

        Можно получить данные за заданный период, максимум 30 календарных дней одним запросом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Next"
        - name: dateFrom
          in: query
          schema:
            type: integer
          description: |
            Дата начала периода в формате Unix timestamp. По умолчанию — дата за 30 дней до запроса
        - name: dateTo
          in: query
          schema:
            type: integer
          description: Дата конца периода в формате Unix timestamp
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  next:
                    $ref: "#/components/schemas/Next"
                  orders:
                    type: array
                    nullable: false
                    items:
                      $ref: "#/components/schemas/Order"
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/orders/status:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания FBS
      summary: Получить статусы сборочных заданий
      description: |
        Метод возвращает статусы [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) по их ID.
        <br><br>
        `supplierStatus` — статус сборочного задания. Триггер его изменения — действие самого продавца.

        Возможные значения `supplierStatus`:

        | Статус   | Описание            | Как перевести сборочное задание в данный статус |
        |-------|----------------------|--------------------------------------|
        | `new`      | **Новое сборочное задание** |  |
        | `confirm`  | **На сборке** |[Добавить сборочное задание к поставке](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1marketplace~1v3~1supplies~1%7BsupplyId%7D~1orders/patch)
        | `complete` | **В доставке** | [Передать поставку в доставку](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1v3~1supplies~1%7BsupplyId%7D~1deliver/patch) |
        | `cancel`   | **Отменено продавцом**   | [Отменить сборочное задание](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1%7BorderId%7D~1cancel/patch)|

        <br><br>
        `wbStatus` — статус системы Wildberries.

        Возможные значения `wbStatus`:
        - `waiting` — сборочное задание в работе
        - `sorted` — сборочное задание отсортировано
        - `sold` — заказ получен покупателем
        - `canceled` — отмена сборочного задания
        - `canceled_by_client` — покупатель отменил заказ при получении
        - `declined_by_client` — покупатель отменил заказ. Отмена доступна покупателю в первый час с момента заказа, если заказ не переведён на сборку
        - `defect` — отмена заказа по причине брака
        - `ready_for_pickup` — сборочное задание прибыло на пункт выдачи заказов (ПВЗ)
        - `accepted_by_carrier` — продавец передал заказ в службу доставки в своей стране
        - `sent_to_carrier` — заказ отправлен на склад службы доставки в стране продавца

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - orders
              properties:
                orders:
                  type: array
                  minItems: 1
                  maxItems: 1000
                  description: Список ID сборочных заданий
                  items:
                    type: integer
                    format: int64
                    example: 5632423
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    nullable: false
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          nullable: false
                          description: ID сборочного задания
                          example: 5632423
                        supplierStatus:
                          type: string
                          nullable: false
                          description: Статус сборочного задания, установленный продавцом
                          enum:
                            - new
                            - confirm
                            - complete
                            - cancel
                          example: new
                        wbStatus:
                          type: string
                          nullable: false
                          description: Статус сборочного задания в системе Wildberries
                          enum:
                            - waiting
                            - sorted
                            - sold
                            - canceled
                            - canceled_by_client
                            - declined_by_client
                            - defect
                            - ready_for_pickup
                            - postponed_delivery
                            - accepted_by_carrier
                            - sent_to_carrier
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/supplies/orders/reshipment:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания FBS
      summary: Получить все сборочные задания для повторной отгрузки
      description: |
        Метод возвращает все [сборочные задания](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get), требующие повторной отгрузки.
        <br><br>
        Повторная отгрузка требуется, если поставка была отсканирована в пункте приёмки, но при этом в ней всё ещё есть неотсканированные товары. Спустя определённое время необходимо доставить эти товары заново. Данные сборочные задания можно перевести в [другую активную поставку](/openapi/orders-fbs#tag/Postavki-FBS/paths/~1api~1marketplace~1v3~1supplies~1%7BsupplyId%7D~1orders/patch).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    description: Список сборочных заданий
                    type: array
                    items:
                      type: object
                      properties:
                        supplyID:
                          description: ID поставки
                        orderID:
                          description: ID сборочного задания
              example:
                orders:
                  - supplyID: WB-GI-1234567
                    orderID: 5632423
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/orders/{orderId}/cancel:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания FBS
      summary: Отменить сборочное задание
      description: |
        Метод отменяет [сборочное задание](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) и переводит в [статус](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `cancel` — отменено продавцом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - $ref: "#/components/parameters/Order"
      responses:
        "204":
          description: Отменено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Ошибка обновления статуса
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                StatusMismatch:
                  $ref: "#/components/examples/StatusMismatch"
                StatusChangeNotAllowed:
                  $ref: "#/components/examples/StatusChangeNotAllowed"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/orders/stickers:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания FBS
      summary: Получить стикеры сборочных заданий
      description: |
        Метод возвращает список стикеров для [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS).

        Можно получить стикер в форматах:
          - SVG
          - ZPLV (вертикальный)
          - ZPLH (горизонтальный)
          - PNG

        Ограничения:
          - За один запрос можно получить максимум 100 стикеров.
          - Стикеры можно получить только для сборочных заданий в [статусах](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm` — на сборке и `complete` — в доставке.

        Доступны размеры:
          - 580x400 px при `width=58&height=40` в запросе
          - 400x300 px при `width=40&height=30` в запросе

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - name: type
          in: query
          required: true
          description: Тип стикера
          schema:
            type: string
            enum:
              - svg
              - zplv
              - zplh
              - png
        - name: width
          in: query
          required: true
          description: Ширина стикера
          schema:
            type: integer
            enum:
              - 58
              - 40
        - name: height
          in: query
          required: true
          description: Высота стикера
          schema:
            type: integer
            enum:
              - 40
              - 30
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orders:
                  type: array
                  minItems: 1
                  maxItems: 100
                  description: Список ID сборочных заданий
                  items:
                    type: integer
                    format: int64
                    example: 5346346
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  stickers:
                    type: array
                    nullable: false
                    items:
                      type: object
                      properties:
                        orderId:
                          type: integer
                          format: int64
                          nullable: false
                          description: ID сборочного задания
                          example: 5346346
                        partA:
                          type: integer
                          nullable: false
                          description: Первая часть ID стикера (для печати подписи)
                          example: 231648
                        partB:
                          type: integer
                          nullable: false
                          description: Вторая часть ID стикера
                          example: 9753
                        barcode:
                          type: string
                          nullable: false
                          description: Закодированное значение стикера
                          example: "!uKEtQZVx"
                        file:
                          type: string
                          format: byte
                          nullable: false
                          description: Полное представление стикера в заданном формате (кодировка base64)
                          example: iVBORw0KGgoAAAANSUhEUgAAASIAAAEiAQAAAAB1xeIbAAABiElEQVR4nO2YUW6DMAyGbUDaI0g9wI4Sjg5H2Q3IeyZPthNKV03tNiVdtf9/cFvXAvRhkh+z0G2t3R1FRKgqAokikCgCiSKQeDQJzho8yXMsmfmh1/UvqoKoNrsLdgN6S8hzXP2TV8Xc47KMyTPnx+DvX/1zVg1Xmch1z9ih6gv2HLZTuqIPXjX7ftSlPRLJ+prXnONLF9hXZL96q/fE4W1Q+O8XvQ/29djL/lvWiTg/Bt89Voeqn/j7OQ4eTLJY7tz8oEoVSFC28aN9JqKwqbX3kP+VBewrsg/KedE3qmXUn3IMYF/d3zONm38TiqckFKeyEaDv6/W96Nus9b2tPrbw2LOAvq/Pfpfn/Fb4HoA1p9UcU3SHJTLHExk+p8VeK3JwN0Q2UNPmR9+3m2OyDzPjoOFFML9vOMcUin0iHahR2CaGz/mkmo6P5zHtQdD3TeeY5NY++/sKZ+xQdUliNZszqePRkFd+tfvHqhtC1S/nmOQh7eH+Y3WoygKJIpAoAokikChqT+IDIkbb8/8OLskAAAAASUVORK5CYII=
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/orders/stickers/cross-border:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания FBS
      summary: Получить стикеры сборочных заданий кроссбордера
      description: |
        Метод возвращает список стикеров [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) кроссбордера, в формате PDF.<br><br>

        Ограничения:
          - За один запрос можно получить максимум 100 стикеров.
          - Можно получить стикеры только для сборочных заданий, находящихся на сборке или в доставке — [статусы](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) `confirm`, `complete`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orders:
                  type: array
                  minItems: 1
                  maxItems: 100
                  description: Список ID сборочных заданий
                  items:
                    type: integer
                    format: int64
                    example: 3869227998
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  stickers:
                    type: array
                    nullable: false
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          format: byte
                          nullable: false
                          description: Стикер в формате PDF, кодировка base64
                          example: JVBERi0xLjQKJSBjcmVhdGVkIGJ5IFBpbGxvdyBQREYgZHJpdmVyCjQgMCBvYmo8PAovVHlwZSAvQ2F0YWxvZwovUGFnZXMgNSAwIFIKPj5lbmRvYmoKNSAwIG9iajw8Ci9UeXBlIC9QYWdlcwovQ291bnQgMQovS2lkcyBbIDIgMCBSIF0KPj5lbmRvYmoKMSAwIG9iajw8Ci9UeXBlIC9YT2JqZWN0Ci9TdWJ0eXBlIC9JbWFnZQovV2lkdGggMjkwCi9IZWlnaHQgMjkwCi9GaWx0ZXIgWyAvQ0NJVFRGYXhEZWNvZGUgXQovRGVjb2RlUGFybXMgWyA8PAovSyAtMQovQmxhY2tJczEgdHJ1ZQovQ29sdW1ucyAyOTAKL1Jvd3MgMjkwCj4+IF0KL0JpdHNQZXJDb21wb25lbnQgMQovQ29sb3JTcGFjZSAvRGV2aWNlR3JheQovTGVuZ3RoIDY2Ngo+PnN0cmVhbQomoLYaX////////////8g2b4gpHITff///////////8nBSkIB8nBS/////////////////////+QgHkNB/IQD////////////////////////////+P//////////////////////////IQ5CHIQ////////////////////////////////jkNB/H/////////////////////4yEOQh+P//////////////////EhoKR//////yDYchDkIchDyBg2E4aCcFL////////////////////////IgFIiAhODQTg0f/////////////////+ThCICEQGgnDQTg0E4NBODZ////////////////////////4k4NESEOJCCP/////////////////8gpHIQ5CCCEEENB8hDyBg2f//////////////////////////xEZKQhOEJwhOB5f//////////////yDZviDQIjkDBS///////////////ycFLEnCCThP//////////////////kIB5CHkQEEnCEQEJwbP///////////////////////////4ycGgnBoIgFL/////////////////////+QhxIQ4kIcg0H////////////////////////8cSEOJCHEhAP//////////////////jIQDIQ+Qh5OE////////////////////////4iIiI/////////////wAQAQJAAABAwABAAAAIgEAAAEBAwABAAAAIgEAAAIBAwABAAAAAQAAAAMBAwABAAAABAAAAAYBAwABAAAAAQAAABEBBAABAAAACAAAABYBAwABAAAAIgEAABcBBAABAAAAKAIAABwBAwABAAAAAQAAAAAAAAAKZW5kc3RyZWFtCmVuZG9iagoyIDAgb2JqPDwKL1Jlc291cmNlcyA8PAovUHJvY1NldCBbIC9QREYgL0ltYWdlQiBdCi9YT2JqZWN0IDw8Ci9pbWFnZSAxIDAgUgo+Pgo+PgovTWVkaWFCb3ggWyAwIDAgMjkwLjAgMjkwLjAgXQovQ29udGVudHMgMyAwIFIKL1R5cGUgL1BhZ2UKL1BhcmVudCA1IDAgUgo+PmVuZG9iagozIDAgb2JqPDwKL0xlbmd0aCA0Nwo+PnN0cmVhbQpxIDI5MC4wMDAwMDAgMCAwIDI5MC4wMDAwMDAgMCAwIGNtIC9pbWFnZSBEbyBRCgplbmRzdHJlYW0KZW5kb2JqCjYgMCBvYmo8PAovQ3JlYXRpb25EYXRlIChEOjIwMjUxMTA3MTMzNTE1WikKL01vZERhdGUgKEQ6MjAyNTExMDcxMzM1MTVaKQo+PmVuZG9iagp4cmVmCjAgNwowMDAwMDAwMDAwIDY1NTM2IGYgCjAwMDAwMDAxNDQgMDAwMDAgbiAKMDAwMDAwMTA1MiAwMDAwMCBuIAowMDAwMDAxMjE0IDAwMDAwIG4gCjAwMDAwMDAwNDAgMDAwMDAgbiAKMDAwMDAwMDA4NyAwMDAwMCBuIAowMDAwMDAxMzA5IDAwMDAwIG4gCnRyYWlsZXIKPDwKL1Jvb3QgNCAwIFIKL1NpemUgNwovSW5mbyA2IDAgUgo+PgpzdGFydHhyZWYKMTM5MQolJUVPRg==
                        orderId:
                          type: integer
                          nullable: false
                          description: ID сборочного задания
                          example: 3869227998
                        parcelId:
                          type: string
                          description: Трек-номер в стикере для отслеживания сборочного задания
                          example: WB0000000001
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/orders/status/history:
    post:
      x-readonly-method: true
      x-category: marketplace
      servers:
        - url: https://marketplace-api.wildberries.ru
      security:
        - HeaderApiKey: []
      tags:
        - Сборочные задания FBS
      summary: История статусов для сборочных заданий кроссбордера
      description: |
        Метод возвращает историю [статусов](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders~1status/post) для [сборочных заданий](/openapi/orders-fbs#tag/Sborochnye-zadaniya-FBS/paths/~1api~1v3~1orders/get) кроссбордера.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orders:
                  description: ID сборочных заданий
                  type: array
                  items:
                    type: integer
                  maxItems: 100
                  minItems: 1
                  example:
                    - 123456789
                    - 987654321
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    description: Список сборочных заданий
                    items:
                      type: object
                      properties:
                        deliveryDate:
                          type: string
                          format: date-time
                          description: Планируемая дата доставки, [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339)
                        statuses:
                          description: Статусы
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                description: Дата присвоения статуса
                                nullable: true
                                example: null
                              code:
                                type: string
                                description: |
                                  Статус-код сборочного задания/заказа:
                                    - `dispatched_to_delivery_service` — Продавец передал заказ в службу доставки в своей стране
                                    - `on_way_to_delivery_service` — Заказ едет на склад службы доставки в стране продавца
                                    - `accepted_by_carrier` — Товар принят перевозчиком
                                    - `assembling` — Отправлен на сборку
                                    - `assembled` — Собран на складе
                                    - `sorted` — Отсортирован
                                    - `replaced_at_warehouse` — Замена на складе
                                    - `prepared_for_shipment` — Подготовлен к отгрузке
                                    - `in_search` — На поиске
                                    - `arrived_at_dct` — Поступил в распределительный центр-транзит
                                    - `arrived_at_sct` — Поступил в сортировочный центр-транзит
                                    - `arrived_at_dc` — Поступил в распределительный центр
                                    - `arrived_at_sc` — Поступил в сортировочный центр
                                    - `prepared_for_shipment_at_sc` — Подготовлен к отгрузке в сортировочном центре
                                    - `shipped_at_sc` — Отгружено сортировочным центром
                                    - `shipped_at_dct` — Отгружен распределительным центром — транзит
                                    - `shipped_at_dc` — Отгружен распределительным центром
                                    - `delivered_at_sc` — Доставлен в сортировочный/распределительный центр (СЦ/РЦ)
                                    - `on_way_to_sc` — В пути в сортировочный центр
                                    - `on_way_to_dc` — В пути в распределительный центр
                                    - `on_way_to_pp` — В пути на пункт выдачи
                                    - `arrived_at_pp` — Прибыл на пункт выдачи
                                    - `accepted_at_pp` — Приёмка в пункте выдачи
                                    - `ready_for_pick_up` — Готов к выдаче
                                    - `arrived_at_pp` — Поступил на пункт выдачи заказов (ПВЗ)
                                    - `received_by_client` — Получен клиентом
                                    - `delivered_at_parcel_locker` — Доставлен в постамат
                                    - `canceled_by_client` — Покупатель отменил заказ при получении
                                    - `cancel_after_expiration` — Отмена по сроку хранения
                                    - `at_courier` — Передан курьеру
                                    - `moved_to_return_box` — Перемещен в возвратную коробку
                                    - `accepted_for_return` — Принят к возврату на ПВЗ
                                    - `created` — Оформлен
                                    - `canceled_by_seller` — Отменен продавцом
                                    - `dispatched_by_seller` — Отгружено по данным продавца
                                    - `delivered` — Заказ выдан
                                    - `on_way` — В пути
                                    - `arrived_at_wb_wh` — Поступил на склад WB
                                    - `dispatched_from_wh` — Отправлен со склада
                                    - `customs_clearance` — Таможенное оформление
                                    - `customs_clearance_completed` — Выпущен таможней
                                    - `departed_from_origin_country` — Отправлен из страны продавца
                                    - `arrived_in_destination_country` — Прибытие в страну назначения
                                    - `on_way_to_wb_sc` — Отправлен до сортировочного центра (СЦ) WB
                                    - `accepted_at_wb_sc` — Принят СЦ WB
                                    - `canceled` — Отмена
                                    - `failed_to_reach_client` — Не дозвонились до клиента
                                example: SORTED
                        orderID:
                          description: ID сборочного задания
                          type: integer
                          example: 123456789
        "400":
          description: Неправильный запрос
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/429"
  /api/v3/orders/client:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      summary: Заказы с информацией по клиенту
      tags:
        - Сборочные задания FBS
      description: |
        Метод позволяет получать информацию о покупателе по ID сборочного задания.

        Только для кроссбордера из **Турции**.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий, поставок и пропусков FBS</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrdersRequestAPI"
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrossborderTurkeyClientInfoResp"
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/AccessDenied"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/429"
