openapi: 3.0.1
info:
  title: Заказы Самовывоз - Метаданные Самовывоз
  version: instorepickup
servers:
  - url: https://marketplace-api.wildberries.ru
tags:
  - name: Метаданные Самовывоз
    description: ""
paths:
  /api/v3/click-collect/orders/{orderId}/meta:
    get:
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Метаданные Самовывоз
      summary: Получить метаданные сборочного задания
      description: >
        Метод возвращает метаданные [сборочного
        задания](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1new/get).

        <br><br>

        Перечень метаданных, доступных для сборочного задания, можно получить в [списке новых сборочных
        заданий](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1new/get),
        поле `requiredMeta`.

        <br><br>


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для
        всех методов <strong>получения и удаления метаданных Самовывоз</strong>:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 мин | 300 запросов | 200 мс | 20 запросов |


        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов

        </div>
      parameters:
        - name: orderId
          in: path
          description: ID сборочного задания
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/api.OrdersMeta
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "404":
          $ref: _schemas.yaml#/components/responses/NotFound
        "429":
          $ref: _schemas.yaml#/components/responses/429
    delete:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Метаданные Самовывоз
      summary: Удалить метаданные сборочного задания
      description: >
        Метод удаляет значение метаданных сборочного задания для переданного ключа.

        Возможные метаданные: `imei`, `uin`, `gtin`, `sgtin`

        Передается только одно значение.


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для
        всех методов <strong>получения и удаления метаданных Самовывоз</strong>:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 мин | 300 запросов | 200 мс | 20 запросов |


        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов

        </div>
      parameters:
        - name: orderId
          in: path
          description: ID сборочного задания
          required: true
          schema:
            type: integer
        - name: key
          in: query
          description: |
            Название метаданных для удаления (`imei`, `uin`, `gtin`, `sgtin`).
            Передается только одно значение.
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Удалено
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "404":
          $ref: _schemas.yaml#/components/responses/NotFound
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v3/click-collect/orders/{orderId}/meta/sgtin:
    put:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Метаданные Самовывоз
      summary: Закрепить за сборочным заданием код маркировки товара
      description: >
        Метод закрепляет за сборочным заданием код маркировки [Честный знак](https://честныйзнак.рф).

        <br><br>

        Закрепить код маркировки можно только, если в [метаданных сборочного
        задания](/openapi/in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1{orderId}~1meta/get)
        есть поле `sgtins`, а сборочное задание находится в
        [статусе](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1status/post)
        `confirm`.

        <br><br>

        Получить загруженные маркировки можно в [метаданных сборочного
        задания](/openapi/in-store-pickup#tag/Metadannye-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1{orderId}~1meta/get).


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для
        всех методов <strong>закрепления метаданных Самовывоз</strong>:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 мин | 1000 запросов | 60 мс | 20 запросов |


        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов

        </div>
      parameters:
        - name: orderId
          in: path
          description: ID сборочного задания
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: _schemas.yaml#/components/schemas/api.SGTINsRequest
        required: true
      responses:
        "204":
          description: Обновлено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                IncorrectRequestBody:
                  $ref: _schemas.yaml#/components/examples/IncorrectRequestBody
                IncorrectRequest:
                  $ref: _schemas.yaml#/components/examples/IncorrectRequest
                IncorrectParameter:
                  $ref: _schemas.yaml#/components/examples/IncorrectParameter
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "404":
          $ref: _schemas.yaml#/components/responses/NotFound
        "409":
          description: Ошибка добавления маркировки.
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                FailedToUpdateMeta:
                  $ref: _schemas.yaml#/components/examples/FailedToUpdateMeta
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v3/click-collect/orders/{orderId}/meta/uin:
    put:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Метаданные Самовывоз
      summary: Закрепить за сборочным заданием УИН (уникальный идентификационный номер)
      description: >
        Метод обновляет УИН сборочного задания. У одного сборочного задания может быть

        только один УИН. Добавлять маркировку можно только для сборочных заданий в статусе

        `confirm` и доставка которых осуществляется силами WB.


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для
        всех методов <strong>закрепления метаданных Самовывоз</strong>:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 мин | 1000 запросов | 60 мс | 20 запросов |


        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов

        </div>
      parameters:
        - name: orderId
          in: path
          description: ID сборочного задания
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: _schemas.yaml#/components/schemas/api.UINRequest
        required: true
      responses:
        "204":
          description: Обновлено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                IncorrectRequestBody:
                  $ref: _schemas.yaml#/components/examples/IncorrectRequestBody
                IncorrectRequest:
                  $ref: _schemas.yaml#/components/examples/IncorrectRequest
                IncorrectParameter:
                  $ref: _schemas.yaml#/components/examples/IncorrectParameter
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "404":
          $ref: _schemas.yaml#/components/responses/NotFound
        "409":
          description: Ошибка добавления маркировки.
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                FailedToUpdateMeta:
                  $ref: _schemas.yaml#/components/examples/FailedToUpdateMeta
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v3/click-collect/orders/{orderId}/meta/imei:
    put:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Метаданные Самовывоз
      summary: Закрепить за сборочным заданием IMEI
      description: >
        Метод обновляет IMEI сборочного задания. У одного сборочного задания может

        быть только один IMEI. Добавлять маркировку можно только для сборочных заданий в

        статусе `confirm` и доставка которых осуществляется силами WB.


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для
        всех методов <strong>закрепления метаданных Самовывоз</strong>:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 мин | 1000 запросов | 60 мс | 20 запросов |


        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов

        </div>
      parameters:
        - name: orderId
          in: path
          description: ID сборочного задания
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: _schemas.yaml#/components/schemas/api.IMEIRequest
        required: true
      responses:
        "204":
          description: Обновлено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                IncorrectRequestBody:
                  $ref: _schemas.yaml#/components/examples/IncorrectRequestBody
                IncorrectRequest:
                  $ref: _schemas.yaml#/components/examples/IncorrectRequest
                IncorrectParameter:
                  $ref: _schemas.yaml#/components/examples/IncorrectParameter
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "404":
          $ref: _schemas.yaml#/components/responses/NotFound
        "409":
          description: Ошибка добавления маркировки.
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                FailedToUpdateMeta:
                  $ref: _schemas.yaml#/components/examples/FailedToUpdateMeta
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v3/click-collect/orders/{orderId}/meta/gtin:
    put:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Метаданные Самовывоз
      summary: Закрепить за сборочным заданием GTIN
      description: >
        Метод обновляет GTIN (уникальный ID товара в Беларуси) сборочного

        задания. У одного сборочного задания может быть только один GTIN.

        Добавлять маркировку можно только для сборочных заданий в статусе `confirm` и

        доставка которых осуществляется силами WB.


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для
        всех методов <strong>закрепления метаданных Самовывоз</strong>:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 мин | 1000 запросов | 60 мс | 20 запросов |


        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов

        </div>
      parameters:
        - name: orderId
          in: path
          description: ID сборочного задания
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: _schemas.yaml#/components/schemas/api.GTINRequest
        required: true
      responses:
        "204":
          description: Обновлено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                IncorrectRequestBody:
                  $ref: _schemas.yaml#/components/examples/IncorrectRequestBody
                IncorrectRequest:
                  $ref: _schemas.yaml#/components/examples/IncorrectRequest
                IncorrectParameter:
                  $ref: _schemas.yaml#/components/examples/IncorrectParameter
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "404":
          $ref: _schemas.yaml#/components/responses/NotFound
        "409":
          description: Ошибка добавления маркировки.
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                FailedToUpdateMeta:
                  $ref: _schemas.yaml#/components/examples/FailedToUpdateMeta
        "429":
          $ref: _schemas.yaml#/components/responses/429
