openapi: 3.0.1
info:
  title: Заказы Самовывоз - Сборочные задания Самовывоз
  version: instorepickup
servers:
  - url: https://marketplace-api.wildberries.ru
tags:
  - name: Сборочные задания Самовывоз
    description: ""
paths:
  /api/v3/click-collect/orders/new:
    get:
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Получить список новых сборочных заданий
      description: >
        Метод возвращает список всех новых [сборочных
        заданий](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz), которые есть у продавца на момент запроса.


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для
        методов <strong>сборочных заданий Самовывоз</strong>:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 мин | 300 запросов | 200 мс | 20 запросов |


        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов

        </div>
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/api.NewOrders
              examples:
                NewOrderClick:
                  $ref: _schemas.yaml#/components/examples/NewOrderClick
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v3/click-collect/orders/{orderId}/confirm:
    patch:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Перевести на сборку
      description: |
        Метод переводит сборочное задание в статус `confirm` — на сборке.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - name: orderId
          in: path
          description: ID сборочного задания
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Подтверждено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                IncorrectParameter:
                  $ref: _schemas.yaml#/components/examples/IncorrectParameter
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "404":
          $ref: _schemas.yaml#/components/responses/NotFound
        "409":
          description: Ошибка обновления статуса
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                StatusMismatch:
                  $ref: _schemas.yaml#/components/examples/StatusMismatch
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v3/click-collect/orders/{orderId}/prepare:
    patch:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Сообщить, что сборочное задание готово к выдаче
      description: |
        Метод переводит сборочное задание в статус `prepare` — готово к выдаче.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - name: orderId
          in: path
          description: ID сборочного задания
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Подтверждено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                IncorrectParameter:
                  $ref: _schemas.yaml#/components/examples/IncorrectParameter
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "404":
          $ref: _schemas.yaml#/components/responses/NotFound
        "409":
          description: Ошибка обновления статуса
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                StatusMismatch:
                  $ref: _schemas.yaml#/components/examples/StatusMismatch
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v3/click-collect/orders/client:
    post:
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Информация о покупателе
      description: >
        Метод возвращает информацию о покупателе по ID сборочного задания.

        <br><br>

        Доступно только для сборочных заданий в статусах:
          - `confirm` — на сборке
          - `prepare` — готов к выдаче

        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для
        методов <strong>сборочных заданий Самовывоз</strong>:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 мин | 300 запросов | 200 мс | 20 запросов |


        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: _schemas.yaml#/components/schemas/api.OrdersRequest
        required: true
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/api.OrderClientInfoResp
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                IncorrectRequestBody:
                  $ref: _schemas.yaml#/components/examples/IncorrectRequestBody
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v3/click-collect/orders/client/identity:
    post:
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Проверить, что заказ принадлежит покупателю
      description: |
        Метод сообщает, принадлежит ли проверяемый заказ покупателю или нет по переданному коду.
        <br><br>
        Доступно, если хотя бы одно сборочное задание из заказа находится в статусе prepare - готов к выдаче.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 30 запросов | 2 сек | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: _schemas.yaml#/components/schemas/api.CheckIdentityRequest
        required: true
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/api.CheckedIdentity
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                IncorrectRequestBody:
                  $ref: _schemas.yaml#/components/examples/IncorrectRequestBody
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "404":
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/api.Error
              examples:
                OrderNotFound:
                  $ref: _schemas.yaml#/components/examples/OrderNotFound
        "409":
          description: Введён неверный проверочный код
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/api.Error
              examples:
                InvalidPasscode:
                  $ref: _schemas.yaml#/components/examples/InvalidPasscode
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v3/click-collect/orders/{orderId}/receive:
    patch:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Сообщить, что заказ принят покупателем
      description: |
        Метод переводит сборочное задание в статус `receive` — получено покупателем.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - name: orderId
          in: path
          description: ID сборочного задания
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Подтверждено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                IncorrectParameter:
                  $ref: _schemas.yaml#/components/examples/IncorrectParameter
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "404":
          $ref: _schemas.yaml#/components/responses/NotFound
        "409":
          description: Ошибка обновления статуса
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                StatusMismatch:
                  $ref: _schemas.yaml#/components/examples/StatusMismatch
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v3/click-collect/orders/{orderId}/reject:
    patch:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Сообщить, что покупатель отказался от заказа
      description: |
        Метод переводит сборочное задание в статус `reject` — отказ при получении.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - name: orderId
          in: path
          description: ID сборочного задания
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Подтверждено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                IncorrectParameter:
                  $ref: _schemas.yaml#/components/examples/IncorrectParameter
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "404":
          $ref: _schemas.yaml#/components/responses/NotFound
        "409":
          description: Ошибка обновления статуса
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                StatusMismatch:
                  $ref: _schemas.yaml#/components/examples/StatusMismatch
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v3/click-collect/orders/status:
    post:
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Получить статусы сборочных заданий
      description: "Метод возвращает статусы сборочных заданий по их ID.\n<br><br>\n`supplierStatus` — статус сборочного задания. Триггер его изменения - действие самого продавца.\n\nВозможные значения `supplierStatus`:\n| Статус   | Описание            | Как перевести сборочное задание в данный статус |\n| -------  | ---------           | --------------------------------------|\n| `new`      | **Новое сборочное задание** |\n| `confirm`  | **На сборке**  | \t[Перевести сборочное задание на сборку](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1%7BorderId%7D~1confirm/patch)\n| `prepare`  | **Готов к выдаче** | \t[Сообщить, что сборочное задание готово к выдаче](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1%7BorderId%7D~1prepare/patch)\n| `receive`  | **Получено покупателем**   | [Сообщить, что заказ принят покупателем](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1%7BorderId%7D~1receive/patch)\n| `reject`  | **Отказ покупателя при получении**    |  \t[Сообщить, что покупатель отказался от заказа](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1%7BorderId%7D~1reject/patch)\n| `cancel`   | **Отменено продавцом**    |  \t[Отменить сборочное задание](/openapi/in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz/paths/~1api~1v3~1click-collect~1orders~1%7BorderId%7D~1cancel/patch)\n| `cancel_shelf_life` | **Отмена по истечении срока хранения**    |  \tПереводится автоматически по возникновению события\n\n<br><br>\n`wbStatus` — статус системы Wildberries.\n\nВозможные значения `wbStatus`:\n- `waiting` - сборочное задание в работе\n- `sold` - заказ получен покупателем\n- `canceled` - отмена сборочного задания\n- `canceled_by_client` - покупатель отменил заказ при получении\n- `declined_by_client` - покупатель отменил заказ в первый чаc\n<br> Отмена доступна покупателю в первый час с момента заказа, если заказ не переведён на сборку\n- `defect` - отмена заказа по причине брака\n- `ready_for_pickup` - сборочное задание готово к выдаче\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Vvedenie/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин запрос с кодом ответа <code>409</code> учитывается как 10 запросов\n</div>\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: _schemas.yaml#/components/schemas/api.OrdersRequest
        required: true
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/api.OrderStatuses
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                IncorrectRequestBody:
                  $ref: _schemas.yaml#/components/examples/IncorrectRequestBody
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v3/click-collect/orders:
    get:
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Получить информацию о завершённых сборочных заданиях
      description: >
        Метод возвращает информацию о завершённых сборочных заданиях после продажи или отмены заказа.


        Можно получить данные за заданный период, максимум 30 календарных дней одним запросом.


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для
        методов <strong>сборочных заданий Самовывоз</strong>:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 мин | 300 запросов | 200 мс | 20 запросов |


        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов

        </div>
      parameters:
        - name: limit
          in: query
          description: |
            Параметр пагинации. Устанавливает предельное количество возвращаемых
            данных.
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: next
          in: query
          description: |
            Параметр пагинации. Устанавливает значение, с которого необходимо получить
            следующий пакет данных. Для получения полного списка данных должен
            быть равен `0` в первом запросе. Для следующих запросов необходимо
            брать значения из одноимённого поля в ответе
          required: true
          schema:
            type: integer
        - name: dateFrom
          in: query
          description: Дата начала периода в формате Unix timestamp
          required: true
          schema:
            type: integer
        - name: dateTo
          in: query
          description: Дата конца периода в формате Unix timestamp
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/api.Orders
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                IncorrectParameter:
                  $ref: _schemas.yaml#/components/examples/IncorrectParameter
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v3/click-collect/orders/{orderId}/cancel:
    patch:
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Отменить сборочное задание
      description: |
        Метод отменяет сборочное задание и переводит в статус `cancel` — отменено продавцом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 100 запросов | 600 мс | 20 запросов |

        Один запрос с кодом ответа <code>409</code> учитывается как 10 запросов
        </div>
      parameters:
        - name: orderId
          in: path
          description: ID сборочного задания
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Отменено
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                IncorrectRequestBody:
                  $ref: _schemas.yaml#/components/examples/IncorrectRequestBody
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          $ref: _schemas.yaml#/components/responses/AccessDenied
        "404":
          $ref: _schemas.yaml#/components/responses/NotFound
        "409":
          description: Ошибка обновления статуса
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/Error
              examples:
                StatusMismatch:
                  $ref: _schemas.yaml#/components/examples/StatusMismatch
        "429":
          $ref: _schemas.yaml#/components/responses/429
