openapi: 3.0.1
info:
  title: Analytics and Data
  version: analytics
  description: |
    <div class="api-block">

    Data on seller analytics.

    </div>
  x-file-name: analytics
security:
  - HeaderApiKey: []
tags:
  - name: Sales Funnel
    description: ''
  - name: Search Queries for Your Items
    description: ''
  - name: Stocks Report
    description: ''
  - name: Item Rating
    description: ''
  - name: Seller Analytics CSV
    description: ''
paths:
  /api/analytics/v3/sales-funnel/products:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Sales Funnel
      summary: Listings Statistics per Period
      operationId: postSalesFunnelProducts
      description: |
        The method generates a report on items by comparing key metrics for the current period with a similar past one.<br><br>

        The report data is updated once an hour.<br><br>

        Most of the data appears within an hour of the event:
          - orders
          - click-throughs
          - adds-to-Cart

        A small part of this data may appear within a few days.<br><br>

        Purchases, cancellations, and returns are displayed in report for the day an item was ordered. For example, if an order was placed on January 1, and the customer returned the item on January 10, data about this return will appear in the report for January 1.<br>
        You can track the final sales results using [details for the realization reports](/openapi/financial-reports-and-accounting#tag/Financial-Reports).<br><br>

        The `brandNames`, `subjectIds`, `tagIds`, and `nmIds` parameters can be empty `[]`, in which case the response will return all of the seller listings.<br><br>

        If you specify multiple parameters, the response will include listings that match all of these parameters simultaneously. If no listings match the request parameters, an empty response `[]` will be returned.<br><br>

        You can get a report for a maximum of the last 365 days.<br><br>

        In the previous period's data:
        * The data in `pastPeriod` covers the same duration as in `selectedPeriod`
        * If the `pastPeriod` start date is more than a year before the current date, it will be adjusted to: `pastPeriod.start = current date - 365 days`

        Pagination can be used.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 2 requests | 30 min | 1 request |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    allOf:
                      - type: object
                        description: Statistics
                      - $ref: '#/components/schemas/ItemsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AuthorizationErrorResponse'
        '429':
          $ref: '#/components/responses/429'
  /api/analytics/v3/sales-funnel/products/history:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Sales Funnel
      summary: Listings Statistics per Days
      operationId: postSalesFunnelProductsHistory
      description: |
        The method returns statistics for listings by day or by week.<br>
        You can get data for a maximum of the last week.<br><br>

        The report data is updated once an hour.<br><br>

        Most of the data appears within an hour of the event:
          - orders
          - click-throughs
          - adds-to-Cart

        A small part of this data may appear within a few days.<br><br>

        Purchases, cancellations, and returns are displayed in report for the day an item was ordered. For example, if an order was placed on January 1, and the customer returned the item on January 10, data about this return will appear in the report for January 1.<br>
        You can track the final sales results using [details for the realization reports](/openapi/financial-reports-and-accounting#tag/Financial-Reports).

        <div class="description_important">
          To get reports for a period of up to a year, use the <a href="/openapi/analytics#tag/Seller-Analytics-CSV">Seller Analytics CSV</a> methods — the <code>DETAIL_HISTORY_REPORT</code> type. Reports of this type are available only with <a href='https://seller.wildberries.ru/monetization/jam'>Jam</a> subscription
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 2 requests | 30 min | 1 request |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemHistoryRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AuthorizationErrorResponse'
        '429':
          $ref: '#/components/responses/429'
  /api/analytics/v3/sales-funnel/grouped/history:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Sales Funnel
      summary: Grouped Listings Statistics per Days
      operationId: postSalesFunnelGroupedHistory
      description: |
        The method returns statistics for listings by day or by week.<br>
        Listings are grouped by subcategories, brands and labels.<br>
        You can get data for a maximum of the last week.<br><br>

        The report data is updated once an hour.<br><br>
        Most of the data appears within an hour of the event:
          - orders
          - click-throughs
          - adds-to-Cart

        A small part of this data may appear within a few days.<br><br>

        Purchases, cancellations, and returns are displayed in report for the day an item was ordered. For example, if an order was placed on January 1, and the customer returned the item on January 10, data about this return will appear in the report for January 1.<br>
        You can track the final sales results using [details for the realization reports](/openapi/financial-reports-and-accounting#tag/Financial-Reports).<br><br>

        The `brandNames`, `subjectIDs`, `tagIds`, and `nmIds` parameters can be empty `[]`, in which case the response will return all of the seller listings.<br><br>

        The item of the number of subcategories, brands, and labels in the request cannot be more than 16. For example, 4 brands and 4 subcategories or 2 subcategories, 2 labels, and 4 brands.

        <div class="description_important">
          To get reports for a period of up to a year, use the <a href="/openapi/analytics#tag/Seller-Analytics-CSV">Seller Analytics CSV</a> methods — the <code>GROUPED_HISTORY_REPORT</code> type. Reports of this type are available only with <a href='https://seller.wildberries.ru/monetization/jam'>Jam</a> subscription
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 2 requests | 30 min | 1 request |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupedHistoryRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/GroupedHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AuthorizationErrorResponse'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/nm-report/downloads:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Seller Analytics CSV
      security:
        - HeaderApiKey: []
      summary: Create the Report
      description: |
        The method creates a task for generating a report with advanced seller analytics.
        <br><br>
        You can create a CSV-version of [sales funnel](/openapi/analytics#tag/Sales-Funnel) or [search parameters](/openapi/analytics#tag/Search-Queries-for-Your-Items) report with grouping:

          * by WB item numbers
          * by categories, brands, and labels

        In each of reports on sales funnel, you can group data by days, weeks, or months.
        <br><br>
        Also you can create a CSV-version of [search texts](/openapi/analytics#tag/Search-Queries-for-Your-Items/paths/~1api~1v2~1search-report~1product~1search-texts/post) or [inventory](/openapi/analytics#tag/Stocks-Report) report.
        <br><br>

        Each new report must have a unique ID.

        <div class="description_important">
          Do not use the same ID for different reports — this may cause errors during generation
        </div>

        The set of parameters in the `params` object depends on the report type. To get a description of the parameters, select the report type from the dropdown list in the description of the `reportType` parameter.
        <br><br>
        The parameters `includeSubstitutedSKUs` and `includeSearchTexts` cannot both be set to `false`
        <br><br>
        If it was not possible to [get report](/openapi/analytics#tag/Seller-Analytics-CSV/paths/~1api~1v2~1nm-report~1downloads~1file~1%7BdownloadId%7D/get), you can create a [repeat generation task](/openapi/analytics#tag/Seller-Analytics-CSV/paths/~1api~1v2~1nm-report~1downloads~1retry/post). You can also [get a list and check the statuses](/openapi/analytics#tag/Seller-Analytics-CSV/paths/~1api~1v2~1nm-report~1downloads/get) of reports.

        <div class="description_important">
          <a href="https://seller.wildberries.ru/content-analytics/history-remains">Inventory reports</a> — the <code>STOCK_HISTORY_REPORT_CSV</code> and <code>STOCK_HISTORY_DAILY_CSV</code> types — can be created without <a href="https://seller.wildberries.ru/monetization/jam">Jam</a> subscription
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 1 request | 1 h | 1 request |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SalesFunnelItemReq'
                - $ref: '#/components/schemas/SalesFunnelGroupReq'
                - $ref: '#/components/schemas/SearchReportGroupReq'
                - $ref: '#/components/schemas/SearchReportItemReq'
                - $ref: '#/components/schemas/SearchReportTextReq'
                - $ref: '#/components/schemas/InventoryMetricsReportReq'
                - $ref: '#/components/schemas/InventoryHistoryReportReq'
              discriminator:
                propertyName: reportType
                mapping:
                  DETAIL_HISTORY_REPORT: '#/components/schemas/SalesFunnelItemReq'
                  GROUPED_HISTORY_REPORT: '#/components/schemas/SalesFunnelGroupReq'
                  SEARCH_QUERIES_PREMIUM_REPORT_GROUP: '#/components/schemas/SearchReportGroupReq'
                  SEARCH_QUERIES_PREMIUM_REPORT_PRODUCT: '#/components/schemas/SearchReportItemReq'
                  SEARCH_QUERIES_PREMIUM_REPORT_TEXT: '#/components/schemas/SearchReportTextReq'
                  STOCK_HISTORY_REPORT_CSV: '#/components/schemas/InventoryMetricsReportReq'
                  STOCK_HISTORY_DAILY_CSV: '#/components/schemas/InventoryHistoryReportReq'
            examples:
              SalesFunnelItemReq:
                description: Sales funnel report. By WB item numbers
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: DETAIL_HISTORY_REPORT
                  userReportName: Listing report
                  params:
                    nmIDs:
                      - 1234567
                    subjectIds:
                      - 1234567
                    brandNames:
                      - Name
                    tagIds:
                      - 1234567
                    startDate: '2024-06-21'
                    endDate: '2024-06-23'
                    timezone: Europe/Moscow
                    aggregationLevel: day
                    skipDeletedNm: false
              SalesFunnelGroupReq:
                description: Sales funnel report. By categories, brands and labels
                value:
                  id: 06eea887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: GROUPED_HISTORY_REPORT
                  userReportName: Subcategory report
                  params:
                    subjectIds:
                      - 1234567
                    brandNames:
                      - Name
                    tagIds:
                      - 1234567
                    startDate: '2024-06-21'
                    endDate: '2024-06-23'
                    timezone: Europe/Moscow
                    aggregationLevel: day
                    skipDeletedNm: false
              SearchReportGroupReq:
                description: Search parameters report. By categories, brands, and labels
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: SEARCH_QUERIES_PREMIUM_REPORT_GROUP
                  userReportName: Subcategory report
                  params:
                    currentPeriod:
                      start: '2024-02-10'
                      end: '2024-02-10'
                    pastPeriod:
                      start: '2024-02-08'
                      end: '2024-02-08'
                    nmIds:
                      - 162579635
                      - 166699779
                    subjectIds:
                      - 64
                      - 334
                    brandNames:
                      - nikkle
                      - abikas
                    tagIds:
                      - 32
                      - 53
                    orderBy:
                      field: avgPosition
                      mode: asc
                    positionCluster: all
                    includeSubstitutedSKUs: true
                    includeSearchTexts: false
              SearchReportItemReq:
                description: Search parameters report. By WB item numbers
                value:
                  id: 06eea887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: SEARCH_QUERIES_PREMIUM_REPORT_PRODUCT
                  userReportName: Listing report
                  params:
                    currentPeriod:
                      start: '2024-02-10'
                      end: '2024-02-10'
                    pastPeriod:
                      start: '2024-02-08'
                      end: '2024-02-08'
                    subjectId: 123
                    brandName: Abble
                    tagId: 45
                    nmIds:
                      - 162579635
                      - 166699779
                    orderBy:
                      field: buyoutCount
                      mode: asc
                    positionCluster: all
                    includeSubstitutedSKUs: false
                    includeSearchTexts: true
              SearchReportTextReq:
                description: Search texts report
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: SEARCH_QUERIES_PREMIUM_REPORT_TEXT
                  userReportName: Subcategory report
                  params:
                    currentPeriod:
                      start: '2024-02-10'
                      end: '2024-02-10'
                    pastPeriod:
                      start: '2024-02-08'
                      end: '2024-02-08'
                    nmIds:
                      - 162579635
                      - 166699779
                    subjectIds:
                      - 64
                      - 334
                    brandNames:
                      - nikkle
                      - abikas
                    tagIds:
                      - 32
                      - 53
                    topOrderBy: openCard
                    orderBy:
                      field: avgPosition
                      mode: asc
                    includeSubstitutedSKUs: true
                    includeSearchTexts: true
                    limit: 50
              InventoryMetricsReportReq:
                description: Inventory metrics report
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: STOCK_HISTORY_REPORT_CSV
                  userReportName: Inventory report
                  params:
                    nmIDs:
                      - 111222333
                      - 444555666
                    subjectIDs:
                      - 123
                      - 456
                    brandNames:
                      - ЭгКа
                      - Stock
                    tagIDs:
                      - 3
                      - 4
                      - 5
                    currentPeriod:
                      start: '2024-02-10'
                      end: '2024-02-10'
                    stockType: mp
                    skipDeletedNm: true
                    availabilityFilters:
                      - deficient
                      - balanced
                    orderBy:
                      field: avgOrders
                      mode: asc
              InventoryHistoryReportReq:
                description: Inventory history report
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: STOCK_HISTORY_DAILY_CSV
                  userReportName: Inventory report
                  params:
                    nmIds:
                      - 111222333
                      - 444555666
                    subjectIds:
                      - 123
                      - 456
                    brandNames:
                      - ЭгКа
                      - Stock
                    tagIds:
                      - 3
                      - 4
                      - 5
                    currentPeriod:
                      start: '2025-12-13'
                      end: '2025-12-15'
                    stockType: ''
                    skipDeletedNm: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NmReportCreateReportResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Error title
                  detail:
                    type: string
                    description: Error details
                  requestId:
                    type: string
                    description: Unique request ID
                  origin:
                    type: string
                    description: WB internal service ID
                required:
                  - title
                  - detail
                  - requestId
                  - origin
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: userReportName can not contain emojis
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Error title
                  detail:
                    type: string
                    description: Error details
                  requestId:
                    type: string
                    description: Unique request ID
                  origin:
                    type: string
                    description: WB internal service ID
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/response429Download'
                  - $ref: '#/components/schemas/response429DownloadDaily'
    get:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Seller Analytics CSV
      security:
        - HeaderApiKey: []
      summary: Get the Reports List
      description: |
        The method provides a list of reports with advanced seller analytics. The response contains [report IDs](/openapi/analytics#tag/Seller-Analytics-CSV/paths/~1api~1v2~1nm-report~1downloads/post) and generation statuses.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 1 request | 1 h | 1 request |
        </div>
      parameters:
        - in: query
          name: filter[downloadIds]
          description: Report ID
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NmReportGetReportsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Error title
                  detail:
                    type: string
                    description: Error details
                  requestId:
                    type: string
                    description: Unique request ID
                  origin:
                    type: string
                    description: WB internal service ID
                required:
                  - title
                  - detail
                  - requestId
                  - origin
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: download id was not found
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Error title
                  detail:
                    type: string
                    description: Error details
                  requestId:
                    type: string
                    description: Unique request ID
                  origin:
                    type: string
                    description: WB internal service ID
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '429':
          $ref: '#/components/responses/429'
  /api/v2/nm-report/downloads/retry:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Seller Analytics CSV
      security:
        - HeaderApiKey: []
      summary: Regenerate the Report
      description: |
        The method creates a [repeated generation task](/openapi/analytics#tag/Seller-Analytics-CSV/paths/~1api~1v2~1nm-report~1downloads/post) of report with advanced seller analytics. This is necessary if you [received the status](/openapi/analytics#tag/Seller-Analytics-CSV/paths/~1api~1v2~1nm-report~1downloads/get) `FAILED` when generating the report.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 1 request | 1 h | 1 request |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NmReportRetryReportRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NmReportRetryReportResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Error title
                  detail:
                    type: string
                    description: Error details
                  requestId:
                    type: string
                    description: Unique request ID
                  origin:
                    type: string
                    description: WB internal service ID
                required:
                  - title
                  - detail
                  - requestId
                  - origin
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: download id was not found
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Error title
                  detail:
                    type: string
                    description: Error details
                  requestId:
                    type: string
                    description: Unique request ID
                  origin:
                    type: string
                    description: WB internal service ID
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '429':
          $ref: '#/components/responses/429'
  /api/v2/nm-report/downloads/file/{downloadId}:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Seller Analytics CSV
      security:
        - HeaderApiKey: []
      summary: Get the Report
      description: |
        The method provides a report with advanced seller analytics by [generation task](/openapi/analytics#tag/Seller-Analytics-CSV/paths/~1api~1v2~1nm-report~1downloads/post) ID.
        <br><br>
        You can get a report that was generated within the last 48 hours.<br>The report will be downloaded inside a ZIP archive in CSV format.<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 1 request | 1 h | 1 request |
        </div>
      parameters:
        - in: path
          name: downloadId
          description: Report ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/zip:
              schema:
                type: string
                format: binary
                description: "Fields description in the CSV file:\n<br>\n<br>\n**Sales funnel reports**\n\n| Name | Type | Format | Description |\n|-----------------| --- | --- | --- |\n| nmID (only `DETAIL_HISTORY_REPORT`) | integer | int32 | WB item number |\n| dt | string | date | Date |\n| openCardCount | integer | int32 | Click-throughs |\n| addToCartCount | integer | int32 | Adds-to-Cart |\n| ordersCount | integer | int32 | Items ordered |\n| ordersSumRub | integer | int32 | Total order value |\n| buyoutsCount | integer | int32 | Items purchased |\n| buyoutsSumRub | integer | int32 | Total purchase value |\n| cancelCount | integer | int32 | Items canceled and returned |\n| cancelSumRub | integer | int32 | Canceled and returned item value |\n| addToCartConversion | number | int32 | Conversion to Cart, % (Percentage of visitors who added the item to the cart after opening the item page) |\n| cartToOrderConversion | integer | int32 | Conversion to order, % (Percentage of visitors who made an order after adding the item to the cart) |\n| buyoutPercent | integer | int32 | Purchase rate, % (Percentage of visitors who ordered the item and purchased it. Excluding items still being delivered to the buyer) |\n| addToWishlist | integer | int32 | Adds-to-Favorites |\n| currency | string | string | Report currency |\n\n\n**Search parameters report. By categories, brands, and labels**\n\n| Name | Type | Format | Description |\n|-----------------| --- | --- | --- |\n| SubjectName |\tstring | string | Subcategory name |\n| SubjectID | integer | int32 | Subcategory ID |\n| BrandName | string | string | Brand |\n| TagID | integer | int64 | Label ID |\n| AveragePosition | integer | uint64 | Average item position in search results in the current period |\n| OpenCard | integer | uint64 | Click-throughs from search in the current period |\n| AddToCart | integer | uint64 | Adds-to-Cart from search in the current period |\n| OpenToCart | integer | uint64\t| Conversion to cart from search in the current period |\n| Orders | integer | uint64 | Items ordered from search in the current period |\n| CartToOrder | integer | uint64 | Conversion to order from search in the current period |\n| Visibility  |integer | uint64 | Visibility in search results in the current period. Probability percentage that a user will see the listing. Depends on the average position |\n| AveragePositionPast | integer | uint64 | Average item position in search results in the past period (filled in if the previous period is specified) |\n| OpenCardPast | integer | uint64 | Click-throughs from search in the past period (filled in if the previous period is specified) |\n| AddToCartPast | integer | uint64 | Adds-to-Cart from search in the past period (filled in if the previous period is specified) |\n| OpenToCartPast | integer | uint64 | Conversion to cart from search in the past period filled in if the previous period is specified) |\n| OrdersPast | integer | uint64 | Items ordered from search in the past period (filled in if the previous period is specified) |\n| CartToOrderPast | integer | uint64 | Conversion to order from search in the past period (filled in if the previous period is specified) |\n| VisibilityPast | integer | uint64 | Visibility in search results in the past period. Probability percentage that a user will see the listing. Depends on the average position (filled in if the previous period is specified) |\n\n\n**Search parameters report. By WB item numbers**\n\n| Name | Type | Format | Description |\n|-----------------| --- | --- | --- |\n| NmID | integer | int64 | WB item number |\n| VendorCode | string | string | Seller item number |\n| Name | string\t| string | Item name |\n| SubjectName | string\t| string | Subcategory name |\n| BrandName | string | string  | Brand |\n| IsAdvertised | boolean | bool\t| Is the item being promoted in search results |\n| IsRated | boolean | bool | Is there an opportunity to rate the listing quality |\n| Rating | float | float64 | Listing rating |\n| FeedbackRating | float | float64 | Feedbacks rating |\n| MinPrice | integer | uint64 | Minimal seller price with seller discount (excluding WB Club discount) |\n| MaxPrice | integer | uint64 | Maximal seller price with seller discount (excluding WB Club discount) |\n| AveragePosition | integer | uint64 | Average item position in search results in the current period |\n| OpenCard | integer | uint64 | Click-throughs from search in the current period |\n| AddToCart | integer | uint64 | Adds-to-Cart from search in the current period |\n| OpenToCart | integer | uint64\t| Conversion to cart from search in the current period |\n| Orders | integer | uint64 | Items ordered from search in the current period |\n| CartToOrder | integer | uint64 | Conversion to order from search in the current period |\n| Visibility  |integer | uint64 | Visibility in search results in the current period. Probability percentage that a user will see the listing. Depends on the average position |\n| AveragePositionPast | integer | uint64 | Average item search results in the past period (filled in if the previous period is specified) |\n| OpenCardPast | integer | uint64 | Click-throughs from search in the past period (filled in if the previous period is specified) |\n| AddToCartPast | integer | uint64 | Adds-to-Cart from search in the past period (filled in if the previous period is specified) |\n| OpenToCartPast | integer | uint64 | Conversion to cart from search in the past period (filled in if the previous period is specified) |\n| OrdersPast | integer | uint64 | Items ordered from search in the past period (filled in if the previous period is specified) |\n| CartToOrderPast | integer | uint64 | Conversion to order from search in the past period (filled in if the previous period is specified) |\n| VisibilityPast | integer | uint64 | Visibility in search results in the past period. Probability percentage that a user will see the listing. Depends on the average position (filled in if the previous period is specified) |\n| IsSubstitutedSKU | boolean | bool | If the item was searched by the promo item. This will be in the response if the request contains `includeSubstitutedSKUs` and/or `includeSearchTexts` |\n| Currency | string | string | Report currency |\n\n\n**Search texts report**\n\n| Name | Type | Format | Description |\n|-----------------| --- | --- | --- |\n| Text | string\t| string | Search text |\n| NmID | integer | int64 | WB item number |\n| SubjectName | string\t| string | Subcategory name |\n| BrandName | string | string  | Brand |\n| VendorCode | string | string | Seller item number |\n| Name | string\t| string | Item name |\n| Rating | float | float64 | Listing rating. If there is no rating, the value will be `no rating` |\n| FeedbackRating | float | float64 | Feedbacks rating |\n| MinPrice | integer | uint64 | Minimal seller price with seller discount (excluding WB Club discount) |\n| MaxPrice | integer | uint64 | Maximal seller price with seller discount (excluding WB Club discount) |\n| Frequency | integer | uint64 | Number of the search text requests in the current period |\n| MedianPosition | float | float64 | Median position of the item search in the current period. Only positions from which users added the proitem the cart or visited its page are considered. It is the middle value of the position in search results, which excludes significant deviations from the average |\n| AveragePosition | integer | uint64 | Average item position in search results in the current period. Only positions from which users added the item to the cart or visited its page are considered |\n| OpenCard | integer | uint64 | Click-throughs from search in the current period |\n| OpenCardPercentile | float | float64 | The percentage by which click-throughs is higher than that of other sellers' pages for the search text |\n| AddToCart | integer | uint64 | Adds-to-Cart in search results in the current period |\n| AddToCartPercentile | float | float64 | The percentage by which adds-to-Cart is higher than that of other sellers' pages for the search text |\n| OpenToCart | integer | uint64\t| Conversion to cart from search in the current period, % |\n| OpenToCartPercentile\t| float\t| float64\t| The percentage by which conversion to cart is higher than that of other sellers' pages for the search text |\n| Orders | integer | uint64 | Items ordered from search in the current period |\n| OrdersPercentile | float | float64 | The percentage by which items ordered is higher than that of other sellers' pages for the search text |\n| CartToOrder | integer | uint64 | Conversion to order from search in the current period, % |\n| CartToOrderPercentile | float | float64 | The percentage by which conversion to order is higher than that of other sellers' pages for the search text |\n| Visibility  |integer | uint64 | Visibility in search results in the current period. Probability percentage that a user will see the listing. Depends on the average position |\n| FrequencyPast | integer | uint64 | Number of the search text requests in the past period (filled in if the previous period is specified) |\n| MedianPositionPast | float | float64 | Median position of the item in search in the past period (filled in if the previous period is specified) |\n| AveragePositionPast | integer | uint64 | Average item position in search results in the past period (filled in if the previous period is specified) |\n| OpenCardPast | integer | uint64 | Click-throughs from search in the past period (filled in if the previous period is specified) |\n| AddToCartPast | integer | uint64 | Adds-to-Cart from search in the past period (filled in if the previous period is specified) |\n| OpenToCartPast | integer | uint64 | Conversion to cart from search in the past period (filled in if the previous period is specified) |\n| OrdersPast | integer | uint64 | Items ordered from search in the past period (filled in if the previous period is specified) |\n| CartToOrderPast | integer | uint64 | Conversion to order from search in the past period (filled in if the previous period is specified), % |\n| VisibilityPast | integer | uint64 | Visibility in search results in the past period. Probability percentage that a user will see the listing. Depends on the average position (filled in if the previous period is specified) |\n| Currency | string | string | Report currency |\n\n\n**Inventory metrics report**\n\n| Name | Type | Format | Description |\n|-----------------| --- | --- | --- |\n| VendorCode | string | string | Seller item number |\n| Name | string\t| string | Item name |\n| NmID | integer | int64 | WB item number |\n| SubjectName | string\t| string | Subcategory name |\n| BrandName | string | string  | Brand |\n| SizeName | string\t| string | Size name |\n| ChrtID | integer | int64 | Size ID |\n| RegionName | string\t| string | Region name. For seller warehouses, the value in the lines will be `Маркетплейс`, since the data on the seller warehouses is displayed in an aggregated form — for all of them together without details for a specific warehouses |\n| OfficeName | string\t| string | Warehouse name. . For seller warehouses, the value in the lines will be `Маркетплейс`, since the data on the seller warehouses is displayed in an aggregated form — for all of them together without details for a specific warehouses |\n| Availability | string\t| enum | Item availability status |\n| OrdersCount | integer\t| uint64 | Items ordered |\n| OrdersSum | integer\t| uint64 | Total order value |\n| BuyoutCount | integer\t| uint64 | Items purchased |\n| BuyoutSum | integer\t| uint64 | Total purchase value |\n| BuyoutPercent | integer\t| uint32 | Purchase rate |\n| AvgOrders | number\t| float64 | Average daily orders |\n| StockCount | integer\t| uint64 | Current inventory |\n| StockSum | integer\t| uint64 | Current inventory value |\n| SaleRate | integer\t| int32 |  Current DSI in hours |\n| AvgStockTurnover | integer\t| int32 | Average DSI in hours |\n| ToClientCount | integer\t| uint64 | On the way to user |\n| FromClientCount | integer\t| uint64 | On the way from user |\n| Price | integer\t| uint64 | Current seller price with seller discount (excluding WB Club discount) |\n| OfficeMissingTime | integer\t| int32 | Out-of-stock time in hours |\n| LostOrdersCount | number\t| float64 | Lost orders |\n| LostOrdersSum | number\t| float64 | Lost order value |\n| LostBuyoutsCount | number\t| float64 | Lost sales |\n| LostBuyoutsSum | number\t| float64 | Lost sale value |\n| AvgOrdersByMonth_MM.YYYY | number\t| float64 | The average number of orders by month. The columns are formed dynamically depending on the current period transmitted in the request. Each month of the current period has one column. If the item did not exist at the time of a particular month, the value will be skipped |\n| Currency | string | string | Report currency |\n\n\n**Inventory history report**\n\n| Name | Type | Format | Description |\n|-----------------| --- | --- | --- |\n| VendorCode | string | string | Seller item number |\n| Name | string\t| string | Item name |\n| NmID | integer | int64 | WB item number |\n| SubjectName | string\t| string | Subcategory name |\n| BrandName | string | string  | Brand |\n| SizeName | string\t| string | Size name |\n| ChrtID | integer | int64 | Size ID |\n| OfficeName | string\t| string | Warehouse name. For seller warehouses, the value in the lines will be `Маркетплейс`, since the data on the seller warehouses is displayed in an aggregated form — for all of them together without details for a specific warehouses |\n| DD.MM.YYYY | integer | uint64 | Inventory as of 23:59 p.m. in the header. The columns are formed dynamically depending on the period transmitted in the request. Each day of the period has one column. If the item was not available on a particular day, the value will be skipped |\n"
              examples:
                SalesFunnelItemRes:
                  $ref: '#/components/examples/SalesFunnelItemRes'
                SalesFunnelGroupRes:
                  $ref: '#/components/examples/SalesFunnelGroupRes'
                SearchReportGroupRes:
                  $ref: '#/components/examples/SearchReportGroupRes'
                SearchReportItemRes:
                  $ref: '#/components/examples/SearchReportItemRes'
                SearchReportTextRes:
                  $ref: '#/components/examples/SearchReportTextRes'
                InventoryMetricsReportRes:
                  $ref: '#/components/examples/InventoryMetricsReportRes'
                InventoryHistoryReportRes:
                  $ref: '#/components/examples/InventoryHistoryReportRes'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Error title
                  detail:
                    type: string
                    description: Error details
                  requestId:
                    type: string
                    description: Unique request ID
                  origin:
                    type: string
                    description: WB internal service ID
                required:
                  - title
                  - detail
                  - requestId
                  - origin
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: download id was not found
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Error title
                  detail:
                    type: string
                    description: Error details
                  requestId:
                    type: string
                    description: Unique request ID
                  origin:
                    type: string
                    description: WB internal service ID
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
        '429':
          $ref: '#/components/responses/429'
  /api/v2/search-report/report:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Search Queries for Your Items
      summary: Main Page
      description: |
        Forms a dataset for the main report page with:
          - General information
          - Item positions
          - Data on visibility and transitions to the listing
          - Data for the table by groups

        To get additional data in the table, use a separate request for:
          - Pagination by groups
          - Retrieval of items within a group

        Additional parameters for selecting the list of items in the table:
          - `positionCluster` — average position in search

        The parameters `includeSubstitutedSKUs` and `includeSearchTexts` cannot both be set to `false`.<br><br>

        The report data is updated once an hour.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 1 request | 1 h | 1 request |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MainRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponseProperties'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/MainResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/search-report/table/groups:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Search Queries for Your Items
      summary: Pagination by Groups
      description: |
        Pagination by groups in the report. It is possible only if there is a filter by brand, subcategory, or label.

        Additional parameters for selecting the list of items in the table:
          - `positionCluster` — average position in search

        The parameters `includeSubstitutedSKUs` and `includeSearchTexts` cannot both be set to `false`.<br><br>

        The report data is updated once an hour.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 1 request | 1 h | 1 request |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableGroupRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponseProperties'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/TableGroupResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/search-report/table/details:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Search Queries for Your Items
      summary: Pagination by Items Within a Group
      description: |
        Pagination by items within a group. It is possible regardless of the presence of filters.

        Filters for pagination by items within a group or without filters:
          - tuple `subjectId`, `brandName`, `tagId` — filter for the group
          - `nmIds` — filter by listings

        Additional parameters for selecting the list of items in the table:
          - `positionCluster` — average position in search

        The parameters `includeSubstitutedSKUs` and `includeSearchTexts` cannot both be set to `false`.<br><br>

        The report data is updated once an hour.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 1 request | 1 h | 1 request |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableDetailsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponseProperties'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/TableDetailsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/search-report/product/search-texts:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Search Queries for Your Items
      summary: Search Texts by Item
      description: |
        Forms the top search texts by item.

        Search text selection parameters:
          - `limit` — number of queries, maximum 30. For the **Advanced** and **Premium** [Jam](https://seller.wildberries.ru/monetization/tariffs) rates, the maximum is 100.
          - `topOrderBy` — method for selecting the top queries

        The parameters `includeSubstitutedSKUs` and `includeSearchTexts` cannot both be set to `false`.<br><br>

        The report data is updated once an hour.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 1 request | 1 h | 1 request |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemSearchTextsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponseProperties'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/ItemSearchTextsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/search-report/product/orders:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Search Queries for Your Items
      summary: Orders and Positions by Item Search Texts
      description: |
        The method forms data for the table:
          - about orders for each search query for a specific item
          - about item positions in search results for each query

        The data is provided within the period for the [requested item](/openapi/analytics#tag/Search-Queries-for-Your-Items/paths/~1api~1v2~1search-report~1product~1search-texts/post) and grouped by day. The maximum period is 7 days.<br><br>

        The report data is updated once per hour.

        <div class="description_important">
          You can get a report for a maximum of the last 365 days from the moment of the request
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 1 request | 1 h | 1 request |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemOrdersRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponseProperties'
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: '#/components/schemas/ItemOrdersResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/analytics/v1/stocks-report/wb-warehouses:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      x-token-types:
        - personal
        - service
        - base-with-secret
      tags:
        - Stocks Report
      summary: WB Warehouses Inventory
      operationId: postV1StocksReportWbWarehouses
      description: |

        <div class="description_token">
            Method is <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">available</a> by
                <strong>Personal</strong> token, 
                <strong>Service</strong> token, 
                <strong>Base</strong> token <strong>with secret</strong>
        </div>

        The method returns current WB warehouses inventory.
        <br><br>
        The data is updated once every 30 minutes.
        <br><br>
        1 response row means data on 1 item size in 1 WB warehouse.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 3 requests | 20 s | 1 request |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/InventoryWbResponse'
                required:
                  - data
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/stocks-report/products/groups:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Stocks Report
      summary: Group Data
      description: |
        Forms a dataset for inventory by item group.
        <br><br>
        The item group is described by a tuple of `subjectID, brandName, tagID`.<br><br>

        The report data is updated once an hour.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 2 requests | 30 min | 1 request |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableGroupRequestSt'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TableGroupResponseSt'
                required:
                  - data
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/stocks-report/products/products:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Stocks Report
      summary: Item Data
      description: |
        Forms a dataset for inventory by items.
        <br><br>
        You can get data for individual items as well as for the entire report if there are no filters in the query: `nmIDs`, `subjectID`, `brandName`, `tagID`.<br><br>

        The report data is updated once an hour.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 2 requests | 30 min | 1 request |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableItemRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                nullable: true
                properties:
                  data:
                    $ref: '#/components/schemas/TableItemResponse'
                required:
                  - data
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/stocks-report/products/sizes:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Stocks Report
      summary: Size Data
      description: |
        Forms a dataset for inventory by the size of the item.
        <br><br>
        Possible cases:
        1. The item has dimensions and `"includeOffice":true`, then the response body will contain data on the inventory for each of the sizes with nested details by warehouse.
        2. The item has dimensions and `"includeOffice":false`, then the response body will contain data on the inventory for each of the sizes without nested details by warehouse.
        3. The item has no size and `"include Office":true`, then the response body will contain details by warehouse without data on the inventory for each of the sizes.
        4. The item has no size and `"include Office":false`, then the response body will be empty.<br></br>
        `The item has no size` means the size of the item is the same and has `"techSize":"0"`. In responses of the method for getting data on [items](/openapi/analytics#tag/Stocks-Report/paths/~1api~1v2~1stocks-report~1products~1products/post), such items have `hasSizes':false`.
        <br><br>
        The data on the seller warehouses are in an aggregated form — for all of them together without detailing specific warehouses —  and responses contain `"regionName":"Маркетплейс"` and `"officeName":""` in such cases.<br><br>

        The report data is updated once an hour.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 2 requests | 30 min | 1 request |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableSizeRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TableSizeResponse'
                required:
                  - data
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/v2/stocks-report/offices:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Stocks Report
      summary: Warehouse Data
      description: |
        Forms a dataset for inventory by warehouses.
        <br><br>
        The data on the seller warehouses are in an aggregated form — for all of them together without detailing specific warehouses —  and responses contain `"regionName":"Маркетплейс"` and `"offices":[]`.<br><br>

        The report data is updated once an hour.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:


        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 3 requests | 20 s | 3 requests |
        | Service | 1 min | 3 requests | 20 s | 3 requests |
        | Base with secret | 1 min | 3 requests | 20 s | 3 requests |
        | Base | 1 h | 2 requests | 30 min | 1 request |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableShippingOfficeRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TableShippingOfficeResponse'
                required:
                  - data
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
  /api/analytics/v1/item-rating:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      x-token-types:
        - personal
        - service
      tags:
        - Item Rating
      summary: Get Report
      operationId: postV1ItemRating
      description: |

        <div class="description_token">
            Method is <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">available</a> by
                <strong>Personal</strong> token, 
                <strong>Service</strong> token
        </div>

        The method forms a dataset for item rating.
        <br><br>
        The report data is updated once an hour.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 3 requests | 20 s | 3 requests |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemRatingRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ItemRatingResponse'
                required:
                  - data
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorObject403'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    MainRequest:
      type: object
      description: |
        Request parameters for forming the main page:
          - `currentPeriod` — current period
          - `pastPeriod` — past period for comparison
      properties:
        currentPeriod:
          $ref: '#/components/schemas/Period'
        pastPeriod:
          $ref: '#/components/schemas/pastPeriod'
        nmIds:
          type: array
          example:
            - 162579635
            - 166699779
          description: List of WB item numbers for filtering
          items:
            type: integer
            format: int32
        subjectIds:
          type: array
          example:
            - 32
            - 64
          description: List of subcategory IDs for filtering
          items:
            type: integer
            format: int32
        brandNames:
          example:
            - Adidas
            - Nike
          type: array
          description: List of brands for filtering
          items:
            type: string
        tagIds:
          example:
            - 3
            - 5
            - 6
          description: List of label IDs for filtering
          type: array
          items:
            type: integer
            format: int64
        positionCluster:
          $ref: '#/components/schemas/PositionCluster'
        orderBy:
          $ref: '#/components/schemas/OrderByMainAndDetails'
        includeSubstitutedSKUs:
          type: boolean
          default: true
          example: true
          description: Show data for direct queries with [promo items](https://seller.wildberries.ru/help-center/article/A-524)
        includeSearchTexts:
          type: boolean
          default: true
          example: false
          description: Show data for search queries without promo items
        limit:
          example: 130
          type: integer
          description: Number of item groups in the response
          format: uint32
          maximum: 1000
        offset:
          example: 50
          type: integer
          description: From which element to start outputting data
          format: uint32
      required:
        - currentPeriod
        - orderBy
        - positionCluster
        - limit
        - offset
    MainResponse:
      type: object
      properties:
        commonInfo:
          $ref: '#/components/schemas/CommonInfo'
        positionInfo:
          $ref: '#/components/schemas/PositionInfo'
        visibilityInfo:
          $ref: '#/components/schemas/VisibilityInfo'
        groups:
          description: |
            Table elements list
          type: array
          items:
            $ref: '#/components/schemas/TableGroupItem'
        currency:
          $ref: '#/components/schemas/Currency'
      required:
        - commonInfo
        - positionInfo
        - visibilityInfo
        - currency
    CommonInfo:
      type: object
      description: Common information
      properties:
        supplierRating:
          description: Seller rating
          type: object
          properties:
            current:
              type: number
              format: float64
              example: 5.3
              description: Current seller rating
            dynamics:
              type: number
              format: float64
              example: 5.4
              description: Dynamics compared to the previous period (%)
          required:
            - current
        advertisedProducts:
          description: Number of advertised items
          type: object
          properties:
            current:
              example: 5
              description: Current number of advertised items
              type: integer
            dynamics:
              example: 50
              description: Dynamics compared to the previous period (%)
              type: integer
          required:
            - current
        totalProducts:
          example: 150
          description: Total number of items
          type: integer
          format: uint64
      required:
        - supplierRating
        - advertisedProducts
        - totalProducts
    PositionInfo:
      type: object
      description: Item position information
      properties:
        average:
          description: Average item position in search results
          type: object
          properties:
            current:
              example: 5
              description: Current average item position
              type: integer
            dynamics:
              example: 50
              description: Dynamics compared to the previous period (%)
              type: integer
          required:
            - current
        median:
          description: Median item position in search results
          type: object
          properties:
            current:
              example: 5
              description: Current median item position
              type: integer
            dynamics:
              example: 50
              description: Dynamics compared to the previous period (%)
              type: integer
          required:
            - current
        chartItems:
          type: array
          description: Data for the chart on the average and median position of the item in search results
          items:
            $ref: '#/components/schemas/SearchReportPositionChartItem'
        clusters:
          $ref: '#/components/schemas/SearchReportPositionClusters'
      required:
        - average
        - median
        - chartItems
        - clusters
    SearchReportPositionChartItem:
      type: object
      properties:
        dt:
          example: '2024-10-19'
          type: string
          description: Data
        average:
          example: 1
          type: integer
          description: Average item position in search results
          format: uint64
        median:
          example: 1
          type: integer
          description: Median item position in search results
          format: uint64
      required:
        - dt
        - average
        - median
    SearchReportPositionClusters:
      type: object
      description: |
        Number of items with an average search position:
          - `firstHundred` — from 1 to 100
          - `secondHundred` — from 101 to 200
          - `below` — from 201 and below
      properties:
        firstHundred:
          description: from 1 to 100
          type: object
          properties:
            current:
              example: 5
              description: Current number of items
              type: integer
            dynamics:
              example: 50
              description: Dynamics compared to the previous period (%)
              type: integer
          required:
            - current
        secondHundred:
          description: from 101 to 200
          type: object
          properties:
            current:
              example: 5
              description: Current number of items
              type: integer
            dynamics:
              example: 50
              description: Dynamics compared to the previous period (%)
              type: integer
          required:
            - current
        below:
          description: from 201 and below
          type: object
          properties:
            current:
              example: 5
              description: Current number of items
              type: integer
            dynamics:
              example: 50
              description: Dynamics compared to the previous period (%)
              type: integer
          required:
            - current
      required:
        - firstHundred
        - secondHundred
        - below
    VisibilityInfo:
      type: object
      description: Visibility of listings and transitions to listings. By days, weeks, months
      properties:
        visibility:
          description: Probability percentage that a user will see the listing. Depends on the average position
          type: object
          properties:
            current:
              example: 5
              description: Visibility in search results in the current period
              type: integer
            dynamics:
              example: 50
              description: Dynamics compared to the previous period (%)
              type: integer
          required:
            - current
        openCard:
          description: Click-throughs from search
          type: object
          properties:
            current:
              example: 5
              description: Current click-throughs
              type: integer
            dynamics:
              example: 50
              description: Dynamics compared to the previous period (%)
              type: integer
          required:
            - current
        byDay:
          type: array
          description: Data for plotting a chart in the personal account on visibility and transitions to listings by day
          items:
            type: object
            properties:
              dt:
                $ref: '#/components/schemas/Date'
              visibility:
                example: 100
                description: Listing visibility in search results, %
                type: integer
                format: uint64
              open:
                example: 124
                description: Number of transitions to the listing
                type: integer
                format: uint64
            required:
              - dt
              - visibility
              - open
        byWeek:
          type: array
          description: Data for plotting a chart in the personal account on visibility and transitions to listings by week
          items:
            type: object
            properties:
              dt:
                $ref: '#/components/schemas/Date'
              visibility:
                example: 100
                description: Listing visibility in search results, %
                type: integer
                format: uint64
              open:
                example: 124
                description: Number of transitions to the listing
                type: integer
                format: uint64
            required:
              - dt
              - visibility
              - open
        byMonth:
          type: array
          description: Data for plotting a chart in the personal account on visibility and transitions to listings by month
          items:
            type: object
            properties:
              dt:
                $ref: '#/components/schemas/Date'
              visibility:
                example: 100
                description: Listing visibility in search results, %
                type: integer
                format: uint64
              open:
                example: 124
                description: Number of transitions to the listing
                type: integer
                format: uint64
            required:
              - dt
              - visibility
              - open
      required:
        - visibility
        - openCard
    TableGroupItem:
      type: object
      description: |
        A group of items includes all listings that match at least one of the following parameters:
          - `subjectName` — name of the subcategory
          - `brandName` — name of the brand
          - `tagName` — name of the label
      properties:
        subjectName:
          example: Phones
          description: Subcategory name
          type: string
        subjectId:
          example: 50
          description: Subcategory ID
          type: integer
          format: uint64
        brandName:
          example: Apple
          description: Brand
          type: string
        tagName:
          example: phones
          description: Label name
          type: string
        tagId:
          example: 65
          description: Label ID
          type: integer
          format: int64
        metrics:
          type: object
          description: Item metrics in the table
          properties:
            avgPosition:
              description: Average item position in search results
              type: object
              properties:
                current:
                  example: 5
                  description: Current average position
                  type: integer
                dynamics:
                  example: 50
                  description: Dynamics compared to the previous period (%)
                  type: integer
              required:
                - current
            openCard:
              description: Click-throughs from search
              type: object
              properties:
                current:
                  example: 5
                  description: Current click-throughs
                  type: integer
                dynamics:
                  example: 50
                  description: Dynamics compared to the previous period (%)
                  type: integer
              required:
                - current
            addToCart:
              description: Adds-to-Cart from search
              type: object
              properties:
                current:
                  example: 5
                  description: Current number
                  type: integer
                dynamics:
                  example: 50
                  description: Dynamics compared to the previous period (%)
                  type: integer
              required:
                - current
            openToCart:
              description: Conversion to cart from search — the ratio of item additions to the cart compared to all transitions to the listing from the search
              type: object
              properties:
                current:
                  example: 5
                  description: Current conversion
                  type: integer
                dynamics:
                  example: 50
                  description: Dynamics compared to the previous period (%)
                  type: integer
              required:
                - current
            orders:
              description: Items ordered from search
              type: object
              properties:
                current:
                  example: 5
                  description: Current number
                  type: integer
                dynamics:
                  example: 50
                  description: Dynamics compared to the previous period (%)
                  type: integer
              required:
                - current
            cartToOrder:
              description: Conversion to order from search — the ratio of items ordered to all additions of the item from search to the cart
              type: object
              properties:
                current:
                  example: 5
                  description: Current conversion
                  type: integer
                dynamics:
                  example: 50
                  description: Dynamics compared to the previous period (%)
                  type: integer
              required:
                - current
            visibility:
              description: Item visibility percent in search results
              type: object
              properties:
                current:
                  example: 5
                  description: Current visibility percent
                  type: integer
                dynamics:
                  example: 50
                  description: Dynamics compared to the previous period (%)
                  type: integer
              required:
                - current
          required:
            - avgPosition
            - openCard
            - addToCart
            - openToCart
            - orders
            - cartToOrder
            - visibility
        items:
          type: array
          description: List of the group items
          items:
            $ref: '#/components/schemas/TableItemItem'
      required:
        - metrics
        - items
    TableItemItem:
      type: object
      allOf:
        - type: object
          properties:
            nmId:
              example: 268913787
              description: WB item number
              type: integer
              format: int64
            name:
              example: iPhone 13 256 ГБ Серебристый
              description: Item name
              type: string
            vendorCode:
              example: wb3ha2668w
              description: Seller item number
              type: string
            subjectName:
              example: Смартфоны
              description: Subcategory name
              type: string
            brandName:
              example: Apple
              description: Brand
              type: string
            mainPhoto:
              example: https://basket-12.wbbasket.ru/vol1788/part178840/178840836/images/c246x328/1.webp
              description: URL of the main photo of the listing
              type: string
            isAdvertised:
              example: false
              description: Is the item being promoted in search results
              type: boolean
            isSubstitutedSKU:
              type: boolean
              example: true
              description: |
                If the item was searched by the promo item.<br>
                The field will be in the response if the request contains `includeSubstitutedSKUs` and/or `includeSearchTexts`
            isCardRated:
              example: true
              description: If the listing has a rating
              type: boolean
            rating:
              example: 6
              description: Listing rating
              type: number
              format: float64
            feedbackRating:
              example: 1
              description: Feedbacks rating
              type: number
              format: float64
            price:
              description: Price
              type: object
              properties:
                minPrice:
                  example: 150
                  description: Minimal price
                  type: integer
                  format: uint64
                maxPrice:
                  example: 300
                  description: Maximal price
                  type: integer
                  format: uint64
              required:
                - minPrice
                - maxPrice
            avgPosition:
              description: Average item position in search results
              type: object
              properties:
                current:
                  example: 5
                  description: Current average position
                  type: integer
                dynamics:
                  example: 50
                  description: Dynamics compared to the previous period (%)
                  type: integer
              required:
                - current
            openCard:
              description: Click-throughs from search
              type: object
              properties:
                current:
                  example: 5
                  description: Current click-throughs
                  type: integer
                dynamics:
                  example: 50
                  description: Dynamics compared to the previous period (%)
                  type: integer
              required:
                - current
            addToCart:
              description: Adds-to-Cart from search
              type: object
              properties:
                current:
                  example: 5
                  description: Current number
                  type: integer
                dynamics:
                  example: 50
                  description: Dynamics compared to the previous period (%)
                  type: integer
              required:
                - current
            openToCart:
              description: Conversion to cart from search — the ratio of item additions to the cart compared to all transitions to the listing from the search
              type: object
              properties:
                current:
                  example: 5
                  description: Current conversion
                  type: integer
                dynamics:
                  example: 50
                  description: Dynamics compared to the previous period (%)
                  type: integer
              required:
                - current
            orders:
              description: Items ordered from search
              type: object
              properties:
                current:
                  example: 5
                  description: Current number
                  type: integer
                dynamics:
                  example: 50
                  description: Dynamics compared to the previous period (%)
                  type: integer
              required:
                - current
            cartToOrder:
              description: Conversion to order from search — the ratio of items ordered to all additions of the item from search to the cart
              type: object
              properties:
                current:
                  example: 5
                  description: Current conversion
                  type: integer
                dynamics:
                  example: 50
                  description: Dynamics compared to the previous period (%)
                  type: integer
              required:
                - current
            visibility:
              description: Item visibility percent in search results
              type: object
              properties:
                current:
                  example: 5
                  description: Current visibility percent
                  type: integer
                dynamics:
                  example: 50
                  description: Dynamics compared to the previous period (%)
                  type: integer
              required:
                - current
      required:
        - nmId
        - vendorCode
        - isAdvertised
        - isCardRated
        - rating
        - feedbackRating
        - price
        - avgPosition
        - openCard
        - addToCart
        - openToCart
        - orders
        - cartToOrder
        - visibility
    TableGroupRequest:
      type: object
      description: |
        Request parameters for pagination by groups:
          - `currentPeriod` — current period
          - `pastPeriod` — past period for comparison
      properties:
        currentPeriod:
          $ref: '#/components/schemas/Period'
        pastPeriod:
          $ref: '#/components/schemas/pastPeriod'
        nmIds:
          example:
            - 162579635
            - 166699779
          type: array
          description: List of WB item numbers for filtering
          items:
            type: integer
            format: int32
        subjectIds:
          example:
            - 64
            - 334
          type: array
          description: List of subcategory IDs for filtering
          items:
            type: integer
            format: int32
        brandNames:
          example:
            - nikkle
            - abikas
          type: array
          description: List of brands for filtering
          items:
            type: string
        tagIds:
          example:
            - 32
            - 53
          description: List of label IDs for filtering
          type: array
          items:
            type: integer
            format: int64
        orderBy:
          $ref: '#/components/schemas/OrderByGrTe'
        positionCluster:
          $ref: '#/components/schemas/PositionCluster'
        includeSubstitutedSKUs:
          type: boolean
          default: true
          example: true
          description: Show data for direct queries with [promo items](https://seller.wildberries.ru/help-center/article/A-524)
        includeSearchTexts:
          type: boolean
          default: true
          example: false
          description: Show data for search queries without promo items
        limit:
          example: 130
          type: integer
[...]
