openapi: 3.0.1
info:
  title: Поставки FBW — Информация для формирования поставок
  version: ordersfbw
  description: "Shard for tag: Информация для формирования поставок"
  x-file-name: orders-fbw
security:
  - HeaderApiKey: []
tags:
  - name: Информация для формирования поставок
    description: ""
paths:
  /api/v1/acceptance/coefficients:
    servers:
      - url: https://supplies-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: supplies
      deprecated: true
      security:
        - HeaderApiKey: []
      tags:
        - Информация для формирования поставок
      summary: Коэффициенты приёмки
      description: >
        Метод находится в разделе
        [Тарифы](/openapi/wb-tariffs#tag/Tarify-na-postavku/paths/~1api~1tariffs~1v1~1acceptance~1coefficients/get) и
        называется **Тарифы на поставку** `GET /api/tariffs/v1/acceptance/coefficients`. Он доступен по домену
        `common-api.wildberries.ru` с <a
        href="/openapi/api-information#tag/Avtorizaciya/Kak-sozdat-personalnyj-bazovyj-ili-testovyj-token">токеном</a>
        любой категории.


        Доступ к этому методу с доменом `supplies-api.wildberries.ru` будет отключен [3
        февраля](https://dev.wildberries.ru/release-notes?id=370)


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 мин | 6 запросов | 10 сек | 6 запросов |

        </div>
      parameters:
        - name: warehouseIDs
          in: query
          description: ID складов.<br>По умолчанию возвращаются данные по всем складам
          schema:
            type: string
          example: 507,117501
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: _schemas.yaml#/components/schemas/models.AcceptanceCoefficient
              examples:
                ResponseCoefficients:
                  $ref: _schemas.yaml#/components/examples/ResponseCoefficients
        "400":
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/models.ErrorModel
              examples:
                BadWarehouseIDsParamNew:
                  $ref: _schemas.yaml#/components/examples/Response400CoefficientsNew
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          description: Доступ запрещён
        "404":
          description: Не найдено
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v1/acceptance/options:
    servers:
      - url: https://supplies-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: supplies
      security:
        - HeaderApiKey: []
      tags:
        - Информация для формирования поставок
      summary: Опции приёмки
      description: >
        Метод возвращает информацию о том, какие склады и типы упаковки доступны для поставки. Список складов
        определяется по баркоду и количеству товара.


        <div class="description_limit">

        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Период | Лимит | Интервал | Всплеск |

        | --- | --- | --- | --- |

        | 1 мин | 6 запросов | 10 сек | 6 запросов |

        </div>
      parameters:
        - name: warehouseID
          in: query
          description: ID склада. <br> Если параметр не указан, возвращаются данные по всем складам.<br> **Максимум одно значение**
          schema:
            type: integer
          example: 507
      requestBody:
        content:
          application/json:
            schema:
              type: array
              maxItems: 5000
              items:
                $ref: _schemas.yaml#/components/schemas/models.Good
            examples:
              RequestOptions:
                $ref: _schemas.yaml#/components/examples/RequestOptions
        required: true
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/models.OptionsResultModel
              examples:
                Response:
                  $ref: _schemas.yaml#/components/examples/OptionsResponse
        "400":
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: _schemas.yaml#/components/schemas/models.ErrorModel
              examples:
                BadWarehouseIDsParam:
                  $ref: _schemas.yaml#/components/examples/Response400Options
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          description: Доступ запрещён
        "404":
          description: Не найдено
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v1/warehouses:
    servers:
      - url: https://supplies-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: supplies
      security:
        - HeaderApiKey: []
      tags:
        - Информация для формирования поставок
      summary: Список складов
      description: |
        Метод возвращает список складов WB.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 6 запросов | 10 сек | 6 запросов |
        </div>
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: _schemas.yaml#/components/schemas/models.WarehousesResultItems
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "403":
          description: Доступ запрещён
        "404":
          description: Не найдено
        "429":
          $ref: _schemas.yaml#/components/responses/429
  /api/v1/transit-tariffs:
    servers:
      - url: https://supplies-api.wildberries.ru
    get:
      tags:
        - Информация для формирования поставок
      summary: Транзитные направления
      description: |
        Метод возвращает информацию о доступных транзитных направлениях.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 6 запросов | 10 сек | 10 запросов |
        </div>
      responses:
        "200":
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: _schemas.yaml#/components/schemas/models.TransitTariff
              examples:
                ResponseTariffs:
                  $ref: _schemas.yaml#/components/examples/ResponseTariffs
        "401":
          $ref: _schemas.yaml#/components/responses/401
        "429":
          $ref: _schemas.yaml#/components/responses/429
