openapi: "3.0.1"
info:
  title: Доля бренда в продажах
  version: reports
tags:
  - name: Доля бренда в продажах
    description: ''
servers:
  - url: https://seller-analytics-api.wildberries.ru
security:
  - HeaderApiKey: []
paths:
  /api/v1/analytics/brand-share/brands:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Доля бренда в продажах
      summary: Бренды продавца
      description: |
        Метод возвращает список брендов продавца для отчёта о [доле бренда в продажах](https://seller.wildberries.ru/analytics-reports/brand-share). <br><br>

        Можно получить только бренды, которые:
        - Продавались за последние 90 дней.
        - Есть на складе WB.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 10 запросов |
        </div>
      responses:
        '200':
          $ref: '_schemas.yaml#/components/responses/SuccessBrandsResponse'
        '401':
          $ref: '_schemas.yaml#/components/responses/401'
        '429':
          $ref: '_schemas.yaml#/components/responses/429'
  /api/v1/analytics/brand-share/parent-subjects:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Доля бренда в продажах
      summary: Родительские категории бренда
      description: |
        Метод возвращает родительские категории бренда продавца для отчёта о [доле бренда в продажах](https://seller.wildberries.ru/analytics-reports/brand-share).<br><br>

        Можно получить отчёт максимум за 365 дней. Данные доступны с 1 ноября 2022.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 5 сек | 1 запрос | 5 сек | 20 запросов |
        </div>
      parameters:
        - in: query
          name: locale
          schema:
            type: string
            example: ru
            default: ru
          description: |
            Язык поля ответа `parentName`:
              - `ru` — русский
              - `en` — английский
              - `zh` — китайский
        - in: query
          name: brand
          schema:
            type: string
            example: H%26M
          required: true
          description: Бренд
        - $ref: '_schemas.yaml#/components/parameters/DateFrom'
        - $ref: '_schemas.yaml#/components/parameters/DateTo'
      responses:
        '200':
          $ref: '_schemas.yaml#/components/responses/SuccessParentsResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/4xxResponse'
              examples:
                IncorrectDateFrom:
                  $ref: '_schemas.yaml#/components/examples/IncorrectDateFromBS'
                MissingDateTimeFrom:
                  $ref: '_schemas.yaml#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '_schemas.yaml#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '_schemas.yaml#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '_schemas.yaml#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '_schemas.yaml#/components/examples/DateRangeExceeded365'
                DateRanges:
                  $ref: '_schemas.yaml#/components/examples/DateRanges'
                LocaleError:
                  $ref: '_schemas.yaml#/components/examples/LocaleError'
                MissingBrand:
                  $ref: '_schemas.yaml#/components/examples/MissingBrand'
        '401':
          $ref: '_schemas.yaml#/components/responses/401'
        '429':
          $ref: '_schemas.yaml#/components/responses/429'
  /api/v1/analytics/brand-share:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Доля бренда в продажах
      summary: Получить отчёт
      description: |
        Метод возвращает отчёт о [доле бренда продавца в продажах](https://seller.wildberries.ru/analytics-reports/brand-share). <br><br>

        Можно получить отчёт максимум за 365 дней. Данные доступны с 1 ноября 2022.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 5 сек | 1 запрос | 5 сек | 20 запросов |
        </div>
      parameters:
        - in: query
          name: parentId
          schema:
            type: integer
            example: 1
          required: true
          description: ID родительской категории
        - in: query
          name: brand
          schema:
            type: string
            example: H%26M
          required: true
          description: Бренд
        - $ref: '_schemas.yaml#/components/parameters/DateFrom'
        - $ref: '_schemas.yaml#/components/parameters/DateTo'
      responses:
        '200':
          $ref: '_schemas.yaml#/components/responses/SuccessBrandShareResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/4xxResponse'
              examples:
                IncorrectDateFrom:
                  $ref: '_schemas.yaml#/components/examples/IncorrectDateFromBS'
                MissingDateTimeFrom:
                  $ref: '_schemas.yaml#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '_schemas.yaml#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '_schemas.yaml#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '_schemas.yaml#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '_schemas.yaml#/components/examples/DateRangeExceeded365'
                DateRanges:
                  $ref: '_schemas.yaml#/components/examples/DateRanges'
                MissingParentId:
                  $ref: '_schemas.yaml#/components/examples/MissingParentId'
                MissingBrand:
                  $ref: '_schemas.yaml#/components/examples/MissingBrand'
        '401':
          $ref: '_schemas.yaml#/components/responses/401'
        '429':
          $ref: '_schemas.yaml#/components/responses/429'
components:
  securitySchemes:
    HeaderApiKey:
      type: apiKey
      name: Authorization
      in: header
