openapi: 3.0.1
info:
  title: 12-reports - Основные отчёты
  description: Extracted from original file for agent processing
  version: 1.0.0-shard
servers:
  - url: https://statistics-api.wildberries.ru
tags:
  - name: Основные отчёты
    description: Основные отчёты endpoints
paths:
  /api/v1/supplier/incomes:
    get:
      security:
        - HeaderApiKey: []
      summary: Поставки
      description: |
        Метод возвращает количество поставок товаров для хранения на складах WB.<br>Данные обновляются раз в 30 минут.
        <br><br>
        Для одного ответа в системе установлено условное ограничение 100000 строк. Поэтому, чтобы получить все поставки, может потребоваться более, чем один запрос. Во втором и далее запросе в параметре `dateFrom` используйте полное значение поля `lastChangeDate` из последней строки ответа на предыдущий запрос.<br> Если в ответе отдаётся пустой массив `[]`, все поставки уже выгружены.

        <div class="description_limit">
          <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

          | Период | Лимит | Интервал | Всплеск |
          | --- | --- | --- | --- |
          | 1 минута | 1 запрос | 1 минута | 1 запрос |
        </div>
      tags:
        - Основные отчёты
      parameters:
        - name: dateFrom
          in: query
          schema:
            type: string
            format: RFC3339
          required: true
          description: |
            Дата и время последнего изменения по поставке. <br>
            Дата в формате RFC3339. Можно передать дату или дату со временем.
            Время можно указывать с точностью до [секунд](./api-information#tag/Vvedenie/Limity-zaprosov) или миллисекунд. <br>
            Время передаётся в часовом поясе Москва (UTC+3).
            <br>Примеры:
              - `2019-06-20`
              - `2019-06-20T23:59:59`
              - `2019-06-20T00:00:00.12345`
              - `2017-03-25T00:00:00`
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncomesItem'
              example:
                - incomeId: 12345
                  number: ''
                  date: '2022-05-08T00:00:54'
                  lastChangeDate: '2022-05-08T00:44:15.5'
                  supplierArticle: ABCDEF
                  techSize: '0'
                  barcode: '2000328074123'
                  quantity: 3
                  totalPrice: 0
                  dateClose: '2022-05-08T00:00:00'
                  warehouseName: Подольск
                  nmId: 1234567
                  status: Принято
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/responseErrorStatistics'
                  - $ref: '#/components/schemas/responseErrorStatistics2'
              examples:
                DateFromFieldRequired:
                  $ref: '#/components/examples/DateFromFieldRequired'
                DateFromValueNotValidated:
                  $ref: '#/components/examples/DateFromValueNotValidated'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/supplier/stocks:
    get:
      security:
        - HeaderApiKey: []
      summary: Склады
      description: |
        Метод возвращает количество остатков товаров на складах WB.<br>Данные обновляются раз в 30 минут.
        <br><br>
        Для одного ответа в системе установлено условное ограничение 60000 строк. Поэтому, чтобы получить все остатки, может потребоваться более, чем один запрос. Во втором и далее запросе в параметре `dateFrom` используйте полное значение поля `lastChangeDate` из последней строки ответа на предыдущий запрос.<br> Если в ответе отдаётся пустой массив `[]`, все остатки уже выгружены.

        <div class="description_limit">
          <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

          | Период | Лимит | Интервал | Всплеск |
          | --- | --- | --- | --- |
          | 1 минута | 1 запрос | 1 минута | 1 запрос |
        </div>
      tags:
        - Основные отчёты
      parameters:
        - name: dateFrom
          in: query
          schema:
            type: string
            format: RFC3339
          required: true
          description: |
            Дата и время последнего изменения по товару. <br>
            Для получения полного остатка следует указывать максимально раннее значение. <br>
            Например, `2019-06-20` <br>
            Дата в формате RFC3339. Можно передать дату или дату со временем.
            Время можно указывать с точностью до [секунд](./api-information#tag/Vvedenie/Limity-zaprosov) или миллисекунд. <br>
            Время передаётся в часовом поясе Москва (UTC+3).
            <br>Примеры:
              - `2019-06-20`
              - `2019-06-20T23:59:59`
              - `2019-06-20T00:00:00.12345`
              - `2017-03-25T00:00:00`
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StocksItem'
              example:
                - lastChangeDate: '2023-07-05T11:13:35'
                  warehouseName: Краснодар
                  supplierArticle: '443284'
                  nmId: 1439871458
                  barcode: '2037401340280'
                  quantity: 33
                  inWayToClient: 1
                  inWayFromClient: 0
                  quantityFull: 34
                  category: Посуда и инвентарь
                  subject: Формы для запекания
                  brand: X
                  techSize: '0'
                  Price: 185
                  Discount: 0
                  isSupply: true
                  isRealization: false
                  SCCode: Tech
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/responseErrorStatistics'
                  - $ref: '#/components/schemas/responseErrorStatistics2'
              examples:
                DateFromFieldRequired:
                  $ref: '#/components/examples/DateFromFieldRequired'
                DateFromValueNotValidated:
                  $ref: '#/components/examples/DateFromValueNotValidated'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/supplier/orders:
    get:
      security:
        - HeaderApiKey: []
      summary: Заказы
      description: |
        Метод возвращает информацию обо всех заказах.<br>Данные обновляются раз в 30 минут.<br><br>

        1 строка = 1 заказ = 1 cборочное задание = 1 единица товара.<br>Для определения заказа рекомендуем использовать поле `srid`.<br><br>

        Информация о заказе хранится 90 дней с момента оформления.<br><br>

        Для одного ответа на запрос с `flag=0` или без `flag` в системе установлено условное ограничение 80000 строк. Поэтому, чтобы получить все заказы, может потребоваться более, чем один запрос. Во втором и далее запросе в параметре `dateFrom` используйте полное значение поля `lastChangeDate` из последней строки ответа на предыдущий запрос.<br> Если в ответе отдаётся пустой массив `[]`, все заказы уже выгружены.

        <div class="description_limit">
          <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

          | Период | Лимит | Интервал | Всплеск |
          | --- | --- | --- | --- |
          | 1 минута | 1 запрос | 1 минута | 1 запрос |
        </div>
      tags:
        - Основные отчёты
      parameters:
        - name: dateFrom
          in: query
          schema:
            type: string
            format: RFC3339
          required: true
          description: |
            Дата и время последнего изменения по заказу. <br>
            Дата в формате RFC3339. Можно передать дату или дату со временем.
            Время можно указывать с точностью до [секунд](./api-information#tag/Vvedenie/Limity-zaprosov) или миллисекунд. <br>
            Время передаётся в часовом поясе Москва (UTC+3).
            <br>Примеры:
            <br>Примеры:
              - `2019-06-20`
              - `2019-06-20T23:59:59`
              - `2019-06-20T00:00:00.12345`
              - `2017-03-25T00:00:00`
        - $ref: '#/components/parameters/flag'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrdersItem'
              example:
                - date: '2022-03-04T18:08:31'
                  lastChangeDate: '2022-03-06T10:11:07'
                  warehouseName: Подольск
                  warehouseType: Склад продавца
                  countryName: Россия
                  oblastOkrugName: Центральный федеральный округ
                  regionName: Московская
                  supplierArticle: '12345'
                  nmId: 1234567
                  barcode: '123453559000'
                  category: Бытовая техника
                  subject: Мультистайлеры
                  brand: Тест
                  techSize: '0'
                  incomeID: 56735459
                  isSupply: false
                  isRealization: true
                  totalPrice: 1887
                  discountPercent: 18
                  spp: 26
                  finishedPrice: 1145
                  priceWithDisc: 1547
                  isCancel: true
                  cancelDate: '2022-03-09T00:00:00'
                  sticker: '926912515'
                  gNumber: '34343462218572569531'
                  srid: 11.rf9ef11fce1684117b0nhj96222982382.3.0
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/responseErrorStatistics'
                  - $ref: '#/components/schemas/responseErrorStatistics2'
              examples:
                DateFromFieldRequired:
                  $ref: '#/components/examples/DateFromFieldRequired'
                DateFromValueNotValidated:
                  $ref: '#/components/examples/DateFromValueNotValidated'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/supplier/sales:
    get:
      security:
        - HeaderApiKey: []
      summary: Продажи
      description: |
        Метод возвращает информацию о продажах и возвратах.<br>Данные обновляются раз в 30 минут.<br><br>

        1 строка = 1 заказ = 1 cборочное задание = 1 единица товара.<br>Для определения заказа рекомендуем использовать поле `srid`.<br><br>

        Информация о заказе хранится 90 дней с момента оформления.<br><br>

        Для одного ответа на запрос с `flag=0` или без `flag` в системе установлено условное ограничение 80000 строк. Поэтому, чтобы получить все продажи и возвраты, может потребоваться более, чем один запрос. Во втором и далее запросе в параметре `dateFrom `используйте полное значение поля `lastChangeDate` из последней строки ответа на предыдущий запрос.<br> Если в ответе отдаётся пустой массив `[]`, все продажи и возвраты уже выгружены.

        <div class="description_limit">
          <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

          | Период | Лимит | Интервал | Всплеск |
          | --- | --- | --- | --- |
          | 1 минута | 1 запрос | 1 минута | 1 запрос |
        </div>
      tags:
        - Основные отчёты
      parameters:
        - name: dateFrom
          in: query
          schema:
            type: string
            format: RFC3339
          required: true
          description: |
            Дата и время последнего изменения по продаже/возврату. <br>
            Дата в формате RFC3339. Можно передать дату или дату со временем.
            Время можно указывать с точностью до [секунд](./api-information#tag/Vvedenie/Limity-zaprosov) или миллисекунд. <br>
            Время передаётся в часовом поясе Москва (UTC+3).
            <br>Примеры:
            <br>Примеры:
              - `2019-06-20`
              - `2019-06-20T23:59:59`
              - `2019-06-20T00:00:00.12345`
              - `2017-03-25T00:00:00`
        - $ref: '#/components/parameters/flag'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesItem'
              example:
                - date: '2022-03-04T18:08:31'
                  lastChangeDate: '2022-03-06T10:11:07'
                  warehouseName: Подольск
                  warehouseType: Склад продавца
                  countryName: Россия
                  oblastOkrugName: Центральный федеральный округ
                  regionName: Московская
                  supplierArticle: '12345'
                  nmId: 1234567
                  barcode: '123453559000'
                  category: Бытовая техника
                  subject: Мультистайлеры
                  brand: Тест
                  techSize: '0'
                  incomeID: 56735459
                  isSupply: false
                  isRealization: true
                  totalPrice: 1887
                  discountPercent: 18
                  spp: 20
                  paymentSaleAmount: 93
                  forPay: 1284.01
                  finishedPrice: 1145
                  priceWithDisc: 1547
                  saleID: S9993700024
                  sticker: '926912515'
                  gNumber: '34343462218572569531'
                  srid: 11.rf9ef11fce1684117b0nhj96222982382.3.0
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/responseErrorStatistics'
                  - $ref: '#/components/schemas/responseErrorStatistics2'
              examples:
                DateFromFieldRequired:
                  $ref: '#/components/examples/DateFromFieldRequired'
                DateFromValueNotValidated:
                  $ref: '#/components/examples/DateFromValueNotValidated'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    IncomesItem:
      type: object
      properties:
        incomeId:
          type: integer
          description: Номер поставки
        number:
          type: string
          maxLength: 40
          description: Номер УПД
        date:
          type: string
          format: date-time
          description: Дата поступления. Если часовой пояс не указан, то берётся Московское время UTC+3.
        lastChangeDate:
          type: string
          format: date-time
          description: Дата и время обновления информации в сервисе. Это поле соответствует параметру `dateFrom` в запросе. Если часовой пояс не указан, то берётся Московское время UTC+3.
        supplierArticle:
          type: string
          maxLength: 75
          description: Артикул продавца
        techSize:
          type: string
          maxLength: 30
          description: Размер товара
        barcode:
          type: string
          maxLength: 30
          description: Баркод
        quantity:
          type: integer
          description: Количество
        totalPrice:
          type: number
          description: Цена из УПД
        dateClose:
          type: string
          format: date-time
          description: Дата принятия (закрытия) в WB. Если часовой пояс не указан, то берётся Московское время UTC+3
        warehouseName:
          type: string
          maxLength: 50
          description: Название склада
        nmId:
          type: integer
          description: Артикул WB
        status:
          type: string
          maxLength: 50
          enum:
            - Принято
          description: Текущий статус поставки
    responseErrorStatistics:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
    responseErrorStatistics2:
      type: object
      properties:
        errors:
          type: string
    StocksItem:
      type: object
      properties:
        lastChangeDate:
          type: string
          format: date-time
          description: Дата и время обновления информации в сервисе. Это поле соответствует параметру `dateFrom` в запросе. Если часовой пояс не указан, то берётся Московское время (UTC+3)
        warehouseName:
          type: string
          maxLength: 50
          description: Название склада
        supplierArticle:
          type: string
          maxLength: 75
          description: Артикул продавца
        nmId:
          type: integer
          description: Артикул WB
        barcode:
          type: string
          maxLength: 30
          description: Баркод
        quantity:
          type: integer
          description: Количество, доступное для продажи (сколько можно добавить в корзину)
        inWayToClient:
          type: integer
          description: В пути к клиенту
        inWayFromClient:
          type: integer
          description: В пути от клиента
        quantityFull:
          type: integer
          description: Полное (непроданное) количество, которое числится за складом (= `quantity` + в пути)
        category:
          type: string
          maxLength: 50
          description: Категория
        subject:
          type: string
          maxLength: 50
          description: Предмет
        brand:
          type: string
          maxLength: 50
          description: Бренд
        techSize:
          type: string
          maxLength: 30
          description: Размер
        Price:
          type: number
          description: Цена
        Discount:
          type: number
          description: Скидка
        isSupply:
          type: boolean
          description: Договор поставки (внутренние технологические данные)
        isRealization:
          type: boolean
          description: Договор реализации (внутренние технологические данные)
        SCCode:
          type: string
          maxLength: 50
          description: Код контракта (внутренние технологические данные)
    OrdersItem:
      type: object
      properties:
        date:
          type: string
          format: date-time
          description: Дата и время заказа. Это поле соответствует параметру `dateFrom` в запросе, если параметр `flag`=1. Если часовой пояс не указан, то берётся Московское время (UTC+3).
        lastChangeDate:
          type: string
          format: date-time
          description: Дата и время обновления информации в сервисе. Это поле соответствует параметру `dateFrom` в запросе, если параметр `flag`=0 или не указан. Если часовой пояс не указан, то берётся Московское время (UTC+3).
        warehouseName:
          type: string
          maxLength: 50
          description: Склад отгрузки
        warehouseType:
          type: string
          description: Тип склада хранения товаров
          enum:
            - Склад WB
            - Склад продавца
        countryName:
          type: string
          maxLength: 200
          description: Страна
        oblastOkrugName:
          type: string
          maxLength: 200
          description: Округ
        regionName:
          type: string
          maxLength: 200
          description: Регион
        supplierArticle:
          type: string
          maxLength: 75
          description: Артикул продавца
        nmId:
          type: integer
          description: Артикул WB
        barcode:
          type: string
          maxLength: 30
          description: Баркод
        category:
          type: string
          maxLength: 50
          description: Категория
        subject:
          type: string
          maxLength: 50
          description: Предмет
        brand:
          type: string
          maxLength: 50
          description: Бренд
        techSize:
          type: string
          maxLength: 30
          description: Размер товара
        incomeID:
          type: integer
          description: Номер поставки
        isSupply:
          type: boolean
          description: Договор поставки
        isRealization:
          type: boolean
          description: Договор реализации
        totalPrice:
          type: number
          description: Цена без скидок
        discountPercent:
          type: integer
          description: "Скидка продавца,\_%"
        spp:
          type: number
          description: "Скидка WB,\_%"
        finishedPrice:
          type: number
          description: Цена с учетом всех скидок, кроме суммы по WB Кошельку
        priceWithDisc:
          type: number
          description: Цена со скидкой продавца (= `totalPrice` * (1 - `discountPercent`/100))
        isCancel:
          type: boolean
          description: |
            Отмена заказа:
              - `true` — заказ отменен
        cancelDate:
          type: string
          format: date-time
          description: Дата и время отмены заказа. Если заказ не был отменен, то "0001-01-01T00:00:00".Если часовой пояс не указан, то берётся Московское время UTC+3.
        sticker:
          type: string
          description: ID стикера
        gNumber:
          type: string
          maxLength: 50
          description: ID корзины покупателя. Заказы одной транзакции будут иметь одинаковый `gNumber`
        srid:
          type: string
          description: |
            Уникальный ID заказа.<br>
            Примечание для использующих API Маркетплейс: `srid` равен `rid` в ответах методов сборочных заданий.
    SalesItem:
      type: object
      properties:
        date:
          type: string
          format: date-time
          description: Дата и время продажи. Это поле соответствует параметру `dateFrom` в запросе, если параметр `flag`=1. Если часовой пояс не указан, то берётся Московское время (UTC+3).
        lastChangeDate:
          type: string
          format: date-time
          description: Дата и время обновления информации в сервисе. Это поле соответствует параметру `dateFrom` в запросе, если параметр `flag`=0 или не указан. Если часовой пояс не указан, то берётся Московское время (UTC+3).
        warehouseName:
          type: string
          maxLength: 50
          description: Склад отгрузки
        warehouseType:
          type: string
          description: Тип склада хранения товаров
          enum:
            - Склад WB
            - Склад продавца
        countryName:
          type: string
          maxLength: 200
          description: Страна
        oblastOkrugName:
          type: string
          maxLength: 200
          description: Округ
        regionName:
          type: string
          maxLength: 200
          description: Регион
        supplierArticle:
          type: string
          maxLength: 75
          description: Артикул продавца
        nmId:
          type: integer
          description: Артикул WB
        barcode:
          type: string
          maxLength: 30
          description: Баркод
        category:
          type: string
          maxLength: 50
          description: Категория
        subject:
          type: string
          maxLength: 50
          description: Предмет
        brand:
          type: string
          maxLength: 50
          description: Бренд
        techSize:
          type: string
          maxLength: 30
          description: Размер товара
        incomeID:
          type: integer
          description: Номер поставки
        isSupply:
          type: boolean
          description: Договор поставки
        isRealization:
          type: boolean
          description: Договор реализации
        totalPrice:
          type: number
          description: Цена без скидок
        discountPercent:
          type: integer
          description: "Скидка продавца,\_%"
        spp:
          type: number
          description: "Скидка WB,\_%"
        paymentSaleAmount:
          type: integer
          description: Скидка за оплату WB Кошельком, ₽
        forPay:
          type: number
          description: К перечислению продавцу
        finishedPrice:
          type: number
          description: Фактическая цена с учетом всех скидок (к взиманию с покупателя)
        priceWithDisc:
          type: number
          description: Цена со скидкой продавца, от которой считается сумма к перечислению продавцу `forPay` (= `totalPrice` * (1 - `discountPercent`/100))
        saleID:
          type: string
          maxLength: 15
          description: |
            Уникальный ID продажи/возврата
            - `S**********` — продажа
            - `R**********` — возврат (на склад WB)
        sticker:
          type: string
          description: ID стикера
        gNumber:
          type: string
          maxLength: 50
          description: ID корзины покупателя. Заказы одной транзакции будут иметь одинаковый `gNumber`
        srid:
          type: string
          description: |
            Уникальный ID заказа.<br>
            Примечание для использующих API Маркетплейс: `srid` равен `rid` в ответах методов сборочных заданий.
