openapi: "3.0.1"
info:
  title: Отчёты об удержаниях
  version: reports
tags:
  - name: Отчёты об удержаниях
    description: ''
servers:
  - url: https://seller-analytics-api.wildberries.ru
security:
  - HeaderApiKey: []
paths:
  /api/analytics/v1/measurement-penalties:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Отчёты об удержаниях
      summary: Удержания за занижение габаритов упаковки
      operationId: getMeasurementPenalties
      description: |
        Метод возвращает отчёт об [удержаниях за занижение габаритов упаковки](https://seller.wildberries.ru/analytics-reports/dimensions-penalties)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 1 запрос |
        </div>
      parameters:
        - in: query
          name: dateFrom
          description: Начало отчётного периода. По умолчанию используется дата, когда были впервые получены данные для отчёта
          schema:
            type: string
            format: date-time
          example: '2025-02-01T15:00:00Z'
        - in: query
          name: dateTo
          required: true
          description: Конец отчётного периода
          schema:
            type: string
            format: date-time
          example: '2025-10-11T18:00:00Z'
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            example: 330
            maximum: 1000
            description: Количество удержаний в ответе
        - name: offset
          in: query
          schema:
            type: integer
            example: 220
            default: 0
            description: Сколько элементов пропустить. Например, для значения `10` ответ начнётся с 11 элемента
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/MeasurementPenalties'
              examples:
                MeasurementPenalties:
                  $ref: '_schemas.yaml#/components/examples/MeasurementPenalties'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/Response400Retentions'
        '401':
          $ref: '_schemas.yaml#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/Response403Retentions'
        '429':
          $ref: '_schemas.yaml#/components/responses/429'
  /api/analytics/v1/warehouse-measurements:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Отчёты об удержаниях
      summary: Замеры склада
      operationId: getWarehouseMeasurements
      description: |
        Метод возвращает отчёт о [замерах склада](https://seller.wildberries.ru/analytics-reports/dimensions-penalties/warehouse-measurements)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 1 запрос |
        </div>
      parameters:
        - in: query
          name: dateFrom
          description: Начало отчётного периода. По умолчанию используется дата, когда были впервые получены данные для отчёта
          schema:
            type: string
            format: date-time
          example: '2025-02-01T15:00:00Z'
        - in: query
          name: dateTo
          required: true
          description: Конец отчётного периода
          schema:
            type: string
            format: date-time
          example: '2025-10-11T18:00:00Z'
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            example: 330
            maximum: 1000
            description: Количество замеров в ответе
        - name: offset
          in: query
          schema:
            type: integer
            example: 220
            default: 0
            description: Сколько элементов пропустить. Например, для значения `10` ответ начнётся с 11 элемента
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/WHM'
              examples:
                Measurements:
                  $ref: '_schemas.yaml#/components/examples/WHM'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/Response400Retentions'
        '401':
          $ref: '_schemas.yaml#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/Response403Retentions'
        '429':
          $ref: '_schemas.yaml#/components/responses/429'
  /api/analytics/v1/deductions:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Отчёты об удержаниях
      summary: Подмены и неверные вложения
      operationId: getDeductions
      description: |
        Метод возвращает отчёт об удержаниях за [подмены и неверные вложения](https://seller.wildberries.ru/analytics-reports/dimensions-penalties/retentions)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 1 запрос |
        </div>
      parameters:
        - name: dateFrom
          in: query
          description: Начало отчётного периода. По умолчанию используются дата и время, когда были впервые получены данные для отчёта
          schema:
            type: string
            format: date-time
          example: '2025-02-01T15:00:00Z'
        - name: dateTo
          in: query
          required: true
          description: Конец отчётного периода
          schema:
            type: string
            format: date-time
          example: '2025-10-11T18:00:00Z'
        - name: sort
          in: query
          schema:
            type: string
            description: |
              Сортировка:
              - `nmId` — по артикулу WB
              - `dtBonus` — по дате и времени удержания
              - `bonusSumm` — по сумме удержания
            enum:
              - nmId
              - dtBonus
              - bonusSumm
            default: dtBonus
            example: nmId
        - name: order
          in: query
          schema:
            type: string
            description: |
              Порядок выдачи:
              - `desc` — по убыванию
              - `asc` — по возрастанию
            enum:
              - desc
              - asc
            default: desc
            example: asc
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            example: 330
            maximum: 1000
            description: Количество удержаний в ответе
        - name: offset
          in: query
          schema:
            type: integer
            example: 220
            default: 0
            description: Сколько элементов пропустить. Например, для значения `10` ответ начнётся с 11 элемента
      responses:
        '200':
          $ref: '_schemas.yaml#/components/responses/SuccessSubstIncorAttachResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/Response400Retentions'
        '401':
          $ref: '_schemas.yaml#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/Response403Retentions'
        '429':
          $ref: '_schemas.yaml#/components/responses/429'
  /api/v1/analytics/antifraud-details:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Отчёты об удержаниях
      summary: Самовыкупы
      description: |
        Метод возвращает отчёт об удержаниях за самовыкупы. Отчёт формируется каждую неделю по средам, до 7:00 по московскому времени, и содержит данные за одну неделю.<br><br>

        Удержание за самовыкуп — 30% от стоимости товаров.<br>Минимальная сумма всех удержаний — 100 000 ₽, если за неделю в ПВЗ привезли ваших товаров больше, чем на сумму 100 000 ₽.<br><br>

        Данные доступны с августа 2023.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 10 мин | 1 запрос | 10 мин | 10 запросов |
        </div>
      parameters:
        - $ref: '_schemas.yaml#/components/parameters/Date'
      responses:
        '200':
          $ref: '_schemas.yaml#/components/responses/SuccessTaskResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/4xxResponse'
              examples:
                IncorrectDate:
                  $ref: '_schemas.yaml#/components/examples/IncorrectDate'
        '401':
          $ref: '_schemas.yaml#/components/responses/401'
        '429':
          $ref: '_schemas.yaml#/components/responses/429'
  /api/v1/analytics/goods-labeling:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Отчёты об удержаниях
      summary: Маркировка товара
      description: |
        Метод возвращает отчёт о штрафах за отсутствие обязательной маркировки товаров.<br>

        В отчёте представлены фотографии товаров, на которых маркировка отсутствует либо не считывается.<br><br>

        Можно получить данные максимум за 31 день. Данные доступны с марта 2024.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 10 запросов |
        </div>
      parameters:
        - $ref: '_schemas.yaml#/components/parameters/DateFromGoodsLabeling'
        - $ref: '_schemas.yaml#/components/parameters/DateToGoodsLabeling'
      responses:
        '200':
          $ref: '_schemas.yaml#/components/responses/SuccessGoodsLabelingResponse'
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/4xxResponse'
              examples:
                MissingDateTimeFrom:
                  $ref: '_schemas.yaml#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '_schemas.yaml#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '_schemas.yaml#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '_schemas.yaml#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '_schemas.yaml#/components/examples/DateRangeExceeded'
                DateRanges:
                  $ref: '_schemas.yaml#/components/examples/DateRanges'
        '401':
          $ref: '_schemas.yaml#/components/responses/401'
        '429':
          $ref: '_schemas.yaml#/components/responses/429'
components:
  securitySchemes:
    HeaderApiKey:
      type: apiKey
      name: Authorization
      in: header
