openapi: "3.0.1"
info:
  title: Платная приёмка
  version: reports
tags:
  - name: Платная приёмка
    description: ''
servers:
  - url: https://seller-analytics-api.wildberries.ru
security:
  - HeaderApiKey: []
paths:
  /api/v1/acceptance_report:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Платная приёмка
      summary: Создать отчёт
      description: |
        Метод создаёт [задание на генерацию](/openapi/reports#tag/Platnaya-priyomka/paths/~1api~1v1~1acceptance_report~1tasks~1%7Btask_id%7D~1status/get) отчёта о [платной приёмке](/openapi/reports#tag/Platnaya-priyomka/paths/~1api~1v1~1acceptance_report~1tasks~1%7Btask_id%7D~1download/get).<br><br>

        Можно получить отчёт максимум за 31 день.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 1 запрос |
        </div>
      parameters:
        - $ref: '_schemas.yaml#/components/parameters/DateFrom'
        - $ref: '_schemas.yaml#/components/parameters/DateTo'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/CreateTaskResponse'
              examples:
                CreateResponseData:
                  $ref: '_schemas.yaml#/components/examples/CreateResponseData'
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/4xxResponse'
              examples:
                MissingDateTimeFrom:
                  $ref: '_schemas.yaml#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '_schemas.yaml#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '_schemas.yaml#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '_schemas.yaml#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '_schemas.yaml#/components/examples/DateRangeExceeded'
                DateRanges:
                  $ref: '_schemas.yaml#/components/examples/DateRanges'
        '401':
          $ref: '_schemas.yaml#/components/responses/401'
        '429':
          $ref: '_schemas.yaml#/components/responses/429'
  /api/v1/acceptance_report/tasks/{task_id}/status:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Платная приёмка
      summary: Проверить статус
      description: |
        Метод возвращает статус [задания на генерацию](/openapi/reports#tag/Platnaya-priyomka/paths/~1api~1v1~1acceptance_report/get) отчёта о [платной приёмке](/openapi/reports#tag/Platnaya-priyomka/paths/~1api~1v1~1acceptance_report~1tasks~1%7Btask_id%7D~1download/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 5 сек | 1 запрос | 5 сек | 1 запрос |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            ID задания на генерацию
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/GetTasksResponse'
              examples:
                GetTasksResponseData:
                  $ref: '_schemas.yaml#/components/examples/GetTasksResponseData'
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''7b8875---9f03-46f1-af21-b9b4b22fe821'' text as *uuid.UUID: invalid UUID format'
                origin: api-statistics
                requestId: 44bac63ab29c46cb2d49392e6604c1a0
                title: Bad Request
        '401':
          $ref: '_schemas.yaml#/components/responses/401'
        '404':
          description: Не найдено
          content:
            application/problem+json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '_schemas.yaml#/components/responses/429'
  /api/v1/acceptance_report/tasks/{task_id}/download:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Платная приёмка
      summary: Получить отчёт
      description: |
        Метод возвращает отчёт о [платной приёмке](https://seller.wildberries.ru/analytics-reports/acceptance-report) по ID [задания на генерацию](/openapi/reports#tag/Platnaya-priyomka/paths/~1api~1v1~1acceptance_report/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 1 запрос |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            ID задания на генерацию
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    count:
                      type: integer
                      description: Количество товаров, шт.
                      example: 40
                    giCreateDate:
                      type: string
                      format: date
                      description: Дата создания поставки
                      example: '2025-03-04'
                    incomeId:
                      type: integer
                      description: Номер поставки
                      example: 11834106
                    nmID:
                      type: integer
                      description: Артикул WB
                      example: 123456789
                    shkCreateDate:
                      type: string
                      format: date
                      description: Дата приёмки
                      example: '2025-03-14'
                    subjectName:
                      type: string
                      description: Предмет
                      example: Добавки пищевые
                    total:
                      type: number
                      description: Суммарная стоимость приёмки, ₽ с копейками
                      example: 873.04
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''2f071556-ae39-492f-fd8cf1eb0d25'' text as *uuid.UUID: invalid UUID length: 31'
                origin: api-statistics
                requestId: 52dd27a91a1a643feae7201b206462df
                title: Bad Request
        '401':
          $ref: '_schemas.yaml#/components/responses/401'
        '404':
          description: Не найдено
          content:
            application/problem+json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '_schemas.yaml#/components/responses/429'
components:
  securitySchemes:
    HeaderApiKey:
      type: apiKey
      name: Authorization
      in: header
