openapi: "3.0.1"
info:
  title: Платное хранение
  version: reports
tags:
  - name: Платное хранение
    description: ''
servers:
  - url: https://seller-analytics-api.wildberries.ru
security:
  - HeaderApiKey: []
paths:
  /api/v1/paid_storage:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Платное хранение
      summary: Создать отчёт
      description: |
        Метод создаёт [задание на генерацию](/openapi/reports#tag/Platnoe-hranenie/paths/~1api~1v1~1paid_storage~1tasks~1%7Btask_id%7D~1status/get) отчёта о [платном хранении](/openapi/reports#tag/Platnoe-hranenie/paths/~1api~1v1~1paid_storage~1tasks~1%7Btask_id%7D~1download/get).<br><br>

        Можно получить отчёт максимум за 8 дней.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 5 запросов |
        </div>
      parameters:
        - name: dateFrom
          in: query
          required: true
          schema:
            type: string
            example: '2022-01-01'
          description: |
            Начало отчётного периода в формате RFC3339. Можно передать дату или дату со временем. Примеры:

              * `2019-06-20`
              * `2019-06-20T23:59:59`
              * `2019-06-20T00:00:00.12345`
              * `2017-03-25T00:00:00`
        - name: dateTo
          in: query
          required: true
          schema:
            type: string
            example: '2022-01-09'
          description: |
            Конец отчётного периода в формате RFC3339. Можно передать дату или дату со временем. Примеры:

              * `2019-06-20`
              * `2019-06-20T23:59:59`
              * `2019-06-20T00:00:00.12345`
              * `2017-03-25T00:00:00`
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/CreateTaskResponse'
              examples:
                CreateResponseData:
                  $ref: '_schemas.yaml#/components/examples/CreateResponseData'
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/4xxResponse'
              examples:
                MissingDateTimeFrom:
                  $ref: '_schemas.yaml#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '_schemas.yaml#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '_schemas.yaml#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '_schemas.yaml#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '_schemas.yaml#/components/examples/DateRangeExceeded8'
                DateRanges:
                  $ref: '_schemas.yaml#/components/examples/DateRanges'
        '401':
          $ref: '_schemas.yaml#/components/responses/401'
        '429':
          $ref: '_schemas.yaml#/components/responses/429'
  /api/v1/paid_storage/tasks/{task_id}/status:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Платное хранение
      summary: Проверить статус
      description: |
        Метод возвращает статус [задания на генерацию](/openapi/reports#tag/Platnoe-hranenie/paths/~1api~1v1~1paid_storage/get) отчёта о [платном хранении](/openapi/reports#tag/Platnoe-hranenie/paths/~1api~1v1~1paid_storage~1tasks~1%7Btask_id%7D~1download/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 5 сек | 1 запрос | 5 сек | 5 запросов |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            ID задания на генерацию
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/GetTasksResponse'
              examples:
                GetTasksResponseData:
                  $ref: '_schemas.yaml#/components/examples/GetTasksResponseData'
        '400':
          description: Неправильный запрос
          content:
            application/problem+json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''2f071556-ae39-492f-fd8cf1eb0d25'' text as *uuid.UUID: invalid UUID length: 31'
                origin: api-statistics
                requestId: 52dd27a91a1a643feae7201b206462df
                title: Bad Request
        '401':
          $ref: '_schemas.yaml#/components/responses/401'
        '404':
          description: Не найдено
          content:
            application/problem+json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '_schemas.yaml#/components/responses/429'
  /api/v1/paid_storage/tasks/{task_id}/download:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Платное хранение
      summary: Получить отчёт
      description: |
        Метод возвращает отчёт о [платном хранении](https://seller.wildberries.ru/analytics-reports/paid-storage/storage) по ID [задания на генерацию](/openapi/reports#tag/Platnoe-hranenie/paths/~1api~1v1~1paid_storage/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 1 запрос |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            ID задания на генерацию
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/ResponsePaidStorage'
              example:
                - date: '2023-10-01'
                  logWarehouseCoef: 1
                  officeId: 507
                  warehouse: Коледино
                  warehouseCoef: 1.7
                  giId: 123456
                  chrtId: 1234567
                  size: '0'
                  barcode: ''
                  subject: Маски одноразовые
                  brand: 1000 Каталог
                  vendorCode: '567383'
                  nmId: 1234567
                  volume: 12
                  calcType: 'короба: без габаритов'
                  warehousePrice: 7.65
                  barcodesCount: 1
                  palletPlaceCode: 0
                  palletCount: 0
                  originalDate: '2023-03-01'
                  loyaltyDiscount: 10
                  tariffFixDate: '2023-10-01'
                  tariffLowerDate: '2023-11-01'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''7b8875---9f03-46f1-af21-b9b4b22fe821'' text as *uuid.UUID: invalid UUID format'
                origin: api-statistics
                requestId: 44bac63ab29c46cb2d49392e6604c1a0
                title: Bad Request
        '401':
          $ref: '_schemas.yaml#/components/responses/401'
        '404':
          description: Не найдено
          content:
            application/problem+json:
              schema:
                $ref: '_schemas.yaml#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '_schemas.yaml#/components/responses/429'
components:
  securitySchemes:
    HeaderApiKey:
      type: apiKey
      name: Authorization
      in: header
